@charset "utf-8";
img {border:0;width:auto;height:auto;}
*{margin:0;padding:0;}
body{
padding:0;margin:0;font-size:14px;font-family:small,Arial, Helvetica, sans-serif;color:#333;background:#C1B7AE;}
@font-face{font-family:'iconfont';src:url("images/zhang.eot") format('svg')}
.iconfont{font-family:"iconfont";font-size:14px;font-style:normal;padding-right:4px}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-weight:bold;margin-right:auto;margin-left:auto;}
li{list-style-type:none;}.clear {clear:both;}ul,li {list-style:none;}
a {color:#333; text-decoration:none;}a:hover {color:#F00;text-decoration:underline;}
form, embed {display: inline;margin: 0;padding: 0;}
.alignleft{display:inline;float:left;margin-right:1.625em}
.alignright{display:inline;float:right;margin-left:1.625em}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
/* -----------------------------主体框架部分----------------------------- */
#wrap{width:100%;height:141px;background:#333333;}
#header{width:960px;margin:0 auto;height:71%;}
#container{width:960px;margin:auto;background:url("images/container.png") 78% 100% repeat-y;table-layout:fixed; word-break: break-all;overflow:hidden;}
.wumii-hook{display:none !important;}
/* -----------------------------网站公告部分----------------------------- */
#gg{width:100%;background:#000;}
#BannerTable {width:960px;margin:0 auto;background:#FFFFD1; border:#E9C94D 1px solid; font-size:12px; line-height:27px;height:27px;font-family:small,Arial, Helvetica, sans-serif;}
#BannerTable .bt_left{ color:#FD0E57; font-weight:bold; text-align:center; width:7%; padding:0 0 0 5px;float:left;background: url("images/notice_bg.gif") 5px 5px no-repeat;}
#BannerTable .bt_cenetr{ color:#4E2207; text-align:left;width:80%;float:left;}
#BannerTable .bt_cenetr a{color:#f00;font-weight: bold;}
#BannerTable .bt_right{color: #FD0E57;text-align: center;width:11%;padding: 0 5px 0 5px;float:left;}
#BannerTable .bt_right a{color:#f00;font-weight:normal;}
.postt{clear:both;margin:0px 5px 0px 13px;position:relative;overflow:hidden;}
#noticet{padding-left: 26px;line-height: 35px;border: 1px dashed #B9AB9E;background-color: #FCFAF7;background-image: url("images/gnew2.gif");background-repeat: no-repeat;background-position: 10px 7px;margin-top: 12px;margin-right: 0;margin-bottom: 12px;margin-left: 0;}
#noticet h3{font-size: 14px;line-height:25px;font-weight: normal;padding-left:15px;}
#noticet h3 a{font-weight: normal;}
#noticet li {list-style-type: none;}
/* -----------------------------网站LOGO部分----------------------------- */
#logo{float:left;text-align:left;text-indent: -999em;background-image: url("images/logo.png");background-repeat: no-repeat;background-size:100% 100%;margin-top:5px;height:90px;width:10%}
#logo h1,#logo h2{width:245px;height:100px;}
#logo h1 a,#logo h2 a{display: block;width:auto;height:100px;}
#toptool{width:74%;float:right;text-align:right;height:100px;}
/* -----------------------------菜单部分----------------------------- */
#menu li a:hover, #menuON,#menu a:hover{color: #FFFF73;text-decoration: underline;} 
#nav{width:960px;clear:both;height:29%;margin:0 auto;background:url("images/nav.jpg") 100% 100% no-repeat;font-family:'Microsoft YaHei', Verdana, Arial;}
#nav .left{float:left;width:66%}#nav .left ul{float:left;}
#nav .left ul li{float:left;height:36px;line-height:42px;background:url("images/hetu.png") 0px -141px no-repeat;text-align:center;}
#nav .left ul li a{color:#FFF;margin:0 1px !important;margin:0 1px 0 1px;display:block;float:left;height:42px;padding:0 0px;display:block;cursor:pointer;font-size:15px;font-weight:bold; }
#nav .left ul li a span{padding:0 14px;display:block;float:left;cursor:pointer; }
#nav .right{float:left;width:34%}#nav .right ul{float:right;}
#nav .right ul li{float:left;height:36px;line-height:42px;text-align:center;margin:0px 6px 0px 6px;}

#nav .right ul li a{color: #FDFCBC;margin:0 1px !important;margin:0 1px 0 1px;display:block;float:left;height:42px;font-size:13px;}
#nav .right ul li a:hover{color:#fff;display:block;}
#nav .left ul li a:hover,#nav ul li.current_page_item a,#nav ul li.current-menu-item a,#nav ul li.current-post-parent a{color:#ffff73;display:block;float:left;text-decoration:underline;}
/* -----------------------------手机菜单部分----------------------------- */
#navs-wrap{margin-top:0px;display:none;}
#navs-wrap .logo,#navs-wrap .logo h1,#navs-wrap .logo h2,#navs-wrap .logo h1 a,#navs-wrap .logo h2 a{display:none;}
#logos,#logos h1,#logos h2,#logos h1 a,#logos h2 a{display:none;}
/* menu icon */
#menu-icon{display:none;}
#navs{display:none;}
#navs li{margin:0;padding:0;}
#navs li{list-style:none;float:left;margin-right:5px;}
/* nav link */
#navs a{padding:4px 15px;display:block;color:#000;background:#ecebeb;}
#navs a:hover{background:#f8f8f8;}
/* nav dropdown */
#navs ul{background:#fff;padding:2px;position:absolute;border:solid 1px #ccc;display:none;width:200px;}
#navs ul li{float:none;margin:0;padding:0;}
#navs li:hover > ul{display:block;}
/*社会化分享*/
#ckepop{float: right;}
#ckepop img{filter:Gray;-webkit-filter: grayscale(100%);}
/*广告样式*/
#ads{float:left;clear:right;padding-top: 5px;margin-right: 4px;}
#ads-banner{padding: 8px 0 8px 15px;}
/* -----------------------------主题内容部分----------------------------- */
#containers{width:960px;margin:auto;background:#F8F3ED;table-layout:fixed; word-break: break-all;overflow:hidden;}
.contents{width:100%;overflow:hidden;}
.content{float:left;width:71%;overflow:hidden;}
.content .mainbox{width:96%;margin:auto;}
#quan{width:960px;margin:auto;background:#F8F3ED;table-layout:fixed; word-break: break-all;overflow:hidden;}
#post-list-news{padding: 8px 2px 8px; background: url("images/sline.png") no-repeat 50% 100%;margin:auto;} 
#post-list-news {width:100%;height:100%;text-align: left;overflow: hidden;}
#post-list-news ul{width:100%;height:100%;text-align: left;overflow: hidden;}
#post-list-news ul li{float: left;width:45%;background:url("images/hot.gif") 0 0 no-repeat;padding-left:22px; font-size:14px;}
#post-list-news ul li a{line-height: 28px;text-decoration:none;color:#F00;}
#post-list-news ul li a:hover{text-decoration: underline;color :#450A11;}
.post-title{margin-top: 10px;padding-left: 10px;border-left-width: 6px;border-left-style: solid;border-left-color: #BF0101;} 
.post{clear:both;margin:0px 5px 10px 13px;position:relative;width:98%;overflow:hidden;background: url("images/sline.png") no-repeat 50% 100%;padding: 8px 0 20px;}
.post .date{float:left;width:48px;height:48px;background:url("images/hetu.png") 0 0 no-repeat;margin-top:2px;margin-right:8px;}
.post .date span{display:block;text-align:center;color:#fff;font-family:'Microsoft YaHei', Verdana, Arial;font-weight: normal; }
.post .date span.f{font-size:15px;color:#000;text-align:center;margin-top:2px;}
.post h2{font-size:21px;line-height:25px;padding-bottom:3px;font-weight:normal;font-family:'Microsoft YaHei', Verdana, Arial;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.post h1{font-size:26px;line-height:40px;padding-bottom:3px;font-weight:normal;font-family:'Microsoft YaHei', Verdana, Arial;padding-right:2px;padding-bottom: 4px;
margin-bottom: 4px;}
.post h4{font-size:12px;float:right;font-weight:normal;color:#616060;padding-top:3px;}
.post h6{font-size:12px;font-weight:normal;color:#999;margin-top:5px;}.post h6 a{color:#999;}
.post .you{float:right;}
.post .comments{color:#333;font-style:normal;}
.post .comments em{font-size:20px;color:#CC0000;font-style:normal;font-weight:bold;}
 /*.newsTex a{font-size:12px;color:blue}*/
 /* .newsTex a:hover{color:red}*/
.post .comment{font-weight:bold;} 

.post .intro{overflow: hidden;line-height: 16px;margin-top: 5px;font-size:14px;padding-bottom:3px;}
.post .intro p{padding: 10px 0;line-height: 30px;text-align:justify;text-justify:inter-ideograph;font-size: 14px;text-indent:3em;}
.post .intro img{width:140px;height:110px;float:left;margin: 0px 5px 0px 0px;padding: 2px;border:1px solid #ccc;position:relative;z-index:3;}
#DY-container{overflow: hidden; height: 100%; background: url("images/DY-bg-makaidong.png") repeat-y 0 0 #F7F3ED;} #DY-content{float: left;width: 920px;} #DY-content-inner{padding: 8px 0 8px 10px;}
#DY-post-title h1,#DY-post-title h2{font-size:30px;line-height:30px;font-family:Microsoft YaHei,small;font-weight: normal;padding-bottom: 10px;padding-top: 10px;text-align: center;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #CCC;} .DY-post-title h1 a{color :#450A11;} 
/*-----------------------------留言本页-----------------------------*/
#guestbook{line-height: 28px;font-size: 14px;}#guestbook h4{font-size: 14px;font-weight: bold;}#guestbook img{padding: 0px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;vertical-align: middle;}
/*分页条*/
.pagenavi,#INCLUDE_ARCHIVES{text-align: right;font-size: 14px;TEXT-ALIGN: center;PADDING-BOTTOM: 5px;LINE-HEIGHT: 100%;MARGIN: 5px 0px;PADDING-LEFT: 0px;PADDING-RIGHT: 0px;HEIGHT: 20px;PADDING-TOP: 5px}.pagenavi a,#INCLUDE_ARCHIVES a{border:1px solid #bebdbe;padding:5px;margin:2px;color:#000;}.pagenavi a:hover,#INCLUDE_ARCHIVESa:hover{BORDER-BOTTOM: #bebdbe 1px solid; BORDER-LEFT: #bebdbe 1px solid; BACKGROUND: #dddddd; COLOR: #666; BORDER-TOP: #bebdbe 1px solid; BORDER-RIGHT: #bebdbe 1px solid}.pagenavi span .now-page{border: 1px solid #bebdbe;padding:5px;margin: 2px;background-color: #bebdbe;color: #BA0001;font-weight: 600;}span.now-page{color:#666;font-weight:bolder;padding:2px 5px 2px 5px;margin:5px;border:1px solid #666;}
/*-----------------------------侧栏跟随-----------------------------*/
#box{position:relative;float:right;width:100%;padding-left:10px;}.div1{width:100%;}.div2{position:fixed;_position:absolute;top:0;z-index:250;width:265px;}
/* -----------------------------文章页内容部分----------------------------- */
.post .con{margin:5px 3px 5px 0px;font-size:16px; }
.post .con a{color:#450A11;text-decoration:underline;}
.post .con a:hover{color:#df0031;}
.post .con p{padding:8px 0;line-height:190%;text-indent:2em;text-align:justify;text-justify:inter-ideograph;color:#2A2A2A; }
.post .con p img{max-width:90%;height:auto;} 
.post .con ul{margin-left:15px;padding-left:2em;}
.post .con li{list-style-type:disc;color:#666;}
.post .con blockquote{margin:10px;border:1px #d0d4c8 dashed;background:#f4f5f6 url("images/blockquote.gif") 5px 3px no-repeat;padding:8px 12px 8px 36px;}
.post .con blockquote p{padding:8px 0;line-height:26px;text-indent:0em;text-align:justify;text-justify:inter-ideograph;color:#2A2A2A; }
.post .con h3{text-indent:2em;border-top-width: 1px;border-bottom-width: 1px;border-top-style: dashed;border-bottom-style: dashed;border-top-color: #CCC;border-bottom-color: #CCC;font-size:15px;margin-top: 15px;margin-bottom: 15px;padding-top: 4px;padding-bottom: 4px;}
.post-info h3 {text-indent: 2em;border-top-width: 1px;border-bottom-width: 1px;border-top-style: dashed;border-bottom-style: dashed;border-top-color: #CCC;border-bottom-color: #CCC;font-size: 18px;margin-top: 26px;margin-bottom: 26px;padding-top: 4px;padding-bottom: 4px;}
.post-tag{width:100%;font-size: 16px;float: left;line-height: 30px;padding-bottom: 4px;}
.post-tag a{text-decoration: none;color: #FFF;background-color: #A70000;padding: 6px;}
.post-tag a:hover{background-color: #F00;color: #FFF;text-decoration: underline;}
/* -----------------------------版权部分----------------------------- */
.under{clear:both;margin:0px 0px 10px 0px;font-size:16px;color:#333;margin-top:20px;text-indent:2em;text-align:justify;}
.under a {color: #4E0A13;text-decoration: underline;}.under a:hover {color: #F00;text-decoration: underline;}
/* -----------------------------上下篇部分----------------------------- */
/* designer_detail */
a.prev,a.next{display:block;width:108px;height:282px;position:fixed;left:50%;top:50%;margin-top:-141px;background:url("images/arrow.png") no-repeat;}
a.prev{margin-left:-591px;background-position:0 0;}
a.next{margin-left:483px;background-position:0 -300px;}
a.prev:hover,a.next:hover{background-color:#F7F3ED;}
#postnavi{margin:10px 10px 0px 0px;overflow:hidden;border-bottom:1px #ddd solid;padding-bottom:5px;color:#F00;display:none;}
#postnavi .prev{float:left;font-size:14px;color:#F00;}
#postnavi .next{float:right;font-size:14px;color:#F00;}
.page_links{margin:10px 0;}
.page_links h3{height:30px;line-height:30px;font-size:14px;color:#df0031;}
.page_links ul{border:1px #ddd solid;background:#ebe8e3;padding:5px;}
.page_links li{float:none;display:inline;margin-right:5px;}
/* -----------------------------网站分页样式----------------------------- */
.pagenavi{text-align: right;font-size: 14px;TEXT-ALIGN: center;PADDING-BOTTOM: 5px;LINE-HEIGHT: 100%;MARGIN: 5px 0px;PADDING-LEFT: 0px;PADDING-RIGHT: 0px;HEIGHT: 20px;PADDING-TOP: 5px}.pagenavi a{border:1px solid #bebdbe;padding:5px;margin:2px;color:#000;}.pagenavi a:hover{BORDER-BOTTOM: #bebdbe 1px solid; BORDER-LEFT: #bebdbe 1px solid; BACKGROUND: #dddddd; COLOR: #666; BORDER-TOP: #bebdbe 1px solid; BORDER-RIGHT: #bebdbe 1px solid}.pagenavi span .now-page{border: 1px solid #bebdbe;padding:5px;margin: 2px;background-color: #bebdbe;color: #BA0001;font-weight: 600;}span.now-page{color:#666;font-weight:bolder;padding:2px 5px 2px 5px;margin:5px;border:1px solid #666;}
/* -----------------------------侧边栏搜索----------------------------- */
#search{margin:0 0 0px 0;float:none;overflow:hidden;background:#ede6df;}
#searchform{}
#searchform label{display:none}
#s{height:28px;background:#ede6df;margin:7px 2px 7px 7px;padding:0 10px;float:left;z-index:1;width:60%;font-size:14px;border: #a6a6a6 1px solid;}
#searchsubmit{border:#a6a6a6 1px solid;height:30px;background-color: #f5f5f5;color: #000000;font-family: Arial,SimSun,sans-serif;font-size: 14px;margin:7px 0px;width:25%;}
#searchsubmit i{font-size:14px;color:#fbfbfb;text-shadow:1px 1px 1px #999}
#searchsubmit:hover i{color:#FFF}
#searchsubmit:active i{text-shadow:1px 2px 1px #f90}
/* -----------------------------侧边栏部分----------------------------- */
.sideba,.sidebar{float:right;width:27.8%;height:100%;overflow:hidden;}
.sidebar-inner {padding: 0 0px;}
.sideba h3{height:25px;line-height:25px;background:url("images/hetu.png") 0 -452px no-repeat;font-size:15px;padding-left:0px;font-family: Microsoft YaHei,small;padding-bottom:0px;font-weight:bold;margin:3px 2px 0 10px;}
.sidebar .about{margin:3px 2px 0 10px;clear:both;color:#333;font-size:13px;}
.sidebar .youxiang{margin:0 5px;clear:both;}
.sidebar .widget h3{height:25px;line-height:25px;background:url("images/hetu.png") 0 -452px no-repeat;font-size:15px;padding-left:0px;font-family: Microsoft YaHei,small;padding-bottom: 6px;font-weight:normal;margin:3px 2px 0 10px;color: #BF0101;}
.sidebar .widget ul{padding:5px; }
.sidebar .widget li{background:url("images/hetu.png") 0 -311px no-repeat;padding-left:16px; font-size:13px;line-height: 24px;height: 24px;overflow: hidden;}
.sidebar .widget li a:hover{color:#F00;}
.sidebar .widget .comment{}
.sidebar .widget .comment li{clear:both;padding:0 0 3px 16px;border-bottom:1px #777 dashed;}
.sidebar .widget#tag_cloud{width:100%;overflow:hidden;}
.sidebar .widget#tag_cloud p{padding:5px;}
#divMisc li,{padding-bottom: 16px;background-image: none;} 
#divTags ul,#divLinkage ul,#divCatalog ul{overflow: hidden;height: 100%;text-indent: 2em;} 
#divTags li,#divLinkage li,#divCatalog li {float: left;width: 46%;margin: 1px;padding: 1px;} 
#gnew{background-image: url("images/gnew1.gif");background-repeat: no-repeat;background-position: right top;padding-top: 10px;}
#hot{background-image: url("images/hot.gif");background-repeat: no-repeat;background-position: right top;padding-top: 10px;}
/* -----------------------------相关文章部分----------------------------- */
.like{margin:10px 10px 0 15px;font-size:14px;}
.like h3{height:25px;line-height:25px;border-bottom:1px #d0d4c8 solid;font-size:14px;padding-left:10px;background:#ebe8e9;}
.like ul{padding:5px 0;}
.like li{height:25px;line-height:25px;border-bottom:1px #d0d4c8 dashed;background:url("images/hetu.png") 3px -89px no-repeat;padding-left:15px;}
.like li span{float:right;font-size:12px;color:#999;}
/*相关文章*/
.related-post{margin-top: 15px;} .related-post h3{color: #333333; font-size: 14px; padding:0 10px; border-bottom: 1px solid #CFC3BA; height:27px; line-height:27px; background: #EBE8E4;}.related-post h3 a{color: #FF0000;} .related-post li{padding: 8px 10px;color: #999999;overflow: hidden;height: 100%;background: url("images/line-bg-makaidong.png");background-repeat: repeat-x;background-position: 0 100%;} .related-post li span{float: right; font-size: 12px;}
/*-----------------------------评论部分-----------------------------*/ 
#comments,.comment-title{margin-top: 15px;margin-bottom: 10px;} 
.comment-title h3{font-size: 14px; padding:0 10px; height: 100%; overflow: hidden; line-height:34px; background:url("images/line-bg2-makaidong.png") repeat-x 0 100% #EBE8E4;}
.comment-title h3 span{padding-right: 10px;} 
/*.comment-title ul{float: left;} */
.comment-title li{float: left;line-height:24px;font-weight: 100;cursor: pointer;list-style-type: none;margin-top: 10px;margin-right: 0;margin-bottom: 0;margin-left: 10px;padding-top: 0;padding-right: 20px;padding-bottom: 0;padding-left: 20px;} 
.comment-title li.current{border: 1px solid #CFC3BA; border-bottom: 0; background: #F7F3ED;} 
#comment-list ul, #comment-list li{overflow: hidden; height: 100%;}
#comment-list li:hover{background-color:#FFFFCC;}
/*评论列表*/ 
.depth-1{padding: 15px 0 10px; background: url("images/line-bg-makaidong.png") repeat-x 0 100%;}
#comment-list ul.parents li.depth-1 dl{overflow: hidden; height: 100%;} 
#comment-list ul.parents li.depth-1 dl dd{margin-left: 10px;line-height: 26px;} 
#comment-list ul.parents li.depth-1 dl dd {font-weight: 100; font-size: 14px;} 
#comment-list ul.parents li.depth-1 dl dd span.num a{color: #A70000;text-decoration: underline;}
#comment-list ul.parents li.depth-1 dl dd cite, #comment-list ul.parents li.depth-1 dl dd h3 cite a{font-size: 14px;font-weight: normal;} 
#comment-list ul.parents li.depth-1 dl dd cite{padding: 0 10px;} 
cite{list-style:none; font-style:normal;}
#comment-list ul.parents li.depth-1 dl dd span a{text-decoration: underline; color: #999;font-size: 13px;}
#comment-list ul.parents li.depth-1 dl dd span a:hover{text-decoration: underline;color: #f00;}
#comment-list ul.parents li.depth-1 dl dd span.comment-reply-link{background-position: 0 0; padding:0 8px 0 18px;} 
#comment-list ul.parents li.depth-1 dl dd #post{font-size: 11px; font-weight: 100; padding-bottom: 10px; color: #999; line-height:120%;} 
#comment-list ul.parents .depth-1 .msgarticle .depth-1 .dot { display:none;}
#comment-list ul.parents .depth-1 .msgarticle .depth-1 {padding:8px 12px 8px 12px; background: url("images/quote-bg.png") no-repeat 10px 10px #FCFAF7;border:1px dashed #CCC;margin:10px 0;}
li.msgarticle{list-style-position : outside;padding:10px;margin:0;line-height:26px;padding-left:55px;border-bottom:1px solid #eaeaea;}
li.msg li.msg li.msgarticle{padding-bottom:0px;}
.nodis{display:none;}
/*评论、头像CSS列表*/
#comment-list ul.parents li.depth-1 dl dd h3 span.comment-reply-link, #comment-list ul.parents li.depth-1 dl dd h3 span.comment-ajax-edit-link, #comment-list ul.parents li.depth-1 dl dd h3 span.comment-admin-edit-link { background-position: 0 2px;  *background-position: 0 0;}
#comment-list ul.parents li.depth-1 dl dt{float: left; width: 56px; height: 51px; margin-top:5px; background: url("images/comment-user-bg-makaidong.png") no-repeat 0 0;}
#comment-list ul.parents li.depth-1 dl dt img{padding: 4px 7px 7px 4px;} 
/*-----------------------------评论发表用的样式-----------------------------*/
#divCommentPost{width:94%;margin:0 0 0 0;padding:5px 1% 15px 1%;}
#divCommentPost p{margin-top:10px;}
#divCommentPost label{margin-top:5px;}
#divCommentPost p.posttop{padding-bottom:10px;border-bottom:1px solid #dbe0e6;font-size: 14px;font-weight: 600;}
#divCommentPost img{margin-bottom:-0.5em;}
#cancel-reply{float:right;margin-right: 2em;}
div.reply-frm{background:#f0f0f0;box-shadow: 0 0 15px #666;margin:1em 1% !important;padding:.3em .8em !important;min-width:330px;}
input.text{border:1px solid #d7d7d7;line-height:20px;height:24px;padding:2px 5px 2px 5px;}
#txaArticle{padding:5px;width:95%;height:150px;border:1px solid #d7d7d7;}
input.button {color:#FFFFFF; font-size:14px; width:100px; height:32px; background:#3a6ea5; border:1px solid #3399CC;cursor: pointer;}
#commentnavi{margin-top: 15px; font-size:12px; height: 30px; line-height: 30px; text-align: right; color: #656565;} #commentnavi em{padding:2px 5px;height:16px;line-height:16px;float: left; border: 1px solid #D4D4D4;background: #FCFAF7;font-weight:bold;} #commentnavi a{padding:1px 5px;border:1px solid #F7F3ED;margin:0 3px;} #commentnavi span.current{border: 1px solid #D4D4D4;background: #FCFAF7; padding:1px 5px;} #commentnavi a:hover{border: 1px solid #A10000; color: #FFFFCC; background: #990000;}
.post-comment{margin-top:15px;} #post-comment-title{color: #333333; font-size: 12px; padding:0 10px; border-bottom: 1px solid #CFC3BA; height:27px; line-height:27px; background: #EBE8E4;} #post-comment-title #comment-reply{float:left; font-weight:bold;} #post-comment-title #cancel-comment-reply{float:right;} #post-comment-body{padding:10px 0;} .login-title{padding-left:2px; padding-bottom:5px;} .user-info ul{padding-left:2px;} .user-info li{padding-bottom:5px; border:0;list-style-type: none;}
/*-----------------------------评论窗口特效-----------------------------*/
.input_on{padding:2px 8px 0pt 3px;height:18px;border:1px solid #999;background-color:#FFFFCC;}
.input_off{padding:2px 8px 0pt 3px;height:18px;border:1px solid #CCC;background-color:#FFF;}
.input_move{padding:2px 8px 0pt 3px;height:18px;border:1px solid #999;background-color:#FFFFCC;}.input_out{/*height:16px;默认高度*/padding:2px 8px 0pt 3px;height:18px;border:1px solid #CCC;background-color:#FFF;}
#post-comment-text textarea{padding:2px 1px;border: 1px solid #ccc;font-size: 16px;} 
#post-comment-text{padding-left:2px; padding-bottom:5px;}
#post-comment-text textarea:hover{border:1px solid #999;background-color:#FFFFCC;} 
#post-comment-text textarea{width:99%;overflow:auto;background-image: url("../include/comment-text-makaidong.gif");background-repeat: no-repeat;background-position: center center;} #submit-box{padding:0px 3px; overflow:hidden; height:100%;} 
#submit-box span{float:right;} 
.post-comment-button{width:109px;height: 32px;line-height:32px;color: #FFF6AD;background: url("images/postcomment-submit-makaidong.gif") no-repeat;cursor: pointer;border: 0;font-size: 15px;}
.page-post{padding-top: 5px;} .page-post h3{line-height: 27px; background: url("images/line-bg-makaidong.png") repeat-x 0 100%; color: #333333; font-size: 14px;} .page-post .page-text{padding: 10px 0;}
/*-隐藏评论后出现的内容-*/
.error-tip{font-size: 14px;line-height: 26px;margin-top: 10px;margin-bottom: 10px;}
/* -----------------------------底部模板部分----------------------------- */
#footer{width:960px;height:70px;margin:0 auto;}
.foot{width:100%;margin:0 auto;height:70px;position:relative;background:url("images/foot.png.gif") 100% 8% no-repeat;font-size:12px;}
.foot #gotop{position:absolute;right:10px;top:5px;background:url("images/hetu.png") 0 -114px no-repeat;padding-left:15px;}
.foot .copy{margin-left:10px;padding-top:10px;vertical-align:middle;}
.foot .copy .xia{font-size:12px;padding-top:5px;}
.foot .copy a{color:#450a11;} .foot .copy a:hover{color:#F00;}
.foot span.copyright{position:absolute;top:20px;right:10px;}
/* -----------------------------动态标签部分----------------------------- */
#topend{display:block;}
#div1{position:relative;display:block;width:250px;height:250px;float:left;}
#div1 a{text-decoration:none;position:absolute;top:0;left:0;color:#333;font-family:Microsoft YaHei,small;}
#div1 a:hover{border:1px solid #000;color:#000;padding:0 5px;} 
@media screen and (max-width:1024px){
a.prevs,a.nexts{display:none;}#postnavi{display:block;}}
.post-list-img {float: right;padding: 0px;padding: 0px;overflow:hidden;clear:both;}
@media screen and (max-width:980px){#header{width:100%;height:59%}
#wrap{width:100%;height:103px}.sidebar{width:28.5%;}.sideba{width:28.5%;}#s{width:60%}img.aligncenter{width:100%;}
#container,#containers{width:100%;}#notice{font-size:9px;}.feed-mail-btn{font-size:16px;}
#nav{width:100%;height:41%;}.feed-mail .info{font-size:10px;}.foot{width:100%;}
#logo{width:30%;height:100%}#footer{width:100%;}.foot .copy{margin-left:0px;padding-top:10px;vertical-align:middle;}
#logo h1,#logo h2{width:100%;height:100%}#gg,.feedback{display:none;}
#toptool{width:70%;height:100%}#full{display:none;margin-left:0px;}
#toptool img{width:100%;height:100%}#postnavi .prev,#postnavi .next,.under{font-size:16px;}
.post-list-img {float: right;padding: 0px;padding: 0px;overflow:hidden;clear:both;}
#topend,.post-info{display:none;}
}
@media screen and (max-width:768px){html{-webkit-text-size-adjust:none}
#container{width:100%;margin:auto;background:url("images/container.png") 78% 100% repeat-y;margin-top:40px;}
.content{float:left;width:68%;overflow:hidden;}#nav .right ul li{padding:0 0px;}#wrap{display:none;}
#navs-wrap{width:100%;background-color:#D20001;position:fixed;box-shadow:0 0 5px #999;z-index:99;height:40px;top:0;display:block;}
.div2{position:fixed;_position:absolute;top:0;z-index:250;width:29%;margin-top:40px;}
.post h4,#notices,#nav{display:none;}.post h1 a{font-size:16px}#nav .right ul li a{font-size:12px;}
#nav .left ul li a{font-size:13px;}#postnavi .prev,#postnavi .next,.under{font-size:16px;}
.post .con p{padding:5px 0;font-size:16px;line-height:20px;width:98%;text-indent:1em;margin-top:3px;}
.rssbutton input{background: #77a0d1;border: 1px solid #88b3e6; color: #FFFFFF; cursor: pointer;font-weight: bold;width:186px;display:block;height:24px;line-height:24px;text-align:center;}
.post-list-img {float: right;padding: 0px;padding: 0px;overflow:hidden;clear:both;}
/* menu icon */
#menu-icon{color:#fff;width:42px;height:30px;line-height:25px;background:#D20001 url("images/menu-icon.png") no-repeat 10px center;padding:8px 10px 0 42px;cursor:pointer;border:solid 1px #666;display:block;float:right;
}
#menu-icon:hover{background-color:#D20001;color:#000;}
#menu-icon.active{background-color:#bbb;color:#000;}
#logos{float:left;display:block;}
#logos h1,#logos h2{font-size:24px;display:block;text-shadow:none;color:#fff;padding-top:5px;padding-left:10px;font-family:'Microsoft YaHei', Verdana, Arial;}
#logos h1 a,#logos h2 a{color:#fff;text-decoration:none;display:block;}
/* main nav */
#navs{clear:both;position:absolute;top:40px;width:110px;z-index:10000;padding:5px 0 5px 5px;background:#D20001;border:solid 1px #999;right:0;}
#navs li{clear:both;float:none;background:#D20001;padding:5px 0 0px 5px;text-align:center;font-size:18px;}
#navs a,#nav ul a{font:inherit;background:none;display:inline;padding:0;color:#fff;border:none;}
#navs a:hover,#nav ul a:hover{background:none;color:#000;}
/* dropdown */
#navs ul{width:auto;position:static;display:block;border:none;background:inherit;}
#navs ul li{margin:3px 0 3px 15px;}
.post .date,#ads-banner{display:none;}
}
@media screen and (max-width:650px){html{-webkit-text-size-adjust:none}
#header{width:98%;height:59%}.sideba{width:100%;}.selectnav{display:block}
#post-list-news,.sidebar,.foot #gotop,.foot span.copyright,.post h4,#wenad,#endad,.postt,#noticet,#noticet h3,.sideba h3{display:none;}
.post .intro p{font-size:14px;line-height:22px;margin-top:5px;}
.post .intro img{width:90px;height:72px}.post .comments{top: 34px;}
.content{width:98%;float:none;overflow:hidden;margin:0 auto;background:#F8F3ED;}
#post-list-news ul li{width:98%;}.post h2 a{font-size:20px}
.post .date span.f{margin-top:4px;color:#000;text-align:center;}
#postnavi .prev,#postnavi .next,.under{font-size:16px;}
.post .con p{padding:5px 0;font-size:16px;line-height:20px;width:98%;text-indent:2em;}
}
@media screen and (max-width:500px){html{-webkit-text-size-adjust:none}
#post-list-news,.post h4,#ckepop,.like,.pagenavi,#ads-banner{display:none;}#footer,.foot{height:50px;}
.post{clear:both;margin:0px 5px 10px 5px;position:relative;overflow:hidden;background: url("images/sline.png") no-repeat 50% 100%;padding: 8px 0 20px 0;width:100%;}.under{text-indent:1.5em;text-align:justify;}
.post .intro{padding-top:0px;height: 85px;margin-top: 0px;}.post h2 a{font-size:20px}.post h1 a{font-size:20px}
.post .intro p{padding:5px 0;font-size:14px;line-height:20px;width:98%;text-indent:2em;height: 85px;}
.post .con{padding-top:5px;}.post h2 a{font-size:20px}.post h1 a{font-size:20px}
.post .con p{padding:5px 0;font-size:16px;line-height:20px;width:98%;text-indent:1.5em;margin-top:3px;}
#postnavi .prev,#postnavi .next,.under{font-size:16px;}
}
@media screen and (max-width:400px){html{-webkit-text-size-adjust:none}
#postnavi .prev,#postnavi .next,.under{font-size:16px;}
#post-list-news,.foot .copy span,.post h4,.you,.xia,.comment-titles,.comment-titles li,.comment-title{display:none;}
.post .con p{padding:5px 0;font-size:16px;line-height:20px;width:98%;text-indent:1.5em;margin-top:3px;}
.post .date{margin-right:2px;}
#DY-post-title h1,#DY-post-title h2{font-size:20px;line-height:30px;font-family:Microsoft YaHei,small;font-weight: normal;padding-bottom: 10px;padding-top: 10px;text-align: center;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #CCC;} .DY-post-title h1 a{color :#450A11;} 
}
@media screen and (max-width:350px){html{-webkit-text-size-adjust:none}
#postnavi .prev,#postnavi .next,.under{font-size:16px;}
#post-list-news,.post h4,.you{display:none;}.post h1 a{font-size:20px}
.post .comments{position:absolute;right:0;top:39px;color:#333;font-style:normal;width:55px;font-size:11px}
.post .comments em{font-size:14px;color:#CC0000;font-style:normal;font-weight:bold;}
.post .con p{padding:5px 0;font-size:16px;line-height:20px;width:98%;text-indent:1.5em;margin-top:3px;}
}
/*--------------------顶 踩 CSS--------------------*/
.ding{width:52px; height:51px; background:url(../img/ding.gif) no-repeat center top; margin:5px; color:#217AB3; font-weight:bold; font-size:12px; line-height:23px; font-family: Georgia, "Times New Roman", Times, serif; cursor:pointer; float:left;}
.cai{width:52px; height:51px; background:url(../img/cai.gif) no-repeat center top; margin:5px; color:#f60; font-weight:bold; font-size:12px; line-height:23px; font-family: Georgia, "Times New Roman", Times, serif; cursor:pointer; float:left;}
.ding p,.cai p{display:block; font-weight:700;}
.other ul{float:left; margin-left:10px;}
.other ul li{height:26px; line-height:26px; text-align:left;}
.img_border {border:1px solid #ccc; padding:2px;}

/*-----------------------------网页全站变灰代码-----------------------------*/
/*--html {filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(100%); }--*/
