.bg {
  background-image: url(/images/ads/bg-new.png);
  background-repeat: no-repeat;
}

.ttitlel {
  font-family: Arial, "新細明體";
  font-size: 12px;
  font-weight: bold;
  color: #fff6a7;
}
.ttitlel a{
  font-family: Arial, "新細明體";
  font-size: 12px;
  font-weight: bold;
  color: #336699;
  text-decoration:none
}

.adcontent {
  font-family: Arial, "新細明體";
  font-size: 11px;
  font-weight: normal;
    line-height:14px;
  color: #FFFFFF;
}
.adcontent a{
  font-family: Arial, "新細明體";
  font-size: 11px;
  font-weight: normal;
    line-height:14px;
  color: #666666;
  text-decoration:none;
}

.url {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
}
.url a{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  text-decoration:none;
}
.url a:hover{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  text-decoration:underline;
}
.yam {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}
.yam a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ee7700;
  text-decoration:none;
}
.yam a:hover{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color:#ee7700;
  text-decoration:none;
}
