@charset utf-8;

/* --------------------------------------
  * For All
  * --------------------------------------
*/
 
/*拉霸設定 HTML{
  SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #789ABB; SCROLLBAR-SHADOW-COLOR: #789ABB; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #789ABB; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}*/

A:link
{
  COLOR: #DE7F4F; TEXT-DECORATION: none;
}

A:visited
{
  COLOR: #DE7F4F; TEXT-DECORATION: none;
}
A:hover
{
  COLOR: #4E79B7; BORDER-BOTTOM: #4E79B7 1px dotted; TEXT-DECORATION: none;

}

A:active
{
  COLOR: #DE7F4F; TEXT-DECORATION: none;
}
hr
{
  COLOR: #DE7F4F; HEIGHT: 1px;
}
BODY
{
  BACKGROUND: url(url(http://pics.yamedia.tw/themes/whitePC/images/bg.jpg) #E7F3F3 repeat-x; 
  MARGIN: 0px; 
  COLOR: #666666; 
  FONT-FAMILY: Verdana, Arial, Georgia, Helvetica, sans-serif; 
  FONT-SIZE: 11px; 
  letter-spacing:0.05em;
}

A IMG
{
  color:#CCCCCC;
  BORDER-TOP-WIDTH: 0px ; 
  BORDER-LEFT-WIDTH: 0px ; 
  BORDER-BOTTOM-WIDTH: 0px ; 
  BORDER-RIGHT-WIDTH: 0px ; 
  PADDING-RIGHT: 3px; 
  PADDING-LEFT: 3px; 
  PADDING-BOTTOM: 3px;
  PADDING-TOP: 3px;

}

IMG.profile
{
  BORDER-TOP-WIDTH: 0px; 
  BORDER-LEFT-WIDTH: 0px; 
  BORDER-BOTTOM-WIDTH: 0px; 
  MARGIN-BOTTOM: 5px; 
  BORDER-RIGHT-WIDTH: 0px;
}




/*#mainFrame｜部落格整體框架設定*/ 
#mainFrame {
  BACKGROUND: url(http://pics.yamedia.tw/themes/whitePC/images/mainbg.jpg) transparent repeat-y left top; 
  MARGIN: 0px auto; 
  WIDTH: 960px;  
  POSITION: relative; 
  TEXT-ALIGN: left;
}

/* topbar */
#topbar{
	height:30px;
	padding: 5;
	width: 100%;
	font-size: 12px;
	background: url(http://pics.yamedia.tw/themes/whitePC/images/topbar.gif) ;
}
#topbar a:link, a:visited, a:hover, a:active{ color: #fff; }

#companyBar {
  position: relative;
  top: 7px;
  z-index: 10;
  color: #fff;
  width: 150px;
  float: left;
  padding-left: 30px;
}
#companyBar A
{
  COLOR: #fff; 
  BACKGROUND: none transparent scroll repeat 0% 0%; 
}

#companyBar SPAN.logo
{
  display:none; 
}

#companyBar A:link
{
  COLOR: #fff; 
  TEXT-DECORATION: none;
}

#companyBar A:hover
{
  COLOR: #4E7EC0 
  TEXT-DECORATION: none;
}

#adText
{
  position: absolute;
  top: 7px;
  left: 250px;
}

#adText a
{
  color: #fff;
}

#commend{
  width:150px;
  float: right;
  text-align: center;
  color: #fff;
}

#linkLogin {
  float:right;
  position: relative;
  top: 7px;
  display: block;
  font: #fff;
}
#linkLogin A
{
  COLOR: #fff; 
  BACKGROUND: none transparent scroll repeat 0% 0%; 
}
#linkLogin A:link
{
  COLOR: #fff; 
  TEXT-DECORATION: none;
}

#linkLogin A:hover
{
  COLOR: #4E7EC0; 
  TEXT-DECORATION: none;
}


/* topbar end */


/* banner｜上方banner設定*/ 
#banner {
	BORDER-LEFT: medium none;
	WIDTH: 960px;
	BORDER-BOTTOM: medium none;
	HEIGHT: 293px;
	background-color: #ffffff;
	background-image: url(http://pics.yamedia.tw/themes/whitePC/images/banner.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
/*#banner a:link,
#banner a:visited */
#banner a:link {
  color: #4E79B7;
  text-decoration: none;
}
#banner a:hover,
#banner a:active {
  color: #364A6F;
}
h1 {
	FONT-SIZE: 24px;
	text-align:left;
	left:40px;
	WIDTH: 700px;
	COLOR: #FFF;
	FONT-FAMILY: Arial Black;
	POSITION: absolute;
	TOP: 170px;
	LETTER-SPACING:0.03em;
	LINE-HEIGHT: 120%;
	height: 40px;
}
h1 A
{
   COLOR: #000; 
}
 
h2 {
  FONT-SIZE: 11px; 
  WIDTH: 500px; 
  left:150px;
  COLOR: #fff; 
  LINE-HEIGHT: 170%;  
  text-align:left; 
  FONT-FAMILY: Georgia, Verdana,Helvetica,  Arial,sans-serif; 
  POSITION: absolute; 
  TOP: 200px;
}
/* banner end */ 

/* navBar｜選擇頻道 */ 

#navBar
{
  padding-LEFT: 30px; 
  WIDTH: 600px; 
  LETTER-SPACING: 0.1em; 
  POSITION: absolute; 
  TOP: 295px; 
  LINE-HEIGHT: 180%;
}
#navBar A:link
{
  color:#83A3CB ; 
  MARGIN-RIGHT: 0px;  
  PADDING-LEFT:5px;
  PADDING-right:2px; 
  PADDING-top:3px; 
  PADDING-bottom:3px;  
  LETTER-SPACING: 4px;
    
}

#navBar A:hover
{
   MARGIN-RIGHT: 0px;  
   PADDING-LEFT:5px;
   PADDING-right:2px; 
   PADDING-top:3px; 
   PADDING-bottom:3px;  
   LETTER-SPACING: 4px;
   color:#364A6F;
}

/* navBar end */ 

/* contentBlock｜中間大區塊設定 */
#contentBlock
{
   BACKGROUND: url(http://pics.yamedia.tw/themes/whitePC/images/mainbg.jpg) transparent repeat-y left top; 
   WIDTH: 960px; 
   TEXT-ALIGN: left; 
   padding-top:12px; 
   height:100%;
}



/* MainSide ｜旁邊大區塊設定*/
#MainSide
{
	BORDER-RIGHT: medium none;
	PADDING-RIGHT: 20px;
	BORDER-TOP: medium none;
	margin-LEFT: 0px;
	FONT-SIZE: 12px;
	Z-INDEX: 2;
	BORDER-LEFT: medium none;
	WIDTH: 210px;
	COLOR: #FF6600;
	LINE-HEIGHT: 1.4em;
	PADDING-top: 0px;
	PADDING-bottom: 20px;
	BORDER-BOTTOM: medium none;
	float: right; 
   
}
#MainSide A:link
{
  COLOR: #7DA4D8; TEXT-DECORATION: none;
}

#MainSide A:visited
{
  COLOR: #93B5BA; TEXT-DECORATION: none;
}

#MainSide A:hover
{
  COLOR: #364A6F;
}

#MainSide A:active
{
  COLOR: #7DA4D8;
}


.sideColumn /*旁邊小區塊*/
{
  BORDER-RIGHT: medium none; 
  BORDER-TOP: medium none; 
  BACKGROUND: none transparent scroll repeat 0% 0%; 
  MARGIN-BOTTOM: 0px; 
  BORDER-LEFT: medium none; 
  BORDER-BOTTOM: medium none; 
  LETTER-SPACING: 1px;
}
.sideTitle {
  FONT-SIZE: 13px; 
  BORDER-bottom: #789ABB 0px solid; 
  COLOR: #7DA4D8;  
  BACKGROUND: url(http://pics.yamedia.tw/themes/whitePC/images/side_title.jpg) no-repeat 5px top;
  height: 28px;
  MARGIN-BOTTOM: 0px; 
  PADDING-TOP: 20px;
  PADDING-left: 48px;  
  PADDING-bottom: 5px;
  LETTER-SPACING: 3px; 
  text-align:left;  
  FONT-WEIGHT: bold;
}
 

.sideContent
{
	PADDING-RIGHT: 7px;
	PADDING-LEFT: 7px;
	PADDING-BOTTOM: 20px;
	COLOR: #79979C;
	LINE-HEIGHT: 18px;
	PADDING-TOP: 7px;
	FONT-FAMILY: Arial,sans-serif;
	background-image: url();
	background-repeat: no-repeat;
	background-position: bottom;
  
}
/*行事曆*/
span.calendar
{
  MARGIN-LEFT: 5px; 
  MARGIN-RIGHT: 5px; 
  TEXT-ALIGN: center;
}

span.calendar a
{
}
/*訂閱浮動視窗標題*/
#MainSide ul
{
 PADDING-RIGHT: 0px; 
 PADDING-LEFT: 0px; 
 PADDING-BOTTOM: 0px; 
 MARGIN: 0px; 
 PADDING-TOP: 0px; 
 LIST-STYLE-TYPE: none;
}
 
#navmenu LI
{
  PADDING-RIGHT: 2px; 
  PADDING-LEFT: 1px; 
  FLOAT: left; 
  PADDING-TOP: 2px; 
  POSITION: relative;
}

#navmenu LI A
{
  PADDING-RIGHT: 2px; 
  PADDING-LEFT: 1px; 
  FLOAT: left; 
  PADDING-TOP: 2px; 
  POSITION: relative;
}

#navmenu LI UL
{
  DISPLAY: none; 
  LEFT: 0px; 
  COLOR: #DE7F4F; 
  PADDING-TOP: 5px; 
  POSITION: absolute; 
  TOP: 1em;
}

#navmenu LI UL LI
{
  CLEAR: left; 
  BACKGROUND: #ccc; 
  WIDTH: 130px; 
  PADDING-TOP: 5px;
}

#navmenu LI UL LI A:hover
{
  BACKGROUND: #DE7F4F; 
  COLOR: #4E79B7;
}

#navmenu LI UL LI.title
{
  BACKGROUND: #31608C; 
  TEXT-ALIGN: center;
}

#navmenu LI:hover UL
{
  DISPLAY: block;
}

#navmenu LI.over UL
{
  DISPLAY: block;
}
 
/* 網誌頁面  */

#articleBlock
{
  PADDING-LEFT: 2px; 
  PADDING-BOTTOM: 150px; 
  OVERFLOW: hidden; 
  WIDTH: 600px; 
  BORDER-TOP-STYLE: none; 
  LINE-HEIGHT: 1.7em; 
  BORDER-RIGHT-STYLE: none; 
  BORDER-LEFT-STYLE: none; 
  BORDER-BOTTOM-STYLE: none;
}
#articleBlock
{
	LINE-HEIGHT: normal;
	float: left;
	padding-left: 25px;
	width: 668px;
}
#articleBlock A:link
{
  COLOR: #4E7EC0; TEXT-DECORATION: none;
}

#articleBlock A:visited
{
  COLOR: #4E7EC0; TEXT-DECORATION: none;
}
#articleBlock A:hover
{
  COLOR: #364A6F; BORDER-BOTTOM: #364A6F 1px dotted; TEXT-DECORATION: none;

}

#articleBlock A:active
{
  COLOR: #4E7EC0; TEXT-DECORATION: none;
}

.post
{
  MARGIN-BOTTOM: 20px; 
  BORDER-BOTTOM: #000 0px dotted; 
  BACKGROUND:url() #ffffff no-repeat; 
  PADDING-TOP: 6px;
}


.postbody {
  height:100%;
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.6em;
}

.post_title 
{
	PADDING-LEFT: 96px;
	MARGIN-TOP: 0px;
	FONT-SIZE: 16px;
	MARGIN-BOTTOM: 1px;
	PADDING-BOTTOM: 5px;
	MARGIN-LEFT: 0px;
	FONT-WEIGHT: bold;
	COLOR: #7DA4D8;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	LETTER-SPACING: 0px;
	background-image: url(http://pics.yamedia.tw/themes/whitePC/images/title_bar.jpg);
	background-repeat: no-repeat;
}
.post_title  A:link {
	COLOR: #4E7EC0; 
	TEXT-DECORATION: none
}
.post_title  A:hover {
	COLOR: #364A6F; 
	TEXT-DECORATION: none
}


.post_date
{
	MARGIN-LEFT: 10px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #7DA4D8;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 4px;
	TEXT-ALIGN: center;
	FONT-FAMILY: Georgia, Verdana, Arial,;
	background-image: url();
	LETTER-SPACING: 0px;
	width:108px;
}
 

 
.post_time 
{
	PADDING-LEFT: 15px;
	PADDING-top: 3px;
	PADDING-bottom: 8px;
	LINE-HEIGHT: 1.8em;
	HEIGHT: 100%;
	FONT-SIZE: 11px;
	border: #DFDFDF 0px solid;
	background-image: url();
	background-repeat: repeat-y;
	background-position: left top;
}
.cheer{
  PADDING-LEFT: 15px;
  PADDING-right: 15px;
  PADDING-top: 15px; 
  PADDING-bottom: 15px;  
  LINE-HEIGHT: 1.8em; 
  HEIGHT: 100%;
  FONT-SIZE: 13px; 
  border: #DFDFDF 0px solid;   
  background-image: url();
  background-repeat: repeat-y;
}
.post_body{
  float:left;
  width: 100%;
  
}

.post_content {
  PADDING-LEFT: 15px;
  PADDING-top: 15px; 
  PADDING-bottom: 15px;  
  LINE-HEIGHT: 1.8em; 
  HEIGHT: 100%;
  FONT-SIZE: 13px; 
  border: #DFDFDF 0px solid;   
  background-image: url();
  background-repeat: repeat-y;
}
 
.post_info {
  FONT-SIZE: 11px;   
  BACKGROUND:url(http://pics.yamedia.tw/themes/whitePC/images/ges/a-t.gif) left bottom no-repeat;  
  CLEAR: both; 
  PADDING-LEFT: 10px; 
  PADDING-BOTTOM: 11px; 
  PADDING-TOP: 6px; 
  BORDER-BOTTOM: 0px solid; 
  TEXT-ALIGN:center;
}
.post_info A:link {
	COLOR: #789ABB; 
	TEXT-DECORATION: none
}
.post_info A:visited {
	COLOR: #78AEBB; 
	TEXT-DECORATION: none
}
.post_info A:hover {
	COLOR: #31608C; 
	TEXT-DECORATION: none
}
.post_info A:active {
	COLOR: #789ABB; 
	TEXT-DECORATION: none
}
 
.post_tail
{
}
input.text, textarea {
  BORDER-RIGHT: #789ABB 1px dotted; 
  PADDING-RIGHT: 2px; 
  BORDER-TOP: #789ABB 1px dotted; 
  PADDING-LEFT: 2px; 
  FONT-SIZE: 11px; 
  BACKGROUND: none transparent scroll repeat 0% 0%; 
  PADDING-BOTTOM: 2px; 
  BORDER-LEFT: #789ABB 1px dotted; 
  COLOR: #000; 
  PADDING-TOP: 2px; 
  BORDER-BOTTOM: #789ABB 1px dotted; 
  FONT-FAMILY: Georgia, Verdana, Arial, serif;
}
form {
  PADDING-RIGHT: 0px; 
  PADDING-LEFT: 0px; 
  FONT-SIZE: 11px; 
  PADDING-BOTTOM: 0px; 
  MARGIN: 0px; 
  COLOR: #6c6063; 
  PADDING-TOP: 0px; 
  FONT-FAMILY: georgia, verdana, arial;
}
select {
  FONT-SIZE: 10px; 
  COLOR: #888; 
  FONT-FAMILY: Georgia, Verdana, Arial, Helvetica, sans-serif;
}
input.btn {
  PADDING-RIGHT: 3px; 
  PADDING-LEFT: 3px; 
  FONT-SIZE: 11px; 
  PADDING-BOTTOM: 1px; 
  PADDING-TOP: 1px; 
  FONT-FAMILY: Georgia, Verdana, Arial, Helvetica, sans-serif;
}

/* trackback 引用區塊 */
.trackback{
  width:100%
  
}

.trackbackURL
{
  BORDER-RIGHT: #789ABB 0px dotted; 
  PADDING-RIGHT: 5px; 
  BORDER-TOP: #789ABB 0px dotted; 
  MARGIN-TOP: 10px; 
  PADDING-LEFT: 5px; 
  PADDING-BOTTOM: 8px; 
  BORDER-LEFT: #789ABB 0px dotted; 
  PADDING-TOP: 5px; 
  BORDER-BOTTOM: #789ABB 0px dotted;
}

.trackbackTitle
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	padding-left: 15px;
	padding-bottom: 6px;
}

.trackbackTitle a
{
  COLOR: #800000;
}


.trackbackBody
{
	FONT-SIZE: 12px;
	padding-left: 15px;
    padding-bottom: 6px;
}
.trackbackDate
{
	FONT-SIZE: 12px;
	padding-left: 15px;
    padding-bottom: 6px;
}

span.trackbackBodyTitle
{
  FONT-WEIGHT: bold; 
  COLOR: #404040;
}


/*留言文字區塊*/
.commentbody{ 
  PADDING-RIGHT: 0px; 
  PADDING-LEFT: 0px; 
  FONT-SIZE: 11px; 
  PADDING-BOTTOM: 8px; 
  PADDING-TOP: 8px;
  }
.blockquote{
  PADDING-LEFT: 25px;
  PADDING-top: 15px;
  color:#D00000;
  background:#eee; border:0
}
.commentNote
{
	COLOR: #999;
	BORDER-BOTTOM: #789ABB 0px dotted;
	TEXT-ALIGN: right;
	font-size:11px;
	background-color: #F8F8F8;
	background-repeat: repeat-x;
	background-position: top;
	
}
.commentNote A
{
  COLOR: #E8BE95; 
}
.commentNote A:visited
{
  COLOR: #E8BE95; 
}
.post_commentbody{
  PADDING-LEFT: 15px;
  PADDING-right: 15px;
  PADDING-top: 15px; 
  PADDING-bottom: 15px;  
  LINE-HEIGHT: 1.8em; 
  HEIGHT: 100%;
  FONT-SIZE: 13px; 
  border: #FFF6E5 0px solid;   
  BACKGROUND:url() left top no-repeat; 
}




 
span.highlight {
  font-weight: bold;
}

.rightPage {
  text-align:center;
  margin-bottom: 10px;
  
}
/*rss訂閱頁*/
.rssmain{
  padding-top:10px;
}
.rssbody{
	height:auto;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D8E2E4;
	border-left-color: #D8E2E4;
	margin-top: 0px;
	position: relative;
	width: 98%;
	padding-left: 10px;
	border-bottom-color: #D8E2E4;
}
.rssmenu
{
  color: #a66;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  
}
.rss{
  width:98%;
  position: relative;
}
.rss_content{
   margin-top:10px;
}
.rss_content ul{
   margin-left:10px;
 
}
.rss_title, .rss_content {
  width:97%;
  }
.rssphoto{
  width:110px;
  height:110px;
  float: left;
   }


.rss_view {
  margin:10px;
  margin-left:30px;
  border: 1px solid #CCCCCC;
  padding: 5px;
}

.rss_view ul{
    list-style-type:none;
}
.rss_view img{
      border:1px solid #cccccc;
}

 
 
/* 個人資料 Profile  */
 
#profile
{
  MARGIN-BOTTOM: 10px; 
  COLOR: #666; 
  BACKGROUND:url() #ffffff no-repeat;
}
 
#profile table
{
  WIDTH: 100%; 
  font-size:13px; 
  PADDING-LEFT: 10px; 
  PADDING-BOTTOM: 25px;
 }
 
.th_title
{
  PADDING-RIGHT: 5px; 
  PADDING-LEFT: 5px; 
  FONT-WEIGHT: normal; 
  PADDING-BOTTOM: 5px; 
  WIDTH: 90px; 
  COLOR: #789ABB; 
  PADDING-TOP: 5px; 
  TEXT-ALIGN: center;
}
.td_desc 
{
  COLOR: #666;
}
 
.profile_title 
{
   CLEAR: both; 
   PADDING-LEFT: 16px; 
   FONT-WEIGHT: bold; 
   FONT-SIZE: 12px; 
   BACKGROUND: #EDF5F7; 
   WIDTH: 650px; 
   COLOR: #6B98BA; 
   LINE-HEIGHT: 140%; 
   margin-top:10px;
   PADDING-TOP: 3px; 
   margin-BOTTOM: 10px; 
   LETTER-SPACING:0.08em; 
   border-top: 1px #7EA6C5 dotted ; 
   border-left: 1px #7EA6C5 dotted ; 
   border-bottom: 1px #7EA6C5 dotted ; 
   border-right: 1px #7EA6C5 dotted ;
}

.introduce 
{
  PADDING-LEFT: 33px; 
  COLOR: #666; 
  LINE-HEIGHT: 22px; 
  font-size:13px; 
  PADDING-BOTTOM: 30px;
}


/*頁數選擇*/
.pageCtrl{
  padding: 2px;
  width: 95%;
  float: left;
  margin: 3px;
  text-align: right;
  
}

.pageCtrl ul{
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 10px;
}

.pageCtrl li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pageCtrl a, .pageCtrl a:visited{
padding: 0 5px;

text-decoration: none; 
color: #666;
}

.pageCtrl a:hover, .pageCtrl a:active{

color: #31608C;
background-color: lightyellow;
}

.pageCtrl li.currentpage{
font-weight: bold;
padding: 0 5px;

color: #789ABB;
}

.pageCtrl li.disablepage{
padding: 0 5px;

color: #57453E;
}

.pageCtrl li.nextpage{
font-weight: bold;
}

* html .pageCtrl li.currentpage, * html .pageCtrl li.disablepage{
  margin-right: 5px;
  padding-right: 0;
  color: #78AEBB;
}

/*相簿首頁設定*/
 
#albumBlock
{
  width: 710px;
  text-align: left;
  padding-bottom: 30px;
  float: left;
  padding-right: 20px;
}
#albumbody
{
  PADDING-LEFT: 10px; 
  FONT-SIZE: 12px; 
  BACKGROUND: none transparent scroll repeat 0% 0%; 
  FLOAT: left;   
  PADDING-BOTTOM: 50px; 
  WIDTH: 660px; 
  POSITION: relative; 
  TEXT-ALIGN: left;
}
h3
{
  FONT-WEIGHT: bold; 
  FONT-SIZE: 16px; 
  COLOR: #789ABB; 
  LINE-HEIGHT: 30px; 
  LETTER-SPACING: 2px;
}
 

.album{
  text-align:center;
  float: left;
  height: 280px;
  margin: 15px;
  BORDER-RIGHT: #fff 0px solid; 
  BORDER-TOP: #789ABB 0px solid; 
  FONT-SIZE: 11px; 
  BACKGROUND:  repeat-x left top; 
  BORDER-LEFT: #789ABB 0px solid; 
  WIDTH: 255px; 
  COLOR: #444444; 
  BORDER-BOTTOM: #fff 0px solid; 
   
 
  
}
.albumimg {
  height: 200px;
  width:200px;
}

.albumList_title
{
  FONT-SIZE: 13px; 
  WIDTH: 100%; 
  COLOR: #FF961B; 
  PADDING-TOP: 8px; 
  FONT-FAMILY: Georgia, Verdana, Arial, serif; 
  HEIGHT: 14px; 
  TEXT-ALIGN: center;
 
}
.albumList_date{
  FONT-SIZE: 11px; 
  COLOR: #aaa; 
  PADDING-TOP: 5px; 
  FONT-FAMILY: Arial, Georgia, Verdana, serif;
}
.albumList_info{
   
}
.album IMG
{
  BORDER:#cccccc 1px solid; 
  BACKGROUND: #fff; 
  PADDING-RIGHT: 3px; 
  PADDING-LEFT: 3px; 
  PADDING-BOTTOM: 3px;
  PADDING-TOP: 3px;
}



/*相簿內頁設定*/
#photobody{
}

.albumDesc{
  color:#333333;
  font-size:12px;
  margin: 5px;
}
.albumCategory
{
  FONT-SIZE: 12px; 
  PADDING-BOTTOM: 17px; 
  COLOR: #888; 
  LINE-HEIGHT: 150%; 
  LETTER-SPACING: 0.05em;
}
.photo{
  text-align:center;
  float: left;
  height: 190px;
  margin: 10px;
  FONT-SIZE: 12px; 
  BACKGROUND: none transparent scroll repeat 0% 0%; 
  WIDTH: 125px; 
  COLOR: #2e2e2e; 
  TEXT-ALIGN: center;
 
}
.photo IMG
{
  BORDER:#cccccc 1px solid; 
  BACKGROUND: #fff; 
  PADDING-RIGHT: 3px; 
  PADDING-LEFT: 3px; 
  PADDING-BOTTOM: 3px;
  PADDING-TOP: 3px;
}

.photoimg {
  height: 100px;
  width:100px;
}

.photoList_desc
{
  width: 100%;
  color: #955;
  height: 14px;
  font-size: 13px;
  text-align: center;
 
}
.albumview
{
  text-align: right;
  width: 665px;
}
/*相簿內頁設定 End*/

/*單一瀏覽頁面設定*/
.backindex{
  float:right;
  position: relative;
  top: 7px;
  display: block;
  COLOR: #789ABB
  padding-right: 10px;
}
 #viewPicDiv {
  width: 100%;
  text-align: left;
  position: relative;
  border: 1px solid #000;
  margin: 0px auto;
}
 #viewPicDiv a:link, a:visited { color: #789ABB ; text-decoration: none;}
 #viewPicDiv a:hover, a:active { color: #789ABB; text-decoration: none;}
.viewalbumTitle{
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #789ABB;
	LINE-HEIGHT: 30px;
	LETTER-SPACING: 2px;
	padding-left: 20px;
	
	 
}
.viewalbumTitle a:link, a:visited { color: #789ABB; text-decoration: none;}
.viewalbumTitle a:hover, a:active { color: #31608C; text-decoration: none;}
.photoviewTitle{
  width: 100%;
  color: #666;
  height: 20px;
  text-align: center;
  float: left;
}
#photoViewbody{
   text-align:center;
}
.album_pageCtrl{
  padding: 2px;
  width: 90%;
  float: left;
  margin: 10px 10px;
  text-align: right;
  
}


.photoview
{
  text-align: center;
  width: 100%;
}
.photoview img {
  border: 1px solid #333;
}

#photomsg{
  padding-left:10px;
  width: 960px;
  margin-bottom: 20px;
}
.photomsg_title{
     font-size: 18px;
     font-weight: bold;
     line-height: 30px;
     color: #2e2e2e;

}
.photomsg_comment{
 font-size:13px;
    padding: 8px 0 8px 0;
}
.photomsg_Body
{
  font-size:13px;
  line-height: 22px;
}
.photomsg_info
{
  color: #999;
  text-align: right;
  border-bottom: 1px dotted #e5e5e5;
}
.photoviewDesc{
  width:100%;
  
}
 
table.photoList
{
  margin-top: 20px;
  margin-bottom: 20px;
}
 
td.photoList
{
  color: blue;
  height: 125px;
  width: 125px;
  font-size: 13px;
}
td.photoList img {
  BORDER-RIGHT: #2e2e2e 0px solid; 
  BORDER-TOP: #2e2e2e 0px solid; 
  BORDER-LEFT: #2e2e2e 0px solid; 
  BORDER-BOTTOM: #2e2e2e 0px solid;
}

/*留言板設定*/

#imsg{
    FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	TEXT-DECORATION: none; 
	BORDER-bottom: #789ABB 0px dotted; 
	LETTER-SPACING: 0.15em;
    color:#FF961B; 
    BACKGROUND: none; 
	MARGIN:12PX;  
	width:100px; 
	text-align:center;
}

/*好友列表*/
.friendlist{
    width:120px;
  height:150px;
  float:left;
  margin:10px 5px;
  padding:5px;
  text-align:center;
}
.buddyicon{
  color:#CCCCCC;
  BORDER-TOP-WIDTH: 0px ; 
  BORDER-LEFT-WIDTH: 0px ; 
  BORDER-BOTTOM-WIDTH: 0px ; 
  BORDER-RIGHT-WIDTH: 0px ;
  BACKGROUND: #fff; 
  PADDING-RIGHT: 3px; 
  PADDING-LEFT: 3px; 
  PADDING-BOTTOM: 3px;
  PADDING-TOP: 3px;
    
    
}
.friend_dest{
  float:left;
  width: 98%;
  padding-left: 10px;
   
}
.friend_select{
    float:right;
  display:block;
    
}
/*播客設定*/
#articleBlock2
{
	line-height: 1.7em;
	width: 698px;
	padding-left: 15px;
	overflow: hidden;
	padding-bottom: 30px;
	position: relative;
	float:left;
}


/*頁籤設定*/
.shadetabs{
	width: 689px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8E2E4;
}

.shadetabs ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(http://pics.yamedia.tw/themes/whitePC/images/shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
  text-decoration: underline;
  color: #2d2b2b;
}

.shadetabs li.selected{

top: 1px;
}

.shadetabs li.selected a{ /*selected main tab style */
background-image: url(http://pics.yamedia.tw/themes/whitePC/images/shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

.mediamain{
  padding-top:10px;
}
.mediabody{
  height:auto;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #D8E2E4;
  border-bottom-color: #D8E2E4;
  border-left-color: #D8E2E4;
  margin-top: 0px;
  position: relative;
  width: 678px;
  padding-left: 10px;
}
.medialist{
  height:100%;
  float: left;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 10px;

}

.mediaimg{
    padding: 5px;
}
.mediamdig{
  display:block;
  width: 60px;
  float: left;
  background-color: #FFFFCC;
  border: 1px solid #FFCC00;
  font-weight: bold;
}
 .mediaid {
 
 float: left;
 margin: 0px 3px 10px 0px;
 width: 150px;
 text-align:center;
  }
 .mediacontent{
  float: left;
  margin: 0px 0px 10px 0px;
  width: 100%;
  height: auto;
  
 }
 .mediatitle{
   padding: 5px;
 }
 .mediadesc{
  width: 95%;
  background-color: #EBF1F1;
  padding: 2px;
  float: left;
 
 }
 .mediainfo {
  text-align:left;
  padding: 5px;
  float: left;
  width: 60%;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
 
  
}
.mediamdy2{
  text-align:left;
  padding: 5px;
}

/*頁數選擇(RSS、media頁面共用)*/
.mediapageCtrl{
  width: 98%;
  text-align: right;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.mediapageCtrl ul{
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 10px;
}

.mediapageCtrl li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.mediapageCtrl a, .pageCtrl a:visited{
padding: 0 5px;

text-decoration: none; 
color: #666;
}

.mediapageCtrl a:hover, .pageCtrl a:active{

color: #57453E;
background-color: lightyellow;
}

.mediapageCtrl li.currentpage{
font-weight: bold;
padding: 0 5px;

color: #FFF;
}

.mediapageCtrl li.disablepage{
padding: 0 5px;

color: #57453E;
}

.mediapageCtrl li.nextpage{
font-weight: bold;
}

* html .mediapageCtrl li.currentpage, * html .mediapageCtrl li.disablepage{
  margin-right: 5px;
  padding-right: 0;
  color: #990000;
}
/*我的俱樂部設定*/
.myclublist{
  height:100%;
  padding: 10px;
  float: left;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  margin-bottom: 10px;

}

.myclubimg{
  padding: 5px;
  width: 155px;
  float: left;
}

 .myclubid {
  float: left;
  margin: 0px 3px 10px 0px;
  width: 675px;
  height: auto;
  }
  .myclubinfo{
  text-align:left;
  padding: 5px;
  float: left;
  width: 490px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
 .myclubcontent{
  width: 650px;
  font-size: 12px;
  float: left;
  padding: 10px;
  background-color: #EBF1F1;
  
 }
 .myclubtitle{
   padding: 5px;
 }
 .myclubdesc{
   padding: 5px;
 
 }
 .myclubdesch3 {
  font-size: 14px;
  color:#57453E;
  }

.cletemp {display: inline-block;}
.clearboth {
 clear:both;
 }
 /*Meaid rss*/
.mediarss{
  margin:10px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #999999;
  padding-bottom: 5px;
  height: 120px;
}
.mediarss_ID{
  text-align:center;
  width:120px;
  float: left;
}
.mediarss_view{
  float: left;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
}

.mediarss_list{
  text-align:center;
  width:160px;
  float: left;
}

/* --------------------- float fix ------------------------ */


.clx {
     clear: both;
   }

 
#commend{float:left;} #commend a img{background:transparent;}
