@charset "utf-8";
.bmreply
{
  color:red;
  border: 1px dotted black;
  background-color: #fff;
  padding: 10px;
}

.friendlist {
  float: left;
  height: 150px;
  width: 120px;
  text-align: center;
  margin: 4px;
  padding: 4px;
}

.friendlist .buddyicon img{
  border: 1px solid #000000;
}

#loading {
  position:absolute;
  background-color:red;
  color:white;
  z-index:500;
  width: 60px;
  height: 20px
}


/*播客設定*/

/*頁籤設定*/
.shadetabs{
	border-bottom: 1px solid gray;
}

.shadetabs ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(http://pics.webs-tv.net/images/podcast/shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
	text-decoration: underline;
	color: #2d2b2b;
}

.shadetabs li.selected{

top: 1px;
}

.shadetabs li.selected a{ /*selected main tab style */
background-image: url(http://pics.webs-tv.net/images/podcast/shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

.mediamain{
  padding-top:10px;  
}
.mediabody{
	height:100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #778;
	border-bottom-color: #778;
	border-left-color: #778;
	margin-top: 0px;
	position: relative;
	width: auto;
}
.medialist{
	height:100%;
  width: 100%;
	padding: 10px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
}

.mediaimg{
    padding: 5px;
}
.mediamdig{
	display:block;
	width: 60px;
	float: left;
	background-color: #FFFFCC;
	border: 1px solid #FFCC00;
	font-weight: bold;
}
 .mediaid {
 
 float: left;
 margin: 0px 3px 10px 0px;
 width: 150px;
 text-align:center;
  }
 .mediacontent{
/*	width: 350px;*/
  width: 350px;
	font-size: 12px;
	float: left;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
 }
 .mediatitle{
   padding: 5px;
 }
 .mediadesc{
   padding: 5px;
 
 }
 .mediainfo {
	background-color:#EBF1F1;
	padding: 5px;
 
	
}
.mediamdy2{
	text-align:left;
	padding: 5px;
}

.cletemp {display: inline-block;}

#articleBlock font
{
  line-height:normal;
}



