//Microsoft Visual C++ 產生的資源指令碼。
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// 已從 TEXTINCLUDE 2 資源產生。
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
	"resource.h\0"
END

2 TEXTINCLUDE
BEGIN
	"#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
	"#include ""afxres.h""\r\n"
	"\0"
END

3 TEXTINCLUDE
BEGIN
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
	"\r\n"
	"#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHT)\r\n"
	"LANGUAGE 4, 1\r\n"
	"#pragma code_page(950)\r\n"
	"#include ""res\\USB_Fram.rc2""  // 非 Microsoft Visual C++ 編輯過的資源\r\n"
	"#include ""l.CHT\\afxres.rc""  	// 標準元件\r\n"
	"#endif\r\n"
	"\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// 圖示
//

// 先放置有最低 ID 的圖示，
// 確保應用程式圖示在所有系統上保持一致。

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHT)
LANGUAGE 4, 1
#pragma code_page(950)
IDR_MAINFRAME           ICON         "res\\USB_Fram.ico"
IDR_USB_FramTYPE         ICON         "res\\USB_FramDoc.ico"
#endif
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHT)
LANGUAGE 4, 1
#pragma code_page(950)

/////////////////////////////////////////////////////////////////////////////
//
// 功能表
//

IDR_MAINFRAME MENU
BEGIN
	POPUP "檔案(&F)"
	BEGIN
		MENUITEM "開新檔案(&N)\tCtrl+N",                ID_FILE_NEW
		MENUITEM "開啟舊檔(&O)...\tCtrl+O",            ID_FILE_OPEN
		MENUITEM "儲存檔案(&S)\tCtrl+S",               ID_FILE_SAVE
		MENUITEM "另存新檔(&A)...",                 ID_FILE_SAVE_AS
		MENUITEM SEPARATOR
		MENUITEM "最近使用的檔案",                 ID_FILE_MRU_FILE1,GRAYED
		MENUITEM SEPARATOR
		MENUITEM "結束(&X)",                       ID_APP_EXIT
	END
	POPUP "編輯(&E)"
	BEGIN
		MENUITEM "復原(&U)\tCtrl+Z",               ID_EDIT_UNDO
		MENUITEM SEPARATOR
		MENUITEM "剪下(&T)\tCtrl+X",                ID_EDIT_CUT
		MENUITEM "複製(&C)\tCtrl+C",               ID_EDIT_COPY
		MENUITEM "貼上(&P)\tCtrl+V",              ID_EDIT_PASTE
	END
	POPUP "說明(&H)"
	BEGIN
		MENUITEM "關於 USB_Fram(&A)...",          ID_APP_ABOUT
	END
END



/////////////////////////////////////////////////////////////////////////////
//
// 快速鍵
//

IDR_MAINFRAME ACCELERATORS
BEGIN
	"N",            ID_FILE_NEW,            VIRTKEY,CONTROL
	"O",            ID_FILE_OPEN,           VIRTKEY,CONTROL
	"S",            ID_FILE_SAVE,           VIRTKEY,CONTROL
	"Z",            ID_EDIT_UNDO,           VIRTKEY,CONTROL
	"X",            ID_EDIT_CUT,            VIRTKEY,CONTROL
	"C",            ID_EDIT_COPY,           VIRTKEY,CONTROL
	"V",            ID_EDIT_PASTE,          VIRTKEY,CONTROL
	VK_BACK,        ID_EDIT_UNDO,           VIRTKEY,ALT
	VK_DELETE,      ID_EDIT_CUT,            VIRTKEY,SHIFT
	VK_INSERT,      ID_EDIT_COPY,           VIRTKEY,CONTROL
	VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY,SHIFT
	VK_F6,          ID_NEXT_PANE,           VIRTKEY
	VK_F6,          ID_PREV_PANE,           VIRTKEY,SHIFT
END




/////////////////////////////////////////////////////////////////////////////
//
// 對話方塊
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "關於 USB_Fram"
FONT 9, "MS Shell Dlg"
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,21,20
    LTEXT           "USB_Fram, 1.0 版",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2012",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "確定",IDOK,113,41,50,14,WS_GROUP
END



/////////////////////////////////////////////////////////////////////////////
//
// 版本
//

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,0,0,1
  PRODUCTVERSION    1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
        BLOCK "040403b6"
		BEGIN
            VALUE "CompanyName", "TODO: <公司名稱>"
            VALUE "FileDescription", "TODO: <檔案說明>"
			VALUE "FileVersion",     "1.0.0.1"
			VALUE "InternalName",    "USB_Fram.exe"
            VALUE "LegalCopyright", "TODO: (c) <公司名稱>.  All rights reserved."
			VALUE "OriginalFilename","USB_Fram.exe"
            VALUE "ProductName", "TODO: <產品名稱>"
			VALUE "ProductVersion",  "1.0.0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0404, 950
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// 字串資料表
//

STRINGTABLE
BEGIN
	IDP_OLE_INIT_FAILED   	"OLE 初始化失敗。請確認 OLE 程式庫的版本是否正確。"
END
STRINGTABLE
BEGIN
// 目標非麥金塔的應用程式移除兩個額外的子字串
	IDR_MAINFRAME           "USB_Fram\n\nUSB_Fram\n\n\nUSBFram.Document\nUSB_Fram.Document"

END
STRINGTABLE
BEGIN
	AFX_IDS_APP_TITLE       "USB_Fram"
	AFX_IDS_IDLEMESSAGE     "就緒"
END
STRINGTABLE
BEGIN
	ID_INDICATOR_EXT        "EXT"
	ID_INDICATOR_CAPS       "CAP"
	ID_INDICATOR_NUM        "NUM"
	ID_INDICATOR_SCRL       "SCRL"
	ID_INDICATOR_OVR        "OVR"
	ID_INDICATOR_REC        "REC"
END
STRINGTABLE
BEGIN
	ID_FILE_NEW             "建立新文件\n開新檔案"
	ID_FILE_OPEN            "開啟現有文件\n開啟舊檔"
	ID_FILE_CLOSE           "關閉使用中文件\n關閉檔案"
	ID_FILE_SAVE            "儲存使用中文件\n儲存檔案"
	ID_FILE_SAVE_AS         "將使用中文件以新名稱儲存\n另存新檔"
	ID_APP_ABOUT            "顯示程式資訊、版本號碼及著作權\n關於"
	ID_APP_EXIT             "結束應用程式; 提示使用者儲存文件\n結束"
	ID_FILE_MRU_FILE1       "開啟這份文件"
	ID_FILE_MRU_FILE2       "開啟這份文件"
	ID_FILE_MRU_FILE3       "開啟這份文件"
	ID_FILE_MRU_FILE4       "開啟這份文件"
	ID_FILE_MRU_FILE5       "開啟這份文件"
	ID_FILE_MRU_FILE6       "開啟這份文件"
	ID_FILE_MRU_FILE7       "開啟這份文件"
	ID_FILE_MRU_FILE8       "開啟這份文件"
	ID_FILE_MRU_FILE9       "開啟這份文件"
	ID_FILE_MRU_FILE10      "開啟這份文件"
	ID_FILE_MRU_FILE11      "開啟這份文件"
	ID_FILE_MRU_FILE12      "開啟這份文件"
	ID_FILE_MRU_FILE13      "開啟這份文件"
	ID_FILE_MRU_FILE14      "開啟這份文件"
	ID_FILE_MRU_FILE15      "開啟這份文件"
	ID_FILE_MRU_FILE16      "開啟這份文件"
	ID_NEXT_PANE            "切換至下一窗格\n下一個窗格"
	ID_PREV_PANE            "切換至上一個窗格\n上一個窗格"
	ID_WINDOW_SPLIT         "將使用中視窗切割成窗格\n分割視窗"
	ID_EDIT_CLEAR           "清除選取範圍\n清除"
	ID_EDIT_CLEAR_ALL       "清除所有的項目\n全部清除"
	ID_EDIT_COPY            "複製選取項目並放到剪貼簿\n複製"
	ID_EDIT_CUT             "剪下選取項目並放到剪貼簿\n剪下"
	ID_EDIT_FIND            "尋找指定的文字\n尋找"
	ID_EDIT_PASTE           "插入剪貼簿的內容\n貼上"
	ID_EDIT_REPEAT          "重複上次的動作\n重複"
	ID_EDIT_REPLACE         "用不同的文字取代指定文字\n取代"
	ID_EDIT_SELECT_ALL      "選取整份文件\n全選"
	ID_EDIT_UNDO            "復原上次的動作\n復原"
	ID_EDIT_REDO            "取消復原上次的動作\n取消復原"
END

STRINGTABLE
BEGIN
	AFX_IDS_SCSIZE          "變更視窗大小"
	AFX_IDS_SCMOVE          "變更視窗位置"
	AFX_IDS_SCMINIMIZE      "將視窗縮成一個圖示"
	AFX_IDS_SCMAXIMIZE      "將視窗放到最大"
	AFX_IDS_SCNEXTWINDOW    "切換至下一個文件視窗"
	AFX_IDS_SCPREVWINDOW    "切換至上一個文件視窗"
	AFX_IDS_SCCLOSE         "關閉使用中視窗並提示使用者儲存文件"
	AFX_IDS_SCRESTORE       "將視窗還原成標準大小"
	AFX_IDS_SCTASKLIST      "啟動工作清單"
END


#endif

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// 已從 TEXTINCLUDE 3 資源產生。
//

#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHT)
LANGUAGE 4, 1
#pragma code_page(950)
#include "res\\USB_Fram.rc2"  // 非 Microsoft Visual C++ 編輯過的資源
#include "l.CHT\\afxres.rc"  	// 標準元件
#endif
#endif    // 非 APSTUDIO_INVOKED
