<?xml version="1.0"?>
<!DOCTYPE root [
  <!ELEMENT Student ANY> 
  <!ATTLIST Student ID ID #REQUIRED>
]>
<Students>
  <Student ID="100">
    <Name>Tom Archer</Name>
    <Grades>
      <MFC>96</MFC>
      <ATL>66</ATL>
      <Winsock>78</Winsock>
    </Grades>
  </Student>
  <Student ID="101">
    <Name>Karen Colley</Name>
    <Grades>
      <MFC>94</MFC>
      <ATL>91</ATL>
      <Winsock>92</Winsock>
    </Grades>
  </Student>
  <Student ID="103">
    <Name>Krista Crawley</Name>
    <Grades>
      <MFC>88</MFC>
      <ATL>78</ATL>
      <Winsock>65</Winsock>
    </Grades>
  </Student>
  <Student ID="104">
    <Name>Vicki Tyson</Name>
     <Grades>
       <MFC>48</MFC>
       <ATL>63</ATL>
       <Winsock>72</Winsock>
    </Grades>
  </Student>
</Students>