BODY {
	FONT-SIZE: 70.5%; CURSOR: default; FONT-FAMILY: Verdana
}
.deeptree {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; BEHAVIOR: url(/library/shared/deeptree/htc/deeptree.htc); PADDING-TOP: 4px
}
SPAN {
	BORDER-RIGHT: #f1f1f1 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #f1f1f1 1px solid; DISPLAY: inline; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f1f1f1 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #f1f1f1 1px solid; POSITION: relative; TOP: -2px; HEIGHT: 17px
}
SPAN.clsLabel {
	
}
SPAN.clsSpace {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 17px; CURSOR: hand; PADDING-TOP: 3px; FONT-FAMILY: verdana; POSITION: relative; TOP: 0px
}
SPAN.clsSpace SPAN {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 11px; BORDER-BOTTOM: black 1px solid; POSITION: relative; HEIGHT: 11px; BACKGROUND-COLOR: #ffffff
}
SPAN.clsCollapse {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 9px; PADDING-BOTTOM: 1px; OVERFLOW: hidden; LINE-HEIGHT: 6px; PADDING-TOP: 1px
}
SPAN.clsExpand {
	PADDING-LEFT: 1px; FONT-SIZE: 13px; OVERFLOW: hidden; LINE-HEIGHT: 3px; PADDING-TOP: 3px
}
SPAN.clsLeaf {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; OVERFLOW: visible; LINE-HEIGHT: 3px; PADDING-TOP: 1px
}
SPAN.clsMouseOver {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #cccccc
}
SPAN.clsMouseDown {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #999999
}
SPAN.clsCurrentHasFocus {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
SPAN.clsCurrentNoFocus {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f1f1f1
}
A {
	COLOR: black; TEXT-DECORATION: none
}
SPAN.clsUnavailable {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: medium none; COLOR: #888888; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; TOP: 0px; HEIGHT: 0px
}
.hide {
	DISPLAY: none
}
.shown {
	DISPLAY: block; MARGIN-LEFT: 15px
}
.deeptree IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: hand; PADDING-TOP: 0px; POSITION: relative; TOP: -2px
}
.treelabel {
	FONT-SIZE: 70.5%; COLOR: white; FONT-FAMILY: verdana
}
