@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* ansi colors */
.b0 { background-color: #000; }
.b1 { background-color: #b00; }
.b2 { background-color: #0b0; }
.b3 { background-color: #bb0; }
.b4 { background-color: #00b; }
.b5 { background-color: #b0b; }
.b6 { background-color: #0bb; }
.b7 { background-color: #bbb; }

.f0 { color: #000; }
.f1 { color: #900; }
.f2 { color: #090; }
.f3 { color: #990; }
.f4 { color: #009; }
.f5 { color: #909; }
.f6 { color: #099; }
.f7 { color: #999; }

.hl { color: #fff; }
.hl.f0 { color: #666; }
.hl.f1 { color: #f66; }
.hl.f2 { color: #6f6; }
.hl.f3 { color: #ff6; }
.hl.f4 { color: #66f; }
.hl.f5 { color: #f6f; }
.hl.f6 { color: #6ff; }
.hl.f7 { color: #fff; }

/* main layout */
.bbs-screen {
	color: #bbb;
	background-color: #000;
	line-height: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	margin: 0 auto;
	padding: 0 0 3ex 0;
	min-width: 600px;
	max-width: 1200px;
}

.bbs-content {
	font-size: 24px;
	font-family: "細明體", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
}

#topbar-container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	background-color: #0c0a66;
	overflow-y: hidden;
	overflow-x: auto;
}
#topbar {
	margin: 0 auto;
	min-width: 600px;
	max-width: 1200px;
	height: 40px;
	box-sizing: border-box;
	color: #aaa;
}
#topbar > * {
	display: inline-block;
	height: 100%;
	line-height: 40px;
	vertical-align: middle;
	padding: 0 5px;
	float: left;
}
#topbar a:hover {
	background-color: #338;
	color: #fff;
}
#topbar a:link, #topbar a:visited, #topbar a:hover {
	text-decoration: none;
}
#topbar .board {
	color: #fff;
}
#topbar .board-label {
	font-size: small;
	vertical-align: middle;
}
#topbar > *.right {
	float: right;
}

.small {
	font-size: small;
}

#main-container {
	margin: 0;
	padding: 0;
	position: relative;
}

#main-content {
	position: relative;
	white-space: pre;
}

a:link {
	color: #aaa;
}
a:hover {
	color: #333;
	background-color: #ccc;
}
a:visited {
	color: #888;
}

body {
	background-color: #000;
	margin: 0;
	padding: 40px 0 24px 0;
}

#logo {
	padding: 0 10px;
}
#logo:link, #logo:visited, #logo:hover {
	text-decoration: none;
	color: #ff6;
}

#navigation-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
	background-color: #ccc;
}
#navigation {
	margin: 0 auto;
	min-width: 600px;
	max-width: 1200px;
	height: 40px;
	box-sizing: border-box;
	color: #333;
}
#navigation > * {
	display: inline-block;
	height: 100%;
	line-height: 40px;
	vertical-align: middle;
	padding: 0 5px;
	float: left;
}
#navigation a:link, #navigation a:visited {
	color: #333;
	text-decoration: none;
}
#navigation a:hover {
	color: #222;
	background-color: #eee;
	text-decoration: none;
}
.share {
	line-height: 40px;
	vertical-align: middle;
}
.fb-like > span {
	vertical-align: middle !important;
}
.brdname {
	float: right;
}
#navigation .board {
	padding: 0 10px;
}
#navigation .bar {
	background-color: #888;
	width: 4px;
	height: 100%;
	padding: 0;
}

.push {
	line-height: 130%;
	white-space: normal;
	clear: both;
}
.push > span {
	white-space: pre;
}
.push-tag {
	display: inline-block;
	min-width: 3.5ex;
	white-space: normal;
}
.push-content {
}
.push-ipdatetime {
	float: right;
}

.richcontent {
	text-align: center;
	margin: 1em;
}

.article-metaline {
	margin: 0;
	padding: 0;
	background-color: #008;
}
.article-metaline-right {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #008;
}
.article-meta-tag {
	padding: 0 1ex;
	background-color: #999;
	color: #008;
}
.article-meta-value {
	padding: 0 1ex;
	background-color: #008;
	color: #999;
}

img {
	max-width: 100%;
	max-height: 70%;
}

/* article list */
#action-bar-container {
	position: fixed;
	width: 100%;
	background-color: #000;
	padding: 50px 0 0 0;
	top: 0;
	left: 0;
	overflow-y: hidden;
	overflow-x: auto;
	z-index: 98;
}
.action-bar {
	padding: 0;
	margin: 0 auto;
	height: 40px;
	box-sizing: border-box;
	min-width: 600px;
	max-width: 1200px;
}
.action-bar .btn {
	height: 100%;
	line-height: 40px;
}
.action-bar > * {
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
}
.action-bar > * + .btn {
	margin: 0 0 0 10px;
}
.btn-group {
	padding: 0;
	border: 0;
	font-size: 0;
}
.btn-group + .btn {
	margin: 0 0 0 20px;
}
.btn-group .btn {
	margin: 0;
	font-size: medium;
}
.btn-group .btn + .btn {
	margin: 0 0 0 -1px;
}
.btn {
	position: relative;
	display: inline-block;
	border: 1px solid #666;
	background-color: #444;
	padding: 0 2ex;
	text-decoration: none;
	color: #ddd;
	box-sizing: border-box;
}
.btn.wide {
	padding: 0 3ex;
}
.btn:not(.disabled):hover {
	border-color: #eee;
	background-color: #bbb;
	color: #000;
	z-index: 2;
}
.btn.selected {
	border-color: #ccc;
	background-color: #bbb;
	color: #000;
	z-index: 2;
}
.btn.disabled {
	border-color: #111;
	background-color: #222;
	color: #666;
	z-index: 0;
	cursor: default;
}
.pull-right {
	float: right;
}
.btn:link, .btn:visited {
	color: #ddd;
}
.btn.selected:visited {
	border-color: #eee;
	background-color: #bbb;
	color: #000;
}

/* article list table */
.r-list-container {
	margin-top: 50px;
	padding-top: 10px;
}
.r-ent {
	position: relative;
	width: 100%;
	margin: 10px 0;
	line-height: 30px;
	vertical-align: middle;
}
.r-ent > * {
	display: inline-block;
	margin: 0 0 0 10px;
	vertical-align: middle;
	font-size: 20px;
}
.r-ent .nrec {
	width: 40px;
	height: 30px;
	text-align: right;
	float: left;
	font-family: serif;
}
.r-ent .mark {
	width: 20px;
	height: 30px;
	text-align: center;
	font-size: 2ex;
	font-weight: bold;
	font-family: Inconsolata, sans-serif;
	float: left;
}
.r-ent .title {
	display: block;
	margin-left: 90px;
}
.r-list .title a, .r-list .title a:link {
	text-decoration: none;
	color: #ddd;
}
.r-list .title a:hover, .r-list .title a:hover:visited {
	background-color: #aaa;
	color: #000;
}
.r-list .title a:visited {
	color: #999;
}
.r-ent .meta {
	display: block;
	margin-left: 90px;
	font-size: 18px;
	line-height: 24px;
	height: 24px;
}
.r-ent .meta > * {
	display: inline-block;
	height: 24px;
	margin: 0 10px 0 0;
}
.r-ent .date {
	font-family: serif;
	min-width: 45px;
}
.r-ent .author {
	font-family: Inconsolata, serif;
}
