<?xml version="1.0" encoding="utf-8" ?>
<appSetting>
	<DirS><![CDATA[D:\]]></DirS>
	<DirD><![CDATA[E:\]]></DirD>
	<GetListUrl><![CDATA[http://192.168.0.237/wEncSrv.aspx?OP=GetToStorageFileList]]></GetListUrl>
	<SetWorkIdUrl><![CDATA[http://192.168.0.237/wEncSrv.aspx?OP=SetToStorageDone&work_id=]]></SetWorkIdUrl>
	<SetWorkErrorUrl><![CDATA[http://192.168.0.237/wEncSrv.aspx?OP=SetToStorageError&work_id=]]></SetWorkErrorUrl>
</appSetting>
