A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.a {
	FONT-SIZE: 10pt; COLOR: #333333
}
.b {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff
}
.c {
	FONT-SIZE: 12pt; COLOR: #ffffff
}
.d {
	FONT-SIZE: 10pt; LINE-HEIGHT: 140%
}
.c2 {
	FONT-SIZE: 12pt; COLOR: #000000
}
.function {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #0066ff
}
