<?xml version="1.0" encoding="utf-8" ?>
<AppSetting>
	<Position_Size>
		<Top>50</Top>
		<Left>0</Left>
		<Width>800</Width>
		<Height>600</Height>
	</Position_Size>
	<Reset_Time>
		<Value>13:30</Value>
		<Value>18:00</Value>
		<Value>23:00</Value>
	</Reset_Time>
	<Refresh_Time>
		<Get_Data>180</Get_Data>
		<Change_Page>20</Change_Page>
	</Refresh_Time>
	<Data>
		<Data_Count>60</Data_Count>
	</Data>
</AppSetting>
