HTML {
	FONT-SIZE: 100.01%
}
BODY {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
P {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H1 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H2 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H3 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H4 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H5 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H6 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
LI {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
TR {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
TD {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
TH {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
DD {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
DT {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
BODY {
	MARGIN: 0pt; BACKGROUND-COLOR: #ffffff
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
TH {
	FONT-WEIGHT: bold
}
H1 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
H2 {
	COLOR: #ff9900
}
H3 {
	COLOR: #ff9900
}
H5 {
	COLOR: #ff9900
}
H1 {
	FONT-SIZE: 16pt
}
H2 {
	FONT-SIZE: 13pt
}
H3 {
	FONT-SIZE: 12pt; LETTER-SPACING: -1px
}
H4 {
	MARGIN-TOP: 2px; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-BOTTOM: 2px
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 65%; COLOR: #666666
}
PRE {
	PADDING-RIGHT: 7pt; PADDING-LEFT: 7pt; PADDING-BOTTOM: 7pt; FONT: 9pt "Courier New", Courier, mono; OVERFLOW: auto! important; PADDING-TOP: 7pt; WHITE-SPACE: pre; BACKGROUND-COLOR: #fbedbb
}
CODE {
	FONT-SIZE: 11pt; COLOR: #990000; FONT-FAMILY: "Courier New" , Courier, mono
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
A:unknown {
	outline: none
}
TT.equation {
	FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: 'Times New Roman', serif; WHITE-SPACE: pre
}
.FormInput {
	WIDTH: 500px
}
.FormInputLong {
	WIDTH: 800px
}
.MenuCat {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: 160px; COLOR: #ffffff; PADDING-TOP: 2px; FONT-FAMILY: Arial,Verdana; BACKGROUND-COLOR: #333; BORDER-RIGHT-WIDTH: 0px
}
.MenuSectionBlock {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 160px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: #ffcc66; BORDER-RIGHT-WIDTH: 0px
}
.MenuChapter {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ff9900 0px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #ff9900 1px solid; WIDTH: 160px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffcc66
}
.MenuChapter A {
	COLOR: #000000
}
.MI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; WIDTH: 155px! important; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffe0b3
}
.MI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; WIDTH: 155px! important; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffe0b3
}
.MIS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; WIDTH: 155px! important; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffe0b3
}
.MIS A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; WIDTH: 155px! important; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffe0b3
}
.MI A:hover {
	BACKGROUND-COLOR: #ffefdb; TEXT-DECORATION: none
}
.MIS {
	BACKGROUND-COLOR: #ffefdb; TEXT-DECORATION: none
}
.MIS A {
	BACKGROUND-COLOR: #ffefdb; TEXT-DECORATION: none
}
.HeaderLogo {
	BACKGROUND-COLOR: #ff9900
}
.HeaderBanner {
	VERTICAL-ALIGN: middle; WIDTH: 100%; BACKGROUND-COLOR: #ff9900; TEXT-ALIGN: right
}
.MainBlockHeader {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #cccccc 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ededed
}
.TitleHeader {
	FONT-SIZE: 13px
}
.MainBlockContent {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid
}
.MainBlockContent SPAN {
	FONT-SIZE: 8pt
}
.MainBlockContent TD {
	FONT-SIZE: 8pt
}
.FeatureBlockHeader {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #ff9900 1px solid; COLOR: #990000; PADDING-TOP: 2px; BORDER-BOTTOM: #ff9900 1px; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffe0b3
}
.FeatureBlockHeader A {
	COLOR: #990000
}
.FeatureBlockContent {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #ff9900 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff9900 1px solid; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #fffaf0
}
.FeatureBlockContent LI {
	FONT-SIZE: 8pt
}
.FeatureBlockContent TD {
	FONT-SIZE: 8pt
}
.FeatureBlockContent P {
	FONT-SIZE: 8pt
}
.FeatureBox {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: black 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: black 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #fffaf0
}
.FeatureTable {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white
}
.FeatureTable TD {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid
}
.AwdObj {
	WIDTH: 90%
}
.AwdObj #cname {
	WIDTH: 20%
}
.FeatureHeader {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffcc66
}
.FeatureTable THEAD {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffcc66
}
.FeatureTable TR.AltItem {
	BACKGROUND-COLOR: #fef9e7
}
.BlockExtraText {
	PADDING-LEFT: 20px; TEXT-TRANSFORM: none
}
.TitleBar {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 1.6em; FLOAT: left; MARGIN-BOTTOM: 5px; COLOR: #488e00; FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; TEXT-ALIGN: left
}
.TitleBarSideText {
	MARGIN-TOP: 20px; FONT-WEIGHT: normal; FONT-SIZE: 0.85em; FLOAT: right; TEXT-ALIGN: right
}
.Divider {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #ff9900; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #ff9900
}
.DividerFaint {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #ccc; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #ccc
}
.JoinHeader {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 17px; PADDING-BOTTOM: 4px; MARGIN: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: black 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffcc66
}
.JoinHeader A {
	COLOR: #990000; HEIGHT: 20px
}
.ShopHeader {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 17px; PADDING-BOTTOM: 4px; MARGIN: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: black 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #76ab40
}
.ShopHeader A {
	FILTER: Shadow(color=#000000,strength=1,direction=135); COLOR: white; HEIGHT: 20px
}
.MemberNavBar {
	BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #ffcc66
}
.MemberNavBarText {
	FONT-SIZE: 0.9em; COLOR: black; FONT-FAMILY: verdana,Sans-Serif; LETTER-SPACING: -1px
}
.MemberNavBarText A {
	FONT-SIZE: 0.9em; COLOR: black; FONT-FAMILY: verdana,Sans-Serif; LETTER-SPACING: -1px
}
.SiteNavBar TD {
	BORDER-RIGHT: #488e00 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #488e00 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #488e00 1px solid; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #488e00 1px solid; POSITION: relative; BACKGROUND-COLOR: #488e00
}
.SiteNavBar TD A {
	BORDER-RIGHT: #488e00 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #488e00 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #488e00 1px solid; COLOR: white; PADDING-TOP: 1px; BORDER-BOTTOM: #488e00 1px solid; HEIGHT: 16px
}
.SiteNavBar A:hover {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: black; PADDING-TOP: 1px; BACKGROUND-COLOR: #c3de6c; TEXT-DECORATION: none
}
TD.SelCat {
	BORDER-LEFT-COLOR: #488e00; BORDER-BOTTOM-COLOR: #488e00; BORDER-TOP-COLOR: #488e00; BACKGROUND-COLOR: #c3de6c; BORDER-RIGHT-COLOR: #488e00
}
TD.SelCat A {
	BORDER-LEFT-COLOR: #c3de6c; BORDER-BOTTOM-COLOR: #c3de6c; COLOR: black; BORDER-TOP-COLOR: #c3de6c; BACKGROUND-COLOR: #c3de6c; BORDER-RIGHT-COLOR: #c3de6c
}
.CatChooser {
	PADDING-RIGHT: 3px; MARGIN-TOP: 5px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 3px; WIDTH: 100%; PADDING-TOP: 3px; BORDER-BOTTOM: #ff9900 1px solid
}
.CatChooser TD {
	PADDING-RIGHT: 11px; FONT-SIZE: 8pt; WHITE-SPACE: nowrap
}
.CatChooser A {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
.CatChooserSel A {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #ff9900 1px solid; BORDER-BOTTOM: #ff9900 1px solid; BACKGROUND-COLOR: #ffe0b3
}
.CatChooser A:hover {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; BORDER-LEFT: #ff9900 1px solid; BORDER-BOTTOM: #ff9900 1px solid; BACKGROUND-COLOR: #ffe0b3; TEXT-DECORATION: none
}
.SearchHeaderBar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ededed
}
.LHNavBar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 160px; PADDING-TOP: 3px; BACKGROUND-COLOR: #ff9900
}
.ContentPane {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; MIN-HEIGHT: 300px; VERTICAL-ALIGN: top; ; WIDTH: expression(document.body.clientWidth < 973? "813px" : document.body.clientWidth-160); PADDING-TOP: 3px; POSITION: relative; ; HEIGHT: expression(this.height < 300? "300px" : "auto")
}
.ArticlePane {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; MIN-HEIGHT: 300px; VERTICAL-ALIGN: top; ; WIDTH: expression(document.body.clientWidth < 973? "813px" : document.body.clientWidth-160); PADDING-TOP: 3px; POSITION: relative; ; HEIGHT: expression(this.height < 300? "300px" : "auto")
}
.RHFeatureBar {
	VERTICAL-ALIGN: top; OVERFLOW: hidden; WIDTH: 160px; max-width: 160px
}
.precollapse {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fbedbb
}
 HTML .no-vmads {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 100%; PADDING-TOP: 0px
}
.FormButton {
	FONT-WEIGHT: 700; FONT-SIZE: 90%; BORDER-LEFT-COLOR: #ffefdb; BORDER-BOTTOM-COLOR: #ffefdb; COLOR: white; BORDER-TOP-COLOR: #ffefdb; BACKGROUND-COLOR: #e08900; BORDER-RIGHT-COLOR: #ffefdb
}
.TextButton {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: 500; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; CURSOR: pointer; COLOR: blue; BACKGROUND-COLOR: white; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.LargeText {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt
}
.SmallText {
	FONT-SIZE: 8pt
}
.TinyText {
	FONT-SIZE: 7pt
}
.SeparatorBottom {
	VERTICAL-ALIGN: top; COLOR: #ff9900; TEXT-DECORATION: none; text-shadow: none
}
.SeparatorTop {
	VERTICAL-ALIGN: bottom; COLOR: #ff9900; TEXT-DECORATION: none; text-shadow: none
}
.SiteError {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 10px; MARGIN-LEFT: 20px; WIDTH: 80%; PADDING-TOP: 10px
}
.Caption {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-STYLE: italic
}
.Filename {
	FONT-STYLE: italic
}
.Command {
	FONT-WEIGHT: bold
}
.Warning {
	BORDER-RIGHT: red 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: red 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 20px; BORDER-LEFT: red 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: red 1px solid; BACKGROUND-COLOR: #ffe3e0
}
.Error {
	COLOR: red
}
.Error LI {
	COLOR: red
}
.Success {
	FONT-WEIGHT: bold; COLOR: green
}
.Failure {
	FONT-WEIGHT: bold; COLOR: red
}
.Callout {
	BORDER-RIGHT: blue 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: blue 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 20px; BORDER-LEFT: blue 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: blue 1px solid; BACKGROUND-COLOR: #ffffcc
}
.highlight {
	BACKGROUND-COLOR: yellow
}
.bold {
	FONT-WEIGHT: bold
}
.emphasis {
	COLOR: red
}
.subdue {
	COLOR: #666
}
.NB {
	BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.NBL {
	BORDER-LEFT-STYLE: none! important
}
.NBR {
	BORDER-RIGHT-STYLE: none! important
}
.NBS {
	BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important
}
.OffSite {
	COLOR: #666
}
.AddTo {
	FONT-SIZE: 8pt; MARGIN: 4px; CURSOR: pointer
}
.ArticleTable {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse
}
.ArticleTableNoBorder {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse
}
.ArticleTableNoBorder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.ArticleTable TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleTableNoBorder TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleTable TH {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.ArticleTable THEAD {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ebf6ff
}
.ArticleTableNoBorder THEAD {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ebf6ff
}
.ArticleTable TFOOT {
	FONT-WEIGHT: bold
}
.ArticleTableNoBorder TFOOT {
	FONT-WEIGHT: bold
}
.ArticleTable TR.ArticleTableRow {
	BACKGROUND-COLOR: #ebf6ff
}
.ArticleTableNoBorder TR.ArticleTableRow {
	BACKGROUND-COLOR: #ebf6ff
}
.ArticleTable TR.ArticleTableAltRow {
	BACKGROUND-COLOR: #ddf0fe
}
.ArticleTableNoBorder TR.ArticleTableAltRow {
	BACKGROUND-COLOR: #ddf0fe
}
.ArticleTable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleTableNoBorder TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleTable TD {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.EditorReportTable {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #dadada
}
.EditorReportTable TH {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid
}
.EditorReportTable THEAD {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ff9900
}
.EditorReportTable TFOOT {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #85bc4c
}
.EditorReportTable TR.EditorReportRow {
	BACKGROUND-COLOR: #fafafa
}
.EditorReportTable TD {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid
}
.EditorComment {
	BORDER-RIGHT: #ff9900 thin solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff9900 thin solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff9900 thin solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff9900 thin solid; BACKGROUND-COLOR: yellow
}
UL.InfoList {
	MARGIN-TOP: 5px; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px
}
UL.InfoList LI {
	PADDING-BOTTOM: 5px
}
UL.download {
	MARGIN-LEFT: 1.5em
}
UL.download LI {
	PADDING-LEFT: 0.5em; LIST-STYLE-IMAGE: url(/images/download.gif); FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI.download {
	PADDING-LEFT: 0.5em; LIST-STYLE-IMAGE: url(/images/download.gif); FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL.delegate LI {
	LIST-STYLE-IMAGE: url(/images/symbols/delegate.gif)
}
LI.delegate {
	LIST-STYLE-IMAGE: url(/images/symbols/delegate.gif)
}
UL.enum LI {
	LIST-STYLE-IMAGE: url(/images/symbols/Enum.GIF)
}
LI.enum {
	LIST-STYLE-IMAGE: url(/images/symbols/Enum.GIF)
}
UL.event LI {
	LIST-STYLE-IMAGE: url(/images/symbols/event.GIF)
}
LI.event {
	LIST-STYLE-IMAGE: url(/images/symbols/event.GIF)
}
UL.interface LI {
	LIST-STYLE-IMAGE: url(/images/symbols/interface.GIF)
}
LI.interface {
	LIST-STYLE-IMAGE: url(/images/symbols/interface.GIF)
}
UL.literal LI {
	LIST-STYLE-IMAGE: url(/images/symbols/literal.GIF)
}
LI.literal {
	LIST-STYLE-IMAGE: url(/images/symbols/literal.GIF)
}
UL.method LI {
	LIST-STYLE-IMAGE: url(/images/symbols/method.GIF)
}
LI.method {
	LIST-STYLE-IMAGE: url(/images/symbols/method.GIF)
}
UL.namespace LI {
	LIST-STYLE-IMAGE: url(/images/symbols/namespace.GIF)
}
LI.namespace {
	LIST-STYLE-IMAGE: url(/images/symbols/namespace.GIF)
}
UL.property LI {
	LIST-STYLE-IMAGE: url(/images/symbols/property.GIF)
}
LI.property {
	LIST-STYLE-IMAGE: url(/images/symbols/property.GIF)
}
UL.struct LI {
	LIST-STYLE-IMAGE: url(/images/symbols/struct.GIF)
}
LI.struct {
	LIST-STYLE-IMAGE: url(/images/symbols/struct.GIF)
}
UL.compactlist LI {
	FONT-SIZE: 8pt; LIST-STYLE-IMAGE: url(/images/smallarrow.gif); MARGIN-BOTTOM: 0px; MARGIN-LEFT: -1em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI.compactlist {
	FONT-SIZE: 8pt; LIST-STYLE-IMAGE: url(/images/smallarrow.gif); MARGIN-BOTTOM: 0px; MARGIN-LEFT: -1em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL.compactlist {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
LI.horizontal {
	PADDING-RIGHT: 1em; DISPLAY: inline; PADDING-LEFT: 1em; FLOAT: left; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
UL.horizontal {
	WHITE-SPACE: nowrap; LIST-STYLE-TYPE: circle
}
.SpacedList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.MenuGroup {
	FONT-WEIGHT: bold; COLOR: gray; FONT-STYLE: italic
}
.OptionInGroup {
	PADDING-LEFT: 10px
}
DT {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 6px
}
DD {
	MARGIN-BOTTOM: 6px; MARGIN-LEFT: 25px
}
.code-comment {
	COLOR: #008000; FONT-STYLE: italic
}
.code-SummaryComment {
	COLOR: #808080
}
.code-keyword {
	COLOR: blue
}
.code-SDKkeyword {
	COLOR: #339999
}
.code-preprocessor {
	COLOR: navy
}
.code-string {
	COLOR: purple
}
.code-literal {
	COLOR: navy
}
.code-pagedirective {
	BACKGROUND-COLOR: yellow
}
.code-attribute {
	COLOR: red
}
.code-tag {
	COLOR: #800000
}
.code-leadattribute {
	COLOR: #800000
}
.code-digit {
	COLOR: navy
}
.code-none {
	COLOR: #000
}
.RatingBar {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; BORDER-LEFT: #ff9900 1px solid; BORDER-BOTTOM: #ff9900 1px solid; BACKGROUND-COLOR: #fbedbb
}
.RatingBar TR {
	FONT-SIZE: 8pt
}
.HistTable {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-LEFT: 7px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fffaf0; TEXT-ALIGN: center
}
.HistTable TD {
	FONT-SIZE: 6pt; VERTICAL-ALIGN: bottom
}
.ArticleHeader {
	BORDER-BOTTOM: #cccccc 1px solid
}
.ArticleUneditedHeader {
	BORDER-BOTTOM: #cccccc 1px solid
}
.ArticlePurgatoryHeader {
	BORDER-BOTTOM: #cccccc 1px solid
}
.ArticleHeader {
	BACKGROUND-COLOR: #fbedbb
}
.ArticleUneditedHeader {
	BACKGROUND-COLOR: #e6e6fa
}
.ArticlePurgatoryHeader {
	BACKGROUND-COLOR: #e3e3e3
}
.ArticleReady {
	COLOR: green
}
.ArticleLocked {
	COLOR: red
}
.ArticlePending {
	COLOR: #333
}
.SectionTOC {
	
}
.SectionTOCHeader {
	BORDER-TOP: #ffcc66 1px solid; BORDER-BOTTOM: #ffcc66 1px solid; BACKGROUND-COLOR: #ffe0b3
}
.SectionTOCHeader TD {
	BORDER-TOP: #ffcc66 1px solid; BORDER-BOTTOM: #ffcc66 1px solid; BACKGROUND-COLOR: #ffe0b3
}
.SectionTOCRow {
	PADDING-BOTTOM: 15px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fffaf0
}
.SectionTOCRow TD {
	PADDING-BOTTOM: 15px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fffaf0
}
.SectionTOCUneditedRow {
	PADDING-BOTTOM: 15px; BORDER-BOTTOM: #fbedbb 1px solid; BACKGROUND-COLOR: #c0cbee
}
.SectionTOCUneditedRow TD {
	PADDING-BOTTOM: 15px; BORDER-BOTTOM: #fbedbb 1px solid; BACKGROUND-COLOR: #c0cbee
}
.ArticleAttributes {
	MARGIN-TOP: 3px; COLOR: #666666
}
.ArticleDescription {
	FONT-SIZE: 8pt; COLOR: #666666
}
.ArticleBeginner {
	FONT-WEIGHT: bold; COLOR: green
}
.ArticleIntermediate {
	DISPLAY: none
}
.ArticleAdvanced {
	FONT-WEIGHT: bold; COLOR: red
}
.ImagePreview {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; BORDER-LEFT: #333 1px solid; BORDER-BOTTOM: #333 1px solid
}
.QueueArticle {
	
}
.QueueArticleComment {
	
}
.QueueArticleOnHold {
	
}
.QueueArticleCommentOnHold {
	
}
.QueueArticleQueued {
	
}
.QueueArticleCommentQueued {
	
}
.QueueArticlePosting {
	COLOR: green
}
.QueueArticleCommentPosting {
	COLOR: green
}
.QueueArticlePosted {
	COLOR: green
}
.QueueArticleCommentPosted {
	COLOR: gray
}
.QueueArticleNeedAssistance {
	FONT-WEIGHT: bold; COLOR: red
}
.QueueArticleCommentNeedAssistance {
	COLOR: red
}
.QueueArticleNeedAttention {
	FONT-WEIGHT: bold; COLOR: red
}
.QueueArticleCommentNeedAttention {
	COLOR: red
}
.MemberBronze {
	BACKGROUND-COLOR: #cc9966
}
.MemberSilver {
	BACKGROUND-COLOR: silver
}
.MemberGold {
	BACKGROUND-COLOR: #ffcc00
}
.MemberPlatinum {
	BACKGROUND-COLOR: #99ccff
}
.IndustryHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.SurveyBriefHeader {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ff9900 1px solid; COLOR: #990000; PADDING-TOP: 2px; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Arial,Verdana; BACKGROUND-COLOR: #ffe0b3
}
.SurveyBlockContent {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ff9900 1px; PADDING-LEFT: 3px; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #ff9900 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff9900 1px solid; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #fffaf0
}
.SurveySubline {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black
}
.SurveyQPrmpt {
	FONT-SIZE: 8pt
}
.SurveyVoteBar {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px; BORDER-LEFT: #cccccc 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial,Verdana; BACKGROUND-COLOR: #ededed
}
.SurveyTable {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ededed 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ededed 1px solid; BACKGROUND-COLOR: #fafafa
}
.SurveyVoteTable {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; BACKGROUND-COLOR: #fffaf0
}
.SurveyVoteCell {
	FONT-SIZE: 8pt
}
.SurveyCell {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ededed 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.SurveyHeader {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ff9900
}
.SurveyBody {
	BACKGROUND-COLOR: #ffffff
}
.SurveyFooter {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #488e00
}
.SurveyHeaderCell {
	COLOR: white
}
.AttrBarMainHover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; OVERFLOW: hidden; FONT-FAMILY: verdana; WHITE-SPACE: nowrap; TEXT-OVERFLOW: clip
}
.AttrBarMain {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana
}
.AttrBarSubHover {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #ff9900 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffe0b3
}
.AttrBarSub {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: verdana; HEIGHT: 18px; BACKGROUND-COLOR: white
}
.AttrBarCont {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: white
}
.AttrScrollBox {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; SCROLLBAR-FACE-COLOR: #ff9900; FONT-SIZE: 8pt; OVERFLOW: auto; BORDER-LEFT: gray 1px solid; WIDTH: 120px; SCROLLBAR-ARROW-COLOR: white; BORDER-BOTTOM: gray 1px solid; HEIGHT: 150px
}
.ASBVers {
	PADDING-LEFT: 10px; FONT-SIZE: 7pt; OVERFLOW: hidden; WHITE-SPACE: nowrap
}
.NavBarMainHover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: verdana; BACKGROUND-COLOR: #c3de6c
}
.NavBarMain {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: verdana; BACKGROUND-COLOR: #488e00
}
.NavBarSubHover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: verdana; BACKGROUND-COLOR: #c3de6c
}
.NavBarSub {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: verdana; BACKGROUND-COLOR: #488e00
}
.NavBarCont {
	BACKGROUND-COLOR: #488e00
}
.AdminMessageTable {
	
}
.AdminMessageCell {
	
}
.AdminMessageDiv {
	
}
.AdminMessageList {
	
}
.AdminTrace {
	BORDER-RIGHT: red 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: red 1px dashed; PADDING-LEFT: 5px; FONT-SIZE: 7pt; PADDING-BOTTOM: 5px; MARGIN: 10px 20px 5px; BORDER-LEFT: red 1px dashed; PADDING-TOP: 5px; BORDER-BOTTOM: red 1px dashed; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ededed
}
.Archive {
	
}
.ArchiveHeader {
	BORDER-TOP: #ffcc66 1px solid; BORDER-BOTTOM: #ffcc66 1px solid; BACKGROUND-COLOR: #ffe0b3
}
.ArchiveHeader TD {
	BORDER-TOP: #ffcc66 1px solid; BORDER-BOTTOM: #ffcc66 1px solid; BACKGROUND-COLOR: #ffe0b3
}
.ArchiveRow {
	PADDING-BOTTOM: 15px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fffaf0
}
.ArchiveRow TD {
	PADDING-BOTTOM: 15px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fffaf0
}
.ZoneBlockHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-LEFT: 0px; BORDER-BOTTOM: #efefef 5px dotted; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap
}
.ZoneSponsor {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #666666
}
.ZoneSponsor A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #666666
}
.ZoneList {
	MARGIN-TOP: 7px
}
.ZoneBlockHeader A {
	COLOR: #000
}
.ZoneBlockContent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; PADDING-TOP: 5px; TEXT-OVERFLOW: ellipsis
}
.Gradient {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(/script/jobs/images/gradient.gif); BACKGROUND-REPEAT: repeat-x
}
.JobBox {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 15px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid
}
.AdTextLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 300px; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.LatestJobsHeader {
	BORDER-TOP: #ffcc66 1px solid; BORDER-BOTTOM: #ffcc66 1px solid; BACKGROUND-COLOR: #ffe0b3
}
.WinnersCompetitionNameCell {
	WIDTH: 150px; WHITE-SPACE: nowrap
}
.SmallParagraph {
	PADDING-TOP: 7px
}
.CompetitionTable {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ededed 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ededed 1px solid
}
.CompetitionCell {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ededed 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.CompetitionHeader {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ff9900
}
.CompetitionHeaderCell {
	COLOR: white
}
.CompetitionAlternativeRow {
	BACKGROUND-COLOR: #fffaf0
}
.StatusBox {
	WIDTH: 200px
}
.LinkButton {
	FONT-SIZE: 7pt; CURSOR: pointer; FONT-FAMILY: Verdana
}
.Veil {
	Z-INDEX: 2; FILTER: alpha(opacity=75); POSITION: absolute; BACKGROUND-COLOR: #fff; moz-opacity: .75; opacity: .75
}
.NewsHL {
	
}
.NewsBL {
	FONT-STYLE: italic
}
.NewsItem {
	FONT-SIZE: 8pt
}
.NewsSource {
	FONT-SIZE: 8pt; COLOR: #333; FONT-STYLE: italic
}
.AdSection {
	BACKGROUND-COLOR: #fbedbb
}
