.zhi {
	FONT-SIZE: 12px; FONT-FAMILY: "宋體"
}
A.1:link {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.1:visited {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.1:active {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.1:hover {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.2:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.2:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.2:active {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.2:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.3:link {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.3:visited {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.3:active {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.3:hover {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.4:link {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.4:visited {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.4:active {
	FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.4:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.front:link {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #0158c5; LINE-HEIGHT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.front:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #0158c5; LINE-HEIGHT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.front:active {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff6600; LINE-HEIGHT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.front:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff6600; LINE-HEIGHT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.a1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0158c5; TEXT-INDENT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.a1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0158c5; TEXT-INDENT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.a1:active {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ff6600; TEXT-INDENT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.a1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ff6600; TEXT-INDENT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.a2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #1b6b00; TEXT-INDENT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.a2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #1b6b00; TEXT-INDENT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.a2:active {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ff6600; TEXT-INDENT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.a2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ff6600; TEXT-INDENT: 28px; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.listA:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.listA:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.listA:active {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.listA:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.LinkArticleCorrelative:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.LinkArticleCorrelative:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.listA:active {
	FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.LinkArticleCorrelative:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
.zhi12 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.zhi1 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.zhi2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.zhi3 {
	FONT-SIZE: 12px; LINE-HEIGHT: 21px; FONT-FAMILY: "宋體"
}
.zhi4 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.zhi5 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.zhi6 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.zhi15 {
	FONT-SIZE: 15px; LINE-HEIGHT: 25px; FONT-FAMILY: "宋體"
}
.button1 {
	BORDER-RIGHT: #cccccc 1px outset; BORDER-TOP: #cccccc 1px outset; FONT-SIZE: 9pt; BACKGROUND: #ffffff; BORDER-LEFT: #cccccc 1px outset; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px outset; HEIGHT: 16px
}
.lanyu2 {
	BORDER-RIGHT: #98c56b 1px solid; BORDER-TOP: #98c56b 1px solid; BORDER-LEFT: #98c56b 1px solid; BORDER-BOTTOM: #98c56b 1px solid
}
.lanyu {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; DISPLAY: inline; FONT-SIZE: 12px; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid; FONT-FAMILY: "宋體"; HEIGHT: 16px
}
.zhi13 {
	FONT-SIZE: 13px; LINE-HEIGHT: 22px; FONT-FAMILY: "宋體"
}
.zhi14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 23px; FONT-FAMILY: "宋體"
}
.zhi17 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #003399; FONT-FAMILY: "宋體"
}
.listbg {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.lsitbg2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.yin {
	FONT-SIZE: 12px; FILTER: DropShadow(Color=#FFFFFF,OffX=1, OffY=1); FONT-FAMILY: "宋體"
}
.yin13 {
	FONT-SIZE: 13px; FILTER: DropShadow(Color=#FFFFFF,OffX=1, OffY=1); COLOR: #093349; LINE-HEIGHT: 17px; FONT-FAMILY: "宋體"
}
.kuang {
	BORDER-RIGHT: #919191 1px solid; BORDER-TOP: #919191 1px solid; BORDER-LEFT: #919191 1px solid; BORDER-BOTTOM: #919191 1px solid
}
.kuang2 {
	BORDER-RIGHT: #e3e3e3 1px solid; BORDER-TOP: medium none; BORDER-LEFT: #e3e3e3 1px solid; BORDER-BOTTOM: medium none
}
.kuang3 {
	BORDER-RIGHT: #f4a201 3px solid; BORDER-TOP: medium none; BORDER-LEFT: #f4a201 3px solid; BORDER-BOTTOM: #f4a201 3px solid
}
.ji {
	FONT-SIZE: 24px; FONT-FAMILY: "宋體"
}
.aa {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0158c5; FONT-STYLE: normal; FONT-FAMILY: "宋體"
}
.bb {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #1b6b00; FONT-STYLE: normal; FONT-FAMILY: "宋體"
}
