TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
DIV {
	FONT-SIZE: 12px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: auto; BACKGROUND-COLOR: #303880; TEXT-ALIGN: center
}
A IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #3366cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #3366cc; TEXT-DECORATION: none
}
A:active {
	COLOR: #6699ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff4400; TEXT-DECORATION: none
}
A.wz:link {
	FONT-SIZE: 12px; COLOR: #003499; TEXT-DECORATION: none
}
A.wz:visited {
	FONT-SIZE: 12px; COLOR: #003499; TEXT-DECORATION: none
}
A.wz:active {
	FONT-SIZE: 12px; COLOR: #6699ff; TEXT-DECORATION: none
}
A.wz:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
A.iblue:link {
	COLOR: #003499; TEXT-DECORATION: none
}
A.iblue:visited {
	COLOR: #003499; TEXT-DECORATION: none
}
A.iblue:active {
	COLOR: #6699ff; TEXT-DECORATION: none
}
A.iblue:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.ared:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.ared:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.ared:active {
	COLOR: #6699ff; TEXT-DECORATION: none
}
A.ared:hover {
	COLOR: #dc143c; TEXT-DECORATION: none
}
A.p1:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.p1:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.p1:active {
	COLOR: #ff4400; TEXT-DECORATION: none
}
A.p1:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.afff:link {
	COLOR: #fff; TEXT-DECORATION: none
}
A.afff:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
A.afff:active {
	COLOR: #fff; TEXT-DECORATION: none
}
A.afff:hover {
	COLOR: #dce5ff; TEXT-DECORATION: none
}
A.afmenu:link {
	FILTER: progid:DXImageTransform.Shadow(color=#000000,direction=135,strength=1); COLOR: #fff
}
A.afmenu:visited {
	FILTER: progid:DXImageTransform.Shadow(color=#000000,direction=135,strength=1); COLOR: #fff
}
A.afmenu:active {
	FILTER: progid:DXImageTransform.Shadow(color=#000000,direction=135,strength=1); COLOR: #fff
}
A.afmenu:hover {
	COLOR: #dce5ff; TEXT-DECORATION: none
}
A.afcc:link {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
A.afcc:visited {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
A.afcc:active {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
A.afcc:hover {
	COLOR: #fff000; TEXT-DECORATION: none
}
A.ershou:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ershou:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ershou:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ershou:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.brown:link {
	COLOR: #be7240; TEXT-DECORATION: none
}
A.brown:visited {
	COLOR: #be7240; TEXT-DECORATION: none
}
A.brown:active {
	COLOR: #be7240; TEXT-DECORATION: none
}
A.brown:hover {
	COLOR: #be7240; TEXT-DECORATION: none
}
A.ared2:link {
	COLOR: #c60404; TEXT-DECORATION: none
}
A.ared2:visited {
	COLOR: #c60404; TEXT-DECORATION: none
}
A.ared2:active {
	COLOR: #c60404; TEXT-DECORATION: none
}
A.ared2:hover {
	COLOR: #c60404; TEXT-DECORATION: none
}
.td {
	BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid
}
LI {
	LIST-STYLE-TYPE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.space {
	LETTER-SPACING: 5px
}
.blackbox {
	COLOR: #ff6600
}
.blackbox A:link {
	COLOR: #000
}
.blackbox A:visited {
	COLOR: #000
}
.blackbox A:hover {
	COLOR: #ff6600
}
.blackbox A:active {
	COLOR: #ff6600
}
.bluebox {
	COLOR: #ff6600
}
.bluebox A:link {
	COLOR: #003499
}
.bluebox A:visited {
	COLOR: #003499
}
.bluebox A:active {
	COLOR: #ff6600
}
.bluebox A:hover {
	COLOR: #ff6600
}
.l14 {
	LINE-HEIGHT: 14px
}
.l16 {
	LINE-HEIGHT: 16px
}
.l18 {
	LINE-HEIGHT: 18px
}
.l20 {
	LINE-HEIGHT: 20px
}
.l22 {
	LINE-HEIGHT: 22px
}
.l24 {
	LINE-HEIGHT: 24px
}
.l26 {
	LINE-HEIGHT: 26px
}
.art_title {
	COLOR: #339900
}
.time {
	COLOR: #ff6800
}
.b {
	FONT-WEIGHT: bold
}
.fff {
	COLOR: #fff
}
.999 {
	COLOR: #999999
}
.555 {
	COLOR: #555555
}
.color555 {
	COLOR: #555555
}
.color999 {
	COLOR: #999999
}
.red {
	COLOR: #ff0000
}
.red2 {
	COLOR: #c60404
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.f21 {
	FONT-SIZE: 21px
}
.f22 {
	FONT-SIZE: 22px
}
.box172 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 5px; LETTER-SPACING: 1px
}
.box192 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #c90205; PADDING-TOP: 3px; LETTER-SPACING: 1px; TEXT-ALIGN: center
}
.box_left14 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 2px; LETTER-SPACING: 1px
}
.box_left12 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 5px; LETTER-SPACING: 1px
}
.fil {
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1)
}
.fil_black {
	FILTER: dropshadow(color=#000000,offx=1,offy=1)
}
.fil_menu {
	FILTER: DropShadow(Color=#666666, OffX=1, OffY=1, Positive=1)
}
.fil3_ddd {
	FILTER: progid:DXImageTransform.Microsoft.DropShadow(color=#ffdddddd,offX=3,offY=3,positives=true)
}
.fil4_ddd {
	FILTER: progid:DXImageTransform.Microsoft.DropShadow(color=#ffdddddd,offX=4,offY=4,positives=true)
}
.hand {
	CURSOR: hand
}
.inp {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.pad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px
}
.pad2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px
}
.padb3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px
}
.padb4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.padt2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.padt4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.padt6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.padt8 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.hideme {
	DISPLAY: none
}
.spanclass {
	LEFT: 1px; VISIBILITY: hidden; WIDTH: 10px; POSITION: absolute; TOP: 1px; HEIGHT: 1px
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #009933; LINE-HEIGHT: 144%
}
.article {
	FONT-SIZE: 14px; COLOR: #313131; LINE-HEIGHT: 150%
}
.sfont {
	LINE-HEIGHT: 20px
}
#comment_tag  {
	FONT-SIZE: 9pt
}
#comment_tag TABLE {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#comment_tag TR {
	BACKGROUND-COLOR: lightgrey
}
#comment_tag .row0 {
	BACKGROUND-COLOR: lightblue
}
#comment_tag .row1 {
	BACKGROUND-COLOR: lightgreen
}
#comment_tag TD.cmt_brief SPAN {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 300px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.code {
	BORDER-RIGHT: #0099cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0099cc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #0099cc 1px solid; WIDTH: 520px; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #0099cc 1px solid; FONT-FAMILY: "Verdana", "Courier", "Courier New", "mono"; BACKGROUND-COLOR: #ddedfb
}
.imgborder {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid
}
