.but_bg {
	BORDER-RIGHT: #ccc 1px outset; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px outset; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: url(button-bg.gif) repeat-x left top; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px outset; CURSOR: pointer; COLOR: #666; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px outset; HEIGHT: 19px
}
.but_bg1 {
	BORDER-RIGHT: #000000 1px outset; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px outset; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(button-bg.gif) repeat-x left top; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px outset; CURSOR: pointer; COLOR: #666; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px outset; HEIGHT: 19px
}
.but_bg2 {
	BORDER-RIGHT: #000000 1px outset; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px outset; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(button-bg.gif) repeat-x left top; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px outset; CURSOR: pointer; COLOR: #666; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px outset; HEIGHT: 19px
}
.dltd1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.8; PADDING-TOP: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.dltd2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 40px; LINE-HEIGHT: 1.8; PADDING-TOP: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.dltd3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 1.8; PADDING-TOP: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.dltitbg1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 7px; FONT-FAMILY: arial,helvetica; LETTER-SPACING: 2px; BACKGROUND-COLOR: #006194; TEXT-DECORATION: none
}
.dl_viewtd1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; PADDING-TOP: 5px
}
.dl_viewtd2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.dl_viewtd3 {
	PADDING-RIGHT: 0px; BORDER-TOP: #dedfde 5px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 30px; LINE-HEIGHT: 19px; PADDING-TOP: 20px
}
.dl_tdtit {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 7px; FONT-FAMILY: Arial; LETTER-SPACING: 3px; BACKGROUND-COLOR: #9c9a9c
}
.dl_td1 {
	BORDER-RIGHT: #9c9a9c 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 7px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #abddf8; TEXT-ALIGN: center
}
.dl_td2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 7px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #abddf8; TEXT-ALIGN: center
}
.dl_td11 {
	BORDER-RIGHT: #9c9a9c 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #9c9a9c 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial
}
.dl_td12 {
	PADDING-RIGHT: 10px; BORDER-TOP: #9c9a9c 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial
}
.dl_td21 {
	BORDER-RIGHT: #9c9a9c 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #9c9a9c 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial
}
.dl_td22 {
	PADDING-RIGHT: 10px; BORDER-TOP: #9c9a9c 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial
}
.dl_td101 {
	BORDER-RIGHT: #9c9a9c 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 7px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #abddf8
}
.dl_td102 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 7px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #abddf8
}
.dl_td201 {
	BORDER-RIGHT: #9c9a9c 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #9c9a9c 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 7px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #abddf8
}
.dl_td202 {
	PADDING-RIGHT: 10px; BORDER-TOP: #9c9a9c 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 7px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #abddf8
}
.faq_viewtd1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 19px; PADDING-TOP: 5px
}
.faq_viewtd2 {
	PADDING-RIGHT: 0px; BORDER-TOP: #dedfde 5px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 19px; PADDING-TOP: 10px
}
.repairtd30 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; BORDER-BOTTOM: #8e569b 2px solid
}
.repairtd31 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; BORDER-BOTTOM: #8e569b 2px solid; LETTER-SPACING: 2px
}
.repairtd32 {
	PADDING-TOP: 6px
}
.repairtd33 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; PADDING-TOP: 10px; LETTER-SPACING: 2px
}
.repairtd34 {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 22px; PADDING-TOP: 6px
}
.eduviewtd1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; COLOR: #006194; PADDING-TOP: 2px; FONT-FAMILY: Arial
}
.eduviewtd2 {
	FONT-SIZE: 9pt; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; FONT-FAMILY: Arial
}
.prod_tabtd1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; LIST-STYLE-POSITION: outside; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 25px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana; LIST-STYLE-TYPE: disc
}
.prod_tabtd2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 16px; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
.prod_tabtd31 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
.prod_tabtd32 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 8pt; PADDING-BOTTOM: 20px; LINE-HEIGHT: 18px; PADDING-TOP: 5px; FONT-FAMILY: Verdana
}
.prod_tabtd41 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
.prod_tabtd42 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
.prod_tabtd43 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
