/*翻牌girl皮肤*/
/*大背景*/
#wrap{
    background-image:url(//p5.ssl.qhimg.com/t0107648bea6c0373f8.png);
}
/*顶部banner*/
.topBanner{
    background-image: url(//p0.ssl.qhimg.com/t014b3d1f19ee04cf0f.png);
}
/*剩余时间*/
.lastTimes{
    color: #faee28;
    border: 3px solid #ff2d84;
    background: #570707;
}
.lastTimes span{
    color: #ff3df3;
}
/*正常牌框*/
.box li{
    background-image: url(//p2.ssl.qhimg.com/t019091ff2c4b103286.png);
}
/*牌面四图*/
.coverPic1{
    background-image: url(//p3.ssl.qhimg.com/t01b968336ffff1ebf1.png);
}
.coverPic2{
    background-image: url(//p0.ssl.qhimg.com/t01412033bd3279d610.png);
}
.coverPic3{
    background-image: url(//p3.ssl.qhimg.com/t01b968336ffff1ebf1.png);
}
.coverPic4{
    background-image: url(//p0.ssl.qhimg.com/t01bfbac921d42da430.png);
}
/*当前牌闪光动画*/
.box li.active{
    background-image: url(//p1.ssl.qhimg.com/t015f5d5624478fbdf6.png);
}