A:active {
	COLOR: #0000ff; FONT-FAMILY: "§ºÊ^"; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:link {
	COLOR: #0000ff; FONT-FAMILY: "§ºÊ^"; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ff; FONT-FAMILY: "§ºÊ^"; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; FONT-FAMILY: "§ºÊ^"; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.title {
	COLOR: #000000; FONT-FAMILY: "§ºÊ^"; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.content1 {
	COLOR: #000000; FONT-FAMILY: "§ºÊ^"; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.content2 {
	COLOR: #666666; FONT-FAMILY: "§ºÊ^"; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.end {
	COLOR: #0066cc; FONT-FAMILY: "§ºÊ^"; FONT-SIZE: 12px; TEXT-DECORATION: none
}
