BODY {
	FONT-SIZE: 12pt; BACKGROUND: url(images/o_headbg.gif) #f8f8f8 repeat-x; MARGIN: 0px; FONT-FAMILY: ms shell dlg
}
#classnavbar {
	DISPLAY: none
}
P.date {
	DISPLAY: none
}
#nadframe {
	DISPLAY: none
}
H1 {
	PADDING-RIGHT: 40px; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: url(images/o_head.jpg) no-repeat; MARGIN: 0px; BORDER-BOTTOM: #adbb88 6px solid; FONT-FAMILY: ms shell dlg; HEIGHT: 175px
}
H1 A:link {
	COLOR: #2e9ce9
}
H1 A:active {
	COLOR: #2e9ce9
}
H1 A:hover {
	COLOR: #2e9ce9
}
#Header1_HeaderTitle {
	FLOAT: left; WIDTH: 100%; PADDING-TOP: 116px; TEXT-ALIGN: right
}
#main {
	BORDER-RIGHT: #000000 1px dotted; MARGIN-TOP: 0px; BACKGROUND: #fff; FLOAT: left; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 40px; WIDTH: 80%; PADDING-TOP: 20px
}
#rightmenu {
	MARGIN-TOP: 10px; PADDING-LEFT: 0px; FONT-SIZE: 13px; FLOAT: right; BACKGROUND-COLOR: transparent; WORD-WRAP: break-word
}
#footer {
	CLEAR: both; BORDER-TOP: medium none; FONT-SIZE: 8pt; WIDTH: 100%; PADDING-TOP: 5px; POSITION: relative; TEXT-ALIGN: center
}
A:visited {
	COLOR: #2e9ce9; TEXT-DECORATION: none
}
A:active {
	COLOR: #2e9ce9; TEXT-DECORATION: none
}
A:link {
	COLOR: #2e9ce9; TEXT-DECORATION: none
}
A:hover {
	COLOR: #88bbff; TEXT-DECORATION: underline
}
BLOCKQUOTE {
	BORDER-RIGHT: #f4f4f4 1px solid; PADDING-RIGHT: 11px; BORDER-TOP: #f4f4f4 1px solid; PADDING-LEFT: 11px; FONT-SIZE: 10pt; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 0px; BORDER-LEFT: #f4f4f4 1px solid; COLOR: #5b5b5b; LINE-HEIGHT: 150%; PADDING-TOP: 0px; BORDER-BOTTOM: #f4f4f4 1px solid; FONT-STYLE: normal
}
H1 A:visited {
	
}
H1 A:active {
	
}
H1 A:link {
	
}
H1 A:hover {
	
}
.post {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; FONT-SIZE: 14px; LINE-HEIGHT: 200%; WORD-WRAP: break-word
}
H5 {
	FONT-SIZE: 14px; FONT-FAMILY: bold
}
.postTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; BORDER-BOTTOM: #d6d6d6 1px dotted
}
.postText {
	FONT-SIZE: 14px; LINE-HEIGHT: 180%
}
H3 {
	FONT-SIZE: 14px; COLOR: #000000; BORDER-BOTTOM: #d6d6d6 1px dotted; BACKGROUND-COLOR: transparent
}
.listitem {
	PADDING-BOTTOM: 3px; WIDTH: 180px; PADDING-TOP: 3px; BORDER-BOTTOM: #e4e4e4 1px dotted
}
INPUT {
	FONT-SIZE: 10pt; COLOR: gray; FONT-FAMILY: Verdana
}
LABEL {
	FONT-SIZE: 10pt; COLOR: gray; FONT-FAMILY: Verdana
}
INPUT.text {
	WIDTH: 381px
}
LI {
	TABLE-LAYOUT: fixed; FONT-SIZE: 10pt; WIDTH: 180px; FONT-STYLE: normal; WORD-WRAP: break-word
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 A:visited {
	FONT-SIZE: 14px
}
H2 A:active {
	FONT-SIZE: 14px
}
H2 A:link {
	FONT-SIZE: 14px
}
H2 A:hover {
	FONT-SIZE: 14px
}
.dateTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #97ac5f; PADDING-TOP: 0px; HEIGHT: 26px
}
P.date IMG {
	VERTICAL-ALIGN: middle
}
.postFoot {
	FONT-SIZE: 9pt; COLOR: #d3d3d3; BORDER-BOTTOM: #d6d6d6 1px dotted; TEXT-ALIGN: right
}
SPAN.highlight {
	BACKGROUND-COLOR: transparent
}
TD {
	FONT-SIZE: 10pt
}
TEXTAREA {
	FONT-SIZE: 10pt; WIDTH: 300px; COLOR: #000000; HEIGHT: 200px
}
.CommentForm {
	PADDING-RIGHT: 40px; BORDER-TOP: #d6d6d6 1px dotted; PADDING-LEFT: 70px; COLOR: #a9a9a9; PADDING-TOP: 20px
}
#comments {
	PADDING-RIGHT: 40px; PADDING-LEFT: 70px; FONT-SIZE: 13px; COLOR: #888
}
#comments H4 {
	FONT-SIZE: 13px
}
#relatedlinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#rightmenu H3 {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 5px; BORDER-TOP: medium none; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 10px 0px 0px; BORDER-LEFT: medium none; WIDTH: 100px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #d6d6d6 1px dotted; BACKGROUND-COLOR: transparent
}
#rightmenu UL {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 5px; BORDER-TOP: medium none; PADDING-LEFT: 5px; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: medium none; LINE-HEIGHT: 150%; PADDING-TOP: 5px; BORDER-BOTTOM: medium none; LIST-STYLE-TYPE: none
}
#rightmenu LI {
	FONT-SIZE: 13px
}
#tagline {
	FONT-SIZE: 12px; RIGHT: 20px; MARGIN: 0px; VERTICAL-ALIGN: bottom; COLOR: #fff; FONT-FAMILY: ms shell dlg; POSITION: absolute; TOP: 150px; TEXT-ALIGN: right
}
#rigthtag {
	
}
DIV.RecentComment {
	WIDTH: 180px
}
.block_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.code {
	BORDER-RIGHT: #d9d9d9 1px dotted; PADDING-RIGHT: 10px; BORDER-TOP: #d9d9d9 1px dotted; PADDING-LEFT: 10px; BACKGROUND: #f4f4f4; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #d9d9d9 1px dotted; WIDTH: 90%; PADDING-TOP: 10px; BORDER-BOTTOM: #d9d9d9 1px dotted
}
.postFoot {
	CLEAR: both; PADDING-TOP: 6px
}
BR {
	CLEAR: both
}
I {
	COLOR: green; FONT-STYLE: normal
}
TABLE {
	TABLE-LAYOUT: fixed; WORD-WRAP: break-word
}
DIV {
	WORD-WRAP: break-word
}
UL {
	WORD-WRAP: break-word
}
P {
	WORD-WRAP: break-word
}
FONT {
	WORD-WRAP: break-word
}
