DIV {
	WORD-BREAK: break-all
}
A:link {
	FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #999999; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
H1.title {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px 2px; COLOR: #ffffff; PADDING-TOP: 10px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1.title A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1.title A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1.title A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #666666; BORDER-BOTTOM: #ff6600 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2.diaryTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
DIV.operation H3 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN: 0px 0px 5px; COLOR: #333333; PADDING-TOP: 10px; BORDER-BOTTOM: #003366 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
DIV.operation H4 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 10px; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
DIV.operation H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN: 0px; COLOR: #333333; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
DIV.operation BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.operation TD {
	FONT-SIZE: 9pt
}
DIV#container {
	MARGIN: 0px auto; WIDTH: 780px
}
DIV#header {
	HEIGHT: 70px; BACKGROUND-COLOR: #012c65
}
.textStyle {
	FONT-SIZE: 9pt; WIDTH: 430px; COLOR: #333333; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #4c4c4c 1px solid; BORDER-TOP: #ffffff 1px solid; MARGIN-TOP: 5px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; WIDTH: auto; COLOR: #000000; LINE-HEIGHT: 18px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #4c4c4c 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
INPUT.inputStyle {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 18px
}
DIV.entity {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
DIV#category {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 27px
}
DIV#category A:link {
	FONT-SIZE: 11pt; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#category A:visited {
	FONT-SIZE: 11pt; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#category A:hover {
	FONT-SIZE: 11pt; COLOR: #999999; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
DIV.operation {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%; TEXT-ALIGN: center
}
P {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
P.diaryFoot {
	PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px dashed; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #4e5c76; PADDING-TOP: 2px; TEXT-ALIGN: right
}
P.trackback {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: italic
}
P.comment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 10px 30px; PADDING-TOP: 0px
}
TABLE.comment {
	MARGIN-LEFT: 130px; WIDTH: 570px
}
DIV#footer {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 780px; PADDING-TOP: 5px; HEIGHT: 13px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
DIV#footer A:link {
	FONT-SIZE: 7px; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:visited {
	FONT-SIZE: 7px; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:hover {
	FONT-SIZE: 7px; COLOR: #0099ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
IMG.logo {
	MARGIN: 5px 15px -3px 0px
}
DIV.operation {
	
}
