BODY {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "細明體"
}
DIV {
	FONT-SIZE: 12px; COLOR: #333333
}
SELECT {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "細明體"
}
TH {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "細明體"
}
A:link {
	COLOR: #3366cc; FONT-FAMILY: "細明體"; TEXT-DECORATION: none
}
A:visited {
	COLOR: #3366cc; TEXT-DECORATION: none
}
A:active {
	COLOR: #6699ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff4400; TEXT-DECORATION: none
}
.kbhide {
	DISPLAY: none
}
#floater {
	Z-INDEX: -1; LEFT: 0px; VISIBILITY: visible; WIDTH: 5px; POSITION: absolute; TOP: 0px
}
.sfont {
	LINE-HEIGHT: 20px
}
.greenb {
	FONT-WEIGHT: bold; COLOR: #308080
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #009933; LINE-HEIGHT: 144%
}
.pt9 {
	FONT-SIZE: 12px
}
.tch {
	COLOR: #ff0000
}
.article {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%
}
.underline {
	TEXT-DECORATION: underline
}
.spanclass {
	LEFT: 1px; VISIBILITY: hidden; WIDTH: 760px; POSITION: absolute; TOP: 1px; HEIGHT: 1px
}
A.p1 {
	COLOR: #000000
}
A.p1:visited {
	COLOR: #000000
}
A.p1:hover {
	COLOR: #ff4400
}
A.p1:active {
	COLOR: #ff6600
}
.dh {
	FONT-SIZE: 12px; COLOR: #eeeeee; LINE-HEIGHT: 19px; FONT-FAMILY: "細明體"
}
.bodyright {
	BORDER-RIGHT: #ffdda2 1px solid; BORDER-LEFT: #000000 1px solid
}
.bodyleft {
	BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #ffdda2 1px solid
}
.leftbottom {
	BORDER-LEFT: #ffdda2 1px solid; BORDER-BOTTOM: #ffdda2 1px solid
}
.topbottom {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #ffdda2 1px solid
}
.rightbottom {
	BORDER-RIGHT: #ffdda2 1px solid; BORDER-BOTTOM: #ffdda2 1px solid
}
.bottom {
	BORDER-BOTTOM: #444444 1px solid
}
.allborder {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
.dingwei {
	POSITION: relative
}
.font1 {
	FONT-SIZE: 12px; FILTER: dropshadow(color=#FFFFCC,offx=1,offy=1); COLOR: #000000; FONT-FAMILY: "細明體"
}
.font_menu2 {
	FONT-SIZE: 12px; FILTER: dropshadow(color=#FFFFCC,offx=1,offy=1); COLOR: #000000; FONT-FAMILY: "細明體"
}
.font_menu3 {
	FONT-SIZE: 12px; FILTER: dropshadow(color=#FFFFCC,offx=1,offy=1); COLOR: #000000; FONT-FAMILY: "細明體"
}
.font4 {
	FONT-SIZE: 12px; FILTER: dropshadow(color=#ffffff,offx=1,offy=1); COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "細明體"
}
.font5 {
	FONT-SIZE: 12px; FILTER: dropshadow(color=#ffffff,offx=1,offy=1); COLOR: #000000; FONT-FAMILY: "細明體"
}
.code {
	BORDER-RIGHT: #0099cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0099cc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #0099cc 1px solid; WIDTH: 480px; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #0099cc 1px solid; FONT-FAMILY: &quot; BACKGROUND-COLOR: #ddedfb; Verdana: ; quot: ; Courier: ; mono: 
}
.imgborder {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid
}
#comment_tag  {
	FONT-SIZE: 9pt
}
#comment_tag TABLE {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#comment_tag TR {
	BACKGROUND-COLOR: lightgrey
}
#comment_tag .row0 {
	BACKGROUND-COLOR: lightblue
}
#comment_tag .row1 {
	BACKGROUND-COLOR: lightgreen
}
#comment_tag TD.cmt_brief SPAN {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 300px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
