<?xml version="1.0" encoding="utf-8" ?>
<AppSetting>
	<Position_Size>
		<Top>0</Top>
		<Left>0</Left>
		<Width>640</Width>
		<Height>480</Height>
	</Position_Size>
	<COM_Port>3</COM_Port>
	<Title_Video>C:\titlevideo.wmv</Title_Video>
	<R_Video>C:\mainvideo.wmv</R_Video>
	<O_Video>C:\mainvideo.wmv</O_Video>
</AppSetting>
