body {
 background-color: #eee;
 margin-right: 1%;
 margin-left: 1%;
 margin-top: 1%;
 margin-bottom: 1%
}

p {
 color : #000;
 text-align : justify;
}

.bloque {
 background-color: #fff;
 display : table;
 width : 100%; 
}

.cab-izq {
 padding : 4px;
 float : left;
}

.cab-der {
 padding : 4px;
 text-align : right;
 float : right;
}

.cab-centr {
 padding : 1em;
 text-align : center;
}

.izquierda {
 float : left;
 background-color: #ccc;
 border : 1px solid #00f;
 width : 10em;
 font-size: normal;
}

.derecha {
 float : right;
 background-color: #ccc;
 border : 1px solid #00f;
 width : 10em;
 text-align : center;
 margin-left : 1em;
}

.centro {
 float : center;
 margin-left : 11em;
}

a.menu {
 display : block;
 padding-left : 1em;
 text-decoration : none;
}

a.menu:link {
 color : #00f;
}

a.menu:visited {
 color : #303;
}

a.menu:hover {
 background : #eee;
 color : #f00;
}

/*.principal {
 margin-left : 20%;
 margin-bottom : 0;
}*/

.abajo {
 float : left;
 width : 100%;
 margin-top : 0%;
 padding : 4px;
}

.copyright {
 color : #03c;
 font-family : Verdana, Arial, Helvetica, sans-serif;
 font-size : xx-small;
 font-style : italic;
 text-align : right;
 width : 100%;
}

h1 {  
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: x-large; 
 color: #069
}

h2 {  
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 color: #CCF; 
 background-color: #039; 
 padding-top: 2px; 
 padding-right: 2px; 
 padding-bottom: 2px; 
 padding-left: 2px; 
 font-size: large
}

h3 {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 color: #CCF; 
 background-color: #039; 
 padding-top: 2px; 
 padding-right: 2px; 
 padding-bottom: 2px; 
 padding-left: 2px; 
 margin: 0; 
 text-align: center;
 font-size: medium
}

h4 {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 color: #CCF; 
 background-color: #06c; 
 padding-top: 2px; 
 padding-right: 2px; 
 padding-bottom: 2px; 
 padding-left: 2px; 
 margin: 0; 
 text-align: center;
 font-size: small
}

h5 {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 color: #FFF; 
 background-color: #06c; 
 padding-top: 2px; 
 padding-right: 2px; 
 padding-bottom: 2px; 
 padding-left: 2px; 
 margin: 0; 
 text-align: center;
 font-size: x-large
}

.peque {
 font-size: x-small;
}

.barra {  
 font-family: Arial, Helvetica, sans-serif; 
 background-color: #ddd; 
 font-weight: bold; 
 padding-top: 5px; 
 padding-right: 5px; 
 padding-bottom: 5px; 
 padding-left: 5px; 
 text-align: left; 
}

a:link {  
}

a:visited {  
 color: #606
}

a:hover {  
 color: #F00; 
 text-decoration: none
}

a:active {  
 color: #F00; 
 text-decoration: none
}

a.letras {
 text-decoration : none;
 color : #aaa;
}

a.letras:active {  
 color : #aaa;
}

a.letras:link {
 color : #aaa;
}

a.letras:visited {
 color : #aaa;
}

a.letras:hover {
 color : #fff;
}

.lista {
 background-color: #888; 
 color : #fff;
}

.alterno {
 background-color: #ccc; 
}

.rojo {  
 color: #F00
}

.verde {  
 color: #0a0
}

.ejemplo {  
 font-family: "Courier New", Courier, mono;
 font-size : 14px;
 color: #009;
 background-color: #ddd;
 border : 2px solid blue;
 padding-top: 10px; 
 padding-right: 10px; 
 padding-bottom: 10px; 
 padding-left: 10px; 
}

.sintaxis {  
 font-family: "Courier New", Courier, mono; 
 font-size: 14px;
 color: #093;
 background-color: #ddd;
 border : 2px solid green;
 padding-top: 10px; 
 padding-right: 10px; 
 padding-bottom: 10px; 
 padding-left: 10px; 
}

.salida {  
 font-family: "Courier New", Courier, mono; 
 font-size: 14px;
 color: #550;
 background-color: #ddd;
 border : 2px solid #f80;
 padding-top: 10px; 
 padding-right: 10px; 
 padding-bottom: 10px; 
 padding-left: 10px; 
}
