body {
font-family: "Verdana";
font-size: 10pt;
color: black;
background-color: #D59FB2;
/*background-color: #E5AFC2;*/
/*background-color: lightgray;*/
/*margin: .5em auto .5em auto;*/
padding: 0;
}

.title {
font-family: "Microsoft JhengHei", "微軟正黑體", "Apple LiSung Light";
display: inline-block;
margin-left: .05em;
font-size: 8em;
font-weight: 900;
text-shadow:
5px 0 rgba(255,255,255,0.8), -5px 0 rgba(255,255,255,0.8), 0 -5px rgba(255,255,255,0.8), 0 5px rgba(255,255,255,0.8), 3px 3px rgba(255,255,255,0.8), -3px 3px rgba(255,255,255,0.8), 3px -3px rgba(255,255,255,0.8), -3px -3px rgba(255,255,255,0.8),
6px 0 black, -6px 0 black, 0 -6px black, 0 6px black, 4px 4px black, -4px 4px black, 4px -4px black, -4px -4px black;
}

.border1, .border2 {
display: block;
overflow: hidden;
position: fixed;
z-index: -1;
background-image: url(border.png);
background-position: top left;
background-repeat: repeat-x;
width: 130%;
height: 200px;
}
.border1 {
left: 0%;
top: 0%;
transform: translate(-40px, -100px) rotate(-10deg);
}
.border2 {
left: 0%;
top: 100%;
transform: translate(-40px, -140px) rotate(170deg);
}

.page {
padding: 0;
margin: 0;
width: 970px;
min-width: 970px;
}

a {
font-family: "Palatino Linotype", "Palatino", "Times New Roman",
             "Microsoft JhengHei", "微軟正黑體", "Apple LiSung Light";
font-size: 14pt;
line-height: 1.5em;
letter-spacing: 1px;
}
a, a:link, a:visited, a:active, a:hover {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: darkred;}

.c {
display: inline-block;
text-align: center;
vertical-align: top;
padding: 0;
margin: 0;
margin-top: 1.5em;
margin-bottom: 1.5em;
}

.b {
display: block;
text-align: left;
vertical-align: top;
width: 23em;
min-width: 23em;
max-width: 23em;
overflow: hidden;
margin-bottom: .5em;
margin-left: .5em;
margin-right: .5em;
padding: 0;
}

.t {
letter-spacing: 1px;
font-size: 14pt;
display: block;
text-align: center;
vertical-align: middle;
line-height: 1em;
height: auto;
margin: 0;
padding: .5em 0 .5em 0;
}

.l {
display: block;
text-align: left;
/*background-color: #CCCCCC;*/
background-color: #F2D7E0;
background-color: rgba(242,215,224,0.8);
border: 1px solid gray;
border-radius: 128px / 2px;
height: auto;
margin: 0;
padding: .5em 1em .5em 1em;
}

input {
font-family: "Consolas";
font-size: 16pt;
background-color: transparent;
border: none;
padding: 0;
width: 100%;
}