body {
font-size: 14pt;
font-family: "Palatino Linotype", "Palatino", "Times New Roman",
             "Microsoft JhengHei", "微軟正黑體", "Apple LiSung Light";
color: black;
/*background-color: lightgray;*/
background-color: #D59FB2;
text-align: left;
margin: .5em auto .5em auto;
padding: 0;
}

.border1, .border2 {
display: block;
overflow: hidden;
position: fixed;
z-index: -1;
background-image: url(border.png);
background-position: top left;
background-repeat: repeat-x;
width: 130%;
height: 200px;
}
.border1 {
left: 0%;
top: 0%;
transform: translate(-40px, -100px) rotate(-10deg);
}
.border2 {
left: 0%;
top: 100%;
transform: translate(-40px, -140px) rotate(170deg);
}

a, a:link, a:visited, a:hover, a:active {
color: brown;
text-decoration: underline;
target: current none;
}
a:hover {color: darkred;}

.e a, .e a:link, .e a:visited, .e a:hover, .e a:active {
target: new tab;
}

/* article */
.a {
display: block;
overflow: hidden;
text-align: left;
line-height: 1.5em;
color: black;
/*background-color: #CCCCCC;*/
background-color: rgba(242,215,224,0.8);
background-image: url(bg1.gif);
background-position: top right;
background-repeat: no-repeat;
background-attachment: scroll;
border: 1px solid gray;
border-radius: 16px;
width: 34em;
height: auto;
padding: .5em 1em .5em 1em;
margin: .5em 0 .5em 15em;
}

/* header */
.h {
display: block;
overflow: hidden;
}

/* banner */
.b {
display: block;
vertical-align: middle;
text-indent: 0;
color: black;
width: auto;
margin: 0;
padding: 0;
font-size: 18pt;
font-weight: bold;
}

/* ranking */
.r, .w {
display: block;
vertical-align: middle;
text-indent: 0;
color: black;
width: auto;
margin: 0;
padding: 0;
font-size: 12pt;
}

/* poem */
.w {
text-align: right;
}

/* content */
.c {
display: block;
overflow: hidden;
text-align: left;
line-height: 1.5em;
color: black;
height: auto;
}

/* title */
.t {
text-indent: 0;
text-align: left;
color: black;
/*background-color: #CCCCCC;
background-color: rgba(223,223,223,0.5);*/
background-color: #E5AFC2;
background-color: rgba(229,175,194,0.8);
border: 1px solid gray;
border-radius: 2em / 1em;
width: auto;
padding: 0 2em 0 2em;
font-weight: bold;
}

/* paragraph */
p {
text-indent: 2em;
text-align: left;
width: 30em;
padding-left: 2em;
}

/* math */
u {text-decoration: overline;}
sub {vertical-align: -25%;}
pre sub {margin-left: 3px;}

/* block */
pre, .pre {
font-family: "Consolas",
             "Microsoft JhengHei", "微軟正黑體";
font-size: 12pt;
font-weight: normal;
line-height: 1.5em;
text-indent: 0;
color: black;
border-top: 2px dashed gray;
border-bottom: 2px dashed gray;
width: auto;
padding: .5em 0 .5em 0;
margin-left: 2em;
margin-right: 2em;
word-wrap: break-word;
}
.pre {
border: none;
padding: 0;
margin-top: -1.5em;
white-space: pre;
}

table pre {
display: block;
border: 0;
margin: 0;
text-align: center;
width: auto;
}

/* exercise */
.e {
font-size: 12pt;
font-weight: bold;
text-indent: 0;
text-align: left;
line-height: 2em;
word-spacing: .5em;
letter-spacing: 2px;
color: black;
background-color: #CCCCCC;
background-color: rgb(201,214,201);
border: 1px solid gray;
border-left: 0;
border-right: 0;
border-radius: 30em / 3em;
width: auto;
margin: .5em 0 .5em 0;
padding: 0 5em 0 5em;
word-wrap: break-word;
}

/* link */
.l {
font-size: 8pt;
font-style: normal;
font-weight: normal;
target: new tab;
}

/* GWT demo */
.d {
text-indent: 0;
margin-left: 0;
margin-right: auto;
}

/* canvas */
.i {
text-align: center;
}

iframe {
display: block;
margin: 0 auto 0 auto;
width: 560;
height: 315;
border: none;
}

img, object, embed, audio {
display: block;
margin: 0 auto 0 auto;
}

.seq {
display: block;
text-align: center;
}
.seq img {
vertical-align: middle;
display: inline;
margin: 0;
}

/* sidebar */
.m {
display: block;
font-family: Verdana;
font-size: 10pt;
font-weight: bold;
line-height: 1em;
text-align: center;
text-indent: 0;
color: black;
/*background-color: #CCCCCC;*/
background-color: rgba(242,215,224,0.5);
background-image: url(bg2.gif);
background-position: bottom left;
background-repeat: no-repeat;
background-attachment: scroll;
border: 1px solid gray;
border-radius: 16px;
padding: 0;
width: 19.5em;
min-width: 19.5em;
max-width: 19.5em;
height: auto;
min-height: 97%;
overflow: hidden;
vertical-align: top;
position: fixed;
left: .5em;
top: .5em;
z-index: 1;
}

.m .li {
display: block;
text-align: left;
line-height: 1.5em;
border-bottom: 1px dotted gray;
height: auto;
margin: 0;
padding: .3em .66em .3em .66em;
}

.m .li:first-child {
font-size: 14pt;
}

.m a, .m a:link, .m a:visited, .m a:hover, .m a:active {
text-decoration: none;
color: black;
}
.m a:hover {color: darkred;}

/* code  */
.sh {
display: block;
overflow: visible;
font-family: "Lucida Console", "Courier New";
font-size: 12pt;
line-height: 1.5em;
color: black;
width: auto;
margin: .5em 2em .5em 2em;
word-wrap: break-word;
word-break: break-all;
}

/* code title */
.sh .bar {
color: black;
/*background-color: #CCCCCC;
background-color: rgba(223,223,223,0.3);*/
background-color: #E5AFC2;
background-color: rgba(229,175,194,0.3);
border: 1px solid gray;
border-bottom: 0;
border-top-right-radius: 16px;
border-top-left-radius: 16px;
padding-left: 1em;
}

/* line number + content */
.sh ol {
/*background-color: #CCCCCC;*/
background-color: #F2D7E0;
list-style: decimal outside !important;
margin: 0 !important;
border: 1px solid gray;
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}

/* content  */
.sh ol li {
margin-left: .5em; /* line number */
border-top: 1px dotted gray;
}
.sh ol li:first-child {
border: 0;
}

.sh .comment, .sh .comments {color: #008200;}
.sh .string, .sh .char {color: #069;}
.sh .macro {color: purple;}
.sh .type {color: #069;}
.sh .keyword {color: blue;}
.sh .word {}
.sh .value, .sh .hex {color: brown;}

/* friendly print */
@media print {
.m {display: none;}

.a {margin: .5em 0 .5em 0; padding: .5em 0 .5em 0; border: none;}
.body {font-size: 12pt;}
.b {font-size: 14pt;}
p {font-size: 12pt;}
.c {line-height: 1.2em;}
pre {line-height: 1.2em;}

.e {background-color: white;}

.sh {font-size: 10pt;}
.sh .bar {background-color: white;}
.sh ol li {border: none;}
}