BODY {
	MARGIN-TOP: 0pt; FONT-SIZE: 10pt; MARGIN-LEFT: 0pt; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial, 'Sans Serif'; BACKGROUND-COLOR: white
}
.maintitle {
	FONT-WEIGHT: bold; FONT-SIZE: 24pt; COLOR: #cc3300; FONT-FAMILY: 'Times New Roman', Garamond, Georgia, Serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.paratitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #ff0000; FONT-FAMILY: Georgia, Times New Roman, Courier New; TEXT-DECORATION: none
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #0000ff; FONT-FAMILY: Georgia, Times New Roman, Courier New; TEXT-DECORATION: none
}
.exotitle {
	FONT-WEIGHT: normal; FONT-SIZE: 14pt; COLOR: fuchsia; FONT-FAMILY: Georgia, Times New Roman, Courier New; TEXT-DECORATION: none
}
.defPopup {
	FONT-WEIGHT: bold; CURSOR: hand; COLOR: blue
}
.deftitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #cc3300; FONT-FAMILY: Georgia, Times New Roman, Courier New; TEXT-DECORATION: none
}
.parajust {
	MARGIN-TOP: 8pt; FONT-SIZE: 10pt; MARGIN-BOTTOM: 10pt; MARGIN-LEFT: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif; TEXT-ALIGN: justify
}
.pcenter {
	TEXT-ALIGN: center
}
PRE {
	FONT-SIZE: 10pt; COLOR: blue; FONT-FAMILY: 'Courier New', Verdana, Helvetica, 'Sans Serif'
}
LI {
	MARGIN-TOP: 6pt; FONT-SIZE: 10pt; MARGIN-BOTTOM: 6pt; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif
}
TD {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif
}
BLOCKQUOTE {
	FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif
}
SPAN {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif
}
.keylink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, 'Sans Serif'
}
A.keylink:link {
	COLOR: green; TEXT-DECORATION: none
}
A.keylink:unknown {
	COLOR: brown; TEXT-DECORATION: none
}
A.keylink:visited {
	COLOR: blue; TEXT-DECORATION: none
}
A.keylink:hover {
	COLOR: red; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif; TEXT-DECORATION: none
}
A:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff00ff; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: green; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Verdana, Helvetica, Arial, Sans Serif; TEXT-DECORATION: none
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff00ff; FONT-FAMILY: Georgia, Times New Roman, Courier New; TEXT-DECORATION: underline
}
