@font-face {
    font-family: "SIMKAI";
 src:url("/images/fonts/SIMKAI.eot");
 src:url("/images/fonts/SIMKAI.eot?#iefix") format("embedded-opentype"), url("/images/fonts/SIMKAI.woff") format("woff"), url("/images/fonts/SIMKAI.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SIMKAI_B";
 src:url("/images/fonts/SIMKAI.eot");
 src:url("/images/fonts/SIMKAI.eot?#iefix") format("embedded-opentype"), url("/images/fonts/SIMKAI.woff") format("woff"), url("/images/fonts/SIMKAI.TTF") format("truetype");
    /*font-weight: bolder;*/
    font-style: normal;
}