body,ul,ol,li,dl,dt,dd,form,p,em,span,select,input,textarea,fieldset,abbr,table,td,h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px;}
body{ font-size:14px; line-height:1.5em; font-family: 'Microsoft Yahei'; background:#fff;position:relative;}
h1,h2,h3,h4,h5,h6{font-weight: normal}
ul,ol,li{ list-style:none;}
select,input,img{ vertical-align:middle; outline:none;}
img{ border:none;}
a,a:hover{ text-decoration:none; outline:none;}
a:focus{ text-decoration: none;}
html{ overflow-x:hidden;}
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.clear{clear: both;}
.fl { float: left; }
.fr { float: right;}
@media (min-width:1200px) {
.container{width:1032px;!important}
}
@media (min-width:320px) {
.navst{position: fixed;top:0; left:0; right:0; width:100%;z-index:9999;transition: all ease-in-out 0.2s}

}
@media (max-width:992px) {
.csdn-toolbar,.pub_fo{display:none;}
}
/*commom*/
.title{background:url(../images/bg_title.png) no-repeat center 25px;font-size:24px;text-align:center;color:#fff;padding-bottom:48px;padding-top:56px;}
/*banner*/
.banner{position:relative;}
.pc_banner{background:url(https://img-bss.csdn.net/201809201226144734.jpg)no-repeat right center;height:728px;}
.mob_banner{display:none;}
.mob_banner img{width:100%;}
/*nav*/
.navbar{margin-bottom: 0;}
.navbar-inverse{border-color: transparent;border-width:0;background-color:#000;}
.navbar-inverse .navbar-nav{position:relative;}
.navbar-inverse .navbar-nav>li>a{color: #ffffff;font-size:16px; padding:25px 18px;box-sizing:border-box;}
/*.navbar-inverse .navbar-nav>.list_lili{width:80px}*/
.navbar-inverse .navbar-nav>.list_lili a{padding:25px 5px;display:inline-block}
.navbar-inverse .navbar-nav>.list_lili .color{color:#3092ff;}
.navbar-inverse .navbar-nav>.list_lili span{color: #ffffff;font-size:16px;}
.navbar-inverse .navbar-nav>li.nav_buy>a{padding:12px 5px;}
.navbar-inverse .navbar-nav>li.act_d>a{color:#3092ff;border-bottom:3px solid #3075ff;}
.navbar-inverse .navbar-nav>.nav_buy{position:absolute;right:-180px;}
.navbar-inverse .navbar-toggle{border-color:#fff;color: #000522;padding: 6px 8px;border-radius: 0;background-color: #fff}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background: #fff}
/*introduce*/
.introduce{background:#001343;}
.introduce_text{font-size:16px;line-height:32px;text-align:justify;color:#fff;padding-bottom:54px;}
/*news*/
.news{background:#001343;}
.news .news_h{padding-bottom:55px;}
.news .topic a{display:block;font-size:20px;color:#3092ff;line-height:32px;background:url(../images/bar.png) repeat-y left center;padding-left:17px;text-align:justify;}
.news .time{font-size:14px;color:#bdbdbd;line-height:36px;padding-left:20px;}
.news .con{font-size:14px;color:#ffffff;line-height:28px;margin-top:9px;text-align:justify;}
.news .news_ul li a{display:block;background:url(../images/point.png) no-repeat left center;font-size:14px;padding:6px 0px;}
.news .news_ul li a:hover span{color:#3092ff;}
.news .news_ul li a .news_span{color:#fff;display:inline-block;padding-left:20px;}
.news .news_ul li a .news_time{color:#bdbdbd;display:inline-block;float:right;}
/*chairperson*/
.chairperson{background:#000522;}
.people_img{padding:17px 12px 15px 22px;background:url(../images/bg_circle.png) no-repeat center center;background-size:cover;}
.people_img img{border-radius:50%;width:100%;}
.people_massage{padding-top:16px;padding-bottom:21px;}
.people_massage .people_name{color:#3092ff;font-size:16px;line-height:24px;text-align:center;margin-bottom:3px;}
.people_massage .people_detail{color:#ffffff;font-size:14px;line-height:24px;text-align:center;}
/*guest*/
.guest{background:#000522;}
.guest .guest_data_box{overflow:hidden;}
.guest .guest_data_box .guest_data{width:25%;float:left;padding:15px 0px;text-align:center;font-size:20px;color:#3092ff;border-bottom:1px solid #163886}
.guest .guest_data_box .guest_data:hover{cursor:pointer;}
.guest .guest_data_box .act_data{border-bottom:2px solid #3075ff;padding-bottom:14px;color:#fff;}
.guest .con_box{padding-top:20px;padding-bottom:56px;}
.guest .con_box .child_box{display:none;}
.guest .con_box .child_box_act{display:block;}
.guest .con_box .child_box_tit{text-align:center;}
.guest .con_box .child_box_tit .child_box_sub{width:16.2%;color:#fff;font-size:16px;background:#112c6f;height:48px;line-height:48px;display:inline-block;vertical-align:middle;text-align:center;}
.guest .con_box .child_box_tit .child_box_sub:hover{cursor:pointer;}
.guest .con_box .child_box_tit .child_box_sub_act{background:#3075ff;}
.guest .peo_box .peo_box_con{display:none;padding-top:40px;}
.guest .peo_box .peo_box_con_act{display:block;}

/*overview*/
.overview{background: url(../images/bg_overview.jpg) no-repeat center center;background-size:cover;padding-bottom:60px;}
.overview .overview_box{background:rgba(24,68,161,.8);padding:21px;}
.overview .overview_box .overview_data{text-align:center;font-size:22px;color:#fff;}
.overview .overview_box .overview_am,.overview_pm{background:#0e5dc3;border:1px solid #4d88ff;color:#fff;text-align:center;padding:14px;}
.overview .overview_box .overview_am{margin-top:20px;font-size:15px;}
.overview .overview_box .overview_pm{margin-top:9px;font-size:15px;}

/*data*/
.data{background:#000520;}
.data_box{padding-bottom:0px;}

.meeting_t{font-size:24px;text-align: center;line-height:28px;color:#3092ff;margin-bottom:5px;}
.meeting_d{font-size:16px;text-align: center;line-height:28px;color:#fff;margin-bottom:12px;}
.meeting_c,.meeting_x{padding-bottom:65px;}
.meeting_c table tr td{font-size:14px;line-height:24px;padding:10px 5px;text-align:center;color:#fff;border-bottom:1px solid #0658b1;border-right:1px solid #0658b1;
width:22%;background:#0079e0;}
.meeting_c table tr:nth-child(1) td{background:#0658b1;}
.meeting_c table:nth-child(1) .tab_c td{background:#0658b1;}
.meeting_c table:nth-child(2) tr td{width:29.333%;}
.meeting_c table tr td:nth-child(1){width:12%;border-left:1px solid #0658b1}
.meeting_c table tr td p:nth-child(1){margin-bottom:10px;}
.meeting_c table tr td p span{display:block;}
.meeting_c table tr td p span:nth-child(1){color:#fff;font-family:"SIMKAI_B" !important;font-weight:bold;}
.meeting_c table tr td p span:nth-child(2){color:#fff;font-family:"SIMKAI" !important;}
.meeting_c table .tab_c td{font-size:15px;font-weight:bold;}
.meeting_c table .tab_left td{text-align:left;vertical-align: top}
.meeting_c table .tab_left td p:nth-child(1){height:48px;overflow:hidden}
.meeting_c table .tab_left td:nth-child(1){text-align:center;vertical-align:middle}

.mob_data{display:none;}
.meeting_x table tr td{font-size:14px;line-height:24px;padding:10px 5px;text-align:center;color:#fff;border-bottom:1px solid #0658b1;border-right:1px solid #0658b1;
background:#0079e0;}
.meeting_x table tr td:nth-child(1){width:12%;border-left:1px solid #0658b1;}
.meeting_x table .tab_c td{font-size:15px;font-weight:bold;background:#0658b1;}
.meeting_x table tr td p:nth-child(1){margin-bottom:10px;}
.meeting_x table tr td p span{display:block;}
.meeting_x table tr td p span:nth-child(1){color:#fff;font-family:"SIMKAI_B" !important;font-weight:bold;}
.meeting_x table tr td p span:nth-child(2){color:#fff;font-family:"SIMKAI" !important;}
.meeting_x table .tab_b td{font-weight:bold;}

.meeting_g table .tab_c td:nth-child(1){width:12%;}
.meeting_g table .tab_c td:nth-child(2){width:88%;}
/*meettopic*/
.meettopic{background:#001343;}
.meettopic_box{padding-bottom:67px;overflow:hidden;}
.meettopic_box .meettopic_left{width:49.75%;float:left;overflow:hidden;}
.meettopic_box .meettopic_left .left_lt{width:36%;float:left;padding:52px 15px 10px 15px;background:#671bf3;position:relative;}
.meettopic_box .meettopic_left .left_rt{width:63%;float:right;padding:52px 15px 10px 15px;background:#2970ff;position:relative;}
.meettopic_box .meettopic_left .left_lb{width:63%;float:left;padding:52px 15px 10px 15px;background:#671bf3;margin-top:1%;position:relative;}
.meettopic_box .meettopic_left .left_rb{width:36%;float:right;padding:52px 15px 10px 15px;background:#2970ff;margin-top:1%;position:relative;}
.meettopic_box .meettopic_right{width:49.75%;float:right;overflow:hidden;}
.meettopic_box .meettopic_right .right_left{float:left;width:36%;padding:157px 15px 10px 15px;background:#671bf3;position:relative;}
.meettopic_box .meettopic_right .right_right{float:right;width:63%;}
.meettopic_box .meettopic_right .right_right .right_top{width:100%;padding:52px 15px 10px 15px;background:#2970ff;position:relative;}
.meettopic_box .meettopic_right .right_right .right_bottom{width:100%;margin-top:1.5%;}
.meettopic_box .meettopic_right .right_right .right_bottom .right_bottom_left{float:left;width:44%;padding:52px 15px 10px 15px;background:#2970ff;position:relative;}
.meettopic_box .meettopic_right .right_right .right_bottom .right_bottom_right{float:right;width:54%;padding:52px 15px 10px 15px;background:#671bf3;position:relative;}
.subject{color:#fff;font-size:18px;line-height:38px;}
.context{color:#fff;font-size:18px;line-height:38px;font-weight:bold;}
.jiantou{width:19px;height:19px;background:url(../images/right_top.png) no-repeat center center;position:absolute;right:10px;top:10px}
.public:hover{cursor:pointer;}
.public:hover .jiantou{display:none;}
/*node*/
.node{background:url(../images/node_bg.png) no-repeat center bottom #000522;}
.node .buy_node{margin-top:30px;padding-bottom:73px;}
.node .node_box{height:590px;background:url(../images/node_box_bg.png) no-repeat center center;}
.node .node_box .node_left{float:left;width:774px;padding:0px 25px 40px;}
.node .node_box .node_left h2{color:#fff;font-weight:bold;font-size:20px;padding-top:31px;padding-bottom:25px;text-align:center;}
.node .node_box .node_left h2 span{font-weight:bold;font-size:16px;}
.node .node_box .node_left table tr td{color:#fff;font-size:14px;line-height:24px;padding:14px 0px;text-align:center;}
.node .node_box .node_left table tr .tab_color{color:#ffd200;}
.node .node_box .node_left table tr:nth-child(1) td{font-size:16px;line-height:24px;padding:16px 0px;} 
.node .node_box .node_left table tr:nth-child(2n) td{background:#1b4baa;}
.node .node_box .node_left table tr:nth-child(2n+1) td{background:#2364cc;}
.node .node_box .node_right{float:right;width:228px;padding:15px;}
.node .node_box .node_right .node_right_box{border:1px solid #1d63cd;border-radius:8px;padding:0px 12px;}
.node .node_box .node_right .node_right_box>div{padding:10px 0px;}
.node .node_box .node_right .node_right_box .vip{width:100%;border-bottom:1px solid #1d63cd;border-top:1px solid #1d63cd;}
.node .node_box .node_right .node_tit{color:#fff;font-size:16px;line-height:24px;font-weight:bold;background:url(../images/vip_point.png) no-repeat 100px center;}
.node .node_box .node_right .node_text{color:#fff;font-size:14px;line-height:24px;}
.node .buy_node{text-align:center;}
.node .buy_node a{display:inline-block;margin:0px 15px;}
.node .buy_node a img{display:block;margin: auto;}
.node .node_box .node_right .notice .node_tit{background-position:135px center;}
/*training*/
.training{background:#002573;}
.training .training_text{font-size:14px;line-height:28px;text-align:justify;color:#fff;margin-bottom:45px;}
.training .training_bt a{font-size:18px;color:#fff;background:#3075ff;display:block;width:142px;height:38px;line-height:38px;text-align:center;border-radius:3px;margin:auto;margin-bottom:62px;}
/*partner*/
.partner{background:#00103c;}
.partner .partner_box{padding-bottom:44px;}
.partner .partner_tit{background:url(../images/block.jpg) repeat-x center center;}
.partner .partner_tit span{font-size:20px;display:block;width:148px;height:30px;line-height:30px;margin:auto;background:#3075ff;border-radius:15px;color:#fff;text-align:center;}
.partner .logo_box{padding-top:32px;padding-bottom:7px;text-align:center;max-width:1038px;margin:auto;}
.partner .logo_box .logo_img{max-width:164px;border:1px solid #3075ff;display:inline-block;margin:0px 20px 32px;}
.partner .logo_box .logo_img img{width:100%;}
/*massege*/
.massege{background:#000522;}
.massege .massege_box{overflow:hidden;}
.massege .massege_box .massege_left{width:100%;}
.massege .massege_box .massege_right{width:100%;margin-top:15px;background:#0a67d1;}
.massege .massege_box .massege_right img{width:100%;}
.massege .massege_box .massege_right .route_box{padding:12px 0px;}
.massege .massege_box .massege_right .route{padding-left:12px;font-size:16px;line-height:30px;color:#fff;}
.massege .massege_box .massege_right .route_num{padding-left:12px;font-size:12px;line-height:24px;color:#fff;}
/*question*/
.question{background:#000520;}
.question .question_box{padding-bottom:74px;}
.question .question_box li{border-top:1px dashed #616474;padding-bottom:35px;overflow:hidden;padding-top:30px;}
.question .question_box li:nth-child(1){padding-top:0px;border-top:0px}
.question .question_box li .question_left{float:left;width:40%;padding-right:10px;}
.question .question_box li .question_right{float:left;width:60%;padding-left:10px;}
.question .question_box li .question_left table tr td:nth-child(2){padding-left:25px;}
.question .question_box li .question_left table tr td .ask{font-size:16px;line-height:30px;padding:18px 15px;border:1px solid #671bf3;border-radius:8px;background:rgba(31,12,96,.8);color:#fff;position:relative;}
.question .question_box li .question_left table tr td .ask:after{width:20px;height:20px;content:"";position:absolute;left:-20px;background:url(../images/ask_bg.png) no-repeat;border-right:1px solid #1f0c60;z-index:10;top:0px;bottom:0px;margin:auto;}
.question .question_box li .question_right table tr td:nth-child(1){padding-right:25px;}
.question .question_box li .question_right table tr td .say{font-size:16px;line-height:30px;padding:18px 15px;border:1px solid #3075ff;border-radius:8px;background:rgba(14,39,99,.8);color:#fff;position:relative;}
.question .question_box li .question_right table tr td .say:after{width:20px;height:20px;content:"";position:absolute;right:-20px;background:url(../images/say_bg.png) no-repeat;border-left:1px solid #0e2763;z-index:10;top:0px;bottom:0px;margin:auto;}
/*footer*/
.footer{color:#ffffff;background:#000000;}
.footer .cooperate{padding-top:53px;padding-bottom:25px;}
.footer .cooperate h4{border-left:5px solid #3075ff;padding-left:8px;font-size:16px;line-height:18px;color:#fff;}
.footer .cooperate p{font-size:14px;line-height:24px;color:#fff;}
.footer .cooperate .call{margin-top:10px;}
.footer .cooperate .email{margin-top:3px;margin-bottom:15px;}
/*guest*/

.guest_t{background:#000000;}
.guest_t .title{background:url(../images/guest_bg.png) no-repeat center 25px;}
.guest_con{color:#fff;font-size:15px;line-height:28px;text-align:justify;}
.guest_box{padding:42px 0px 30px;}
.guest_box li{overflow:hidden;margin-bottom:30px;}
.guest_box li .left_people{width:135px;float:left;}
.guest_box li .left_people img{border-radius:50%;width:135px;height:135px}
.guest_box li .right_work{float:left;width: calc(100% - 135px);padding-left:40px;}
.guest_box li .right_work .guest_name{color:#3092ff;font-size:24px;}
.guest_box li .right_work .guest_work{font-size:14px;color:#fff;padding:15px 0px;line-height:20px;margin-bottom:14px;border-bottom:1px solid #002ea8;}
.guest_box li .right_work .guest_detail{font-size:14px;color:#fff;line-height:26px;text-align:justify;}
.guest_box li .right_work .guest_topic{font-size:16px;color:#fff;border-left:4px solid #3092ff;margin-top:33px;padding-left:10px;}
.guest_box li .right_work .guest_internet{font-size:16px;color:#3092ff;font-weight:bold;line-height:26px;padding:12px 0px;}
.other_topic{background:url(../images/orther.png) no-repeat center center;color:#fff;font-weight:bold;text-align:center;font-size:20px;margin-bottom:30px;margin-top:45px;}
.other_ul{padding-bottom:60px;}
.other_ul li:nth-child(2n) td{background:#010a22;}
.other_ul li:nth-child(2n+1) td{background:#010d2f;}
.other_ul li table tr td:nth-child(1){width:20%;border-top:2px solid #3075ff;}
.other_ul li table tr td:nth-child(2){width:80%;border-top:2px solid #002179;}
.other_ul li table tr td{padding:20px 0px 33px;vertical-align: top;}
.other_ul li table tr td .other_name{color:#fff;font-size:18px;padding:23px 15px 0px;}
.other_ul li table tr td .other_work{font-size:14px;color:#fff;padding:15px 15px;line-height:20px;margin-bottom:14px;}
.other_ul li table tr td .other_detail{font-size:14px;color:#fff;line-height:26px;text-align:justify;padding:0px 15px;}
.other_ul li table tr td .other_internet a{font-size:16px;color:#3075ff;padding:23px 15px 15px;display:block;font-weight:bold;}
.float_tip {position:fixed;bottom:0px;width:100%;display:none;z-index: 9999;}
.float_tip a{display:block;width:100%;
background: -webkit-linear-gradient(left,rgba(118,44,255,.8),rgba(41,112,253,.8));
background: -moz-linear-gradient(left,rgba(118,44,255,.8),rgba(41,112,253,.8));
background: -o-linear-gradient(left,rgba(118,44,255,.8),rgba(41,112,253,.8));
background: -ms-linear-gradient(left,rgba(118,44,255,.8),rgba(41,112,253,.8))
background: linear-gradient(left,rgba(118,44,255,.8),rgba(41,112,253,.8));}
.float_tip a table tr td{font-size:22px;text-align:center;color:#fff;font-weight:bold;}
.float_tip a table tr td p{font-size:16px;text-align:center;color:#fff;line-height:30px;}
/**/
.pc_btn{position:fixed;top:200px;z-index:100;right:10px;}
/*sponsor*/
.sponsor{background:#000;padding-bottom:68px;}
.sponsor_bar{margin-top:58px;border-bottom:1px solid #002ea8;}
.sponsor_bt{padding-top:68px;}
.sponsor_bt a div{margin:auto;font-size:21px;text-align:center;width:393px;height:82px;line-height:82px;color:#fff;position:relative;background:#3075ff;border-radius:5px;}
.sponsor_bt a div:after{content:"";position:absolute;width:58px;height:58px;background:url(../images/download.png) no-repeat center center;right:20px;top:12px}
.sponsor_bt a div:before{content:"";position:absolute;width:58px;height:58px;background:url(../images/downimg.png) no-repeat center center;left:20px;top:12px}
.subname{text-align:center;padding-top:45px;padding-bottom:25px;font-size:28px;color:#3075ff;}

.pc_down{margin-top: 480px;text-align: center;display: block;padding-right:12%}
.pc_down li,.mob_down li{display:inline-block;}
.mob_down{background-color: #0a0717;overflow: hidden;padding-bottom: 10px}
.mob_down li{float: left; width: 50%; padding-top: 10px;}
.pc_down li a,.mob_down li a{color:#fff;font-size:16px;line-height:32px; width: 128px;display: block;margin:0 20px;border:2px solid #fff;text-align: center;  border-image: -webkit-linear-gradient(#2970fe,#742eff)3 3; border-image: -moz-linear-gradient(#2970fe,#742eff) 3 3;  border-image: linear-gradient(#2970fe,#742eff) 3 3;
}
.mob_down li a {margin: 0 auto}

@media (min-width:768px) {
.massege .massege_box .massege_left{float:left;width:50%;}
.massege .massege_box .massege_right{float:left;padding-left:3px;width:50%;margin-top:0px;}
.overview .overview_box .overview_am table{min-height:85px}
.overview .overview_box .overview_pm table{min-height:85px}
}
@media (min-width:1024px) {
  .news .news_ul li a .news_span{max-width:375px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
  .node .node_box .node_right .node_right_box{margin-top:30px;}
}
@media (min-width:1200px) {
  .news .news_ul li a .news_span{max-width:405px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
  .guest .navbar-inverse{border-bottom:1px solid #3075ff;}
}
@media (max-width:1600px) {
  .pc_down{padding-right:36%}

}

@media (max-width:1400px) {
  .pc_banner{background:url(https://img-bss.csdn.net/201809201226415365.jpg)no-repeat left center;}

}
@media (max-width:1200px) {
 .navbar-inverse .navbar-nav>.nav_buy{position:relative;right:0px;}
 .meettopic_box .meettopic_left{width:100%;float:none;}
 .meettopic_box .meettopic_right{width:100%;float:none;margin-top:1%;}
 .guest .navbar-inverse{background-image:none;}
 .pc_down{margin-top: 276px;}
}
@media (max-width:1024px) {
	
  .pc_banner{background-size:100%;height:506px;}
  .node .node_box .node_left{width:78.5%;}
  .node .node_box .node_right{width:21.5%;}
  .node .node_box .node_right .node_text{line-height:21px;}
}
@media (max-width:992px) {
	.pc_banner{height:auto;background-image: none;}
	.mob_banner{display:block;}
	.node .node_box{background-image:none;background:#1b4eac;height:auto;}
  .node .node_box .node_left{width:100%;float:none;}
  .node .node_box .node_right{width:100%;float:none;}
}
@media (max-width:768px) {
 .people_img{padding:5px;}
 .overview .overview_box{margin-bottom:15px;}
 .guest .con_box .child_box_tit .child_box_sub{width:32.2%;margin-bottom:3px;}
 .pc_down{display: none}
}
@media (max-width:767px) {
.navbar-inverse .navbar-nav{overflow-y:auto;height:350px;}
.navbar-inverse{border-color: transparent;border-width:0;background-color:#000522;}
.guest .guest_data_box .guest_data{font-size:18px;}
.data_time_box{overflow:hidden;border-top:1px solid #183d91;border-bottom:1px solid #fff;border-left:0px;border-right:0px;}
.data_time_box .data_time{float:left;width:25%;padding:10px 0px;margin-top:0px;}
.data_time_box .data_time img{width:70%;}
/* .data_time_box .data_time_act:after{display:none;}*/
.data_time_box .data_time_act:after{content:"";border:10px solid #fff;width:0px;height:0px;border-left-color:transparent;border-top-color:transparent;border-right-color:transparent;position:absolute;right:0px;top:29px;left:0px;margin:auto;}
.table_box table tr td p{padding-left:5px;}
.right_topic .data_topic_box .data_topic{padding:18px 0px;text-align:center;width:32.3%;}
.question .question_box li .question_left{float:none;width:100%;padding-right:10px;}
.question .question_box li .question_right{float:none;width:100%;padding-left:10px;padding-top:10px;}
.node .node_box .node_left h2 span{display:block;padding-top:10px;}
.node .node_box .node_left{padding-left:0px;padding-right:0px;padding-bottom:0px;}
.node .node_box .node_right .node_text{line-height:24px;}
.node .node_box .node_left table tr td{font-size:16px;}
.meettopic_box .meettopic_left .left_lt{width:100%;float:none;padding:52px 15px 10px 15px;background:#671bf3;position:relative;}
.meettopic_box .meettopic_left .left_rt{width:100%;float:none;padding:52px 15px 10px 15px;background:#2970ff;position:relative;}
.meettopic_box .meettopic_left .left_lb{width:100%;float:none;padding:52px 15px 10px 15px;background:#671bf3;position:relative;margin-top:0;}
.meettopic_box .meettopic_left .left_rb{width:100%;float:none;padding:52px 15px 10px 15px;background:#2970ff;position:relative;margin-top:0;}
.meettopic_box .meettopic_right .right_left{float:none;width:100%;padding:52px 15px 10px 15px;background:#671bf3;position:relative;}
.meettopic_box .meettopic_right{margin-top:0;}
.meettopic_box .meettopic_right .right_right{float:none;width:100%;}
.meettopic_box .meettopic_right .right_right .right_top{width:100%;padding:52px 15px 10px 15px;background:#2970ff;position:relative;}
.meettopic_box .meettopic_right .right_right .right_bottom{width:100%;margin-top:0;}
.meettopic_box .meettopic_right .right_right .right_bottom .right_bottom_left{float:none;width:100%;padding:52px 15px 10px 15px;background:#671bf3;position:relative;}
.meettopic_box .meettopic_right .right_right .right_bottom .right_bottom_right{float:none;width:100%;padding:52px 15px 10px 15px;background:#2970ff;position:relative;}
.public{margin-bottom:15px;}
.guest_t .title{font-size:28px;}
.guest_box li .left_people{float:none;padding-bottom:20px;margin:auto;}
.guest_box li .right_work{float:none;padding-left:0px;width:100%;}
.guest_box li .right_work .guest_name{text-align:center;}
.guest_box li .right_work .guest_work{text-align:center;}
.other_ul li table tr td:nth-child(1){width:30%;}
.other_ul li table tr td:nth-child(2){width:70%;}
.other_ul li table tr td .other_name{padding:23px 8px 0px;}
.other_ul li table tr td .other_work{padding:15px 8px;}
.other_ul li table tr td .other_detail{padding:0px 8px;}
.other_ul li table tr td .other_internet a{padding:23px 8px 15px;}
.navbar-inverse .navbar-nav>.list_lili{padding-left:18px}
.float_tip {display:block;}
.pc_btn{display:none;}
.navbar-inverse .navbar-nav>.nav_buy{display:none;}
.mob_data{display:block;}
.pc_data{display:none;}
.sponsor_bt{padding-top:0px;}
.footer{padding-bottom: 40px;}
.footer .row>div{height: 118px;}
}
@media (max-width:414px ) {
	.news .news_ul{padding-top:15px;}
	.news .news_ul li a .news_span{max-width:305px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
	.guest .con_box .child_box_tit .child_box_sub{width:49.2%;}
    .sponsor_bt a div{width:100%;height:60px;font-size:20px;line-height:60px;}
    .sponsor_bt a div:after{width:36px;height:36px;right:10px;top:12px;background-size:100% 100%;}
    .sponsor_bt a div:before{width:36px;height:36px;left:10px;top:12px;background-size:100% 100%;}
    .node .buy_node a{width:45%;margin:0px 2%;}
    .node .buy_node a img{width:100%;}
}
@media (max-width:375px ) {
	.news .news_ul li a .news_span{;max-width:265px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
	.partner .logo_box .logo_img{width:45%;margin:0px 2% 32px;}
}
@media (max-width:320px ) {
	.news .news_ul li a .news_span{max-width:210px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
  .node .node_box .node_left table tr td{width:20%;}
}

