.width {
	MARGIN: 0px auto; WIDTH: 100%; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left; min-width: 800px
}
 HTML .minwidth {
	BORDER-LEFT: #fff 800px solid
}
 HTML .container {
	MARGIN-LEFT: -800px; POSITION: relative
}
 HTML .minwidth {
	HEIGHT: 1px
}
 HTML .container {
	HEIGHT: 1px
}
 HTML .content {
	HEIGHT: 1px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 0px
}
.hidden {
	DISPLAY: none
}
DIV {
	MARGIN: 0px auto
}
.img {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	FONT-SIZE: 12px
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 1px
}
.clear1 {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 4px
}
.hr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../yeskyimages/notepad/notepad12.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; WIDTH: 94%; PADDING-TOP: 0px; HEIGHT: 1px
}
.hr1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../yeskyimages/notepad/notepad12.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 1px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.space {
	MARGIN: 2px 6px 0px; TEXT-ALIGN: left
}
.space1 {
	MARGIN: 0px 2px 0px 6px; TEXT-ALIGN: right
}
.space2 {
	WIDTH: 98%; TEXT-ALIGN: center
}
.space3 {
	FLOAT: left; MARGIN: 0px 2px 0px 6px; TEXT-ALIGN: left
}
.space4 {
	FLOAT: right; MARGIN: 0px 2px 0px 6px; WIDTH: 90%; TEXT-ALIGN: right
}
LI {
	FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(http://www.yesky.com/newimages/soft/2003/s-dd.gif)
}
.guanggao {
	FLOAT: left; PADDING-TOP: 0px
}
.bgpic {
	PADDING-RIGHT: 4px; PADDING-LEFT: 20px; BACKGROUND: url(../yeskyimages/inverse1/inverse1-dhbj.gif); FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 776px; PADDING-TOP: 5px; HEIGHT: 21px; TEXT-ALIGN: left
}
.newbox {
	BACKGROUND: #fff; WIDTH: 98%; TEXT-ALIGN: left; min-width: 800px
}
.newleft {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 66%; TEXT-ALIGN: left
}
.newleft1 {
	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #cecece 1px solid; BACKGROUND: #ffffff; FLOAT: left; BORDER-LEFT: #cecece 1px solid; WIDTH: 99%; BORDER-BOTTOM: #cecece 1px solid; TEXT-ALIGN: left
}
.newright {
	MARGIN-TOP: 2px; BACKGROUND: #ffffff; FLOAT: right; WIDTH: 31%; TEXT-ALIGN: center
}
.newsmallbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 20px; BACKGROUND: #f9f9f9; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 99%; COLOR: #ff4200; PADDING-TOP: 14px; BORDER-BOTTOM: #cecece 1px solid; HEIGHT: 30px; TEXT-ALIGN: center
}
.newsmall1box {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; BACKGROUND: #ffffff; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 99%; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #cecece 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
.newbgpic {
	PADDING-RIGHT: 4px; PADDING-LEFT: 20px; BACKGROUND: #f8f6cd; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 98%; PADDING-TOP: 5px; BORDER-BOTTOM: #dcdcdc 1px dashed; HEIGHT: 21px; TEXT-ALIGN: left
}
.newtitle1 {
	FLOAT: left; WIDTH: 25%; TEXT-ALIGN: left
}
.newtitle2 {
	FLOAT: left; WIDTH: 25%; TEXT-ALIGN: left
}
.newtitle3 {
	FLOAT: left; WIDTH: 25%; TEXT-ALIGN: center
}
.newtitle4 {
	FLOAT: right; WIDTH: 25%; TEXT-ALIGN: right
}
.newmiddlebox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; WIDTH: 99%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.newrightad {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 0px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 3px; BORDER-LEFT: #cecece 1px solid; WIDTH: 100%; PADDING-TOP: 3px; BORDER-BOTTOM: #cecece 1px solid; TEXT-ALIGN: left
}
.newrightbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 99%; COLOR: #ff4200; PADDING-TOP: 10px; BORDER-BOTTOM: #dcdcdc 1px dashed; HEIGHT: 20px; TEXT-ALIGN: left
}
.topleft {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 12%; TEXT-ALIGN: left
}
.topmiddel {
	PADDING-RIGHT: 2px; MARGIN-TOP: 2px; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 65%; PADDING-TOP: 8px; TEXT-ALIGN: right
}
.topright {
	MARGIN-TOP: 2px; FLOAT: right; WIDTH: 67%; TEXT-ALIGN: right
}
.rightmenu {
	FLOAT: right; WIDTH: 12%; TEXT-ALIGN: center
}
.rightmenucontent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #ffeedc; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 110px; PADDING-TOP: 2px; HEIGHT: 18px; TEXT-ALIGN: left
}
.rightmenucontent1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 110px; PADDING-TOP: 2px; HEIGHT: 18px; TEXT-ALIGN: left
}
.newxiangguan {
	BORDER-RIGHT: #ffcc00 1px solid; BORDER-TOP: #ffcc00 1px solid; MARGIN-TOP: 2px; BACKGROUND: #ffffff; FLOAT: left; BORDER-LEFT: #ffcc00 1px solid; WIDTH: 99%; BORDER-BOTTOM: #ffcc00 1px solid; TEXT-ALIGN: left
}
.newxiangguanmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: #f8f6cd; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 6px; BORDER-BOTTOM: #ffcc00 1px solid; HEIGHT: 16px; TEXT-ALIGN: left
}
.newxiangguancontent {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; WIDTH: 100%; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.newwuxianontent {
	WIDTH: 100%; TEXT-ALIGN: left
}
.pinlunbox {
	BORDER-RIGHT: #ffcc00 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ffcc00 1px solid; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #ffcc00 1px solid; WIDTH: 99%; PADDING-TOP: 6px; BORDER-BOTTOM: #ffcc00 1px solid; TEXT-ALIGN: left
}
.pinlunguan1 {
	FLOAT: left; WIDTH: 47%; TEXT-ALIGN: left
}
.pinlunguan2 {
	FLOAT: right; WIDTH: 100%; TEXT-ALIGN: left
}
.pinlunguan3 {
	FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
.wzplleft {
	FLOAT: left; WIDTH: 50%; PADDING-TOP: 6px
}
.wzplright {
	FLOAT: right; WIDTH: 50%; PADDING-TOP: 6px
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.red1-s:link {
	FONT-SIZE: 12px; COLOR: #da0001; LINE-HEIGHT: 21px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.red1-s:visited {
	FONT-SIZE: 12px; COLOR: #da0001; LINE-HEIGHT: 21px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.red1-s:active {
	FONT-SIZE: 12px; COLOR: #da0001; LINE-HEIGHT: 21px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.red1-s:hover {
	FONT-SIZE: 12px; COLOR: #da0001; LINE-HEIGHT: 21px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.blue-d:link {
	FONT-SIZE: 14px; COLOR: #314150; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.blue-d:visited {
	FONT-SIZE: 14px; COLOR: #314150; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.blue-d:active {
	FONT-SIZE: 14px; COLOR: #314150; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.blue-d:hover {
	FONT-SIZE: 14px; COLOR: #314150; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.bluekey:link {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.bluekey:visited {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.bluekey:active {
	FONT-SIZE: 14px; COLOR: #0066ff; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.bluekey:hover {
	FONT-SIZE: 14px; COLOR: #0066ff; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
.smallpointul {
	MARGIN: 2px 0px 2px 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.smallpointli {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 7px; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(../yeskyimages/notepad/small_li.gif); PADDING-BOTTOM: 0px; COLOR: #d80000; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
.bigpointul {
	MARGIN: 2px 0px 2px 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.bigpointli {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 7px; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(../yeskyimages/notepad/big_li.gif); PADDING-BOTTOM: 0px; COLOR: #088200; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
#header {
	WIDTH: 98%; BORDER-BOTTOM: #dcdcdc 1px dashed; min-width: 800px
}
#logo {
	FLOAT: left; WIDTH: 107px
}
#search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 200px; COLOR: #ff4d00; PADDING-TOP: 6px; HEIGHT: 22px; TEXT-ALIGN: left
}
#topmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 669px; COLOR: #ff4d00; PADDING-TOP: 4px; HEIGHT: 22px; TEXT-ALIGN: left
}
#topad {
	BACKGROUND: #f0f0f0; PADDING-BOTTOM: 6px; WIDTH: 776px; PADDING-TOP: 6px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: center
}
.box {
	FONT-SIZE: 12px; WIDTH: 776px; TEXT-ALIGN: left
}
A {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
LI {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
SELECT {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
INPUT {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
DIV#ityj {
	BORDER-RIGHT: #497ab4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #e8f3fd; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #07346e; PADDING-TOP: 1px; HEIGHT: 19px
}
DIV#eqy {
	BORDER-RIGHT: #309045 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #e8fdef; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #309045; PADDING-TOP: 1px; HEIGHT: 19px
}
DIV#eqy1 {
	PADDING-RIGHT: 3px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #e8fdef; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #309045; PADDING-TOP: 1px; HEIGHT: 19px
}
DIV#itzj {
	BORDER-RIGHT: #0b697a 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: #ebfafd; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #0b697a; PADDING-TOP: 1px; HEIGHT: 19px
}
DIV#xfdh {
	BORDER-RIGHT: #f04400 1px solid; PADDING-RIGHT: 4px; FONT-WEIGHT: bold; BACKGROUND: #ffeee1; FLOAT: left; COLOR: #f04400; PADDING-TOP: 2px; BORDER-BOTTOM: #a9abab 1px solid; HEIGHT: 18px
}
DIV#itjs {
	BORDER-RIGHT: #0051c0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #e8f3fd; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #0051c0; PADDING-TOP: 1px; BORDER-BOTTOM: #a9abab 1px solid; HEIGHT: 18px
}
DIV#szsh {
	BORDER-RIGHT: #d70418 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: #ffeee1; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #d70418; PADDING-TOP: 2px; BORDER-BOTTOM: #a9abab 1px solid; HEIGHT: 17px
}
.headbg1 {
	PADDING-RIGHT: 3px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.headbg3 {
	PADDING-RIGHT: 1px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #a9abab 1px solid
}
.headbg2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; BORDER-BOTTOM: #a9abab 1px solid
}
.navmenu {
	BACKGROUND-IMAGE: url(http://www.yesky.com/TLimages/yeskyimages/index/index-nav04.gif); WIDTH: 776px; COLOR: #2e2e2e; PADDING-TOP: 1px; HEIGHT: 21px
}
.wzplcontent {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 98%; PADDING-TOP: 3px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: left
}
.wzsqcontent {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #eef8fd; PADDING-BOTTOM: 3px; WIDTH: 98%; PADDING-TOP: 3px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: center
}
.fontcolor {
	COLOR: #ff0000
}
.xiangguan {
	BORDER-RIGHT: #2ba810 1px solid; BORDER-TOP: #2ba810 1px solid; MARGIN-TOP: 2px; BACKGROUND: #ffffff; BORDER-LEFT: #2ba810 1px solid; WIDTH: 608px; BORDER-BOTTOM: #2ba810 1px solid; TEXT-ALIGN: left
}
.xiangguanmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: #8fe345; PADDING-BOTTOM: 2px; WIDTH: 596px; PADDING-TOP: 6px; BORDER-BOTTOM: #2ba810 1px solid; HEIGHT: 16px; TEXT-ALIGN: left
}
.xiangguancontent {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; WIDTH: 580px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.wuxianontent {
	WIDTH: 608px; TEXT-ALIGN: left
}
.contentpicleft {
	FLOAT: left; WIDTH: 55%; TEXT-ALIGN: left
}
.contentpicright {
	FLOAT: right; WIDTH: 43%; TEXT-ALIGN: left
}
.line-green {
	BACKGROUND: #83d360; WIDTH: 98%; HEIGHT: 3px
}
.floorbox-01 {
	WIDTH: 99%; PADDING-TOP: 6px; HEIGHT: 28px; TEXT-ALIGN: center
}
.floorbox-02 {
	WIDTH: 99%; HEIGHT: 35px
}
.floorbox-02-right {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 70%; COLOR: #314150; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: left
}
.floorbox-02-left {
	FLOAT: left; WIDTH: 28%; TEXT-ALIGN: right
}
#menu {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; Z-INDEX: 5; LEFT: 90%; PADDING-BOTTOM: 2px; FONT: 12px verdana,arial,helvetica; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; BORDER-BOTTOM-STYLE: none
}
#menu_left {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; Z-INDEX: 5; LEFT: 1%; PADDING-BOTTOM: 2px; FONT: 12px verdana,arial,helvetica; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; BORDER-BOTTOM-STYLE: none
}
.page {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #e7e7e7; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A.page {
	COLOR: #0000cc; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A.page:link {
	COLOR: #0000cc; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A.page:visited {
	COLOR: #0000cc; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A.page:hover {
	BACKGROUND: #0000cc; COLOR: #fff; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
DIV#textpage {
	FLOAT: left; MARGIN-BOTTOM: 8px; WIDTH: 97%; TEXT-ALIGN: left
}
DIV#textpage LI {
	PADDING-RIGHT: 0px; LIST-STYLE: disc url(/TLimages/yeskyimages/inverse1/content07.gif) inside; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV#textpage A:link {
	FONT-SIZE: 9pt; COLOR: #cc0000; TEXT-DECORATION: none
}
DIV#textpage A:visited {
	FONT-SIZE: 9pt; COLOR: #cc0000; TEXT-DECORATION: none
}
DIV#textpage A:active {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: underline
}
DIV#textpage A:hover {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: underline
}
