.zhi {
	FONT-SIZE: 12px; FONT-FAMILY: "宋體"
}
.button {
	BORDER-RIGHT: #cccccc 1px outset; BORDER-TOP: #cccccc 1px outset; FONT-SIZE: 9pt; BACKGROUND: #ffffff; BORDER-LEFT: #cccccc 1px outset; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px outset; HEIGHT: 16px
}
A.1:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.1:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.1:active {
	FONT-SIZE: 9pt; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.1:hover {
	FONT-SIZE: 9pt; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.4:link {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.4:visited {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.4:active {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.4:hover {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.2:link {
	FONT-SIZE: 9pt; COLOR: #656565; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.2:visited {
	FONT-SIZE: 9pt; COLOR: #336699; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.2:active {
	FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.2:hover {
	FONT-SIZE: 9pt; RIGHT: 0px; COLOR: #ff6600; FONT-FAMILY: "宋體"; POSITION: relative; TOP: 1px; TEXT-DECORATION: underline
}
A.a1:link {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.a1:visited {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "宋體"; TEXT-DECORATION: none
}
A.a1:active {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
A.a1:hover {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: "宋體"; TEXT-DECORATION: underline
}
.zhi1 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.zhi12 {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: "宋體"
}
.azhi14 {
	FONT-SIZE: 18px; FONT-FAMILY: "宋體"
}
.button1 {
	BORDER-RIGHT: #cccccc 1px outset; BORDER-TOP: #cccccc 1px outset; FONT-SIZE: 9pt; BACKGROUND: #ffffff; BORDER-LEFT: #cccccc 1px outset; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px outset; HEIGHT: 16px
}
.lanyu {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; DISPLAY: inline; FONT-SIZE: 12px; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid; FONT-FAMILY: "宋體"; HEIGHT: 18px
}
.zhi13 {
	FONT-SIZE: 14px; FONT-FAMILY: "宋體"
}
.zhi14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 20px; FONT-FAMILY: "宋體"
}
.zhi17 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #003399; FONT-FAMILY: "宋體"
}
.yin {
	FONT-SIZE: 12px; FILTER: DropShadow(Color=#FFFFFF,OffX=1, OffY=1); FONT-FAMILY: "宋體"
}
.yin13 {
	FONT-SIZE: 13px; FILTER: DropShadow(Color=#FFFFFF,OffX=1, OffY=1); COLOR: #093349; LINE-HEIGHT: 22px; FONT-FAMILY: "宋體"
}
