H1 A:visited {
	COLOR: #000
}
H1 A:active {
	COLOR: #000
}
H1 A:link {
	COLOR: #000
}
H1 A:hover {
	COLOR: #47f
}
A:visited {
	COLOR: #00f
}
A:active {
	COLOR: #00f
}
A:link {
	COLOR: #00f
}
#top {
	COLOR: #000; BORDER-BOTTOM: #47f 4px solid; BACKGROUND-COLOR: #adf
}
P.date {
	BORDER-BOTTOM: #aaa 1px solid
}
#main {
	BORDER-BOTTOM: #47f 4px solid; BACKGROUND-COLOR: #eee
}
#comments H4 SPAN {
	COLOR: #999
}
H3 {
	BORDER-BOTTOM: #aaa 1px solid
}
