#entryadbox {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 10px; BACKGROUND: #f2f3f7; LEFT: 230px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: 0px; WIDTH: 234px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; POSITION: absolute; TOP: 142px; TEXT-ALIGN: left; voice-family: inherit
}
.littlegray {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #aaa
}
.searchbox {
	WIDTH: 100%
}
.accountbox {
	WIDTH: 100%
}
#homecontent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#homenav LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
#homenav LI A:link {
	BACKGROUND: #4e7ac8 no-repeat; FLOAT: left; MARGIN: 5px; WIDTH: 165px; COLOR: #fff; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 40px; TEXT-DECORATION: none
}
#homenav LI A:visited {
	BACKGROUND: #4e7ac8 no-repeat; FLOAT: left; MARGIN: 5px; WIDTH: 165px; COLOR: #fff; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 40px; TEXT-DECORATION: none
}
#homenav LI A:hover {
	BACKGROUND: #89a7de no-repeat; MARGIN: 5px; WIDTH: 165px; COLOR: #fff; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 40px; TEXT-DECORATION: none
}
A:active {
	COLOR: #0066cc; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0066cc; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0066cc; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
A:link {
	COLOR: #0066cc; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.white-font {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.white-font {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.white-font:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.white-font:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.title:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.title:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.title:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.subtitle:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.subtitle:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.subtitle:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
TABLE {
	TABLE-LAYOUT: auto
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Tahoma","??"
}
TD.content {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 140%
}
TD.list {
	LINE-HEIGHT: 148%
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 120%; BACKGROUND-COLOR: #616378; TEXT-ALIGN: center
}
HR {
	COLOR: #000000; HEIGHT: 1px
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: "Tahoma", "MS Shell Dlg"
}
.codetextarea {
	FONT-SIZE: 12px; WIDTH: 515px; WORD-BREAK: keep-all; FONT-FAMILY: "??"; HEIGHT: 310px; WORD-WRAP: normal
}
A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
A.navLink:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.navLink:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.navLink:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.navLight {
	BACKGROUND-COLOR: #666688
}
.navMedium {
	BACKGROUND-COLOR: #f2f3f7
}
.navDark {
	BACKGROUND-COLOR: #8c8ea3
}
.logoBackground {
	BACKGROUND-COLOR: #ffffff
}
.pageSeparator {
	BACKGROUND-COLOR: #4e7ac8
}
.menubar {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #616378
}
.pageselect {
	FONT-SIZE: 9px; FONT-FAMILY: Arial
}
.border {
	MARGIN: auto; BACKGROUND-COLOR: #ffffff
}
.pageLighter {
	BACKGROUND-COLOR: #fafafa
}
.pageLight {
	BACKGROUND-COLOR: #f2f3f7
}
.pageMedium {
	BACKGROUND-COLOR: #8c8ea3
}
.pageMediumer {
	BACKGROUND-COLOR: #ccccd4
}
.pageDark {
	BACKGROUND-COLOR: #666688
}
.pageSubject {
	BACKGROUND-COLOR: #d9dce8
}
.pageIcon {
	FONT-SIZE: 12px; FONT-FAMILY: "??"; BACKGROUND-COLOR: #ffffff
}
.columnTitle {
	BACKGROUND-COLOR: #cfcdaf
}
.columnContent {
	BACKGROUND-COLOR: #ebeadd
}
.hotTitle {
	BACKGROUND-COLOR: #abd3a5
}
.hotContent {
	BACKGROUND-COLOR: #e0efde
}
.listtitle {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc6ee 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #eae6ff
}
.listtitle1 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #8ccebd 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #ceefef
}
.listtitle2 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #abda47 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #d0ffa2
}
.listtitle3 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #9999ff 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #ccccff
}
.listtitle4 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #7ba7d1 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #bbd3e8
}
.listtitle5 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #ffb033 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #ffd97d
}
.listtitle6 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #cc6600 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #ffb033
}
.listtitle7 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #2d8605 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #4cb81c
}
.listtitle8 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #0b98f3 2px solid; HEIGHT: 24px; BACKGROUND-COLOR: #0baef3
}
.listContent {
	BACKGROUND-COLOR: #f2f3f7
}
.pagesimages {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
.titleTable {
	BACKGROUND-COLOR: #ccccd4
}
.listTable {
	BACKGROUND-COLOR: #f2f3f7
}
.code {
	BORDER-RIGHT: #0099cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0099cc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #0099cc 1px solid; WIDTH: 480px; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #0099cc 1px solid; FONT-FAMILY: "Verdana" , "Courier New", "Courier", "mono"; BACKGROUND-COLOR: #ddedfb
}
.CodeSamp_bak {
	BORDER-RIGHT: #0099cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0099cc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 5px; OVERFLOW: hidden; BORDER-LEFT: #0099cc 1px solid; WIDTH: 480px; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #0099cc 1px solid; FONT-FAMILY: "Courier New", "Courier", "mono"; BACKGROUND-COLOR: #ddedfb
}
.CodeSamp {
	BORDER-RIGHT: #888888 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #888888 1px solid; MARGIN-TOP: 1em; PADDING-LEFT: 0.5em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 0pt; OVERFLOW: hidden; BORDER-LEFT: #888888 1px solid; WIDTH: 480px; PADDING-TOP: 0.5em; BORDER-BOTTOM: #888888 1px solid; FONT-FAMILY: "Courier New"; BACKGROUND-COLOR: #eeeeee
}
.docparameter {
	BACKGROUND-COLOR: #efefef
}
.docparameter TD {
	COLOR: #999999
}
.listContentMedium {
	BACKGROUND-COLOR: #e4e3e8
}
.location {
	COLOR: #333366
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: "MS Shell Dlg"
}
FORM {
	MARGIN-TOP: 3px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; FONT-FAMILY: "Tahoma", "MS Shell Dlg"
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "Tahoma", "MS Shell Dlg"
}
A.page IMG {
	BEHAVIOR: url(fitSize.htc)
}
.dotLine {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 1px
}
.starBold {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #600
}
.starNormal {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ccc
}
.errorText {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00
}
.label {
	TEXT-ALIGN: right
}
.topLabel {
	TEXT-ALIGN: right
}
.boldLabel {
	TEXT-ALIGN: right
}
.subject {
	FONT-WEIGHT: bold
}
.bold {
	FONT-WEIGHT: bold
}
.boldLabel {
	FONT-WEIGHT: bold
}
.pageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
.breadcrumbs {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: top; COLOR: #660000! important
}
.breadcrumbs A {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: top; COLOR: #660000! important
}
.breadcrumbs A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #660000! important
}
.odd {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.even {
	COLOR: #000000; BACKGROUND-COLOR: #eeeeee
}
.bullet {
	TEXT-ALIGN: center
}
.error-text {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00
}
.label {
	TEXT-ALIGN: right
}
.top-label {
	TEXT-ALIGN: right
}
.bold-label {
	TEXT-ALIGN: right
}
.subject {
	FONT-WEIGHT: bold
}
.box {
	FONT-SIZE: 13px
}
#category-list TH {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ddd; TEXT-ALIGN: center
}
.recententry-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.popularentries-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.featuredentries-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.account-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.tools-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.related-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.attachment-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.referencing-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.popular-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.featured-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.search-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.sidebarsearch-box .box TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.header-style TH {
	PADDING-LEFT: 6px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.recententry-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.popularentries-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.featuredentries-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.account-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.tools-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.related-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.attachment-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.referencing-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.popular-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.featured-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.search-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.sidebarsearch-box .box {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.button .button-label {
	PADDING-RIGHT: 5px
}
.info-text {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #060
}
.nobreak {
	WHITE-SPACE: nowrap
}
.selected-tab {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #cccccc; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 1px
}
.tab {
	BORDER-TOP-WIDTH: 2px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.tab:hover {
	BORDER-TOP: #999 2px solid; COLOR: #cccccc; BACKGROUND-COLOR: #eee
}
.tab A:hover {
	TEXT-DECORATION: none! important
}
.selected-tab A:hover {
	TEXT-DECORATION: none! important
}
.tab-spacer {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
.tab-spring {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
.selected-tab {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #bbb; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #bbb; BORDER-BOTTOM-STYLE: solid
}
.tab {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #bbb; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #bbb; BORDER-BOTTOM-STYLE: solid
}
.tab-spacer {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #bbb; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #bbb; BORDER-BOTTOM-STYLE: solid
}
.tab-spring {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #bbb; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #bbb; BORDER-BOTTOM-STYLE: solid
}
.tab-bar {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #bbb; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #bbb; BORDER-BOTTOM-STYLE: solid
}
.tab {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: tahoma, sans-serif
}
.selected-tab {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: tahoma, sans-serif
}
.selected-tab A {
	FONT-WEIGHT: bold; COLOR: #000! important; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
.tab A {
	FONT-WEIGHT: bold; COLOR: #333! important; BACKGROUND-COLOR: #ddd; TEXT-DECORATION: none
}
.tab A:hover {
	TEXT-DECORATION: underline
}
.selected-tab A:hover {
	TEXT-DECORATION: underline
}
.tab {
	COLOR: #000000; BACKGROUND-COLOR: #ddd
}
.tab-bar {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #000000; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 1px
}
.tab-bar TD {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: tahoma, sans-serif; BACKGROUND-COLOR: #fff
}
.tab-bar A {
	FONT-WEIGHT: normal; FONT-SIZE: 0.85em; COLOR: #666; FONT-FAMILY: verdana, sans-serif; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
.tab-bar A:visited {
	COLOR: #666; BACKGROUND-COLOR: #fff
}
.tab-bar A:hover {
	COLOR: #666; BACKGROUND-COLOR: #fff; TEXT-DECORATION: underline
}
.tab-section TD {
	FONT-WEIGHT: normal; FONT-SIZE: 0.7em; FONT-FAMILY: verdana, sans-serif
}
.tab-section A {
	PADDING-RIGHT: 6px; FONT-WEIGHT: normal; COLOR: #333! important; BACKGROUND-COLOR: #fff
}
.tab-spring {
	FONT-SIZE: 0.7em
}
.top-table {
	VERTICAL-ALIGN: top
}
.icon {
	VERTICAL-ALIGN: top
}
.button-row {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px
}
.main-button:hover {
	
}
main-button:active {
	
}
.cancel-button:hover {
	
}
cancel-button:active {
	
}
.update-button {
	COLOR: #000000; BACKGROUND-COLOR: #eee
}
.delete-button {
	COLOR: #000000; BACKGROUND-COLOR: #eee
}
.spell-button {
	WIDTH: 100%
}
.spell-error-current {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00; BORDER-BOTTOM: #f00 2px dotted
}
.spell-error {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00; BORDER-BOTTOM: #f00 2px dotted
}
.spell-error-current {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #eee
}
.spell-highlight-first {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ff0
}
.spell-highlight {
	COLOR: #000000; BACKGROUND-COLOR: #ff0
}
.field {
	
}
.description {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
#category-list .category-header {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; COLOR: #000000; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#category-list .icon {
	TEXT-ALIGN: center
}
#category-list TD .description {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666; WORD-BREAK: break-all; WORD-WRAP: break-word
}
#category-list TD .info {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666; WORD-BREAK: break-all; WORD-WRAP: break-word
}
#category-list TD .info {
	FONT-SIZE: 11px
}
#category-list .entry {
	VERTICAL-ALIGN: top
}
.browse-category {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: top; COLOR: #600
}
.category-header A {
	TEXT-DECORATION: none
}
.category-header A:hover {
	TEXT-DECORATION: underline
}
.category-header A:active {
	TEXT-DECORATION: underline
}
.category-name {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
.sidebar-entry {
	VERTICAL-ALIGN: top
}
.sidebar-entry UL {
	TEXT-INDENT: 1px
}
.paginator .current-page {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none
}
.table-header {
	COLOR: #000000; BACKGROUND-COLOR: #ccc
}
.entry-list A {
	
}
.entry-list A:hover {
	
}
.entry-list .name {
	FONT-WEIGHT: bold
}
.entry-list {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.moderate {
	COLOR: #000000; BACKGROUND-COLOR: #fcc
}
.moderate-link A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.moderate-link A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00
}
.moderate-link A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00
}
.moderate-link A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00
}
.moderate-link A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f00
}
#entry {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
#entry TH {
	FONT-WEIGHT: normal; COLOR: #000000; BACKGROUND-COLOR: #eee; TEXT-ALIGN: left
}
#entry .entry-text {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 1em; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.entrypart {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 1em; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.entrypart-text {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 1em; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.comment .comment-text {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 1em; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.entry-title {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
#entrypart {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.entrypart TH {
	FONT-WEIGHT: normal; COLOR: #000000; BACKGROUND-COLOR: #eee; TEXT-ALIGN: left
}
.comment {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.comment TH {
	FONT-WEIGHT: normal; COLOR: #000000; BACKGROUND-COLOR: #eee; TEXT-ALIGN: left
}
.new-content {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #600
}
.old-content {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ccc
}
.page-title {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
.bold {
	FONT-WEIGHT: bold
}
.bold-label {
	FONT-WEIGHT: bold
}
.search-term {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ff0
}
.mouse-over {
	CURSOR: pointer; voice-family: inherit
}
.selected-tab {
	CURSOR: pointer; voice-family: inherit
}
.tab {
	CURSOR: pointer; voice-family: inherit
}
.small-font {
	FONT-SIZE: 0.7em
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.cal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,Sans-serif; BACKGROUND-COLOR: #fff
}
SELECT.month {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 85px; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Sans-serif
}
INPUT.year {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 30px; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Sans-serif
}
TD.calDaysColor {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,Sans-serif; BACKGROUND-COLOR: #000000
}
TD.calWeekend {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,Sans-serif; BACKGROUND-COLOR: #d3d3d3
}
TD.calBgColor {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,Sans-serif; BACKGROUND-COLOR: #ffc
}
.calBorderColor {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,Sans-serif; BACKGROUND-COLOR: #a9a9a9
}
TD.calHighlightColor {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,Sans-serif; BACKGROUND-COLOR: #ffffcc
}
A.cal {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Sans-serif; TEXT-DECORATION: none
}
A.cal:hover {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff0000; FONT-FAMILY: Arial,Helvetica,Sans-serif; TEXT-DECORATION: none
}
.calDisabled {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #808080; FONT-FAMILY: Arial,Helvetica,Sans-serif; TEXT-DECORATION: none
}
