#include <os2.h>
#include "grid1.h"

MENU ID_LAB1
   BEGIN
   MENUITEM " RUN RECOGNIZER ",        IDM_RUN
   MENUITEM " LOAD WEIGHTS ",          IDM_WEIGHTS
   SUBMENU " SAVE ",                   IDM_FILESYS
      BEGIN 
      MENUITEM "SAVE TO LOG",          IDM_SAVELOG
      END
   MENUITEM " EXIT",                   IDM_EXITNOW
   END

MENU ID_CHILD1
   BEGIN
   SUBMENU "EDIT",                   IDM_EDITOR
      BEGIN
      MENUITEM "CLEAR GRID",         IDM_CLEARGRID
      MENUITEM "GET CHARACTER",      IDM_NEWCHAR
      END
   MENUITEM "COLORS",                IDM_COLORS
   END

DLGTEMPLATE IDD_COLORS
  {
  DIALOG "", 0,20,92, 280, 160,, FCF_DLGBORDER
    {
    GROUPBOX     "FOREGROUND" -1,                8, 38,128,116
    AUTORADIOBUTTON "BLUE"     IDD_FCLRBLUE,    12,130, 56, 12, WS_GROUP
    AUTORADIOBUTTON "RED"      IDD_FCLRRED,     12,116, 56, 12
    AUTORADIOBUTTON "PINK"     IDD_FCLRPINK,    12,102, 56, 12
    AUTORADIOBUTTON "GREEN"    IDD_FCLRGREEN,   12, 88, 56, 12
    AUTORADIOBUTTON "CYAN"     IDD_FCLRCYAN,    12, 74, 56, 12
    AUTORADIOBUTTON "YELLOW"   IDD_FCLRYELLOW,  12, 60, 56, 12
    AUTORADIOBUTTON "DK GRAY"  IDD_FCLRDKGRAY,  12, 46, 56, 12
    AUTORADIOBUTTON "DK BLUE"  IDD_FCLRDKBLUE,  76,130, 56, 12
    AUTORADIOBUTTON "DK RED"   IDD_FCLRDKRED,   76,116, 56, 12
    AUTORADIOBUTTON "DK PINK"  IDD_FCLRDKPINK,  76,102, 56, 12
    AUTORADIOBUTTON "DK GREEN" IDD_FCLRDKGREEN, 76, 88, 56, 12
    AUTORADIOBUTTON "DK CYAN"  IDD_FCLRDKCYAN,  76, 74, 56, 12
    AUTORADIOBUTTON "DK BROWN" IDD_FCLRDKBROWN, 76, 60, 56, 12
    AUTORADIOBUTTON "PL GRAY"  IDD_FCLRPLGRAY,  76, 46, 56, 12

    GROUPBOX     "BACKGROUND" -1,              144, 38,128,116
    AUTORADIOBUTTON "BLUE"     IDD_BCLRBLUE,   148,130, 56, 12, WS_GROUP
    AUTORADIOBUTTON "RED"      IDD_BCLRRED,    148,116, 56, 12
    AUTORADIOBUTTON "PINK"     IDD_BCLRPINK,   148,102, 56, 12
    AUTORADIOBUTTON "GREEN"    IDD_BCLRGREEN,  148, 88, 56, 12
    AUTORADIOBUTTON "CYAN"     IDD_BCLRCYAN,   148, 74, 56, 12
    AUTORADIOBUTTON "YELLOW"   IDD_BCLRYELLOW, 148, 60, 56, 12
    AUTORADIOBUTTON "DK GRAY"  IDD_BCLRDKGRAY, 148, 46, 56, 12
    AUTORADIOBUTTON "DK BLUE"  IDD_BCLRDKBLUE, 212,130, 56, 12
    AUTORADIOBUTTON "DK RED"   IDD_BCLRDKRED,  212,116, 56, 12
    AUTORADIOBUTTON "DK PINK"  IDD_BCLRDKPINK, 212,102, 56, 12
    AUTORADIOBUTTON "DK GREEN" IDD_BCLRDKGREEN,212, 88, 56, 12
    AUTORADIOBUTTON "DK CYAN"  IDD_BCLRDKCYAN, 212, 74, 56, 12
    AUTORADIOBUTTON "DK BROWN" IDD_BCLRDKBROWN,212, 60, 56, 12
    AUTORADIOBUTTON "PL GRAY"  IDD_BCLRPLGRAY, 212, 46, 56, 12

    DEFPUSHBUTTON "OK"    DLG_OK,        66,  8, 52, 16, WS_GROUP
    PUSHBUTTON   "CANCEL" DLG_CANCEL,   162,  8, 52, 16, WS_GROUP
    }
  }

DLGTEMPLATE IDD_NETFILE
  {
  DIALOG "", 0, 8, 8, 240, 170,, FCF_DLGBORDER
    {
    CTEXT       "OPEN NET WEIGHTS FILE"    -1,    8,154,224,  8
    LTEXT       "Filename:"                -1,    8,110, 48,  8
    ENTRYFIELD  ""                 IDD_FLEDIT,   56,110,176,  8, ES_MARGIN
    CTEXT       "Files"                    -1,   16, 96, 92,  8
    LISTBOX                        IDD_FLIST,    16, 32, 92  64
    DEFPUSHBUTTON "OK"             DID_OK,       32,  8, 64, 16, WS_GROUP
    PUSHBUTTON   "CANCEL"          DID_CANCEL,  144,  8, 64, 16, WS_GROUP
    }
  }


DLGTEMPLATE IDD_ASCIIDLG
  {
  DIALOG "", 0, 30, 110, 160, 150,, FCF_DLGBORDER
    {
    CTEXT       "LOAD FONT FOR A CHARACTER"   -1,      8,128,152,  8
    LTEXT       "Hex Code:"                   -1,     78,106, 40,  8
    ENTRYFIELD  ""                 IDD_ASCIIEDIT,    120,106, 16,  8, ES_MARGIN
    CTEXT       "Select"                      -1,     16,106, 40,  8
    LISTBOX                        IDD_ASCIILIST,     16, 32, 40, 78
    DEFPUSHBUTTON "OK"             DID_OK,            16,  8, 45, 14, WS_GROUP
    PUSHBUTTON   "CANCEL"          DID_CANCEL,        78,  8, 45, 14, WS_GROUP
    }
  }
