/* 转盘紫色皮肤 */
.wheel{
    background-image: url(//p4.ssl.qhimg.com/t01cf8f8bf96bbfa75a.png);
}
.wheel .turnplateborder.default {
    background-image: url(//p1.ssl.qhimg.com/t01faa6a56ac3ad5418.png); 
}
.wheel .turnplateborder.change{
    background-image: url(//p2.ssl.qhimg.com/t01d9d2052d717b57ea.png); 
}
.core{
    background-image: url(//p2.ssl.qhimg.com/t01cdaba94765812787.png);
}
.needtime{
    background-image: url(//p3.ssl.qhimg.com/t01677b3d9a63c79002.png);
}
.start{
    background-image: url(//p0.ssl.qhimg.com/t012104ecc363e01fbe.png);
}
.prize-dialog>p{
    color: #75007b;
}
.needtime i{
    color: #FFFFFF;
}