.font2
{
    FONT-SIZE: 9pt;
    COLOR: white;
    LINE-HEIGHT: 22px;
    FONT-FAMILY: 'Lucida Sans', verdana, Arial;
    TEXT-ALIGN: center
}
.font3
{
    FONT-SIZE: 9pt;
    LINE-HEIGHT: 20px;
    FONT-FAMILY: "Lucida Sans", "verdana", "Tahoma", "Arial"
}
.font4
{
    PADDING-RIGHT: 0px;
    FONT-SIZE: 14px;
    LINE-HEIGHT: normal;
    FONT-FAMILY: "Lucida Sans", "verdana", "Arial"
}
A:link
{
    COLOR: #0000ef
}
A:visited
{
    COLOR: #000080
}
A:hover
{
    COLOR: red
}
.fontgetcase
{
    FONT-SIZE: 11pt;
    COLOR: #000000;
    LINE-HEIGHT: 16pt;
    FONT-FAMILY: 'Lucida Sans', verdana, Arial
}
.C1
{
    FONT-SIZE: 10px;
    FONT-FAMILY: 'Lucida Sans', 'Century Gothic', Verdana
}
.C2
{
    FONT-SIZE: 12px;
    FONT-FAMILY: 'Lucida Sans', 'Century Gothic', Verdana
}
.font6
{
    FONT-SIZE: 16px;
    FONT-FAMILY: 'Lucida Sans', 'Century Gothic', Verdana
}
.C4
{
    FONT-SIZE: 14px;
    FONT-FAMILY: 'Lucida Sans', 'Century Gothic', Verdana
}
.blueon
{
    BACKGROUND-COLOR: #ccccff
}
.blueoff
{
    BACKGROUND-COLOR: white
}
.cs
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: 'Lucida Sans', Verdana, Arial
}
.cselectbar
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: 'Lucida Sans', Verdana, 'Century Gothic', Arial
}
