BODY
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
.subject
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
TD
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
FORM
{
    FONT-SIZE: 11px;
    COLOR: #696969;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
INPUT
{
    FONT-SIZE: 11px;
    COLOR: #696969;
    LINE-HEIGHT: 15px;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
OPTION
{
    FONT-SIZE: 11px;
    COLOR: #696969;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
SELECT
{
    FONT-SIZE: 11px;
    COLOR: #696969;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
TEXTAREA
{
    FONT-SIZE: 11px;
    COLOR: #696969;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
A:link
{
    COLOR: #000080;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #0000FF;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #696969;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.link A:link
{
    COLOR: #ef9413;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.link A:visited
{
    COLOR: #ef9413;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.link A:hover
{
    COLOR: #ef9413;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: underline
}
.soho A:link
{
    COLOR: #785708;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.soho A:visited
{
    COLOR: #785708;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.soho A:hover
{
    COLOR: #785708;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: underline
}
.talk A:link
{
    PADDING-LEFT: 5px;
    COLOR: #4e7639;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.talk A:visited
{
    PADDING-LEFT: 5px;
    COLOR: #4e7639;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.talk A:hover
{
    PADDING-LEFT: 5px;
    COLOR: #4e7639;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.title_1122
{    
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.button
{    
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.button A:link
{
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.button A:visited
{
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.button A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #0e5485;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.button2 A:link
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.button2 A:visited
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.button2 A:hover
{
    FONT-SIZE: 10px;
    COLOR: #0e5485;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.faq A:link
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.faq A:visited
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.faq A:hover
{
    FONT-SIZE: 12px;
    COLOR: #0e5485;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.news A:link
{
    FONT-SIZE: 14px;
    COLOR: #2135C5;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.news A:visited
{
    FONT-SIZE: 14px;
    COLOR: #2135C5;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.news A:hover
{
    FONT-SIZE: 14px;
    LEFT: 1px;
    COLOR: #557c90;
    LINE-HEIGHT: 1.5;
    POSITION: relative;
    TOP: 1px;
    TEXT-DECORATION: none
}
.hero
{
    FONT-SIZE: 13px;
    COLOR: #175c98;
    LINE-HEIGHT: 1.5;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
.hero A:link
{
    FONT-SIZE: 13px;
    COLOR: #175c98;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.hero A:visited
{
    FONT-SIZE: 13px;
    COLOR: #175c98;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.hero A:hover
{
    FONT-SIZE: 13px;
    LEFT: 1px;
    COLOR: #175c98;
    LINE-HEIGHT: 1.5;
    POSITION: relative;
    TOP: 1px;
    TEXT-DECORATION: none
}
.ad A:link
{
    FONT-SIZE: 10px;
    COLOR: #785708;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.ad A:visited
{
    FONT-SIZE: 10px;
    COLOR: #785708;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.ad A:hover
{
    FONT-SIZE: 10px;
    COLOR: #785708;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.award A:link
{
    FONT-SIZE: 11px;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: underline
}
.award A:visited
{
    FONT-SIZE: 11px;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: underline
}
.award A:hover
{
    FONT-SIZE: 11px;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.titlelist
{
    PADDING-LEFT: 8px;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 1.6;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
.titlelist A:link
{
    FONT-SIZE: 13px;
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.titlelist A:visited
{
    FONT-SIZE: 13px;
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.titlelist A:hover
{
    FONT-SIZE: 13px;
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.resource A:link
{
    FONT-SIZE: 13px;
    COLOR: #0b6e9a;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.resource A:visited
{
    FONT-SIZE: 13px;
    COLOR: #0b6e9a;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.resource A:hover
{
    FONT-SIZE: 13px;
    COLOR: #0b6e9a;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.caselist A:link
{
    PADDING-LEFT: 7px;
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.caselist A:visited
{
    PADDING-LEFT: 7px;
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.caselist A:hover
{
    PADDING-LEFT: 7px;
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.case01 A:link
{
    COLOR: #0066cc;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: underline
}
.case01 A:visited
{
    COLOR: #0066cc;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: underline
}
.case01 A:hover
{
    COLOR: #0066cc;
    LINE-HEIGHT: 1.5;
    TEXT-DECORATION: none
}
.list A:link
{
    FONT-SIZE: 12px;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: underline
}
.list A:visited
{
    FONT-SIZE: 12px;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: underline
}
.list A:hover
{
    FONT-SIZE: 12px;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.top A:link
{
    FONT-SIZE: 10px;
    COLOR: #306d9b;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.top A:visited
{
    FONT-SIZE: 10px;
    COLOR: #306d9b;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.top A:hover
{
    FONT-SIZE: 10px;
    COLOR: #ff6500;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.advice A:link
{
    FONT-SIZE: 11px;
    COLOR: #306d9b;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.advice A:visited
{
    FONT-SIZE: 11px;
    COLOR: #306d9b;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.advice A:hover
{
    FONT-SIZE: 11px;
    COLOR: #306d9b;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: underline
}
.gift
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.gift A:link
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.gift A:visited
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: none
}
.gift A:hover
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.7;
    TEXT-DECORATION: underline
}
.ref A:link
{
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.ref A:visited
{
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.ref A:hover
{
    COLOR: #0c59a6;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.case
{
    FONT-SIZE: 9px;
    LINE-HEIGHT: 1.5;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
.bold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
.award01
{
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 3;
    PADDING-TOP: 10px
}
.member
{
    FONT-SIZE: 11px;
    LINE-HEIGHT: 2;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
.time
{
    FONT-SIZE: 10px;
    COLOR: #696969;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
.pay_title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #fd5a31;
    LINE-HEIGHT: 19px;
    FONT-FAMILY: "Arial", "·s²Ó©úÅé"
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #417cb0;
    LINE-HEIGHT: 1.7;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}

.item
{
    FONT-SIZE: 13px;
    COLOR: black;
    LINE-HEIGHT: 1.5;
    FONT-FAMILY: Verdana
}
.item A:link
{
    FONT-SIZE: 13px;
    COLOR: black;
    LINE-HEIGHT: 1.5;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.item A:visited
{
    FONT-SIZE: 13px;
    COLOR: black;
    LINE-HEIGHT: 1.5;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.item A:hover
{
    FONT-SIZE: 13px;
    COLOR: black;
    LINE-HEIGHT: 1.5;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
.day
{
    COLOR: #4a4a4a;
    LINE-HEIGHT: 1.6;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
.day A:link
{
    COLOR: #4a4a4a;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.day A:visited
{
    COLOR: #4a4a4a;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: none
}
.day A:hover
{
    COLOR: #4a4a4a;
    LINE-HEIGHT: 1.6;
    TEXT-DECORATION: underline
}
.space
{
    PADDING-LEFT: 5px;
    FONT-FAMILY: "Lucida Sans", "Century Gothic"
}
BODY
{
    SCROLLBAR-FACE-COLOR: #f5f5f5;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #a2a2a2;
    SCROLLBAR-3DLIGHT-COLOR: #a2a2a2;
    SCROLLBAR-ARROW-COLOR: #8d8d8d;
    SCROLLBAR-TRACK-COLOR: #ebebeb;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}