vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_httpdversion:SX|FrontPage DBW
vti_ignorekeyboard:IR|1
vti_navbuttonuplabel:SR|向上
vti_dependenciesood:IR|0
vti_webservertype:SR|diskweb
vti_categories:VR|旅行 費用報告 商務 競爭 目標/目的 主意 雜項 等待中 VIP 處理中 計劃 排程
vti_navbuttonnextlabel:SR|下一頁
vti_approvallevels:VR|內容檢閱 法務檢閱 程式碼檢閱 管理員檢閱
vti_timecreated:TR|20 Apr 2004 02:18:45 -0000
vti_extenderversion:SR|4.0.2.4426
vti_navbuttonprevlabel:SR|上一頁
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|big5
vti_defaultlanguage:SR|zh-tw
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|首頁
