.Font9 {
	FONT-SIZE: 9pt
}
.TextField {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #006699; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ddeeff
}
.NewButton {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid; COLOR: #6699cc; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffcc
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #99ccff; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #666666
}
A:link {
	COLOR: #6699ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
A:active {
	COLOR: #cc0000; TEXT-DECORATION: underline blink
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.NewsContent {
	FONT-SIZE: 9pt
}
