.menuRight {
	BACKGROUND-COLOR: #f1e5b5
}
.t3 {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #990000; TEXT-DECORATION: none
}
.dlg {
	BACKGROUND-COLOR: #faf9e7
}
.topmenu {
	BACKGROUND-COLOR: #ffffff
}
.topmenulink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topmenulink2 {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ffffff; LINE-HEIGHT: 1; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.topmenulink-on {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.v1 {
	FONT-SIZE: 8pt; COLOR: #0000cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.v1:link {
	COLOR: #0000cc; TEXT-DECORATION: none
}
.v1:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
.v2 {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.v2:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.a3 {
	FONT-SIZE: 7.5pt; COLOR: #4b4b4b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.a3:link {
	COLOR: #4b4b4b; TEXT-DECORATION: underline
}
.a3:hover {
	COLOR: #9e0b0e; TEXT-DECORATION: underline
}
.t3 {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #990000; TEXT-DECORATION: none
}
.t4 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tiny {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tiny2 {
	FONT-SIZE: 10px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.tinywhite {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tinywhite2 {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: 'Times New Roman',Times,serif
}
.secondary {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.secondary TABLE {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.secondary TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.secondary2 {
	FONT-SIZE: 13px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.secondary3 {
	FONT-SIZE: 14px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.secondary4 {
	FONT-SIZE: 17px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.intro {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.intro2 {
	FONT-SIZE: 13px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.headline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.headline2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.techlink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.techlink2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: 'Times New Roman',Times,serif; TEXT-DECORATION: none
}
.graylink {
	COLOR: #666666; TEXT-DECORATION: none
}
.hdr3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.hdr4 {
	FONT-WEIGHT: bold; FONT-SIZE: 9.5pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.hdr3-w {
	FONT-WEIGHT: bold; FONT-SIZE: 11.5pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.hdr4-w {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: 'Times New Roman',Times,serif
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.titlewhite {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titlewhite2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: 'Times New Roman',Times,serif
}
.smalltext {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smalltext2 {
	FONT-SIZE: 11px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.smalltext3 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smalllist {
	MARGIN-TOP: 6px; FONT-SIZE: 10px; MARGIN-BOTTOM: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smalllist2 {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; MARGIN-BOTTOM: 6px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.smalllist3 {
	MARGIN-TOP: 6px; FONT-SIZE: 10px; MARGIN-BOTTOM: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.medlist {
	MARGIN-TOP: 6px; FONT-SIZE: 12px; MARGIN-BOTTOM: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.medlist2 {
	MARGIN-TOP: 6px; FONT-SIZE: 13px; MARGIN-BOTTOM: 6px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.author {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.navheader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nav {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nav2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nav3 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.navtab {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-LEFT: 12px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nav4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nav5 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
TABLE.navbar {
	WIDTH: 100%; HEIGHT: 19px
}
.navbar TD {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: url(/images/digitalmedia/topnavbg.gif) repeat-x 0px 0px; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.navbar A {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 3px; FONT-FAMILY: verdana,sans-serif; HEIGHT: 16px; TEXT-DECORATION: none
}
A.current {
	BORDER-RIGHT: #e0e2e4 1px solid; BACKGROUND: url(/images/digitalmedia/current.gif) repeat-x 0px 0px; BORDER-LEFT: #e0e2e4 1px solid; COLOR: #000
}
.new1 {
	FONT-SIZE: 8.5pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.new3 {
	FONT-SIZE: 7.5pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.nav:link {
	COLOR: white
}
A.nav:visited {
	COLOR: white
}
A.nav2:link {
	COLOR: white
}
A.nav2:visited {
	COLOR: white
}
.zeromarg {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
.noline {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.nolineblack {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nolineblack2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: 'Times New Roman',Times,serif; TEXT-DECORATION: none
}
.nolinewhite {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nolinewhite2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: 'Times New Roman',Times,serif; TEXT-DECORATION: none
}
.message {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.message2 {
	FONT-SIZE: 13px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullnet {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #990000; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pulllinux {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #660000; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullapache {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #006666; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullpatents {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #666699; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullrss {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #006600; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullbsd {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #663366; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullwireless {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #6699cc; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullpython {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #990066; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullmac {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #660099; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullmozilla {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #669900; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullphp {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #009999; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pullp2p {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #993399; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pulljava {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #cc0033; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pulljs {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #336666; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.pulldm {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #666666; LINE-HEIGHT: 27px; FONT-FAMILY: 'Times New Roman',Times,serif
}
.gray {
	COLOR: #666666
}
.network {
	COLOR: #990000
}
.linux {
	COLOR: #660000
}
.apache {
	COLOR: #006666
}
.dotnet {
	COLOR: #0000cc
}
.patents {
	COLOR: #666699
}
.rss {
	COLOR: #006600
}
.bsd {
	COLOR: #663366
}
.wireless {
	COLOR: #6699cc
}
.python {
	COLOR: #990066
}
.mozilla {
	COLOR: #669900
}
.mac {
	COLOR: #660099
}
.p2p {
	COLOR: #993399
}
.php {
	COLOR: #009999
}
.mysql {
	COLOR: #cc00cc
}
.perl {
	COLOR: #006699
}
.red {
	COLOR: #990000
}
.servlets {
	COLOR: #cc0033
}
.xml {
	COLOR: #009900
}
FORM {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
INPUT {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
PRE {
	CLEAR: both; OVERFLOW: auto; WIDTH: 600px; BACKGROUND-COLOR: #efefef
}
DIV.newsletter {
	WHITE-SPACE: pre
}
CODE {
	COLOR: #003366; FONT-FAMILY: 'Courier New',Courier,monospace
}
VAR {
	COLOR: #003366
}
.rbox {
	MARGIN-TOP: 2em; COLOR: #000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ccc
}
.rbcontent {
	MARGIN: 0px 6px; COLOR: #000; BACKGROUND-COLOR: #ccc
}
.rboxtop {
	BACKGROUND: url(http://www.oreillynet.com/images/gray_tr.gif) no-repeat right top
}
.rboxtop DIV {
	BACKGROUND: url(http://www.oreillynet.com/images/gray_tl.gif) no-repeat left top
}
.rboxbot {
	BACKGROUND: url(http://www.oreillynet.com/images/gray_br.gif) no-repeat right top
}
.rboxbot DIV {
	BACKGROUND: url(http://www.oreillynet.com/images/gray_bl.gif) no-repeat left top
}
.rboxtop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.rboxtop DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.rboxbot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.rboxbot DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 6px
}
.tb_left {
	MARGIN-TOP: 0.5em; FLOAT: left; WIDTH: 30%; HEIGHT: 20px
}
.tb_right {
	MARGIN-TOP: 0.5em; FLOAT: right; WIDTH: 60%; HEIGHT: 20px; TEXT-ALIGN: right
}
.trb_left {
	MARGIN-TOP: 0.5em; FLOAT: left; WIDTH: 60%; HEIGHT: 20px
}
.trb_right {
	MARGIN-TOP: 0.5em; FLOAT: right; WIDTH: 30%; HEIGHT: 20px; TEXT-ALIGN: right
}
DIV.feedback {
	MARGIN-TOP: 1em
}
.feedback UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1em; PADDING-TOP: 0px
}
.feedback LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(http://www.oreillynet.com/images/bullet-post.gif); PADDING-BOTTOM: 1em; MARGIN-LEFT: 0px; PADDING-TOP: 0px
}
.feedback UL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(http://www.oreillynet.com/images/bullet-reply.gif); PADDING-BOTTOM: 1em; MARGIN-LEFT: 0px; PADDING-TOP: 0px
}
.plain LI {
	LIST-STYLE-IMAGE: none! important; LIST-STYLE-TYPE: disc
}
.plain OL LI {
	LIST-STYLE-IMAGE: none! important; LIST-STYLE-TYPE: decimal
}
LI.trackback {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2em; LIST-STYLE-IMAGE: url(http://www.oreillynet.com/images/icons/trackback_18.gif); PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
DIV.plain LI {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: disc
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: visible; WIDTH: 100%; HEIGHT: 1px
}
UNKNOWN {
	BORDER-RIGHT: transparent 2px solid; BORDER-TOP: transparent 1px solid; BORDER-LEFT: transparent 2px solid; MARGIN-RIGHT: 2px; BORDER-BOTTOM: transparent 2px solid
}
UL.related {
	PADDING-LEFT: 16px; MARGIN: 0px 10px 10px 0px
}
.cover {
	MARGIN: 4px 8px 4px 0px
}
.box {
	BORDER-RIGHT: #cccccc 1pt solid; PADDING-RIGHT: 3pt; BORDER-TOP: #cccccc 1pt solid; PADDING-LEFT: 3pt; FONT-WEIGHT: normal; FONT-SIZE: x-small; MARGIN-BOTTOM: 12pt; PADDING-BOTTOM: 3pt; BORDER-LEFT: #cccccc 1pt solid; COLOR: #000000; PADDING-TOP: 3pt; BORDER-BOTTOM: #cccccc 1pt solid; FONT-FAMILY: "Trebuchet MS",verdana, arial, sans-serif
}
.trial {
	PADDING-RIGHT: 2pt; MARGIN-TOP: 0pt; PADDING-LEFT: 2pt; FONT-WEIGHT: normal; FONT-SIZE: small; MARGIN-BOTTOM: 0pt; PADDING-BOTTOM: 2pt; COLOR: #000000; PADDING-TOP: 2pt; FONT-FAMILY: "Trebuchet MS",verdana, arial, sans-serif
}
.main {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: "Trebuchet MS",verdana, arial, sans-serif
}
.box-main {
	BORDER-RIGHT: #cccccc 1pt solid; PADDING-RIGHT: 3pt; BORDER-TOP: #cccccc 1pt solid; PADDING-LEFT: 3pt; FONT-WEIGHT: normal; FONT-SIZE: small; MARGIN-BOTTOM: 12pt; PADDING-BOTTOM: 3pt; BORDER-LEFT: #cccccc 1pt solid; COLOR: #000000; PADDING-TOP: 3pt; BORDER-BOTTOM: #cccccc 1pt solid; FONT-FAMILY: "Trebuchet MS",verdana, arial, sans-serif
}
.box-main2 {
	PADDING-RIGHT: 3pt; PADDING-LEFT: 3pt; FONT-WEIGHT: normal; FONT-SIZE: small; MARGIN-BOTTOM: 12pt; PADDING-BOTTOM: 3pt; COLOR: #000000; PADDING-TOP: 3pt; FONT-FAMILY: "Trebuchet MS",verdana, arial, sans-serif
}
.header-box {
	FONT-WEIGHT: bold; FONT-SIZE: large; COLOR: #000000; FONT-FAMILY: verdana, arial, sans-serif
}
.sub-header-box {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #000000; FONT-FAMILY: verdana, arial, sans-serif
}
.editor {
	FONT-SIZE: 9px; COLOR: #777; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #eee
}
IMG.flickrimg {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; PADDING-TOP: 10px; BORDER-BOTTOM: 0px
}
.flickrstrip {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
.flickr_badge_image {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TD.flickr_badge_image IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tool {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.tool TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.tool A {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
DT {
	FONT-WEIGHT: bold
}
