/* Part Reset */
.sitemajiad div,.sitemajiad dl,.sitemajiad dt,.sitemajiad dd,.sitemajiad ul,.sitemajiad ol,.sitemajiad li,.sitemajiad h1,.sitemajiad h2,.sitemajiad h3,.sitemajiad h4,.sitemajiad h5,.sitemajiad h6,.sitemajiad pre,.sitemajiad p,.sitemajiad blockquote {margin:0;padding:0;}
.sitemajiad {margin-top:10px;}
.sitemajiad img {border:0;}
.sitemajiad address,.sitemajiad cite,.sitemajiad code,.sitemajiad dfn,.sitemajiad em,.sitemajiad strong,.sitemajiad var {font-style:normal;font-weight:normal;}
.sitemajiad li {list-style:none;}
.sitemajiad h1,.sitemajiad h2,.sitemajiad h3,.sitemajiad h4,.sitemajiad h5,.sitemajiad h6 {font-size:100%;font-weight:normal;}
.sitemajiad {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;text-align:left;padding:5px 5px 0 5px;position:relative;margin:5px;}
/* No-Float style */
.sitemaji-g {letter-spacing:-0.31em;*letter-spacing:normal;word-spacing:-0.43em;}
.sitemaji-u {display:inline-block;zoom: 1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top;}
/* AD Style */
.sitemajiad dl {padding-bottom:11px;cursor:pointer;width:100%;vertical-align:top;}
.sitemajiad dt {margin-bottom:0;}
.sitemajiad dt a {color:#3287f0 !important;text-decoration:none;margin-right:5px;font-size:116%;}
.sitemajiad dt a:hover {color:#3287f0;text-decoration:none;}
.sitemajiad dt a:visited {color:#3287f0;}
.sitemajiad dt a strong {color:#f00;}
.sitemajiad dd {color:#444;font-size:93%;}
.sitemajiad dt address {color:#0493e1;word-wrap:break-word;font-size:85%;}
.sitemajiad .ft {font-size:85%;color:#ccc;text-align:right;position:absolute;bottom:-6px;right:3px;background-color:#fcfcfc;}
.horizon dl.sitemaji-u {width:30%;padding-left:1%;} 
.sitemajidr iframe {display:inline-block;}
