BODY {
	MARGIN: 0px; FONT-FAMILY: verdana,arial,helvetica
}
TABLE.clsContainer {
	HEIGHT: 78%
}
A:link {
	COLOR: #003399
}
A:visited {
	COLOR: #660099
}
A:hover {
	COLOR: #ff3300
}
H1 {
	FONT-SIZE: 165%; MARGIN: 0px
}
H2 {
	MARGIN-TOP: 1em; FONT-SIZE: 125%; MARGIN-BOTTOM: 0px
}
H3 {
	FONT-SIZE: 115%; MARGIN-BOTTOM: 0px
}
H4 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 0px
}
H5 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 0px
}
H6 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 0px
}
DIV.clsDocBody {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
TD {
	FONT-SIZE: 68%
}
TH {
	FONT-SIZE: 68%
}
P {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 1em; LINE-HEIGHT: 1.5em
}
PRE {
	PADDING-RIGHT: 5pt; MARGIN-TOP: 1em; PADDING-LEFT: 5pt; BACKGROUND: #eeeeee; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 5pt; MARGIN-LEFT: 0px; PADDING-TOP: 5pt
}
SPAN.db PRE {
	BACKGROUND: #eeeeee; PADDING-BOTTOM: 0pt; PADDING-TOP: 0pt
}
SPAN.ci PRE {
	BACKGROUND: #eeeeee; PADDING-BOTTOM: 0pt; PADDING-TOP: 0pt
}
SPAN.di PRE {
	BACKGROUND: #eeeeee; PADDING-BOTTOM: 0pt; PADDING-TOP: 0pt
}
PRE.clsCode {
	FONT-SIZE: 110%; FONT-FAMILY: 'courier new',courier,serif
}
CODE.clsText {
	FONT-SIZE: 110%; FONT-FAMILY: 'courier new',courier,serif
}
PRE.clsCCCode {
	FONT-SIZE: 120%; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-FAMILY: 'courier new',courier,serif
}
PRE.clsSyntax {
	FONT-SIZE: 100%; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
HR {
	COLOR: #cccccc; HEIGHT: 1px
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px
}
OL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px
}
UL LI {
	MARGIN-BOTTOM: 0.5em; LINE-HEIGHT: 1.5em
}
UL LI LI {
	LIST-STYLE-TYPE: disc
}
OL LI {
	MARGIN-BOTTOM: 0.7em
}
INPUT.clsButton {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: 5px; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
P.small {
	FONT-WEIGHT: normal; FONT-SIZE: 95%; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
P.smallWhite {
	FONT-WEIGHT: normal; FONT-SIZE: 95%; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
P.author {
	FONT-WEIGHT: normal; FONT-SIZE: 95%; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-VARIANT: normal
}
P.NoLeftMar {
	MARGIN-LEFT: -15px
}
A.small {
	FONT-WEIGHT: normal; FONT-SIZE: 95%; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
A.smallWhite {
	FONT-WEIGHT: normal; FONT-SIZE: 95%; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
.CODE {
	FONT-WEIGHT: normal
}
.CODE2 {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #cccccc
}
.DATE {
	COLOR: #999999
}
.VRULE {
	BORDER-LEFT: #cccccc 1px solid
}
TITLE.open {
	FONT-WEIGHT: normal; FONT-SIZE: 95%; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
TITLE.closed {
	FONT-WEIGHT: normal; FONT-SIZE: 95%; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
TABLE.DATA {
	PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-COLLAPSE: collapse
}
TH.DATA {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
TD.DATA {
	BORDER-RIGHT: #cccccc 1px solid; FONT-WEIGHT: normal; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.clsCCDCInfo {
	BACKGROUND-COLOR: #eeeeee
}
.LOCATION {
	FONT-WEIGHT: normal; FONT-SIZE: 24px; COLOR: #cccccc; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.footer {
	FONT: bold xx-small Verdana
}
.footer:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.footer:hover {
	COLOR: #ff3300
}
DIV.artstyle {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE.clsStd TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; BACKGROUND-COLOR: #ddd; TEXT-ALIGN: left
}
TABLE.clsStd TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; BACKGROUND-COLOR: #eee
}
P.clsRef {
	MARGIN-TOP: 12pt; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0em
}
