BODY {
	FONT-FAMILY: verdana
}
TABLE.clsComment {
	FONT-FAMILY: verdana
}
TABLE.clsNavLinks A {
	FONT-WEIGHT: bold; COLOR: #003399; TEXT-DECORATION: none
}
TABLE.clsComment A {
	FONT-WEIGHT: bold; COLOR: #003399; TEXT-DECORATION: none
}
TABLE.clsTeasers A {
	FONT-WEIGHT: bold; COLOR: #003399; TEXT-DECORATION: none
}
TABLE.clsNavLinks TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: x-small; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: verdana
}
TABLE.clsNavLinks TD TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
DIV.clsError {
	FONT-SIZE: 68%
}
TABLE DIV.clsContainer {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 68%; PADDING-BOTTOM: 10px; WIDTH: 100%; PADDING-TOP: 10px; POSITION: relative; BACKGROUND-COLOR: #cccccc
}
TABLE TABLE DIV.clsContainer {
	BORDER-TOP: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.clsHDN TABLE {
	DISPLAY: none
}
SPAN.clsRespond {
	PADDING-RIGHT: 10px; WIDTH: 50%; TEXT-ALIGN: right
}
SPAN.clsSig {
	WIDTH: 49%
}
SPAN.clsToggle {
	LEFT: 2px; POSITION: absolute; TOP: 0.65em
}
