.font2 {
	COLOR: white; FONT-FAMILY: verdana, Arial; FONT-SIZE: 9pt; LINE-HEIGHT: 22px; TEXT-ALIGN: center
}
.font3 {
	FONT-FAMILY: "verdana", "Tahoma", "Arial"; FONT-SIZE: 9pt; LINE-HEIGHT: 20px
}
.font4 {
	FONT-FAMILY: "verdana", "Arial"; FONT-SIZE: 14px; LINE-HEIGHT: normal; PADDING-RIGHT: 0px
}
A:link {
	COLOR: #000080
}
A:visited {
	COLOR: #000080
}
A:hover {
	COLOR: red
}
.fontgetcase {
	COLOR: #000000; FONT-FAMILY: verdana, Arial; FONT-SIZE: 11pt; LINE-HEIGHT: 16pt
}
.C1 {
	FONT-FAMILY: 'Century Gothic', Verdana; FONT-SIZE: 10px
}
.C2 {
	FONT-FAMILY: 'Century Gothic', Verdana; FONT-SIZE: 12px
}
.font6 {
	FONT-FAMILY: 'Century Gothic', Verdana; FONT-SIZE: 16px
}
.C4 {
	FONT-FAMILY: 'Century Gothic', Verdana; FONT-SIZE: 14px
}
.blueon {
	BACKGROUND-COLOR: #ccccff
}
.blueoff {
	BACKGROUND-COLOR: white
}
