.f TD {
	WIDTH: 50%
}
.o {
	WIDTH: 50%
}
.q {
	WIDTH: 80%
}
.m {
	WIDTH: 100%
}
.w {
	WIDTH: 100%
}
.j {
	WIDTH: 100%
}
.f {
	WIDTH: 100%
}
.f TABLE {
	WIDTH: 100%
}
.n {
	WIDTH: 100%
}
.n TABLE {
	WIDTH: 100%
}
.s {
	WIDTH: 100%
}
.s TABLE {
	WIDTH: 100%
}
.m {
	HEIGHT: 100%
}
.k {
	HEIGHT: 100%
}
BODY {
	MARGIN: 0px
}
H1 {
	MARGIN: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.f TD TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.s TD TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.l TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.f EM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.n EM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.s EM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.y {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.i {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.f TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.n TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.x {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
H1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.c {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.r {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.z {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.p {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.f TD TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.n TD TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.s TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.a {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.d {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
TABLE {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
TD {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.f TABLE TABLE {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.s TABLE TABLE {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.f TABLE {
	BORDER-RIGHT: #ffd350 1px solid; BORDER-TOP: #ffd350 1px solid; BORDER-LEFT: #ffd350 1px solid; BORDER-BOTTOM: #ffd350 1px solid
}
.n TABLE {
	BORDER-RIGHT: #ffd350 1px solid; BORDER-TOP: #ffd350 1px solid; BORDER-LEFT: #ffd350 1px solid; BORDER-BOTTOM: #ffd350 1px solid
}
.s TABLE {
	BORDER-RIGHT: #ffd350 1px solid; BORDER-TOP: #ffd350 1px solid; BORDER-LEFT: #ffd350 1px solid; BORDER-BOTTOM: #ffd350 1px solid
}
.f EM {
	DISPLAY: block
}
.f CITE {
	DISPLAY: block
}
.n EM {
	DISPLAY: block
}
.n CITE {
	DISPLAY: block
}
.s EM {
	DISPLAY: block
}
.i {
	FLOAT: left
}
BODY {
	BACKGROUND: #f5f5f5
}
.u {
	BACKGROUND: #ffd350
}
.g {
	BACKGROUND: #ffd350
}
.v {
	BACKGROUND: #ffd350
}
.st {
	BACKGROUND: #ffd350
}
.e {
	BACKGROUND: #ffd350
}
.t {
	BACKGROUND: #ffffff
}
.f TABLE {
	BACKGROUND: #ffffff
}
.n TABLE {
	BACKGROUND: #ffffff
}
.s TABLE {
	BACKGROUND: #ffffff
}
.h {
	BACKGROUND: #ffffcc
}
H1 {
	COLOR: #555555
}
.p {
	COLOR: #915c00
}
.p A {
	COLOR: #915c00
}
.f TABLE {
	COLOR: #915c00
}
.f EM {
	COLOR: #915c00
}
.f A {
	COLOR: #915c00
}
.n TABLE {
	COLOR: #915c00
}
.n EM {
	COLOR: #915c00
}
.n A {
	COLOR: #915c00
}
.s TABLE {
	COLOR: #915c00
}
.e {
	COLOR: #915c00
}
.l A {
	COLOR: #915c00
}
.a A {
	COLOR: #915c00
}
.u A {
	COLOR: #c37d01
}
.g {
	COLOR: #c37d01
}
.g A {
	COLOR: #c37d01
}
.v {
	COLOR: #c37d01
}
.v A {
	COLOR: #c37d01
}
.st {
	COLOR: #c37d01
}
.st A {
	COLOR: #c37d01
}
.e A {
	COLOR: #c37d01
}
.p SPAN {
	COLOR: #e88700
}
.p A:hover {
	COLOR: #e88700
}
.a {
	COLOR: #e88700
}
.a A:hover {
	COLOR: #e88700
}
.u {
	COLOR: #f0b400
}
.u A:hover {
	COLOR: #ffffff
}
.g A:hover {
	COLOR: #ffffff
}
.v A:hover {
	COLOR: #ffffff
}
.st A:hover {
	COLOR: #ffffff
}
.e A:hover {
	COLOR: #ffffff
}
.g A {
	WHITE-SPACE: nowrap
}
.l A {
	WHITE-SPACE: nowrap
}
.u {
	LETTER-SPACING: 0.04em
}
A {
	TEXT-DECORATION: none
}
.b {
	CURSOR: pointer
}
.k {
	VERTICAL-ALIGN: top
}
.j {
	VERTICAL-ALIGN: top
}
.j TD {
	VERTICAL-ALIGN: top
}
.q {
	VERTICAL-ALIGN: top
}
.q TD {
	VERTICAL-ALIGN: top
}
.e {
	VERTICAL-ALIGN: middle
}
.u {
	VERTICAL-ALIGN: bottom
}
.c {
	TEXT-ALIGN: center
}
.r {
	TEXT-ALIGN: right
}
.f EM {
	TEXT-ALIGN: right
}
.n EM {
	TEXT-ALIGN: right
}
.s EM {
	TEXT-ALIGN: right
}
.f CITE {
	TEXT-ALIGN: justify
}
.n CITE {
	TEXT-ALIGN: justify
}
.e {
	FONT: 10px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.f TABLE {
	FONT: 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.f CITE {
	FONT: 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.n TABLE {
	FONT: 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.n EM {
	FONT: 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.n CITE {
	FONT: 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.s TABLE {
	FONT: 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.p EM {
	FONT: italic 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.f EM {
	FONT: italic 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.s EM {
	FONT: italic 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.u {
	FONT: bold 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.g {
	FONT: bold 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.v {
	FONT: bold 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.st {
	FONT: bold 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.a {
	FONT: bold 12px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.p {
	FONT: bold 18px Verdana,Geneva,Arial,Helvetica,sans-serif
}
H1 {
	FONT: bold 20px Verdana,Geneva,Arial,Helvetica,sans-serif
}
.cl {
	CLEAR: left
}
P {
	MARGIN: 10px 0px 0px
}
.tstable {
	WIDTH: 100%
}
.tstable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.tstable TABLE {
	BORDER-RIGHT: #ffd350 1px solid; BORDER-TOP: #ffd350 1px solid; BORDER-LEFT: #ffd350 1px solid; BORDER-BOTTOM: #ffd350 1px solid
}
.tstable TABLE TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.tsheader {
	BACKGROUND: #ffd350; COLOR: #915c00
}
.tsfooter {
	BACKGROUND: #ffffff; COLOR: #915c00
}
.tslinks {
	BACKGROUND: #ffffff; COLOR: #915c00
}
