BODY {
	SCROLLBAR-FACE-COLOR: white; FONT-SIZE: 10pt; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; SCROLLBAR-SHADOW-COLOR: #666666; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #cc0000; SCROLLBAR-TRACK-COLOR: #eeeeee; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #cccccc; SCROLLBAR-BASE-COLOR: white; BACKGROUND-COLOR: white
}
.border {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffcc99 3px solid; BACKGROUND-COLOR: #000000
}
TABLE {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
A {
	FONT-SIZE: 10pt; COLOR: #cc3333
}
H4 {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN-BOTTOM: 10px; COLOR: #ff9900
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "Courier New", Courier, mono
}
.heading {
	FONT-WEIGHT: bold; COLOR: #ff9900
}
