<?xml version="1.0" encoding="utf-8" ?>
<Config>
--清單網址
<ListURL><![CDATA[http://61.67.123.237/tvlist.aspx?OP=GetList&tvtype=us]]></ListURL>
--服務回報網址
<ServicURL><![CDATA[http://noc.tw-airnet.net/monitor/wService.aspx?]]></ServicURL>
--服務回報ID
<ServicID><![CDATA[350]]></ServicID>
--影片目錄
<HostDir><![CDATA[D:\]]></HostDir>
<MultiDir><![CDATA[false]]></MultiDir>
--家目錄
<HomePath><![CDATA[D:\media\]]></HomePath>
--port
<HttpPort><![CDATA[8080]]></HttpPort>
</Config>
