.UserRecognitionFlyoutPopup {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 3px; Z-INDEX: 10; FILTER: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='silver',Positive='true') alpha(opacity=95); PADDING-BOTTOM: 3px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; opacity: .95
}
.UserRecognitionFlyoutPopup A {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 0px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; HEIGHT: 15px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.UserRecognitionFlyoutPopup A:visited {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 0px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; HEIGHT: 15px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.UserRecognitionFlyoutPopup A:hover {
	BORDER-RIGHT: #addbef 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #addbef 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 0px; BORDER-LEFT: #addbef 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #addbef 1px solid; WHITE-SPACE: nowrap; HEIGHT: 15px; BACKGROUND-COLOR: #f0f7fd; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.UserRecognitionFlyoutPopup A:active {
	BORDER-RIGHT: #addbef 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #addbef 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 0px; BORDER-LEFT: #addbef 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #addbef 1px solid; WHITE-SPACE: nowrap; HEIGHT: 15px; BACKGROUND-COLOR: #f0f7fd; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.UserRecognitionFlyoutIndented {
	MARGIN-LEFT: 6px
}
A.UserRecognitionFlyoutIndented:visited {
	MARGIN-LEFT: 6px
}
A.UserRecognitionFlyoutIndented:hover {
	MARGIN-LEFT: 6px
}
A.UserRecognitionFlyoutIndented:active {
	MARGIN-LEFT: 6px
}
A.UserRecognitionFlyoutIndentedExpired {
	MARGIN-LEFT: 6px; CURSOR: default; COLOR: gray
}
A.UserRecognitionFlyoutIndentedExpired:visited {
	MARGIN-LEFT: 6px; CURSOR: default; COLOR: gray
}
A.UserRecognitionFlyoutIndentedExpired:hover {
	MARGIN-LEFT: 6px; CURSOR: default; COLOR: gray
}
A.UserRecognitionFlyoutIndentedExpired:active {
	MARGIN-LEFT: 6px; CURSOR: default; COLOR: gray
}
.UserRecognitionFlyoutPopupHeading {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003399; TEXT-ALIGN: left
}
.UserRecognitionFlyoutPopupHr {
	BACKGROUND: #d0e0f0; MARGIN: 0px 11px 21px; HEIGHT: 1px
}
.UserRecognitionFlyoutPopArrow {
	MARGIN: 4px 0px 0px
}
.UserRecognitionFlyoutStaticText_msdn {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1px 1px; COLOR: #5b5b5b; PADDING-TOP: 1px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.UserRecognitionFlyoutStatic_msdn {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: inline; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1px 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: default; COLOR: #5b5b5b; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.UserRecognitionFlyoutStaticHover_msdn {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: inline; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1px 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: default; COLOR: #5b5b5b; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.UserRecognitionFlyoutStaticHover_msdn {
	BORDER-RIGHT: #a1c6eb 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a1c6eb 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 1px 0px 1px 1px; BORDER-LEFT: #a1c6eb 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #a1c6eb 1px solid
}
A.UserRecognitionFlyoutStaticLink_msdn {
	DISPLAY: inline; FONT-WEIGHT: bold; CURSOR: default; COLOR: #5b5b5b; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.UserRecognitionFlyoutStaticLink_msdn:visited {
	DISPLAY: inline; FONT-WEIGHT: bold; CURSOR: default; COLOR: #5b5b5b; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.UserRecognitionFlyoutStaticLink_msdn:hover {
	DISPLAY: inline; FONT-WEIGHT: bold; CURSOR: default; COLOR: #5b5b5b; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.UserRecognitionFlyoutStaticLink_msdn:active {
	DISPLAY: inline; FONT-WEIGHT: bold; CURSOR: default; COLOR: #5b5b5b; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.UserRecognitionFlyoutOtherLink_msdn {
	COLOR: #5b5b5b; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.UserRecognitionFlyoutOtherLink_msdn:visited {
	COLOR: #5b5b5b; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.UserRecognitionFlyoutOtherLink_msdn:hover {
	COLOR: #5b5b5b; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.UserRecognitionFlyoutOtherLink_msdn:active {
	COLOR: #5b5b5b; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.LocaleManagementFlyoutPopup {
	BORDER-RIGHT: #b8b8b8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b8b8b8 1px solid; PADDING-LEFT: 3px; Z-INDEX: 10; FILTER: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='#e0e0e0',Positive='true') alpha(opacity=95); PADDING-BOTTOM: 3px; BORDER-LEFT: #b8b8b8 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #b8b8b8 1px solid; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; opacity: .95
}
.LocaleManagementFlyoutPopup A {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; HEIGHT: 15px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.LocaleManagementFlyoutPopup A:visited {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; HEIGHT: 15px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.LocaleManagementFlyoutPopup A:hover {
	BORDER-RIGHT: #addbef 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #addbef 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; BORDER-LEFT: #addbef 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #addbef 1px solid; WHITE-SPACE: nowrap; HEIGHT: 15px; BACKGROUND-COLOR: #f0f7fd; TEXT-DECORATION: none
}
.LocaleManagementFlyoutPopup A:active {
	BORDER-RIGHT: #addbef 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #addbef 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; BORDER-LEFT: #addbef 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #addbef 1px solid; WHITE-SPACE: nowrap; HEIGHT: 15px; BACKGROUND-COLOR: #f0f7fd; TEXT-DECORATION: none
}
.LocaleManagementFlyoutPopupHr {
	BACKGROUND: #d0e0f0; MARGIN: 0px 11px 21px; HEIGHT: 1px
}
.LocaleManagementFlyoutPopArrow {
	MARGIN: 4px 0px 0px
}
.LocaleManagementFlyoutStatic_msdn {
	BORDER-RIGHT: #3366cc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #3366cc 1px solid; DISPLAY: inline; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #3366cc 1px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #3366cc 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.LocaleManagementFlyoutStaticHover_msdn {
	BORDER-RIGHT: #3366cc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #3366cc 1px solid; DISPLAY: inline; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #3366cc 1px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #3366cc 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.LocaleManagementFlyoutStaticHover_msdn {
	BORDER-RIGHT: #a1c6eb 1px solid; BORDER-TOP: #a1c6eb 1px solid; BORDER-LEFT: #a1c6eb 1px solid; BORDER-BOTTOM: #a1c6eb 1px solid
}
A.LocaleManagementFlyoutStaticLink_msdn {
	DISPLAY: inline; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.LocaleManagementFlyoutStaticLink_msdn:visited {
	DISPLAY: inline; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.LocaleManagementFlyoutStaticLink_msdn:hover {
	DISPLAY: inline; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.LocaleManagementFlyoutStaticLink_msdn:active {
	DISPLAY: inline; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.LocaleManagementFlyoutStaticLiveLink_msdn {
	CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.LocaleManagementFlyoutStaticLiveLink_msdn:visited {
	CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.LocaleManagementFlyoutStaticLiveLink_msdn:hover {
	CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.LocaleManagementFlyoutStaticLiveLink_msdn:active {
	CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.TFlyPopupAnimate {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: gray 1px solid; DISPLAY: block; PADDING-LEFT: 0px; Z-INDEX: 1; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: gray 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: gray 1px solid; POSITION: absolute
}
.QuickLinksFlyoutPopup {
	BORDER-RIGHT: #b8b8b8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b8b8b8 1px solid; PADDING-LEFT: 3px; Z-INDEX: 10; FILTER: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='#e0e0e0',Positive='true') alpha(opacity=95); PADDING-BOTTOM: 3px; BORDER-LEFT: #b8b8b8 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #b8b8b8 1px solid; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; opacity: .95
}
.QuickLinksFlyoutPopup A {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.QuickLinksFlyoutPopup A:visited {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.QuickLinksFlyoutPopup A:hover {
	BORDER-RIGHT: #addbef 1px solid; BORDER-TOP: #addbef 1px solid; BORDER-LEFT: #addbef 1px solid; BORDER-BOTTOM: #addbef 1px solid; BACKGROUND-COLOR: #f0f7fd
}
.QuickLinksFlyoutPopup A:active {
	BORDER-RIGHT: #addbef 1px solid; BORDER-TOP: #addbef 1px solid; BORDER-LEFT: #addbef 1px solid; BORDER-BOTTOM: #addbef 1px solid; BACKGROUND-COLOR: #f0f7fd
}
.QuickLinksFlyoutPopup H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 4px 0px 5px; COLOR: #003399; LINE-HEIGHT: 110%
}
.QuickLinksFlyoutPopup TABLE {
	Z-INDEX: 10; VERTICAL-ALIGN: top
}
.QuickLinksFlyoutPopup TR {
	VERTICAL-ALIGN: top
}
.QuickLinksFlyoutPopup .list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
.QuickLinksFlyoutPopup .listitem {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; PADDING-TOP: 0px
}
.QuickLinksFlyoutPopupHr {
	BACKGROUND: #d0e0f0; HEIGHT: 1px
}
.QuickLinksPopArrow {
	MARGIN: 4px 0px 0px
}
.QuickLinksFlyoutStatic_msdn {
	BORDER-RIGHT: #3366cc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #3366cc 1px solid; DISPLAY: inline; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #3366cc 1px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #3366cc 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.QuickLinksFlyoutStaticHover_msdn {
	BORDER-RIGHT: #3366cc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #3366cc 1px solid; DISPLAY: inline; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #3366cc 1px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #3366cc 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.QuickLinksFlyoutStaticHover_msdn {
	BORDER-RIGHT: #a1c6eb 1px solid; BORDER-TOP: #a1c6eb 1px solid; BORDER-LEFT: #a1c6eb 1px solid; BORDER-BOTTOM: #a1c6eb 1px solid
}
A.QuickLinksFlyoutStaticLink_msdn {
	DISPLAY: inline; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.QuickLinksFlyoutStaticLink_msdn:visited {
	DISPLAY: inline; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.QuickLinksFlyoutStaticLink_msdn:hover {
	DISPLAY: inline; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.QuickLinksFlyoutStaticLink_msdn:active {
	DISPLAY: inline; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#TabStrip {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 70%; Z-INDEX: 2; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif; WHITE-SPACE: nowrap; POSITION: relative; TOP: 25px
}
#TabStrip TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#PortalDivider {
	BORDER-TOP: 4px solid; DISPLAY: block; MIN-HEIGHT: 1px; MARGIN: 0px 15px -5px; LINE-HEIGHT: 0px; HEIGHT: 1px
}
#LibraryDivider {
	PADDING-RIGHT: 0px; BORDER-TOP: 4px solid; DISPLAY: block; PADDING-LEFT: 0px; MIN-HEIGHT: 4px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 1px
}
#InThisSectionContainer {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 15px; VERTICAL-ALIGN: middle; COLOR: white; LINE-HEIGHT: 140%; PADDING-TOP: 4px; WHITE-SPACE: normal; BACKGROUND-COLOR: #8e909c; TEXT-ALIGN: left
}
#InThisSubSectionContainer {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 15px; VERTICAL-ALIGN: middle; COLOR: white; LINE-HEIGHT: 140%; PADDING-TOP: 4px; WHITE-SPACE: normal; BACKGROUND-COLOR: #8e909c; TEXT-ALIGN: left
}
#InThisSectionContainer A {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSectionContainer A:active {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSectionContainer A:visited {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSectionContainer A:link {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSectionContainer A:hover {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSubSectionContainer A {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSubSectionContainer A:active {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSubSectionContainer A:visited {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSubSectionContainer A:link {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSubSectionContainer A:hover {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#InThisSectionContainer A:hover {
	TEXT-DECORATION: underline
}
#InThisSubSectionContainer A:hover {
	TEXT-DECORATION: underline
}
.SectionOn {
	FONT-WEIGHT: bold
}
TD.tabOn {
	DISPLAY: inline-block; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; BORDER-LEFT: #f4f4f4 1px solid; COLOR: white; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif; WHITE-SPACE: nowrap
}
TD.tabOff {
	DISPLAY: inline-block; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; BORDER-LEFT: #f4f4f4 1px solid; COLOR: white; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif; WHITE-SPACE: nowrap
}
TD.tabOff {
	BORDER-BOTTOM: #f4f4f4 1px solid; BACKGROUND-COLOR: #8e909c
}
TD.tabOff A {
	PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TD.tabOff A:active {
	PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TD.tabOff A:visited {
	PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TD.tabOff A:link {
	PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TD.tabOn A {
	PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TD.tabOn A:active {
	PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TD.tabOn A:visited {
	PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TD.tabOn A:link {
	PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TD.tabOff A:hover {
	TEXT-DECORATION: none
}
TD.tabOn A:hover {
	TEXT-DECORATION: underline
}
#SearchContainer {
	DISPLAY: block; PADDING-TOP: 40px
}
.TabStrip_SearchBox {
	BORDER-RIGHT: #8e909c 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #8e909c 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 100%; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #8e909c 1px solid; WIDTH: 166px; COLOR: #9a999a; LINE-HEIGHT: 19px; PADDING-TOP: 2px; BORDER-BOTTOM: #8e909c 1px solid; FONT-STYLE: italic; FONT-FAMILY: Tahoma; HEIGHT: 17px
}
.TabStrip_SearchBoxActive {
	BORDER-RIGHT: #8e909c 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #8e909c 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 100%; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #8e909c 1px solid; WIDTH: 166px; COLOR: #9a999a; LINE-HEIGHT: 19px; PADDING-TOP: 2px; BORDER-BOTTOM: #8e909c 1px solid; FONT-STYLE: italic; FONT-FAMILY: Tahoma; HEIGHT: 17px
}
 HTML .TabStrip_SearchBox {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 19px
}
 HTML .TabStrip_SearchBoxActive {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 19px
}
.TabStrip_SearchBoxActive {
	COLOR: black; FONT-STYLE: normal
}
.TabStrip_SearchButton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 19px; PADDING-TOP: 0px; HEIGHT: 21px
}
.scopeArrow_msdn {
	BACKGROUND-POSITION: left top; FLOAT: left; BACKGROUND-IMAGE: url(/msdn/Controls/TabStrip/en-US/search_down_arrow.gif); BORDER-LEFT: white 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; min-width: 16px
}
.scopeArrow_technet {
	BACKGROUND-POSITION: left top; FLOAT: left; BACKGROUND-IMAGE: url(/msdn/Controls/TabStrip/en-US/search_down_arrow.gif); BORDER-LEFT: white 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; min-width: 16px
}
.scopeArrow_technet {
	BACKGROUND-IMAGE: url(/technet/Controls/TabStrip/en-US/search_down_arrow.gif)
}
 HTML .scopeArrow_msdn {
	PADDING-RIGHT: 18px; MARGIN-TOP: -1px; PADDING-TOP: 2px
}
 HTML .scopeArrow_technet {
	PADDING-RIGHT: 18px; MARGIN-TOP: -1px; PADDING-TOP: 2px
}
.scopeFlyout {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; Z-INDEX: 6; PADDING-BOTTOM: 2px; OVERFLOW: hidden; BORDER-LEFT: black 1px solid; WIDTH: auto; COLOR: navy; LINE-HEIGHT: 12px; PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid
}
.scopeFlyout A {
	DISPLAY: block; WIDTH: 100%; COLOR: black; min-width: 90px
}
.scopeItem {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: white 1px solid
}
.scopeItem:visited {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: white 1px solid
}
.scopeItem:active {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: white 1px solid
}
.scopeItem:link {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: white 1px solid
}
.scopeHover {
	BORDER-RIGHT: navy 1px solid; BORDER-TOP: navy 1px solid; DISPLAY: block; OVERFLOW: hidden; BORDER-LEFT: navy 1px solid; WIDTH: 100%; COLOR: #333333; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #e9ecf2
}
.scopeSelected {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: white 1px solid; WIDTH: 100%; CURSOR: default; COLOR: navy; PADDING-TOP: 2px; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: white
}
.scopeSelected:hover {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: white 1px solid; WIDTH: 100%; CURSOR: default; COLOR: navy; PADDING-TOP: 2px; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: white
}
.scopeSelected:visited {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: white 1px solid; WIDTH: 100%; CURSOR: default; COLOR: navy; PADDING-TOP: 2px; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: white
}
.scopeSelected:active {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: white 1px solid; WIDTH: 100%; CURSOR: default; COLOR: navy; PADDING-TOP: 2px; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: white
}
.scopeSelected:link {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: white 1px solid; WIDTH: 100%; CURSOR: default; COLOR: navy; PADDING-TOP: 2px; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: white
}
#CenterBrand {
	BORDER-RIGHT: #8e909c 1px solid; BORDER-TOP: #8e909c 1px solid; DISPLAY: block; BORDER-LEFT: #8e909c 1px solid; BORDER-BOTTOM: #f2f2f2 0px; HEIGHT: auto; BACKGROUND-COLOR: #f2f2f2
}
#CenterBrand TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#CenterBrand DIV {
	HEIGHT: 100%
}
#CenterBrand_SiteBrand_ A {
	DISPLAY: block; WIDTH: 100%; HEIGHT: 100%
}
#CenterBrand_SiteBrand_msdn A {
	DISPLAY: block; WIDTH: 100%; HEIGHT: 100%
}
#CenterBrand_SiteBrand_technet A {
	DISPLAY: block; WIDTH: 100%; HEIGHT: 100%
}
#CenterBrand_SiteBrand_ {
	BACKGROUND-POSITION: center 50%; Z-INDEX: 2; LEFT: 15px; BACKGROUND-IMAGE: url(/msdn/images/msdn_logo.gif); WIDTH: 83px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 25px; HEIGHT: 42px
}
#CenterBrand_SiteBrand_msdn {
	BACKGROUND-POSITION: center 50%; Z-INDEX: 2; LEFT: 15px; BACKGROUND-IMAGE: url(/msdn/images/msdn_logo.gif); WIDTH: 83px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 25px; HEIGHT: 42px
}
#CenterBrand_SiteBrand_technet {
	BACKGROUND-POSITION: center 50%; Z-INDEX: 2; LEFT: 15px; BACKGROUND-IMAGE: url(/technet/images/TechNet_Logo.gif); WIDTH: 189px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 25px; HEIGHT: 42px
}
#CenterBrand_CenterTitle_ {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 155%; FLOAT: left; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 43px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; WHITE-SPACE: nowrap
}
#CenterBrand_CenterTitle_msdn {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 155%; FLOAT: left; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 43px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; WHITE-SPACE: nowrap
}
#CenterBrand_CenterTitle_technet {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 155%; FLOAT: left; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 43px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; WHITE-SPACE: nowrap
}
#CenterBrand_CenterLogo_ {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#CenterBrand_CenterLogo_msdn {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#CenterBrand_CenterLogo_technet {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#ClearBoth {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; MIN-HEIGHT: 4px; PADDING-BOTTOM: 0px; WIDTH: 100%; LINE-HEIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 4px
}
DIV.miniRatings {
	FONT-SIZE: 70%; MARGIN: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; BORDER-BOTTOM: #c0c0c0 1px solid; HEIGHT: 28px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: left
}
DIV.miniRatings_left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 4px
}
DIV.miniRatings_left A {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: #f0f0f0 1px solid; COLOR: #0033cc; PADDING-TOP: 2px; BORDER-BOTTOM: #f0f0f0 1px solid; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
DIV.miniRatings_left A:hover {
	BORDER-RIGHT: #a1c6eb 1px solid; BORDER-TOP: #a1c6eb 1px solid; BORDER-LEFT: #a1c6eb 1px solid; BORDER-BOTTOM: #a1c6eb 1px solid; BACKGROUND-COLOR: #e3ebf2
}
DIV.miniRatings_left A:visited {
	COLOR: #0033cc
}
DIV.miniRatings_left A IMG {
	VERTICAL-ALIGN: text-bottom
}
DIV.miniRatings_right TD {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f0f0f0 1px solid; COLOR: #0033cc; PADDING-TOP: 2px; BORDER-BOTTOM: #f0f0f0 1px solid; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
DIV.miniRatings_right A:hover {
	BORDER-RIGHT: #a1c6eb 1px solid; BORDER-TOP: #a1c6eb 1px solid; BORDER-LEFT: #a1c6eb 1px solid; BORDER-BOTTOM: #a1c6eb 1px solid; BACKGROUND-COLOR: #e3ebf2
}
DIV.miniRatings_right A:visited {
	COLOR: #0033cc
}
DIV.miniRatings_right A IMG {
	VERTICAL-ALIGN: text-bottom
}
DIV.miniRatings_right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 340px; PADDING-TOP: 0px
}
DIV.miniRatings_right {
	FLOAT: right; HEIGHT: 28px
}
DIV.miniRatings_right #ratingTable {
	FLOAT: right
}
.ratingStar {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0pt; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 16px; CURSOR: pointer; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.filledRatingStar {
	BACKGROUND-IMAGE: url(/msdn/controls/toolbar/en-us/starGold.gif)
}
.filledddRatingStar {
	BACKGROUND-IMAGE: url(/msdn/controls/toolbar/en-us/starGray.gif)
}
.emptyRatingStar {
	BACKGROUND-IMAGE: url(/msdn/controls/toolbar/en-us/StarWhite.gif)
}
.savedRatingStar {
	BACKGROUND-IMAGE: url(/msdn/controls/toolbar/en-us/StarBlue.gif)
}
.ratingFlyoutStatic {
	WIDTH: 340px; WHITE-SPACE: nowrap
}
.ratingFlyoutPopup {
	BORDER-RIGHT: #7a7a7a 1px solid; BORDER-TOP: #7a7a7a 1px solid; BACKGROUND: url(/msdn/controls/toolbar/en-us/popupBG.png) white; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #7a7a7a 1px solid; WIDTH: 450px; BORDER-BOTTOM: #7a7a7a 1px solid; HEIGHT: 220px
}
.ratingFlyoutPopup .OptionalText {
	MARGIN-TOP: 10px; FONT-SIZE: 10pt; FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px; FONT-FAMILY: Verdana
}
.ratingFlyoutPopup .WarningMessage {
	MARGIN-TOP: 10px; FONT-SIZE: 10pt; FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px; FONT-FAMILY: Verdana
}
.ratingFlyoutPopup .WarningMessage {
	COLOR: red
}
.ratingFlyoutPopup .Comment {
	CLEAR: both; DISPLAY: block; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px; WIDTH: 396px; HEIGHT: 132px
}
.ratingFlyoutPopup .Button {
	FLOAT: right; MARGIN-RIGHT: 25px; PADDING-TOP: 0.2em
}
.tocPanel {
	BACKGROUND-IMAGE: url(/msdn/Controls/ResizableArea/en-us/TOCBg.jpg); BACKGROUND-REPEAT: repeat-y
}
.OverlayHidden {
	DISPLAY: none; LEFT: 0px; VISIBILITY: hidden; BOTTOM: 0px; POSITION: absolute; TOP: 91px
}
.OverlayShow {
	DISPLAY: block; Z-INDEX: 1024; LEFT: 0px; BACKGROUND-IMAGE: url(/msdn/controls/resizablearea/en-us/1px.png); VISIBILITY: visible; WIDTH: 100%; BOTTOM: 0px; BACKGROUND-REPEAT: repeat-x; POSITION: absolute; TOP: -1px; HEIGHT: 100%; BACKGROUND-COLOR: transparent
}
.loadingMessage {
	FONT-SIZE: 10pt; MARGIN: 5px; FONT-FAMILY: Arial
}
DIV.EyebrowMenuBar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; MARGIN: 3px 0px 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-serif
}
DIV.stat {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 21px; BORDER-TOP: #ffffff 1px solid; DISPLAY: inline; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #ffffff 1px solid; LINE-HEIGHT: 16px; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; HEIGHT: 16px
}
DIV.statHover {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 21px; BORDER-TOP: #ffffff 1px solid; DISPLAY: inline; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #ffffff 1px solid; LINE-HEIGHT: 16px; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; WHITE-SPACE: nowrap; HEIGHT: 16px
}
DIV.stat {
	BACKGROUND: url(/msdn/Controls/EyebrowMenuBar/en-us/arrowrgt.gif) no-repeat right center
}
DIV.statHover {
	BORDER-RIGHT: #a1c6eb 1px solid; BORDER-TOP: #a1c6eb 1px solid; BACKGROUND: url(/msdn/Controls/EyebrowMenuBar/en-us/arrowdwn.gif) #e3ebf2 no-repeat right center; BORDER-LEFT: #a1c6eb 1px solid; BORDER-BOTTOM: #a1c6eb 1px solid
}
DIV.stat A {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.statHover A {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.statHover A {
	COLOR: #000000; BACKGROUND-COLOR: #e3ebf2
}
DIV.stat A:visited {
	COLOR: #0000ee
}
DIV.stat A:link {
	COLOR: #0000ee
}
DIV.stat A:active {
	COLOR: #0000ee
}
DIV.popup {
	BORDER-RIGHT: #b8b8b8 1px solid; BORDER-TOP: #b8b8b8 1px solid; FILTER: progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='#e0e0e0',Positive='true') alpha(opacity=95); BORDER-LEFT: #b8b8b8 1px solid; BORDER-BOTTOM: #b8b8b8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.popup A:visited {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.popup A:link {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.popup A:active {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.popup A:hover {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.popup A:hover {
	BORDER-RIGHT: #addbef 1px solid; BORDER-TOP: #addbef 1px solid; BORDER-LEFT: #addbef 1px solid; COLOR: #000000; BORDER-BOTTOM: #addbef 1px solid; BACKGROUND-COLOR: #f0f7fd
}
.ExpandCollapseAllPanel {
	PADDING-RIGHT: 10px; FLOAT: left
}
.ExpCoLinkBtn {
	PADDING-RIGHT: 10px; PADDING-LEFT: 3px; VERTICAL-ALIGN: middle; CURSOR: pointer; COLOR: #000000; TEXT-DECORATION: none
}
IMG.ExpCoImgBtn {
	VERTICAL-ALIGN: middle; CURSOR: pointer; COLOR: #000000; TEXT-DECORATION: none
}
.DropDownFilterStyle {
	FLOAT: left; WIDTH: auto; POSITION: relative
}
.MTPS_DropDownImage {
	FLOAT: left; CURSOR: pointer; TEXT-ALIGN: center
}
.DropDownFilterOff {
	PADDING-LEFT: 5px; FLOAT: left; CURSOR: pointer; COLOR: black; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.MTPS_PopupDivPanel {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #cccccc 1px solid; WIDTH: 200px; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left
}
.codeHide {
	DISPLAY: none
}
.DivCbxLabelLanguage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent
}
.DivCbxLabelLanguage INPUT {
	VERTICAL-ALIGN: middle
}
DIV.VsBar {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; Z-INDEX: 1; PADDING-BOTTOM: 7px; MARGIN: 0px 20px 0px 0px; WIDTH: auto; PADDING-TOP: 7px; HEIGHT: 20px; BACKGROUND-COLOR: transparent
}
.ContributionSummary_Container {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 45px; MARGIN: 0px; WIDTH: 265px; PADDING-TOP: 45px; POSITION: relative
}
.ContributionSummary_Border {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 8px; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=white,endColorStr=Gainsboro); PADDING-BOTTOM: 8px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 8px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f1f1f1
}
.ContributionSummary_ControlTitle {
	CLEAR: both; FONT-WEIGHT: bold; WIDTH: 250px; LINE-HEIGHT: normal; POSITION: relative; TOP: -30px
}
.ContributionSummary_ControlTitle IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: text-bottom; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.ContributionSummary_RssLink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 45px 0px 0px; PADDING-TOP: 0px
}
.ContributionSummary_Body {
	
}
.ContributionSummary_ItemsHeader {
	PADDING-BOTTOM: 9px
}
.ContributionSummary_ItemsHeader .RssTitle {
	FONT-WEIGHT: bold
}
.ContributionSummary_Item {
	
}
.ContributionSummary_TextItem {
	COLOR: #000000
}
.ContributionSummary_TextValue {
	COLOR: #0033cc
}
.ContributionSummary_LinkItem A {
	COLOR: #0033cc; TEXT-DECORATION: none
}
.ContributionSummary_Separator {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ContributionSummary_ShortRule {
	COLOR: #d8e5ed; HEIGHT: 1px
}
.ContributionSummary_Footer {
	PADDING-TOP: 5px; TEXT-ALIGN: right
}
.ContributionSummary_TagsTitle {
	FONT-WEIGHT: bold
}
A.ContributionSummary_TagsLink {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
A.ContributionSummary_TagsLink:active {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
A.ContributionSummary_TagsLink:hover {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
A.ContributionSummary_TagsLink:visited {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
.ContributionSummary_TagCloud {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 16px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 250px; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-FAMILY: arial; POSITION: relative; BACKGROUND-COLOR: transparent; TEXT-ALIGN: justify
}
.ContributionSummary_TagCloud A {
	FLOAT: none; MARGIN-RIGHT: 0px; TEXT-DECORATION: none
}
.ContributionSummary_TagCloud A:hover {
	COLOR: white; BACKGROUND-COLOR: #444; TEXT-DECORATION: none
}
.ContributionSummary_Tag1Vis {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 6px 2px 0px; COLOR: #bbb
}
.ContributionSummary_Tag1Vis:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 6px 2px 0px; COLOR: #bbb
}
.ContributionSummary_Tag2Vis {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 5px 2px 0px; COLOR: #888
}
.ContributionSummary_Tag2Vis:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 5px 2px 0px; COLOR: #888
}
.ContributionSummary_Tag3Vis {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 5px 2px 0px; COLOR: #666
}
.ContributionSummary_Tag3Vis:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 5px 2px 0px; COLOR: #666
}
.ContributionSummary_Tag4Vis {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 5px 2px 0px; COLOR: #444
}
.ContributionSummary_Tag4Vis:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 5px 2px 0px; COLOR: #444
}
.ContributionSummary_Tag1Size {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #444
}
.ContributionSummary_Tag1Size:visited {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #444
}
.ContributionSummary_Tag2Size {
	FONT-SIZE: 18px; COLOR: #444
}
.ContributionSummary_Tag2Size:visited {
	FONT-SIZE: 18px; COLOR: #444
}
.ContributionSummary_Tag3Size {
	FONT-SIZE: 21px; COLOR: #444
}
.ContributionSummary_Tag3Size:visited {
	FONT-SIZE: 21px; COLOR: #444
}
.ContributionSummary_Tag4Size {
	FONT-SIZE: 24px; COLOR: #444
}
.ContributionSummary_Tag4Size:visited {
	FONT-SIZE: 24px; COLOR: #444
}
.AlterPart {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline; PADDING-LEFT: 8px; BACKGROUND: url(/msdn/Controls/AlternateSelector/en-us/gradient.gif) #ffffff repeat-x 0px bottom; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 8px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 200px; COLOR: #000000; PADDING-TOP: 8px; BORDER-BOTTOM: #cccccc 1px solid
}
.AlterPart SPAN {
	FONT-WEIGHT: bold
}
.AlterPart UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.AlterPart LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/images/b.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px 20px; PADDING-TOP: 0px
}
.AlterPart A {
	COLOR: #0033cc
}
.MTPSPart {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline; PADDING-LEFT: 8px; BACKGROUND: url(/msdn/Controls/RelatedPages/en-us/gradient.gif) #ffffff repeat-x 0px bottom; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 160px; COLOR: #000000; PADDING-TOP: 8px; BORDER-BOTTOM: #cccccc 1px solid
}
.MTPSPart P {
	FONT-WEIGHT: bold
}
.MTPSPart UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.MTPSPart UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: smaller; LIST-STYLE-IMAGE: url(/images/b.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px 17px; COLOR: #cccccc; LINE-HEIGHT: 140%; PADDING-TOP: 0px
}
.MTPSPart UL LI A {
	COLOR: #0033cc
}
.TagEditor_Panel {
	BORDER-RIGHT: #87a9d1 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #87a9d1 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #87a9d1 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #87a9d1 1px solid; POSITION: relative; HEIGHT: 24px; BACKGROUND-COLOR: #fafaff
}
.TagEditor_Panel_Block {
	PADDING-RIGHT: 3px; BORDER-TOP: #d4d0c8 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 3px; POSITION: relative; HEIGHT: 24px; BACKGROUND-COLOR: #fafaff
}
.TagEditor_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0px 4px 0px 0px
}
.TagEditor_Text {
	FONT-SIZE: 8pt; COLOR: #3366cc
}
.TagEditor_View {
	FONT-SIZE: 8pt; LEFT: 0px; MARGIN: 0px 4px; POSITION: relative; TOP: 0px
}
.TagEditor_Edit {
	MARGIN: 0px 4px; WHITE-SPACE: nowrap
}
.TagEditor_TextBox {
	FONT-SIZE: 10pt; Z-INDEX: 100; VERTICAL-ALIGN: text-top; LINE-HEIGHT: 20px
}
.TagEditor_TagPair {
	WHITE-SPACE: nowrap
}
A.TagEditor_Link {
	FONT-SIZE: 8pt; COLOR: #3366cc
}
A.TagEditor_Link:active {
	FONT-SIZE: 8pt; COLOR: #3366cc
}
A.TagEditor_Link:hover {
	FONT-SIZE: 8pt; COLOR: #3366cc
}
A.TagEditor_Link:visited {
	FONT-SIZE: 8pt; COLOR: #3366cc
}
A.TagEditor_LinkButton {
	FONT-SIZE: 8pt; COLOR: #3366cc; WHITE-SPACE: nowrap
}
A.TagEditor_LinkButton:active {
	FONT-SIZE: 8pt; COLOR: #3366cc; WHITE-SPACE: nowrap
}
A.TagEditor_LinkButton:hover {
	FONT-SIZE: 8pt; COLOR: #3366cc; WHITE-SPACE: nowrap
}
A.TagEditor_LinkButton:visited {
	FONT-SIZE: 8pt; COLOR: #3366cc; WHITE-SPACE: nowrap
}
.TagEditor_Message {
	COLOR: red
}
.TagEditor_HelpLink {
	MARGIN: 0px 4px; VERTICAL-ALIGN: middle
}
.TagEditor_HelpFlyout {
	BORDER-RIGHT: black 3px solid; BORDER-TOP: black 3px solid; BORDER-LEFT: black 3px solid; BORDER-BOTTOM: black 3px solid; BACKGROUND-COLOR: white
}
.CodeSnippetTitleBar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WORD-SPACING: normal; PADDING-TOP: 3px; BORDER-BOTTOM: #aaaaaa 1px solid; WHITE-SPACE: nowrap; LETTER-SPACING: normal; HEIGHT: 20px; BACKGROUND-COLOR: #dddddd
}
.CodeDisplayLanguage {
	FLOAT: left; TEXT-ALIGN: left
}
.CopyCodeButton {
	FLOAT: right; TEXT-ALIGN: right
}
A.copyCode {
	CURSOR: pointer; COLOR: blue; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.InlineEditor_Editor_Off {
	BORDER-RIGHT: #87a9d1 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #87a9d1 0px solid; PADDING-LEFT: 3px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 3px; BORDER-LEFT: #87a9d1 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #87a9d1 0px solid
}
.InlineEditor_Editor_On {
	BORDER-RIGHT: #87a9d1 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #87a9d1 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; BORDER-LEFT: #87a9d1 1px solid; CURSOR: text; PADDING-TOP: 3px; BORDER-BOTTOM: #87a9d1 1px solid; FONT-FAMILY: Verdana; HEIGHT: 120px
}
.InlineEditor_Toolbar {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BACKGROUND: lightgrey; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; HEIGHT: 24px
}
.InlineEditor_ImageButton {
	FLOAT: left; MARGIN: 0px; CURSOR: pointer; HEIGHT: 24px
}
.InlineEditor_Separator {
	FLOAT: left; MARGIN: 0px; CURSOR: default; HEIGHT: 24px
}
.InlineEditor_Title_Edit {
	WIDTH: 100%
}
.InlineEditor_TagEditorPanel {
	TEXT-ALIGN: left
}
.wkeMessage {
	MARGIN-TOP: 14px; FONT-SIZE: 10pt; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; COLOR: red
}
.wkeButton {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px
}
.wkButtonsPanel {
	TEXT-ALIGN: right
}
.wkViewerContainer {
	BORDER-RIGHT: #87a9d1 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #87a9d1 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px 20px 20px; BORDER-LEFT: #87a9d1 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #87a9d1 1px solid; BACKGROUND-COLOR: white
}
.wkViewerContainer_Edit {
	BORDER-RIGHT: #87a9d1 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #87a9d1 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px 20px 20px; BORDER-LEFT: #87a9d1 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #87a9d1 1px solid; BACKGROUND-COLOR: white
}
.wkViewerContainer_Edit {
	FILTER: progid:DXImageTransform.Microsoft.Shadow( 'color:gray, strength:5, direction:135' ); BACKGROUND-COLOR: #d6e6f6
}
.wkViewerHeader {
	DISPLAY: block; OVERFLOW: hidden; POSITION: relative; BACKGROUND-COLOR: #fafaff
}
.wkViewerHeaderHover {
	DISPLAY: block; OVERFLOW: hidden; POSITION: relative; BACKGROUND-COLOR: #fafaff
}
.wkViewerHeaderHover {
	BACKGROUND-COLOR: #ffffcc
}
.wkViewerHeader_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; WORD-WRAP: break-word
}
.wkViewerHeader_Spacer {
	BACKGROUND-COLOR: transparent
}
.wkViewerHeader_Actions {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: top; COLOR: #666666; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.wkViewerHeader_Link {
	COLOR: #336699; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.wkViewerHeader_Link:hover {
	COLOR: #336699; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.wkViewerHeader_Link:visited {
	COLOR: #336699; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.wkViewerHeader_Link:hover {
	WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
.wkViewerText {
	BORDER-TOP: #e3e3e3 1px solid; DISPLAY: block; OVERFLOW: auto; WORD-WRAP: break-word
}
.wkViewerTextHover {
	BORDER-TOP: #e3e3e3 1px solid; DISPLAY: block; OVERFLOW: auto; WORD-WRAP: break-word
}
.wkViewerTextHover {
	BACKGROUND-COLOR: #ffffcc
}
.wkHistoryItem {
	BORDER-RIGHT: #e3e3e3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.HistoryBody {
	MARGIN-TOP: 5px; DISPLAY: block; OVERFLOW: auto; BACKGROUND-COLOR: #d6e6f6; TEXT-ALIGN: left; WORD-WRAP: break-word
}
.wkiSavedMessage {
	COLOR: red
}
.cc {
	MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%
}
.ccHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.ccContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.cch_left {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(msdn/Controls/WikiSection/en-us/green-left.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 66px; max-height: 66px
}
.cch_middle {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(msdn/Controls/WikiSection/en-us/green-middle.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 2px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 66px; BACKGROUND-COLOR: #ffffff
}
.cch_right {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(msdn/Controls/WikiSection/en-us/green-right.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 66px; BACKGROUND-COLOR: #ffffff
}
.cch_title {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 10px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap
}
.cc_toolbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; COLOR: #3366cc; PADDING-TOP: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #e3e3e3
}
.cch_toolbartext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #3366cc; PADDING-TOP: 0px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #e3e3e3; TEXT-ALIGN: left
}
.cch_toolbartext {
	COLOR: #3366cc
}
.ccAddLink {
	PADDING-LEFT: 4px; CURSOR: pointer; COLOR: #3366cc; TEXT-DECORATION: underline
}
.ccAddLinkDisabled {
	PADDING-LEFT: 4px; CURSOR: pointer; COLOR: #3366cc; TEXT-DECORATION: underline
}
.ccAddLinkDisabled {
	COLOR: gray
}
.ccAddLinkDisabled:hover {
	COLOR: gray
}
.ccAddLinkDisabled:visited {
	COLOR: gray
}
.ccViewProfileLink {
	PADDING-RIGHT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #3366cc; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e3e3e3
}
.cch_footertext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 8pt; PADDING-BOTTOM: 7px; MARGIN: 0px; COLOR: #3366cc; PADDING-TOP: 7px; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
.cch_footertext A {
	COLOR: #3366cc; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.cch_footertext A:visited {
	COLOR: #3366cc; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.cch_footertext A:hover {
	COLOR: #3366cc; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.wkItemsCoontainer {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN: 20px 2px 0px 0px; BORDER-LEFT: medium none; WIDTH: 100%; BORDER-BOTTOM: medium none
}
.wksMessage {
	MARGIN-TOP: 14px; FONT-SIZE: 10pt; FLOAT: left; COLOR: red
}
.wksButton {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; PADDING-TOP: 0.2em
}
.wksButtonsPanel {
	TEXT-ALIGN: right
}
.wkMessage {
	FONT-SIZE: 10pt; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 20px; COLOR: red
}
TD.MTPS_FooterFade {
	BACKGROUND-POSITION: right 50%; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/msdn/Controls/MTPS_FooterCtrl/en-us/mscomfooterfade.jpg); FONT: bold 70% verdana; COLOR: #cccccc; BACKGROUND-REPEAT: repeat-y; HEIGHT: 57px; BACKGROUND-COLOR: #ffffff
}
TD.MTPS_FooterLogo {
	BORDER-TOP: #999999 1px solid; WIDTH: 105px; BACKGROUND-COLOR: #1e77d3
}
DIV.MTPS_FooterLinks {
	MARGIN-BOTTOM: 10px
}
A.MTPS_FooterLinks {
	FONT-WEIGHT: normal; COLOR: #0033cc
}
DIV.MTPS_FooterLinks A {
	FONT-WEIGHT: normal; COLOR: #0033cc
}
A.MTPS_FooterLinks:hover {
	COLOR: #ff6600
}
DIV.MTPS_FooterLinks A:hover {
	COLOR: #ff6600
}
.MTPS_FooterCopyright {
	FONT-WEIGHT: normal; COLOR: #000000
}
TD.MTPS_FooterFade_msdn {
	BACKGROUND-POSITION: right 50%; BORDER-TOP: #3366cc 1px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/msdn/Controls/MTPS_FooterCtrl/en-us/msdnfooterfade.jpg); FONT: bold 70% verdana; COLOR: #cccccc; BACKGROUND-REPEAT: repeat-y; HEIGHT: 57px; BACKGROUND-COLOR: #ffffff
}
TD.MTPS_FooterLogo_msdn {
	BORDER-TOP: #3366cc 1px solid; WIDTH: 105px; BACKGROUND-COLOR: #6699ff
}
DIV.MTPS_FooterLinks_msdn {
	MARGIN-BOTTOM: 10px
}
A.MTPS_FooterLinks_msdn {
	FONT-WEIGHT: normal; COLOR: #0033cc
}
DIV.MTPS_FooterLinks_msdn A {
	FONT-WEIGHT: normal; COLOR: #0033cc
}
A.MTPS_FooterLinks_msdn:hover {
	COLOR: #ff6600
}
DIV.MTPS_FooterLinks_msdn A:hover {
	COLOR: #ff6600
}
.MTPS_FooterCopyright_msdn {
	FONT-WEIGHT: normal; COLOR: #000000
}
TD.MTPS_FooterFade_technet {
	BACKGROUND-POSITION: right 50%; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/msdn/Controls/MTPS_FooterCtrl/en-us/technetfooterfade.jpg); FONT: bold 70% verdana; COLOR: #cccccc; BACKGROUND-REPEAT: repeat-y; HEIGHT: 57px; BACKGROUND-COLOR: #ffffff
}
TD.MTPS_FooterLogo_technet {
	BORDER-TOP: #999999 1px solid; WIDTH: 105px; BACKGROUND-COLOR: #cdcdcd
}
DIV.MTPS_FooterLinks_technet {
	MARGIN-BOTTOM: 10px
}
A.MTPS_FooterLinks_technet {
	FONT-WEIGHT: normal; COLOR: #0033cc
}
DIV.MTPS_FooterLinks_technet A {
	FONT-WEIGHT: normal; COLOR: #0033cc
}
A.MTPS_FooterLinks_technet:hover {
	COLOR: #ff6600
}
DIV.MTPS_FooterLinks_technet A:hover {
	COLOR: #ff6600
}
.MTPS_FooterCopyright_technet {
	FONT-WEIGHT: normal; COLOR: #000000
}
DIV.MTPS_CollapsibleRegion {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
A.CollapseRegionLink {
	FONT-WEIGHT: 700; CURSOR: pointer; COLOR: #000000; FONT-FAMILY: Verdana,tahoma,arial; TEXT-DECORATION: none
}
A.CollapseRegionLink:link {
	FONT-WEIGHT: 700; CURSOR: pointer; COLOR: #000000; FONT-FAMILY: Verdana,tahoma,arial; TEXT-DECORATION: none
}
A.CollapseRegionLink:hover {
	FONT-WEIGHT: 700; CURSOR: pointer; COLOR: #000000; FONT-FAMILY: Verdana,tahoma,arial; TEXT-DECORATION: none
}
A.CollapseRegionLink:visited {
	FONT-WEIGHT: 700; CURSOR: pointer; COLOR: #000000; FONT-FAMILY: Verdana,tahoma,arial; TEXT-DECORATION: none
}
.CollapseRegionImg {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-RIGHT: 5px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.FallbackContainer {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 100%; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 8px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 200px; PADDING-TOP: 8px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f1f1f1
}
.FallbackHeaderLabel {
	FONT-WEIGHT: bolder
}
.FallbackLocale {
	FONT-STYLE: italic
}
.MtpsMemberLink {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px; POSITION: absolute; TEXT-ALIGN: left
}
.clsDocBody .MultiViewContainerPanel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #6699cc
}
.clsDocBody .MultiViewTableHeaderCell {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; FONT-WEIGHT: 700; FONT-SIZE: 100%; PADDING-BOTTOM: 3px; MARGIN: 10px; COLOR: #ffffff; PADDING-TOP: 3px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #6699cc
}
.clsDocBody .MultiViewContainerPanelDhtmlTable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.MultiViewContainerPanelDhtmlTable TBODY TR TD.MultiViewTableCellContentCell {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.clsDocBody .MultiViewTableCellListCell {
	BORDER-RIGHT: #6699cc 2px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #6699cc 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-COLOR: #dddddd
}
.clsDocBody .MultiViewTableCellContentCell {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid
}
.mvt_ShowTextLabel {
	FONT-WEIGHT: 700; FONT-SIZE: x-small
}
.mvt_ListBtn {
	PADDING-RIGHT: 4px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 4px; FONT-SIZE: x-small; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 4px
}
.mvt_ListBtn A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 4px
}
.mvt_ListBtn A:active {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 4px; BACKGROUND-COLOR: #999999
}
.mvt_ListBtn A:hover {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; WIDTH: 100%; COLOR: #336699; PADDING-TOP: 4px; BACKGROUND-COLOR: #cccccc
}
.MultiViewPanelClosed {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.MultiViewPanelOpen {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; WIDTH: 100%; PADDING-TOP: 0px; TOP: 0px
}
.clsTab {
	FONT: bold 100% verdana,arial,helvetica,sans-serif; CURSOR: hand; COLOR: #ffffff; BACKGROUND-COLOR: #3366cc
}
.MultiViewTableCellContentCell TABLE.clsStd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BOTTOM: 0px; PADDING-TOP: 0px; TOP: 0px; BACKGROUND-COLOR: red
}
TABLE.clsStd TBODY TR TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; BACKGROUND-COLOR: #ddd; TEXT-ALIGN: left
}
TABLE.clsStd TBODY TR TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; BACKGROUND-COLOR: #eee
}
TABLE.clsStd TD SPAN A {
	FONT-SIZE: x-small; COLOR: #003399
}
.AltPageHeaderLabel {
	FONT-SIZE: 200%; WIDTH: auto
}
.AltPageContentLabel {
	WIDTH: auto
}
