.title {
	MARGIN: 0px 0px 10px; FONT: 190% Arial, Helvetica, sans-serif; COLOR: #000000
}
.majorLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 10px 0px 3px; FONT-FAMILY: Verdana
}
.sectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 10px 0px 3px; FONT-FAMILY: Verdana
}
.minorLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal
}
.subHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.parameter {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
DIV.section {
	PADDING-LEFT: 20px
}
DIV.ContentArea TABLE {
	MARGIN: 10px 0px; WIDTH: auto; BORDER-COLLAPSE: collapse
}
DIV.ContentArea TABLE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.ContentArea TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 3mm; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
DIV.ContentArea TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 3mm; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
DIV.ContentArea TABLE TH {
	BACKGROUND: #cccccc; VERTICAL-ALIGN: bottom
}
DIV.ContentArea TABLE TH P {
	FONT-WEIGHT: bold
}
DIV.ContentArea TABLE TD {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 0px solid; BACKGROUND: #ffffff; VERTICAL-ALIGN: top; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid
}
.ContentArea .topic TABLE {
	WIDTH: auto
}
.ContentArea .topic TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.ContentArea .topic TABLE TD P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.ContentArea .topic TABLE TD UL {
	MARGIN: 5px 10px 5px 20px
}
.ContentArea .section TABLE TD UL LI {
	LIST-STYLE-IMAGE: url(/images/b.gif)
}
.ContentArea .subSection UL LI {
	LIST-STYLE-IMAGE: url(/images/b.gif)
}
.ContentArea .topic LI {
	LIST-STYLE-IMAGE: url(/images/b.gif)
}
DIV.ContentArea TABLE.memberListTable TD {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: left
}
TT {
	FONT-FAMILY: Lucida Console, Courier New
}
SPAN.code {
	FONT-FAMILY: Lucida Console, Courier New
}
DIV.code {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 0px 0px; PADDING-TOP: 5px; max-width: 100%
}
PRE.code {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 0px 0px; PADDING-TOP: 5px; max-width: 100%
}
DIV.lang {
	CLEAR: both; PADDING-LEFT: 5px; BORDER-BOTTOM: #eeeeee 1px solid; WHITE-SPACE: pre; BACKGROUND-COLOR: #dddddd
}
PRE {
	BACKGROUND: #dddddd; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1em; PADDING-TOP: 0px; FONT-FAMILY: Lucida Console, Courier New
}
UL {
	MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
UL UL {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
OL {
	MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
OL OL {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
OL UL {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
UL OL {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
LI {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 0px
}
DT {
	MARGIN: 0px; FONT-STYLE: normal
}
DD {
	
}
DIV.alert TABLE TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-COLOR: #cccccc
}
.legacyBold {
	FONT-WEIGHT: bold
}
.ui {
	FONT-WEIGHT: bold
}
.legacyItalic {
	FONT-STYLE: italic
}
DIV.declarationSyntaxes SPAN.VisualBasicDeclaration {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.VisualBasicUsage {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.CSharp {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.ManagedCPlusPlus {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.JSharp {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.JScript {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes PRE {
	PADDING-RIGHT: 10px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 25px; BACKGROUND: #dddddd; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px; LINE-HEIGHT: 140%; PADDING-TOP: 5px; FONT-FAMILY: Lucida Console, Courier New
}
DIV.clsRegTree UL {
	MARGIN-LEFT: 2.5em
}
DIV.clsRegTree UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
DIV.clsRegTree LI {
	MARGIN: 0px; TEXT-INDENT: -2.5em; LINE-HEIGHT: normal; LIST-STYLE-TYPE: none
}
.MNPPart {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #6699cc 3px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 155px; COLOR: #000000; MARGIN-RIGHT: 15px; PADDING-TOP: 8px; BORDER-BOTTOM: #6699cc 3px solid; BACKGROUND-COLOR: #f1f1f1
}
.MNPPart UL {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: 18px
}
.MNPPart SPAN {
	COLOR: #000000
}
.MNPPart UL LI {
	MARGIN-BOTTOM: 0.5em; COLOR: #cccccc; LIST-STYLE-TYPE: disc
}
DIV#links TABLE TD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.TableHeading {
	FONT-WEIGHT: 700
}
UL UL LI.kadov-p-CBulleted {
	MARGIN-LEFT: 100px
}
.Bulleted {
	
}
DIV.clsNote {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #eeeeee
}
TABLE.clsStd TBODY TR TD {
	BORDER-RIGHT: #e0dfe3 1px solid; BORDER-TOP: #e0dfe3 1px solid; BORDER-LEFT: #e0dfe3 1px solid; BORDER-BOTTOM: #d5d5d3 1px solid; BACKGROUND-COLOR: #f7f7ff
}
TABLE.psdkRequirements TBODY TR TH {
	BORDER-RIGHT: #e0dfe3 1px solid; BORDER-TOP: #e0dfe3 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #e0dfe3 1px solid; COLOR: #000066; BORDER-BOTTOM: #c8cdde 1px solid; BACKGROUND-COLOR: #efeff7
}
TABLE.psdkRequirements TBODY TR TD {
	BORDER-RIGHT: #e0dfe3 1px solid; BORDER-TOP: #e0dfe3 1px solid; BORDER-LEFT: #e0dfe3 1px solid; BORDER-BOTTOM: #c8cdde 1px solid; BACKGROUND-COLOR: #f7f7ff
}
.tablediv TABLE.dtTABLE {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 95%; BORDER-BOTTOM: #cccccc 1px solid
}
.tablediv TABLE.dtTABLE TBODY TR TH {
	WIDTH: 50%
}
.tablediv TABLE.dtTABLE TBODY TR TD {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 50%; BORDER-BOTTOM: #cccccc 1px solid
}
DIV.clsServerSDKContent TD.sdkformat_portal {
	BORDER-RIGHT: #cccccc 1px solid; FONT-SIZE: xx-small
}
.section OL LI OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
#mainSection TABLE {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
#mainSection TD {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
#mainSection TH {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
.MtpsHideBorders {
	BORDER-RIGHT: #dddddd 0px solid; BORDER-TOP: #dddddd 0px solid; BORDER-LEFT: #dddddd 0px solid; BORDER-BOTTOM: #dddddd 0px solid
}
.MtpsHideBorders TH {
	BORDER-RIGHT: #dddddd 0px solid; BORDER-TOP: #dddddd 0px solid; BORDER-LEFT: #dddddd 0px solid; BORDER-BOTTOM: #dddddd 0px solid
}
.MtpsHideBorders TD {
	BORDER-RIGHT: #dddddd 0px solid; BORDER-TOP: #dddddd 0px solid; BORDER-LEFT: #dddddd 0px solid; BORDER-BOTTOM: #dddddd 0px solid
}
.topic PRE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 130%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H2.subtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 95%; MARGIN-BOTTOM: 0.6em; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SPAN.devlangLabel {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: blue
}
.clsBeta {
	COLOR: #ff0000
}
H1.heading {
	FONT-SIZE: 110%
}
.contentPanel .RightPanel .ContentArea IMG {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
.topic UL {
	MARGIN-RIGHT: 10px
}
.topic UL LI {
	MARGIN-BOTTOM: 5px
}
.topic UL LI P {
	MARGIN-BOTTOM: 5px
}
.topic UL LI PRE {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
