.DeepTreeLibraryPage {
	WIDTH: 100%
}
.RightPanel {
	FONT-SIZE: 70%; VERTICAL-ALIGN: top; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV.ContentArea {
	MARGIN: 20px; LINE-HEIGHT: 140%
}
HTML {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 100%; max-height: 100%
}
BODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 100%; max-height: 100%
}
.head {
	DISPLAY: block; Z-INDEX: 5; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 127px
}
.tocPanel {
	Z-INDEX: 1; LEFT: 0px; OVERFLOW: hidden; BORDER-TOP-STYLE: none; BOTTOM: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; TOP: 127px; BORDER-BOTTOM-STYLE: none
}
.tocFrame {
	BACKGROUND-IMAGE: url(/msdn/Controls/ResizableArea/en-us/TOCBg.jpg); WIDTH: 100%; BORDER-TOP-STYLE: none; BACKGROUND-REPEAT: repeat-y; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 100%; BORDER-BOTTOM-STYLE: none
}
.contentPanel {
	Z-INDEX: 1; LEFT: 0px; OVERFLOW: auto; BOTTOM: 0px; POSITION: absolute; TOP: 127px
}
.SplitterBar {
	Z-INDEX: 3; LEFT: 0px; OVERFLOW: auto; BOTTOM: 0px; POSITION: absolute; TOP: 127px
}
 HTML .tocPanel {
	BORDER-TOP: #fff 127px solid; OVERFLOW: auto; BOTTOM: 0px; MARGIN-RIGHT: 0px; TOP: 0px; HEIGHT: 100%
}
 HTML .contentPanel {
	BORDER-TOP: #fff 127px solid; OVERFLOW: auto; BOTTOM: 0px; MARGIN-RIGHT: 0px; TOP: 0px; HEIGHT: 100%
}
 HTML .SplitterBar {
	BORDER-TOP: #fff 127px solid; OVERFLOW: auto; BOTTOM: 0px; MARGIN-RIGHT: 0px; TOP: 0px; HEIGHT: 100%
}
.SplitterBar {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 0px; LEFT: 250px; BACKGROUND-IMAGE: url(/msdn/controls/resizablearea/en-us/lib_grippy.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 5px; CURSOR: e-resize; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #bbbbbb
}
.contentPanel {
	RIGHT: 0px; LEFT: 255px; OVERFLOW: auto
}
.tocInner {
	DISPLAY: block; BACKGROUND-IMAGE: url(/msdn/Controls/ResizableArea/en-us/TOCBg.jpg); BACKGROUND-REPEAT: repeat-y
}
.contentInner {
	DISPLAY: block; MARGIN-RIGHT: 0px
}
.innerSplitter {
	DISPLAY: block
}
DIV.code {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 10px solid; BACKGROUND-COLOR: #dddddd
}
DIV.navpage {
	MARGIN: 5px
}
DIV.navpage TABLE {
	MARGIN: 10px 0px; BORDER-COLLAPSE: collapse
}
DIV.navpage TABLE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.navpage TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
DIV.navpage TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
DIV.navpage TABLE TH {
	BACKGROUND: #cccccc; VERTICAL-ALIGN: bottom
}
DIV.navpage TABLE TH P {
	FONT-WEIGHT: bold
}
DIV.navpage TABLE TD {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 0px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid
}
.innercol {
	BORDER-RIGHT: #aaaaaa 1px solid
}
.clearHeader {
	CLEAR: both; HEIGHT: 21px
}
#globalBar {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FONT-SIZE: 11px; Z-INDEX: 3; LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; WIDTH: 100%; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; POSITION: absolute; TOP: 0px; HEIGHT: 21px; BACKGROUND-COLOR: white
}
#globalBar TR TD DIV A {
	FONT-WEIGHT: normal; COLOR: blue; TEXT-DECORATION: none
}
#globalBar TR TD DIV A SPAN {
	FONT-WEIGHT: normal; COLOR: blue; TEXT-DECORATION: none
}
#globalBar TR TD DIV SPAN A:hover {
	TEXT-DECORATION: underline
}
#globalBar TR TD SPAN {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: black; BORDER-BOTTOM: 0px
}
#globalBar TR TD DIV {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: black; BORDER-BOTTOM: 0px
}
#globalBar TR TD SPAN {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: black; BORDER-BOTTOM: 0px
}
#globalBar TR TD DIV {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: black; BORDER-BOTTOM: 0px
}
#globalBar TR TD DIV TABLE A {
	FONT-SIZE: 11px; COLOR: black; TEXT-DECORATION: none
}
#globalBar TR TD DIV.LocaleManagementFlyoutStatic_msdn {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#globalBar TR TD DIV.QuickLinksFlyoutStatic_msdn {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#globalBar TR TD DIV.UserRecognitionFlyoutStatic_msdn {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#globalBar TR TD DIV.LocaleManagementFlyoutStatic_technet {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#globalBar TR TD DIV.QuickLinksFlyoutStatic_technet {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#globalBar TR TD DIV.UserRecognitionFlyoutStatic_technet {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#globalBar TR TD DIV.QuickLinksFlyoutStaticHover_msdn {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid
}
#globalBar TR TD DIV.QuickLinksFlyoutStaticHover_technet {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid
}
#globalBar TR TD DIV.LocaleManagementFlyoutStaticHover_msdn {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid
}
#globalBar TR TD DIV.LocaleManagementFlyoutStaticHover_technet {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid
}
#globalBar TR TD DIV.UserRecognitionFlyoutStaticHover_msdn {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid
}
#globalBar TR TD DIV.UserRecognitionFlyoutStaticHover_technet {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid
}
#globalBar TR TD DIV IMG.LocaleManagementFlyoutPopArrow {
	
}
#globalBar TR TD DIV IMG.QuickLinksPopArrow {
	
}
#globalBar TR TD DIV IMG.UserRecognitionFlyoutPopArrow {
	
}
#globalBar TR TD DIV.QuickLinksFlyoutPopup {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
#globalBar TR TD DIV.LocaleManagementFlyoutPopup {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
#globalBar TR TD DIV.UserRecognitionFlyoutPopup {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
#globalBar TR TD DIV.LocaleManagementFlyoutStatic_msdn {
	
}
#globalBar TR TD DIV.LocaleManagementFlyoutStaticHover_msdn {
	
}
#globalBar TR TD DIV.LocaleManagementFlyoutStatic_technet {
	
}
#globalBar TR TD DIV.LocaleManagementFlyoutStaticHover_technet {
	
}
#globalBar TR TD DIV.UserRecognitionFlyoutStatic_msdn {
	
}
#globalBar TR TD DIV.UserRecognitionFlyoutStaticHover_msdn {
	
}
#globalBar TR TD DIV.UserRecognitionFlyoutStatic_technet {
	
}
#globalBar TR TD DIV.UserRecognitionFlyoutStaticHover_technet {
	
}
#globalBar TR TD A.UserRecognitionFlyoutStaticLink_msdn SPAN {
	FONT-WEIGHT: bold
}
#globalBar TR TD .UserRecognitionFlyoutStaticText_msdn {
	FONT-WEIGHT: bold
}
#globalBar TR TD .MTPS_GlobalToolbarLinks_msdn {
	FONT-WEIGHT: bold
}
#globalBar TR TD A.UserRecognitionFlyoutStaticLink_technet SPAN {
	FONT-WEIGHT: bold
}
#globalBar TR TD .LocaleManagementFlyoutStaticLink_msdn {
	FONT-WEIGHT: bold
}
#globalBar TR TD A.QuickLinksFlyoutStaticLink_msdn SPAN {
	FONT-WEIGHT: bold
}
#globalBar TR TD A.UserRecognitionFlyoutStaticLink_msdn SPAN {
	FONT-WEIGHT: normal
}
#globalBar TR TD A.UserRecognitionFlyoutStaticLink_technet SPAN {
	FONT-WEIGHT: normal
}
#globalBar TR TD DIV.QuickLinksFlyoutStatic_msdn SPAN {
	FONT-WEIGHT: normal
}
#globalBar TR TD DIV.QuickLinksFlyoutStaticHover_msdn SPAN {
	FONT-WEIGHT: normal
}
#globalBar TR TD A.UserRecognitionFlyoutOtherLink_msdn {
	COLOR: #343434
}
#globalBar TR TD A.UserRecognitionFlyoutOtherLink_technet {
	COLOR: #343434
}
#globalBar TR TD .LocaleManagementFlyoutStaticLink_msdn {
	COLOR: #343434
}
#globalBar TR TD A.QuickLinksFlyoutStaticLink_msdn SPAN {
	COLOR: #343434
}
 HTML #TabStrip TABLE TBODY TR TD {
	FONT-SIZE: 70%
}
 HTML INPUT.TabStrip_SearchBox {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 174px; PADDING-TOP: 0px; HEIGHT: 21px
}
 HTML INPUT.TabStrip_SearchBoxActive {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 174px; PADDING-TOP: 0px; HEIGHT: 21px
}
 HTML INPUT.TabStrip_SearchButton {
	MARGIN-LEFT: -4px
}
 HTML TABLE.scopeArrow_msdn {
	MARGIN-LEFT: -4px
}
 HTML TABLE.scopeArrow_ {
	MARGIN-LEFT: -4px
}
 HTML TABLE.scopeArrow_technet {
	MARGIN-LEFT: -4px
}
#footer TABLE TBODY TR TD {
	BORDER-LEFT-COLOR: white; BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: white; COLOR: black; BORDER-TOP-COLOR: white; BACKGROUND-COLOR: white; BORDER-RIGHT-COLOR: white
}
#footer TABLE TBODY TR TD SPAN {
	BORDER-LEFT-COLOR: white; BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: white; COLOR: black; BORDER-TOP-COLOR: white; BACKGROUND-COLOR: white; BORDER-RIGHT-COLOR: white
}
#footer TABLE TBODY TR TD IMG {
	DISPLAY: none
}
#footer TABLE TBODY TR TD.MTPS_FooterLogo_msdn {
	BACKGROUND-POSITION: left 20px; BACKGROUND-IMAGE: url(blkmslogo.gif); WIDTH: 150px; BACKGROUND-REPEAT: no-repeat
}
#footer TABLE TBODY TR TD.MTPS_FooterLogo_technet {
	BACKGROUND-POSITION: left 20px; BACKGROUND-IMAGE: url(blkmslogo.gif); WIDTH: 150px; BACKGROUND-REPEAT: no-repeat
}
#footer A {
	COLOR: black
}
