A:active {
	FONT-WEIGHT: normal; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: normal; COLOR: #23474b; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #3d7881; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
P {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
FORM {
	FONT-SIZE: 12px
}
.button2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #033620; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #48bc89
}
