.stbtm {
	BORDER-RIGHT: #665b8e 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #ffffff 1px solid; WIDTH: 110px; COLOR: #666699; BORDER-BOTTOM: #665b8e 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #cecbde
}
.stedit {
	BORDER-RIGHT: #4a3163 1px solid; BORDER-TOP: #4a3163 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #4a3163 1px solid; BORDER-BOTTOM: #4a3163 1px solid
}
.mail {
	FONT-SIZE: 9px; FONT-FAMILY: "verdana"; TEXT-DECORATION: none; font-color: #000000
}
A:link {
	COLOR: #000000; FONT-FAMILY: §ºÊ^; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ebeaf2; FONT-FAMILY: §ºÊ^; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 9pt
}
TH {
	FONT-SIZE: 9pt
}
TD {
	FONT-SIZE: 9pt
}
A:link {
	
}
SELECT {
	
}
SELECT {
	
}
SELECT {
	
}
SELECT {
	
}
SELECT {
	BORDER-TOP-STYLE: groove; BORDER-RIGHT-STYLE: groove; BORDER-LEFT-STYLE: groove; BORDER-BOTTOM-STYLE: groove
}
LI {
	LIST-STYLE-IMAGE: url(computer/images/ball.gif)
}
