/*翻牌七夕粉色皮肤*/
/*大背景*/
#wrap{
    background-image:url(//p5.ssl.qhimg.com/t01bfd28409d36093fb.png);
}
/*顶部banner*/
.topBanner{
    background-image: url(//p2.ssl.qhimg.com/t0165732a5517c19016.png);
}
/*剩余时间*/
.lastTimes{
    color: #faee28;
    border: 3px solid #f490bd;
    background: #89405f;
}
.lastTimes span{
    color: #dc52c4;
}
/*正常牌框*/
.box li{
    background-image: url(//p1.ssl.qhimg.com/t01d1fcaf2a47697ec5.png);
}
/*牌面四图*/
.coverPic1{
    background-image: url(//p4.ssl.qhimg.com/t013ba02542f9ff8f63.png);
}
.coverPic2{
    background-image: url(//p4.ssl.qhimg.com/t013c2bcb5b773eb05c.png);
}
.coverPic3{
    background-image: url(//p4.ssl.qhimg.com/t018bafe8cb471e1bc4.png);
}
.coverPic4{
    background-image: url(//p3.ssl.qhimg.com/t01d44e9c55e1c3f648.png);
}
.coverPic5{
    background-image: url(//p4.ssl.qhimg.com/t010628ae2bc2ec9fd1.png)!important;
}
.coverPic6{
    background-image: url(//p3.ssl.qhimg.com/t01de06d6a3ba729b92.png)!important;
}
/*当前牌闪光动画*/
.box li.active{
    background-image: url(//p1.ssl.qhimg.com/t01279f51c4a008f3a2.png);
}
