	#popup-frame {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:35px;
		z-index:2147483647;
	}
	#frame-box {
		position:absolute;
		top:10%;
		left:50%;
		margin-left:-325px;
	}
	#frame-border {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background: black;
		-moz-opacity: 0.5;
		-webkit-opacity: 0.5;
		opacity:0.5;
		-ms-filter: alpha(opacity=50);
		filter: alpha(opacity=50);
		margin:-10px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	#frame-content {
		background:white;
		position:relative;
		width: 650px;
		border:5px solid #406ECF;
		height:70%;
	}
	
	#frame-header h3 {
		position:relative;
		margin:0;
		padding:7px 10px 2px 10px;
		background: #406ECF;
		font-size:15px;
		color:white;
	}
	
	#frame-header .frame-close {
		background: url(/images/iframe-close.gif) no-repeat;
		display: block;
		height: 20px;
		position: absolute;
		right: 0px;
		top: 0px;
		width: 20px;
	}
	
	#frame-header .frame-close span {
		display:none;
	}


#fake-toolbar-register,
#fake-toolbar-login {
    z-index: 1001;
    position: absolute;
    cursor: pointer;
    width: 56px;
    height: 34px;
}
#fake-toolbar-register {
    right: 20px;
}
#fake-toolbar-login {
    right: 80px;
}
