#lang-list{
	font-size:12px;
	font-family: arial;
	width: 60px;
	overflow:hidden;
	background:#fff;
	border:1px solid #aaa;
	margin:0 !important;
	}


#lang-list li{
	margin:0;
	}
#lang-list li a{
	text-decoration:none;
	display:block;
	width:60px;
	padding:2px 5px;
	color:#666;
	text-decoration: none;
	}
#lang-list li a:hover{background:#eee;}
#lang-list li a.current{
	background:#eee;
	}
	
#club-list{
	border:1px solid red;
	font-size:12px;
	font-family: arial;
	width: 125px;
	background:#fff;
	border:1px solid #aaa;
	margin:0 !important;
	}

#club-list li{	
	height: 20px;
	line-height: 20px;
	overflow:hidden;
	}
#club-list a{
	display: block;
	padding:0px 5px;
	width: 115px;
	overflow:hidden;
	color:#666;
	text-decoration: none;
	}
#club-list a:hover{background:#eee;}

#tipLang {
    position:fixed;
    z-index:10000;
    background-color:#eee;
    border:1px solid #333;
    padding:6px;
    font-size:11px;
    line-height:1.3;
}

* html #tipLang {
position:absolute;
}

#tipClub {
    position:fixed;
    z-index:10000;
    background-color:#eee;
    border:1px solid #333;
    padding:6px;
    font-size:11px;
    line-height:1.3;
}

* html #tipClub{
position:absolute;
}
