#content .recommended-posts1 *,
#content .recommended-posts2 *,
#content .recommended-posts3 * {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    zoom:1;
}
    
    #content .recommended-posts1 {
        position:relative;
        margin:15px 0;
        text-align:left;
        font-size:12px;
        line-height:22px;
        height:130px;
        overflow:hidden;
        border:1px solid #c3c3c3;
        background:#EFEFEF;
        -webkit-opacity:0.85;
        -moz-opacity:0.85;
        opacity:0.85;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        zoom:1;
		clear:both;
    }
    
    #content .recommended-posts1 h5,
    #content .recommended-posts2 h5 {
        margin:0;
        padding:0;
    }
    
    #content .recommended-posts1 h5 span {
        display:block;
        margin:7px 10px 10px 130px;
        padding:0;
        position:relative;
        font-weight:bold;
        color:black;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
        -webkit-opacity:0.6;
        -moz-opacity:0.6;
        opacity:0.6;
    }
    
    #content .recommended-posts1 .recommended-post-image {
        position:absolute;
        left:10px;
        top:10px;
        margin:0;
        padding:4px;
        background:white;
        border:1px solid gray;
        z-index:5;
    }
    
    #content .recommended-posts1 ul {
        position:absolute;
        left:130px;
        top:32px;
        right:10px;
        padding:0;
        z-index:4;
    }
    
    #content .recommended-posts1 ul li a,
    #content .recommended-posts1 ul li a:hover {
        display:block;
        color:#555;
        background:none;
        width:100%;
        margin:0 0 0 -20px;
        padding:0 0 0 20px;
        text-decoration:underline;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        overflow-y:visible;
    }
    
    #content .recommended-posts1 ul li a.selected {
        color:#333;
        background:#FFF;
        text-decoration:underline;
    }
    
    #content .recommended-posts1 ul li a:hover {
        color:#333;
        background:#FFF;
        text-decoration:underline;
    }
    
    #content .recommended-posts2 {
        margin:20px 0;
        overflow:hidden;
        text-align:left;
        font-size:12px;
        line-height:20px;
        zoom:1;
        -webkit-opacity:0.85;
        -moz-opacity:0.85;
        opacity:0.85;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
		clear:both;
    }
    
    
    
    #content .recommended-posts2 h5  {
        display:block;
        margin:10px 0;
        padding:0;
        font-weight:bold;
    }
    
    
    #content .recommended-posts2 ul {
        display:block;zoom:1;
        border:1px solid #c3c3c3;
        background:#EFEFEF;
        overflow:hidden;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    
    #content .recommended-posts2 ul li {
        overflow:hidden;
        position:relative;
        zoom:1;
        display:block;
        padding:5px;
        margin:0;
        height:50px;
    }
    
    #content .recommended-posts2 ul li.even {
        background:#FFF;
    }
    
    #content .recommended-posts2 .recommended-post-image {
        position:absolute;
        top:5px;
        left:5px;
        bottom:5px;
        width:50px;
        height:50px;
        float:left;
        margin:0px;
        padding:0;
    }
    
    #content .recommended-posts2 ul li a,
    #content .recommended-posts2 ul li a:hover {
        display:block;
        color:#333;
        background:none;
        position:absolute;
        top:8px;
        right:10px;
        left:65px;
        margin:0;
        padding:0;
        text-decoration:underline;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        overflow-y:visible;
        zoom:1;
    }
    
    #content .recommended-posts2 ul li span {
        display:block;
        color:#AAA;
        background:none;
        position:absolute;
        top:30px;
        right:10px;
        left:65px;
        padding:0;
        margin:0;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        overflow-y:visible;zoom:1;
    }
    
    #content .recommended-posts2 ul li em {
        font-weight:bold;
        margin:0px 3px;
        color:#555;
    }
    
    
#content .recommended-posts3   {
    text-align:left;
    margin:20px 0;
    overflow:hidden;
    zoom:1;
    font-size:12px;
	clear:both;
}

#content .recommended-posts3 h5 {
    font-weight:bold;
    margin:0;
    padding:0;
    opacity:0.6;
}

#content .recommended-posts3 ul {
    margin:10px 0;
    overflow:hidden;
    float:left;
    zoom:1;
    height:180px;
    list-style:none;
}

#content .recommended-posts3 ul li  {
    float: left;
    text-align:center;
    width:113px;
    height:180px;
    border:none;
    cursor: pointer;
    list-style:none;
}

#content .recommended-posts3 ul li a {
    display:block;
    width:112px;
    height:170px;
    padding-top:6px;
    border-left:1px solid #CCC;
}

#content .recommended-posts3 ul li a:hover {
    background:#EEE;
    color:#666;
}

#content .recommended-posts3 ul li a span.article-text{
    display:block;
    text-align:left;
    margin:5px 10px 0 10px;
    line-height:20px;
    height:60px;
    overflow:hidden;
    text-decoration:none;
}
#content .recommended-posts3 ul li a div.article-image-box {
    width:92px;
    height:92px;
    border:1px solid #aaa;
    margin:0 auto;
    position:relative;
}
#content .recommended-posts3 ul li a img.article-image{
    width:90px;
    height:90px;
    padding:1px;
    background:white;
}

#content .recommended-posts3 ul li a div.article-image-box .partner-logo {
    display:block;
    background:white;
    position:absolute;
    bottom:1px;
    left:1px;
    width:88px;
    height:20px;
    padding:0 2px 0 0;
    text-align:right;
    line-height:20px;
    vertical-align:middle;
}

#content .nobg {
    border:none;
    background:none;
    -webkit-opacity:1;
    -moz-opacity:1;
    -opacity:1;
}
    
#content .nobg h5 {
    color:inherit !important;
    -webkit-opacity:1;
    -moz-opacity:1;
    -opacity:1;
}
    
#content .nobg ul,
#content .nobg ul li,
#content .nobg ul li.even {
    background:none;
    border:none;
}

#content .nobg ul li.even {
    border-top:1px dotted #777;
    border-bottom:1px dotted #777;
}

#content .nobg ul li a {
    color:inherit;
}
#content .nobg ul li a.selected,
#content .nobg ul li a:hover {
    background:#FAFAFA;
}
    

