/* edisonshih : Mon, 08 Nov 2010 15:52:16 +0800 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn, th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
pre{font-size: 1em ;}
.article-content{ _height: 1% ;  overflow: hidden ;  _overflow: none;}
.article-content p{margin-bottom: 1em;}
.article-content li{list-style-type: disc; margin-left:20px;}
.article-content ol li{list-style-type: decimal; margin-left:20px;}
a {text-decoration: none;outline:none;}
br{letter-spacing: normal;}
/*--------------------------all setting*/

HTML {
SCROLLBAR-FACE-COLOR:  ;
SCROLLBAR-HIGHLIGHT-COLOR: ;
SCROLLBAR-SHADOW-COLOR: ;
SCROLLBAR-3DLIGHT-COLOR:  ;
SCROLLBAR-ARROW-COLOR: ;
SCROLLBAR-TRACK-COLOR:  ;
SCROLLBAR-DARKSHADOW-COLOR: ;
overflow-x:;	}
body {
font-size:12px;
font-family:arial, Century Gothic;
line-height: 160%;
background:#aaa url(http://pic.pimg.tw/pixnetvisual/49d8d808cd470.png) left top repeat-x;
}
#blog-main{}
#article-main{}

a {color:#333;}
a:hover {color:#666;}

#body-div{
width: 900px;
background:url(http://pic.pimg.tw/pixnetvisual/49d8d8095e347.png) left top repeat-y;
position: relative;
margin:0 auto 20px;

}

/*--------------------------authority*/

#authority{
position:absolute;
left: 0;
top: 25px;
z-index:9000;
}
#authority a{
display:block;
float: left;
height: 20px;
line-height: 20px;
font-size: 12px;
background:#999;
border:1px solid #ccc;
padding: 1px 5px 1px 25px;
}
#authority a#newpost {
background:url(http://pic.pimg.tw/pixnetvisual/49d8d807c7bb1.png) 5px center no-repeat #999;
margin-right:5px;
}
#authority a#backstage {
background:url(http://pic.pimg.tw/pixnetvisual/49d8d8086694a.png) 5px center no-repeat #999;
}
#authority a:hover{
color:#fff;
border:1px solid #aaa;
}
/*--------------------------container*/

#container{}
#container2{}
#container3{}

/*--------------------------header*/

#header{
background:url(http://pic.pimg.tw/pixnetvisual/49d8d80a5a0d3.png) left top no-repeat;
height: 190px;
}
#login-bar{
position:absolute;
right:0px;
top: 35px;
color:#333;
}
#login-bar a{color:#333; padding:0px 1px}
#login-bar a:hover{color:#ccc;}

#banner{}
#banner h1 a{
position:absolute;
top: 80px;
left: 120px;
font-size:16px;
font-weight:bold;
color:#fff;
display:block;
height: 20px;
overflow:hidden;
}
#banner h1 a:hover{color:#ccc;}
#banner h2{
position:absolute;
top: 105px;
left: 120px;
color:#ccc;
width: 450px;
height: 45px;
font-size:11px;
line-height: 15px;
overflow:hidden;
}
#banner .skiplink{display: none;}
#banner #blog-category{
color:#999;
position:absolute;
right: 20px;
top: 125px;
z-index:900;
}
#banner #blog-category a{color:#999;}
#banner #blog-category a:hover{color:#fff;}

/*--------------------------navigation*/

#navigation{
position:absolute;
right:1px;
top:155px;
}
#navigation li{
float:left;
background:url(http://pic.pimg.tw/pixnetvisual/4970225b24e74.png) left top no-repeat;
height: 35px;
padding:0px 10px;
line-height: 30px;
*line-height: 35px;
}
#navigation a{
font-size:16px;
color:#444;
padding-left: 25px;
}
#navigation a:hover{
color:#fff;
}
#navigation li#link-album a{background:url(http://pic.pimg.tw/pixnetvisual/49d8d80e04fbf.png) 3px 3px no-repeat;}
#navigation li#link-blog a{background:url(http://pic.pimg.tw/pixnetvisual/49d8d80e64345.png) 3px 2px no-repeat;}
#navigation li#link-guestbook a{background:url(http://pic.pimg.tw/pixnetvisual/49d8d80ed9f42.png) 3px 3px no-repeat;}
#navigation li#link-profile a{background:url(http://pic.pimg.tw/pixnetvisual/49d8d80f8b846.png) 3px 3px no-repeat;}
/*--------------------------main*/

#main{
overflow: hidden;
_overflow: none;
_height: 1%;
}

/*--------------------------content*/

#content{
overflow: hidden;
float:left;
width: 630px;
padding-top: 10px;
}

#spotlight{
width: 590px;
margin:10px auto;
background:url(http://pic.pimg.tw/pixnetvisual/49d8d81145ca4.png) left top repeat-y;
}
#spotlight h5{
background:url(http://pic.pimg.tw/pixnetvisual/49d8d810a0bf0.png) left top no-repeat;
height: 31px;
padding-left: 10px;
color:#fff;
font:bold 13px arial;
line-height:30px;
}
#spotlight-text{
padding: 10px;
background:url(http://pic.pimg.tw/pixnetvisual/49d8d811cc531.png) left bottom no-repeat;
}

#article-area{
width: 590px;
margin:0 auto;
}

#article-area .article-area-title{}
#view-mode{}
#display{}
#display SPAN {}

#article-box{}
.article{
margin-top: 10px;
margin-bottom: 20px;
}
.article-head{
height: 35px;
padding-top: 20px;
background:url(http://pic.pimg.tw/pixnetvisual/49d8d81259d44.png) left top no-repeat;
position: relative;
}
.publish {
font: 9px Tahoma;
text-transform: uppercase;
color: #fff;
position: absolute;
top: 5px;
right: 12px;
height:35px;
width: 70px;
text-align: center;
letter-spacing:0.05em;
overflow:hidden;
}
.publish .month,
.publish .date{
font-size:14px;
font-family: arial black;
letter-spacing:-1px;
}
.publish .day{
position: absolute;
top:20px;
left:13px;
}
.publish .year{
position: absolute;
top:20px;
right:13px;
}
.publish .time{display:none;}
.title{
height: 20px;
margin-left: 20px;
width: 470px;
overflow:hidden;
}
.title a{
font-size: 16px;
font-weight:bold;
color:#fff;
}
.title a:hover{color:#aaa;}
.article-body{
margin: 10px 0;
}
.article-body a{color:#666;}
.article-body a:hover{color:#ccc;}

.article-content{
margin: 15px;
font-size:13px;
line-height: 170%;
letter-spacing:0.05em;
color:#444;
}
.article-content a{
color:#222;
border-bottom:1px dashed #ccc;
}
.bookmark,
.author,
.forward{
text-align: right;
color:#666;
line-height:140%;
}

.article-footer{
overflow:hidden;_overflow: none; _height: 1%;
border-top: 1px dashed #ccc;
padding-top:5px;
color:#363636;
line-height:140%;
}
.history{
float: right;
width: 290px;
}
.refer{
float: left;
width: 290px;
}
.back-to-top{
clear: both;
text-transform: uppercase;
font: 10px Century Gothic;
letter-spacing:0;
text-align: right;
}
.back-to-top a{
background:#aaa;
padding: 0px 3px;
line-height: 20px;
color:#fff;
}
.back-to-top a:hover{
background:#fff;
color:#ccc;
}
/*--------------------------list*/


.main-list {
width: 590px;
margin:10px auto;
}
.main-list table{
width: 100%;
margin: 10px auto;
}
.main-list h3 {}
.main-list th{
line-height: 25px;
color:#fff;
background:#bbb;
border-bottom: 3px solid #fff;
padding: 2px 5px;
}
.main-list td{
font-size:11px; *font-size:10px;
line-height: 25px;
padding: 0px 10px;
background:#eee url(http://pic.pimg.tw/pixnetvisual/4970225927064.png) left bottom repeat-x;
border-bottom:1px solid #fff;
}
.main-list td a{color:#333;}
.main-list td a:hover{color:#999;}
.list-num{display:none;}
td.list-date {
font: 9px Tahoma;
width: 50px;
color:#000;
letter-spacing:0;
padding: 0 5px;
}
.list-title img{float: right;
margin-left:3px;
}
#murmur-list td.list-date {
padding: 5px;
}
.list-visit,
.list-comment{
width: 40px;
}

/*--------------------------post-box*/

.user-post-box{}
.user-post-title{
background:url(http://pic.pimg.tw/pixnetvisual/49d8d80c02b3e.png) no-repeat;
height: 25px;
line-height: 25px;
padding-left: 10px;
color:#fff;
margin: 10px 0;
}
#trackback-box .user-post-title{}
#comment-box .user-post-title{}

.post-comment{
width:90px;
height: 25px;
margin: 10px auto 20px;
line-height: 25px;
}
#content .post-comment a{
display:block;
font-size:12px;
color:#fff;
height: 100%;
padding-left: 25px;
background:url(http://pic.pimg.tw/pixnetvisual/49d8d812ccfb6.png) 5px center no-repeat #ccc;
border:1px solid #aaa;
}
#content .post-comment a:hover{
border:1px solid #666;
color:#666;
}

.single-post{
overflow: hidden;
_overflow: none;
_height: 1%;
background:#eeeeee ;
margin-bottom: 20px;
padding-bottom: 10px;
}
.post-info{
background:url(http://pic.pimg.tw/pixnetvisual/49d8d81003b2f.png) no-repeat;
height:27px;
font-size:11px; *font-size:10px;
line-height: 27px;
margin-bottom: 10px;
color:#555;
position:relative;
padding-left: 55px;
_padding-top: 5px;
}
.post-info img{
vertical-align: middle;
}
.post-info .floor{
width: 40px;
height:25px;
text-align: center;
color:#555;
font: bold 13px Century Gothic;
line-height:25px;
display: block;
position: absolute;
left:0;
top:0;
}
.post-photo{
width: 95px;
float: left;
margin-left: 10px;
display: inline;
}
.post-photo img{
border:1px solid #ddd;
}
.post-text{
float: right;
width: 470px;
margin-bottom: 5px;
color:#000;
}
.reply-text{
float: right;
width: 405px;
background:url(http://pic.pimg.tw/pixnetvisual/4970225a6d604.png) 5px top no-repeat #fff;
border:1px solid #ddd;
margin-right: 10px;
display:inline;
padding: 5px 5px 5px 50px;
color:#777;
min-height: 30px;
_height: 30px;
}
.reply-text p{
display:none;
}
.single-post.secret{
background:url(http://pic.pimg.tw/pixnetvisual/4970225ac51bf.png) 5px top no-repeat #fff;
border:1px solid #ccc;
}
.single-post.secret .post-text{
float: none;
width: auto;
padding-left: 70px;
font-size:0; color:#fff;
}

#trackback-box {}
#trackback-box h3 {}
#trackback-box SPAN {}
#trackback-box #trackback-url{
margin: 10px 0;
}
#trackback-box input{
border:1px solid #ccc;
font:11px arial;
padding:2px;
margin-left:5px;
}
#trackback-box input#trackback-input{
width: 350px;
margin:0;
padding:3px
}
#trackback-text {}
#trackback-text .single-post {}
#trackback-text .post-info {}
#trackback-box  .post-text{
width:auto ;
float:none ;
padding: 0 10px;
}

/*--------------------------comment-form */
#comment-form {
background: #eee;
padding:  10px 5px;
width: 580px;
margin: 10px auto;
}
#comment-form p {
color: #bbb;
text-align: right;
margin: 0px 10px 5px;
}
#comment-form table {
width: 100%;
border: none;
}
#comment-form table tr.comment-form-title { display: none; }
#comment-form table td {
color: #999;
vertical-align: top;
border: none;
padding: 2px 5px;
}
#comment-form table th {
color: #999;
vertical-align: top;
width: 70px;
border: none;
padding: 2px 5px;
text-align:right;
}
#comment-form table th font { display: none; }
#comment-form input {
height: 17px;
font-family: Arial;
font-size: 11px;
color: #000;
border: none;
border-bottom: 1px solid #ccc;
background: none;
width: 99%;
}
#comment-form input.radio {
border: none; width: auto;	background: none;margin:0; padding:0;
}
#comment-form input#blogcommenttext_name{
width: 95.5%;
}
#comment-form input#send-comment{
background:#ccc;
width: 100px;
height: 20px;
}
#comment-form textarea {
width: 99%;
height: 90px;
font-family: Arial;
font-size: 11px;
line-height: 18px;
color: #000;
border: 1px solid #ccc;
background: #fff;
}

/*--------------------------pages*/

.page{
margin: 10px 0px;
font-size:11px;
font-family: Century Gothic;
text-align: center;
}
.page a{
margin: 0 5px;
color:#555;
padding: 0 3px;
}
.page a:hover,
.page span{
background:#eee;
padding: 0 3px;
color:#33;
}

/*--------------------------links*/

#links{
overflow: hidden;
float:right;
width: 268px;
margin-right:1px;
display:inline;
}
#links-row-1{}
#links-row-2{}

.box{
margin: 15px 0
}
.box-title{
background:url(http://pic.pimg.tw/pixnetvisual/49702257abd85.png) no-repeat;
height:37px;
padding: 5px 5px 0 35px;
color:#444;
font-weight:bold;
font-size:13px;
}
.box-text {	}
.box-text a{color:#555;}
.box-text a:hover{color:#000;}
.box li{
background:url(http://pic.pimg.tw/pixnetvisual/4970225927064.png) left bottom no-repeat;
padding: 0 10px;
line-height:220%;
}
.box h6{
margin-left: 10px;
line-height:200%;
font-weight:bold;
}
.box-more{
margin: 5px 10px;
text-align:right;
}
.box-more a{
border:1px solid #eee;
border-right: 1px solid #aaa;
border-bottom:1px solid #aaa;
padding: 1px 3px;
}
.box-more a:hover{
border:1px solid #aaa;
border-right: 1px solid #eee;
border-bottom:1px solid #eee;
}
#box-ad .box-text,
#hiiir .box-text,
#boxevent_clubbroadcast .box-text,
#archive .box-text,
#favorite .box-text{
margin: 0 15px;
}
#headshot {
background:url(http://pic.pimg.tw/pixnetvisual/49d8d80b8fc70.png) left top no-repeat;
width: 250px;
height:105px;
margin: 15px auto;
position: relative;
}
#headshot .box-title{
background:none;
padding: 0 0 0 30px;
}
#headshot .box-text{
padding:0;
margin:0;
}
#headshot ul{	}
#headshot li{background:none;}
#headshot li#headshot-img{
background:none;
width: 75px;
line-height:0;
padding:0;
position: absolute;
top: 15px;
right:20px;
}
#headshot li#headshot-img img{
width:70px;
padding: 2px;
border:1px solid #fff;
background:#ccc;
}
#headshot li#friend-apply{
position:absolute;
top: 33px;
left: 30px;
}
#headshot li#send-message{
position:absolute;
top: 60px;
left:30px;
}

#recent-article{}
#recent-article img{}

#latest-comment {}
#latest-comment a{}
#latest-comment span{}

#calendar{}
#calendar table{
width: 70%;
margin: 0 auto;
}
#calendar th,
#calendar td{
color:#666;
font: 11px Century Gothic;
text-align: center;
line-height: 20px;
}
#calendar td{
padding: 2px 1px;

}
#calendar td a{
display: block;
padding: 0px 1px;
background:#aaa;
color:#fff;
border-right:1px solid #888;
border-bottom:1px solid #888;
}

#murmur{
width: 250px;
margin: 15px auto;
background:#c4c4c4;
position:relative;
}
#murmur .box-title{
background:url(http://pic.pimg.tw/pixnetvisual/49d8d80c6e60d.png) left top no-repeat;
padding:0 0 0 27px;
}
#murmur .box-text{
border-bottom:1px solid #bbb;
margin:0;
padding-bottom: 5px;
_height:1%;
}
#murmur .box-text li{
background:none;
}
.murmur-time{
position: absolute;
left:17px;
top:  17px;
font: 10px Century Gothic;
color:#666;
}
.murmur-text{
padding: 10px !important;
line-height:150% !important;
}

#visitor,
#crumb{}
#visitor ul,#crumb ul{
overflow: hidden;
_overflow: none;
_height: 1%;
margin:5px 15px;
}
#visitor li,#crumb li{
float: left;
margin: 0px 2px 2px 0;
display:inline;
line-height:0;
padding:0;
background:0;
}
#visitor li img,
#crumb li img {
width: 50px;
height: 50px;
}
#visitor .box-more,
#crumb .box-more{
margin-top: 10px;
}
#broadcast{}
#broadcast ul{
overflow: hidden;
_overflow: none;
_height: 1%;
padding-bottom: 3px;
margin-bottom: 5px;
padding: 0px 15px 7px 15px;
background:url(http://pic.pimg.tw/pixnetvisual/4970225927064.png) left bottom no-repeat;
}
#broadcast li{
background:0;
padding:0;
}
#broadcast .broadcast-photo{
float: left;
line-height:0;
}
#broadcast .broadcast-time{
float: right;
width: 185px;
line-height: 20px;
}
#broadcast .broadcast-time a{}
#broadcast .broadcast-time span{}
#broadcast .broadcast-text{
float: right;
width: 185px;
height: 20px;
line-height: 20px;
overflow: hidden;
}
#search{}
#search ul{
overflow: hidden;
_overflow: none;
_height: 1%;
margin: 0px 15px;
}
#search li{
float: left;
background:none;
padding:0;
}
#search li input{
border:1px solid #aaa;
font:12px arial;
margin-right: 5px;
line-height: 20px;
padding:2px;
}
#search input#search-target{}
#search input#search-submit{
padding:1px;
width: 50px;
}

#feed {}
#announce{}
#hot-article {}

#category {}
#category h6{}
#category ul{margin-bottom: 5px;}
#category .box-more {}


#archive select {}
#archive li a{}

#latest-trackback {}
#latest-trackback a{}
#latest-trackback span{}

#subscription{}
#subscription a{}
#subscription span{}

#favorite select {}

#mylink {}
#mylink .inner-box{margin-bottom: 5px;}
#mylink .link-box h6{}
#mylink .link-box li{}

#counter{}
#counter SPAN{}

#latest-comment li,
#subscription li,
#latest-trackback li{
line-height: 150%;
padding: 3px 10px;
}
#latest-comment a,
#latest-trackback a,
#subscription a{
display: block;
width: 99%;
}
.folder{}
.folder .box-title{}
.folder .box-text{
margin: 0px 10px;
}

#powered{}

/*--------------------------footer*/

#footer{
clear:both;
background:url(http://pic.pimg.tw/pixnetvisual/49d8d809c1660.png) left 0px no-repeat;
padding: 20px 10px 0;
height: 40px;
text-align:center;
border-top: 0;
}
#footer p{color:#fff;}
#bottom a{color:#000}
#bottom a:hover{color:#ccc}