#container #main #content #user-post #comment-area *{	letter-spacing: 0px ; height: auto ;	width: auto ;	padding: 0 ;	margin: 0 ;	text-decoration: none ;	border:0; font-style:Tahoma ; 	font-weight:normal;	list-style:none;	text-align: left ;	font-size: 12px ;	line-height: 18px  ;	color:#000 ;	background:none ;	}
#container #main #content #user-post #comment-box #comment-area {
	margin: 20px auto;	color:#555 ;	padding: 5px; 	-webkit-border-radius : 5px ;	-moz-border-radius : 5px ;	border-radius : 5px ;	font-size: 12px; 	line-height: 25px ;	font-family:"Tahoma" ;	text-decoration:none ; 	width: 490px ;	position: relative ;	clear: both ;
	background: url('images/40.png') repeat ;
	/*_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://front.pixfs.net/comment/images/40.png', sizingMethod='scale');
	_background: none ;*/
	_background: #fff ;
}
#container #main #content #user-post #comment-box #comment-area a{	text-decoration:none ; 	}
#container #main #content #user-post #comment-box #comment-area-2 {	background: #f5f5f5 ;	width: 490px ;	border-top: 1px solid #ddd ;}
#container #main #content #user-post #comment-box .comment-identity {	background:#e6e6e6 ;	border: 1px solid #ddd ;	border-top: 1px solid #f3f3f3 ;	padding: 6px 0px 0px 10px ;	 height: 44px ;	}
#container #main #content #user-post #comment-box .choose-identity {	width: 362px; 	height: 28px; 	background: url('images/choose-identity.jpg') no-repeat left top ;	 margin-top: 4px ; *margin-top: 10px ;}
#container #main #content #user-post #comment-box .choose-identity  a{	display: block ;	float:left ;	height: 28px; 	}
#container #main #content #user-post #comment-box .choose-identity a.openid-pixnet {	width: 69px ;	}
#container #main #content #user-post #comment-box .choose-identity a.openid-facebook {	width: 76px ;	}
#container #main #content #user-post #comment-box .choose-identity a.openid-yahoo {	width: 69px ;	}
#container #main #content #user-post #comment-box .choose-identity a.openid-google {	width: 69px ;	}
#container #main #content #user-post #comment-box .choose-identity a.openid-msn {	width: 79px ;	}
#container #main #content #user-post #comment-box .choose-identity a:hover{	background-image: url('images/choose-identity-hover.jpg') ; }
#container #main #content #user-post #comment-box .choose-identity a.openid-pixnet:hover {   background-position: 0px 0px ;  }
#container #main #content #user-post #comment-box .choose-identity a.openid-facebook:hover {	background-position: -69px 0px ;	}
#container #main #content #user-post #comment-box .choose-identity a.openid-yahoo:hover {	  background-position: -145px 0px ;	}
#container #main #content #user-post #comment-box .choose-identity a.openid-google:hover {  	background-position: -214px 0px ;	}
#container #main #content #user-post #comment-box .choose-identity a.openid-msn:hover {	    background-position: -283px 0px ;	}

#container #main #content #user-post #comment-box .identity-login img.photo {	width: 35px ;	height: 35px; 	float:left ;	margin-right: 5px ;	border: 1px solid #fff ;	}
#container #main #content #user-post #comment-box .openid-identity {	margin-top: 6px ;  	width: 320px ;	float:left ;	word-wrap: break-word;	word-break: break-all;	}
#container #main #content #user-post #comment-box .openid-identity img {	vertical-align: middle ;	margin-right: 5px ;	position: static ; }
#container #main #content #user-post #comment-box a.not-me {	padding: 0px 5px ; color:#888 ; font-weight: bold ;	}


#container #main #content #user-post #comment-box #comment-area iframe{	overflow: hidden ;	position: absolute ;	top: 17px ;	right : 10px; 	width: 86px ;	height: 32px ;	border: 0 !important ;}





#container #main #content #user-post #comment-box .comment-body {	border: 1px solid #e6e6e6 ;	border-top: 1px solid #fff ;	padding: 7px 10px 0px 10px ;}
#container #main #content #user-post #comment-box .comment-body p {	margin: 0 0 8px 0  ; 	line-height: 18px;}
#container #main #content #user-post #comment-box .comment-body p b{ font-weight: bold  ;	}
#container #main #content #user-post #comment-box .comment-textarea {	border: 1px solid #e8e8e8 ;	background:#fff ;	width: 465px ;	-webkit-border-radius : 5px ;	-moz-border-radius : 5px ;	border-radius : 5px ;	margin: 5px 0px 10px 0px ;	}
#container #main #content #user-post #comment-box .comment-textarea textarea {		margin: 0px ;	width: 455px ;	-webkit-border-radius : 5px ;	-moz-border-radius : 5px ;	border-radius : 5px ;	padding: 5px 0px 0px 10px ;	font-size: 12px ;	color:#000 ;	background:#fff ;	border: 0 ;		height: 100px ;	font-family:"Tahoma" ;	line-height: 16px ;		}
#container #main #content #user-post #comment-box .private-message {	text-align:right ;	margin: 0px 10px 8px 0px ;	line-height: 12px ;	}
#container #main #content #user-post #comment-box .private-message input{ 	margin-right: 5px; 	position: relative ;	bottom: -2px ;	}
#container #main #content #user-post #comment-box .private-notice {
background:#fffdea ;	border-top: 1px solid #f7e6b3 ;	color:#b3975b ;	text-align:center ;	padding: 3px 0px 5px 0px  ;
-webkit-border-bottom-left-radius : 5px ;
-webkit-border-bottom-right-radius : 5px ;
-moz-border-radius-bottomleft : 5px ;
-moz-border-radius-bottomright : 5px ;
border-bottom-left-radius : 5px ;
border-bottom-right-radius : 5px ;
}

#container #main #content #user-post #comment-box .captcha {		_height: 1% ;	overflow: hidden ;	_overflow: none ;	margin: 5px 0px 5px 0px ; line-height: 16px  ;	background:#fff ;	border: 1px solid #e8e8e8  ;	padding: 7px ;	position: relative ;}
#container #main #content #user-post #comment-box .captcha img {	border: 0px ;	float:left ;	margin-right: 18px ;	_margin-right: 15px ;	}
#container #main #content #user-post #comment-box .captcha input  ,
#container #main #content #user-post #comment-box .extra input {	width: 197px; 	height: 19px; 	background: url('images/input-text.jpg') repeat-x left top #fff ;	border: 1px solid #e8e8e8 ;	-webkit-border-radius : 5px ;	-moz-border-radius : 5px ;	border-radius : 5px ;	}
#container #main #content #user-post #comment-box .captcha input {	margin-top: 5px ;	width: 210px ; }

#container #main #content #user-post #comment-box a.reload-captcha {
	display: block ;
	height: 22px ;
	width: 80px ;
	padding-right: 15px ;
	font-size: 12px ;
	position: absolute ;
	top: 7px ; right: 10px ;
	color:#aaa ;
	background: url('images/reload-captcha.jpg') no-repeat right 4px ;
}
#container #main #content #user-post #comment-box a.reload-captcha:hover {
	background: url('images/reload-captcha.jpg') no-repeat right -16px ;
}



#container #main #content #user-post #comment-box #comment-area button { text-align: center ;	border: 1px solid #cccccc ;	-webkit-border-radius : 5px ;	-moz-border-radius : 5px ;	border-radius : 5px ;	background: url('images/button.jpg') repeat-x left bottom #fff  ;			padding: 0px 6px ;	height: 25px ;	font-weight : bold !important;	}
#container #main #content #user-post #comment-box input {	font-family:"Tahoma"; color:#000 ;	padding: 3px 10px ; font-size: 12px ;}
#container #main #content #user-post #comment-box .comment-extra {			_height: 1% ;	overflow:hidden ;	_overflow: none ;	padding: 0px 0px 5px 0px ;	cursor: default ;}
#container #main #content #user-post #comment-box .comment-extra div {	float:left ;	margin-top: 3px ;}
#container #main #content #user-post #comment-box .comment-extra button {	float:right ;	}
#container #main #content #user-post #comment-box .extra {	border: 1px solid #e8e8e8 ;	background:#fff ;	padding: 7px 0px 7px 7px ; 	margin-bottom: 10px; }
#container #main #content #user-post #comment-box .extra input {	margin-right: 7px ;	}
#container #main #content #user-post #comment-box span.invisible {	display: none ;	}


#container #main #content #user-post #comment-box input.comment-name  {	width: 445px; 	height: 19px; 	background: url('images/input-text.jpg') repeat-x left top #fff ;	border: 1px solid #e8e8e8 ;	-webkit-border-radius : 5px ;	-moz-border-radius : 5px ;	border-radius : 5px ;	}



#container #main #content #user-post #comment-area #comment-area-ad {	margin: 5px 0 10px 0 ;}