BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; BACKGROUND: #ffffff
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
SPAN {
	FONT-SIZE: 12px; POSITION: static
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #003399
}
A.highlight:link {
	COLOR: red; TEXT-DECORATION: none
}
A.highlight:visited {
	COLOR: red; TEXT-DECORATION: none
}
A.highlight:hover {
	COLOR: red
}
A.thisclass:link {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.thisclass:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.thisclass:hover {
	FONT-WEIGHT: bold
}
A.navlink:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.navlink:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.navlink:hover {
	COLOR: #003399; TEXT-DECORATION: none
}
.twidth {
	WIDTH: 777px
}
.content {
	FONT-SIZE: 14px; MARGIN: 5px 20px; LINE-HEIGHT: 140%; FONT-FAMILY: Tahoma,§ºÊ^
}
.aTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}
.sitehead {
	BORDER-RIGHT: #6687ba 1px solid; BORDER-TOP: #6687ba 1px solid; BACKGROUND: url(headbg.gif); BORDER-LEFT: #6687ba 1px solid; BORDER-BOTTOM: #6687ba 1px solid; HEIGHT: 87px
}
.sitehead-left {
	WIDTH: 0px
}
.sitehead-right {
	WIDTH: 0px
}
.footline {
	BACKGROUND: #95afd6; HEIGHT: 1px
}
.navbar {
	BACKGROUND: url(navbar.gif); HEIGHT: 23px; TEXT-ALIGN: center
}
.navbar-left {
	BACKGROUND: #6687ba; WIDTH: 1px
}
.navbar-right {
	BACKGROUND: #6687ba; WIDTH: 1px
}
.navsub {
	BACKGROUND: #f3f3f3; HEIGHT: 23px; TEXT-ALIGN: right
}
.navsub-left {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 10px
}
.navsub-right {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 10px
}
.lframe-t-mid {
	BACKGROUND: url(tool_bg.gif); HEIGHT: 25px; TEXT-ALIGN: center
}
.lframe-t-left {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 1px
}
.lframe-t-right {
	DISPLAY: none; BACKGROUND: #ccccff; WIDTH: 1px
}
.lframe-t-text {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #ffffff
}
.lframe-m-mid {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.lframe-m-left {
	BACKGROUND: #86a1cd; WIDTH: 1px
}
.lframe-m-right {
	BACKGROUND: #86a1cd; WIDTH: 1px
}
.lframe-b-mid {
	BORDER-TOP: #86a1cd 1px solid; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 13px
}
.lframe-b-left {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 18px
}
.lframe-b-right {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 22px
}
.mframe-t-mid {
	BACKGROUND: url(tool_bg.gif); HEIGHT: 25px; TEXT-ALIGN: left
}
.mframe-t-left {
	DISPLAY: none; BACKGROUND: url(tool_bg.gif); WIDTH: 8px
}
.mframe-t-right {
	DISPLAY: none; BACKGROUND: url(tool_bg.gif); WIDTH: 33px
}
.mframe-t-text {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #ffffff
}
.mframe-m-mid {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.mframe-m-left {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 0px
}
.mframe-m-right {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 0px
}
.mframe-b-mid {
	FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 13px
}
.mframe-b-left {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 18px
}
.mframe-b-right {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 22px
}
.summary-title {
	FONT-WEIGHT: bold; BACKGROUND: #edf1f8; HEIGHT: 23px
}
.gray {
	COLOR: gray; TEXT-DECORATION: none
}
.time {
	COLOR: red
}
.hit {
	COLOR: green
}
.tdBg {
	BACKGROUND: #f2f8ff; LINE-HEIGHT: 120%
}
.tdbg-dark {
	BACKGROUND: #edf1f8
}
.hr {
	BACKGROUND: url(hr.gif); HEIGHT: 2px
}
.inputbg {
	
}
.quote {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; MARGIN: 10px 10px 10px 2em; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana,Arial,§ºÊ^
}
.menuskin {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND-IMAGE: url(menubg.gif); VISIBILITY: hidden; FONT: 12px Verdana; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; POSITION: absolute; BACKGROUND-COLOR: #f6f6f6
}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BEHAVIOR: url(inc/noline.htc); COLOR: black; TEXT-DECORATION: none
}
#mouseoverstyle {
	BORDER-RIGHT: #597db5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #597db5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #597db5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #597db5 1px solid; BACKGROUND-COLOR: #c9d5e7
}
#mouseoverstyle A {
	COLOR: black
}
.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px
}
.table1 TD {
	
}
.table1 TD A {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 3px; FONT-FAMILY: "§ºÊ^", "Helvetica", "sans-serif"; HEIGHT: 18px; TEXT-DECORATION: none
}
.table1 TD A:visited {
	FONT-SIZE: 12px; COLOR: #333333; PADDING-TOP: 3px; FONT-FAMILY: "§ºÊ^", "Helvetica", "sans-serif"; HEIGHT: 18px; TEXT-DECORATION: none
}
.table1 TD A:hover {
	BORDER-TOP: #c0c0c0 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c0c0c0 1px solid; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 3px; FONT-FAMILY: "§ºÊ^", "Helvetica", "sans-serif"; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.table1 TD A:active {
	FONT-SIZE: 12px; WIDTH: 100%; COLOR: #333333; PADDING-TOP: 3px; FONT-FAMILY: "§ºÊ^", "Helvetica", "sans-serif"; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.tf {
	TABLE-LAYOUT: fixed
}
