<?xml version="1.0" encoding="utf-8" ?>
<AppSetting>
	<Position_Size>
		<Top>75</Top>
		<Left>778</Left>
		<Width>235</Width>
		<Height>535</Height>
		<Image_Top>75</Image_Top>
		<Image_Left>778</Image_Left>
		<Image_Width>256</Image_Width>
		<Image_Height>663</Image_Height>		
	</Position_Size>
	<Reset_Time>
		<Value>11:30+60</Value>
		<Value>14:40+300</Value>
		<Value>17:26+300</Value>
	</Reset_Time>
	<Refresh_Time>
		<Get_Data>60</Get_Data>
		<Change_Page>20</Change_Page>
	</Refresh_Time>
	<Data>
		<Data_Count>100</Data_Count>
	</Data>
	<Net>
		<Net_Path>\\127.0.0.1\c$\Messages\</Net_Path>
	</Net>
	<Change_Image>6</Change_Image>
	<Attributes>false</Attributes>
</AppSetting>
