
body {
	background-image: url(images/bg_footer.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida', Arial, Verdana, sans-serif, '新細明體';
	font-size: 13px;
	/*
	list-style-type: none;
	*/
	color: #7e6b5a;
	background-color: #E7E0D0;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

/*
ul, li, p, a, h1, h2, h3, h4, h5, form {
	margin: 0px;
	padding: 0px;	
}
*/

p, a, h1, h2, h3, h4, h5, form {
	margin: 0px;
	padding: 0px;
	/*
	list-style-type: none;
	*/
}


#container {
	width: 910px;
	margin-right: auto;
	margin-left: auto;
	top: 0px;
	height: auto;
	margin-top: 0px;
	position: relative;
	background-image: url(images/bg_content.jpg);
	background-repeat: repeat-y;
	background-position: center center;
}
.bg {
	background-image: url(images/bg.gif);
	background-repeat: repeat-x;
	background-position: center top;
	width: 100%;
	margin: 0px;
	position: absolute;
	top: 0px;
	border: 0;
	padding: 0px;
}
#header {
	height: 230px;
	width: auto;
	background-image: url(images/header.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#header h1
{
	display: block;
	text-align:right;
	vertical-align:bottom;
	padding-top:100px;
}

#header  h1 a {
	color: #66CC33;
	font-weight: bold;
	font-size: 24px;
	width: auto;
	/*
	display: block;
	*/
	text-align: right;
	padding-top: 70px;
	padding-right: 60px;
}
#header h2 {
	padding-top: 15px;
	color: #996666;
	font-size: 16px;
	width: auto;
	display: block;
	text-align: right;
	padding-right: 40px;
}

#nav {
	width: auto;
	padding-top: 45px;
	padding-left: 120px;
	position: absolute;
}

#nav li {
	float: left;
	background-position: center;
	display: block;
	width: auto;
	height: auto;
	text-align: center;
}

#nav a, #nav a:link {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	height: 24px;
	width: 70px;
	text-align: center;
	/**/
	display: block;
	
}
#nav   a:hover, #nav   a:active   {
	text-decoration: none;
	color: #996600;
	font-weight: bold;
	background-image: url(images/bg_nav.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 24px;
	width: 70px;
	display: block;
	text-align: center;
}
#content {
	height: auto;
}

#content #main {
	float: left;
	width: 670px;
	height: auto;
	word-break:break-all; word-wrap: break-word;overflow:hidden;    
}

#content #sideBar {
	float: right;
	width: 215px;
	padding-right: 15px;
	padding-left: 5px;	
	word-break:break-all; word-wrap: break-word;overflow:hidden;    
}


#Abstract {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	text-align: left;
	height: auto;
	width: auto;
}
#main    #Abstract    h2, #main #Abstract h2 a{
	color: #cc6600;
	font-size: 17px;
	text-decoration: none;
	line-height: 27px;
	height: auto;
	width: 570px;
	margin: 0px;
	padding: 0px;
	float: right;
	text-align: left;
	display: block;
}
#Abstract .entrymeta, #Abstract .Comments{
	font-size: 12px;
	padding-left: 60px;
	display: block;
	clear: right;
}
#date  {
	background-image: url(images/icon_date.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 48px;
	height: 48px;
	float: left;
	padding: 0px;
	margin-top: 3px;
}
#date .year {
	text-align: center;
	font-size: 10px;
	color: #666666;
	padding-top: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
}
#date .day {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	font-family: Georgia;
	color: #FFFFFF;
	padding-top: 1px;
}
#Abstract .Abs {
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 3px;
	width: 570px;
	float: right;
	text-align: left;
}
#newColl .Abs {
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #7E6B5A;
	padding-left: 5px;
	font-size: 14px;
}
.entrymeta  {
	padding-left: 8px;
	padding-top: 5px;
}


a, a:link {
	color: #004986;
	/*
	font-size: 12px;
	*/
}
a:hover {
	color: #004986;
	/*
	font-size: 12px;
	*/
	text-decoration: none;
}
#search {
	display: block;
	text-align: center;
	padding-bottom: 5px;
}

#search .search {
	height: 20px;
	width: 170px;
	margin: 0px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	background-color: #FDF4E3;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #996600;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.searchButton {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 25px;
	width: 25px;
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#sideBar #Statistics {
	font-size: 10.5px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
#sideBar #Box {
	padding: 5px;
	clear: both;
	height: auto;
	width: auto;
	
	
}

#sideBar #news 
{
	padding: 5px;
	padding-left:22px;
	
	clear: both;
	height: auto;
	width: auto;
}

#sideBar #tag {
	padding: 5px;
	clear: both;
	height: auto;
	width: auto;
	
	white-space:nowrap;
	overflow:hidden;
}

#Box li {
	width: auto;
	padding-left: 20px;
	height: auto;
	line-height: 20px;
	
	list-style-type:none;
	padding:0px;
	margin:0px;
}

#Box ul 
{
	/*
	margin: 0 0 0 20px !important;	
	margin: 0 0 0 -20px;	
	*/
	margin: 0 0 0 -20px;	
	.margin: 0 0 0 20px;	
}

.turns {
	width: 150px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#Box .by {
	display: block;
	font-size: 12px;
	color: #6699CC;
}
#sideBar  #Box  h3, #sideBar #tag h3 {
	font-size: 13px;
	font-weight: bold;
	color: #59493f;
	padding-bottom: 5px;
	background-image: url(images/icon_pla.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
}
#sideBar #Box p {

}
#sideBar   #Box   a:hover    {
	color: #004986;
	font-size: 13px;
	text-decoration: none;
	display: block;
	background-image: url(images/icon_arrow_02.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 13px;
}
#sideBar #Box a, #sideBar #Box a:link {
	color: #666600;
	font-size: 13px;
	text-decoration: none;
	display: block;
}
#footer {
	height: 30px;
	width: auto;
	background-image: url(images/footer.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	clear: both;
}
#address {
	background-image: url(images/bg_footer.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 70px;
	font-weight: bold;
	text-align: center;
}
#address p {
	padding-top: 35px;
}

#footer a, #footer a:link {
	height: 55px;
	width: auto;
	background-image: url(images/bg_footer.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	clear: both;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #7E6B5A;
}
#footer a:hover {
	height: 55px;
	width: auto;
	background-image: url(images/bg_footer.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	clear: both;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #97826F;
	text-decoration: none;
}

#tag  {
	display: block;
	margin: 0px;
	padding: 0px;
	width: auto;
	overflow: visible;
}
#tag  #moreTags {
	clear: both;
	position: relative;
	text-align: left;
	width: auto;
	float: left;
}
#tag ul {
	padding-left: 20px;
}

#tag   li  {
	display: inline;
	position: relative;
	padding-right: 10px;
	float: left;
}

#Collection
 {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	width: auto;
}
#coll {
	width: auto;
	display: block;
	clear: both;
	line-height: 29px;
}
#coll li {
	display: inline;
	padding-right: 15px;
}
#coll a, #coll a:link, #coll a:hover {
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #999999;
}
#coll .tag01 {
	font-size: 11px;
	color: #999933;
}
#coll .tag02 {
	font-size: 15px;
	color: #FFCC00;
}
#coll .tag03 {
	font-size: 23px;
	color: #CCCCCC;
}
#coll .tag04 {
	font-size: 18px;
	color: #33CCCC;
}
#coll .tag05 {
	font-size: 20px;
	color: #993399;
}
#coll .tag01:hover  {
	font-size: 11px;
	color: #60AFFF;
}
#coll .tag02:hover {
	font-size: 15px;
	color: #B78900;
}
#coll .tag03:hover {
	font-size: 23px;
	color: #999999;
}
#coll .tag04:hover {
	font-size: 18px;
	color: #0082D9;
}
#coll .tag05:hover {
	font-size: 20px;
	color: #53A82B;
}
#main   h2 {
	color: #999900;
	font-size: 20px;
	padding-left: 30px;
	font-weight: bold;
	padding-top: 35px;
	padding-bottom: 20px;
}

#newColl {
	padding-right: 25px;
	padding-left: 30px;
	padding-bottom: 8px;
	padding-top: 5px;
}
#entrytitle h4 {
	font-size: 18px;
	padding-left: 8px;
}
#entrybody {
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#entrybody   p {
	line-height: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.csharpcode {
	font-size: 11px;
}
#postMain {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
#postMain  #entrybody {
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-right: 0px;
}
#postMain #entrytitle {
	padding-bottom: 10px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #33CCFF;
}

.dataLink {
	line-height: 11px;
}

#day  {
	padding-left: 25px;
	padding-right: 25px;
}
#day  li  {
	list-style-type: decimal;
	font-size: 12px;
	border-bottom-width: 3px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}
.text01 {
	text-align: left;
	line-height: 19px;
	padding-left: 20px;
}
#entrybody img {
	padding-top: 5px;
	padding-bottom: 5px;
}
#reply {
	line-height: 28px;
	vertical-align: baseline;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#reply .Text {
	height: 17px;
	font-size: 12px;
	text-decoration: none;
	border: 1px dotted #FAC658;
}
.conText {
	height: 130px;
	width: 530px;	
	margin-bottom: 15px;
	border: 1px dotted #FAC658;
}

.com_img {
	padding-left: 87px;
	padding-bottom: 15px;
}
#LeaveReply .sendBut {
	display: block;
	padding-top: 15px;
	text-align: center;
}

.author
{
	background-color:#ffefd6;	
}


#HomePager
{    
   margin:10px 30px 10px 30px;
}