.font2 {
	FONT-SIZE: 9pt; COLOR: white; LINE-HEIGHT: 22px; FONT-FAMILY: verdana, Arial; TEXT-ALIGN: center
}
.font3 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 20px; FONT-FAMILY: "verdana", "Tahoma", "Arial"
}
.font4 {
	PADDING-RIGHT: 0px; FONT-SIZE: 14px; LINE-HEIGHT: normal; FONT-FAMILY: "verdana", "Arial"
}
A:link {
	COLOR: #000080
}
A:visited {
	COLOR: #000080
}
A:hover {
	COLOR: red
}
.fontgetcase {
	FONT-SIZE: 11pt; COLOR: #000000; LINE-HEIGHT: 16pt; FONT-FAMILY: verdana, Arial
}
.C1 {
	FONT-SIZE: 10px; FONT-FAMILY: 'Century Gothic', Verdana
}
.C2 {
	FONT-SIZE: 12px; FONT-FAMILY: 'Century Gothic', Verdana
}
.font6 {
	FONT-SIZE: 16px; FONT-FAMILY: 'Century Gothic', Verdana
}
.C4 {
	FONT-SIZE: 14px; FONT-FAMILY: 'Century Gothic', Verdana
}
.blueon {
	BACKGROUND-COLOR: #ccccff
}
.blueoff {
	BACKGROUND-COLOR: white
}
.cs {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Arial
}
