@import url("/my/css/content.css");
/*
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/my/fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/my/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/my/fonts/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/my/fonts/OpenSans-Italic.ttf') format('truetype');
}

*/

/******************************************************************************/
/*                                                                            */
/*                      MODIFICHE AL CSS TEMPLATE                             */
/*                                                                            */
/******************************************************************************/

/* Questo serve a rimpicciliore i sottomenu altrimenti non entrano su schermi di cellulare */
#navPanel .link {
	height: 2em;
	line-height: 2em;
}


/******************************************************************************/
/*                                                                            */
/*                             TAG STANDARD                                   */
/*                                                                            */
/******************************************************************************/
article h1,article h2{
    border-bottom: 1px solid #ddd;
}

pre, code, kbd, samp, var, tt {
    font-family: Consolas,"Lucida Console","Andale Mono","Bitstream Vera Sans Mono","Courier New",monospace;
}

/*
The var element represents a variable. This could be an actual variable in a 
mathematical expression or programming context, an identifier representing a 
constant, a symbol identifying a physical quantity, a function parameter, or
just be a term used as a placeholder in prose.
*/
var{
	font-family: "Georgia","Geneva" ,"Times New Roman",Serif;
	font-style: italic;
	font-size: 1.0em;
	color: #961C1C;
}

pre {
        -webkit-overflow-scrolling: touch;
        background: #f8f8f8;
        border-radius: 0.5em;
        border: solid 1px #e5e5e5;
        /*font-family: monospace;*/
        font-size: 0.8em;
        line-height: 1.5em;
        margin: 0 0 2em 0;
        overflow-x: auto;
        padding: 1em 1.5em;
}

pre.terminal {
        background: #363636;
		color: #f0f0f0;
}
/*
The code element represents a fragment of computer code. 
*/
code {
		background-color: #EEE;
		/*
        background: #f8f8f8;
        border-radius: 0.5em;
        border: solid 1px #e5e5e5;

        font-size: 0.9em;
        margin: 0 0.25em;
        padding: 0.2em 0.2em;
		*/
}

/*
The kbd element represents user input (typically keyboard input, although 
it may also be used to represent other input, such as mouse or voice commands).
*/
kbd {
        background: #f8f8f8;
        border-radius: 0.5em;
        border: solid 1px #e5e5e5;

        font-size: 0.9em;
        margin: 0 0.25em;
        padding: 0.2em 0.2em;
/*
    padding: 0.1em 0.6em;
    border: 1px solid #CCC;
    font-size: 0.8em;
    background-color: #F7F7F7;
    color: #333;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 2px #FFF inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0px 0.1em;
    text-shadow: 0px 1px 0px #FFF;
    line-height: 1.4;
    white-space: nowrap;
	*/
}




ol {
        list-style: decimal;
        padding-left: 1.25em;
}

        ol li {
                padding-left: 0.25em;
        }

ul {
        list-style: disc;
        padding-left: 1em;
}

        ul li {
                padding-left: 0.5em;
        }
        ul.actions li {
                padding-left: 0.5em;
        }        
        
        .dropotron > li {
                list-style: none;
        }

sub {
        font-size: 0.8em;
        position: relative;
        top: 0.5em;
}
sup {
        font-size: 0.8em;
        position: relative;
        top: -0.5em;
}

a {
        border-bottom: none;
        color: #30A7DB
        /*text-shadow: 0px 1px 0px #AAA;*/
}
    a:hover {
            border-bottom: 2px dotted;
    }
    a:hover img{
            border-bottom: none;
    }
hr {
        border: 0;
        border-bottom: solid 2px #e5e5e5;
        margin: 2em 0;
}
    hr.major {
            margin: 3em 0;
    }	


/******************************************************************************/
/*                                                                            */
/*                    BB CODE                                                 */
/*                                                                            */
/******************************************************************************/
.bold {
	font-weight: bold;
}

.italics {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.strikethrough {
	text-decoration: line-through;
}

.overline {
	text-decoration: overline;
}

.sized {
	font-size:80%
}

.quotecodeheader {
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.codebody {
	background-color: #FFFFFF;
    font-family: Courier new, courier, mono;
    font-size: 12px;
    color: #006600;
    border: 1px solid #BFBFBF;
}

.quotebody {
	background-color: #FFFFFF;
    font-family: Courier new, courier, mono;
    font-size: 12px;
    color: #660002;
	border: 1px solid #BFBFBF;
}

.listbullet {
	list-style-type: disc;
	list-style-position: inside;
}

.listdecimal {
	list-style-type: decimal;
	list-style-position: inside;
}

.listlowerroman {
	list-style-type: lower-roman;
	list-style-position: inside;
}

.listupperroman {
	list-style-type: upper-roman;
	list-style-position: inside;
}

.listloweralpha {
	list-style-type: lower-alpha;
	list-style-position: inside;
}

.listupperalpha {
	list-style-type: upper-alpha;
	list-style-position: inside;
}
    
/******************************************************************************/
/*                                                                            */
/*                    STILI UTILIZZATI NELL'APPLICAZIONE                      */
/*                                                                            */
/******************************************************************************/

.private {
	border: solid 1px red;
}

/* Stili per CkEditor */


	body.cke_editable {
		min-width: 600px;
		background: #fff;
	}

	
	 /*Dropdown buttons on toolbar:
	.cke_combo__font .cke_combo_text,
	.cke_combo__fontsize .cke_combo_text,
	.cke_combo__format .cke_combo_text,
	.cke_combo__style .cke_combo_text
	{
		width: auto !important;
	}
	*/
	
	/*Dropdown panels:*/
	.cke_combopanel__font,
	.cke_combopanel__fontsize,
	.cke_combopanel__format,
	.cke_combopanel__styles{
		width:auto !important;
		height:450px !important;
	}
	.cke_combopanel__styles{
		width:100% !important;
	}


/* text aligns */
.align-left {
        text-align: left;
}
.align-center {
        text-align: center;
}
.align-right {
        text-align: right;
}

/* Banner 
 
  Questa classe richiede uno inline style con almeno indicazione di background-image
  ad esempio
  <div class="pkCssBanner" style="background-image: url('/pagefiles/images/se_progetti.jpg'); height: 20em;">
  	<header class="bottom"><h2> Questo titolo compare in basso all'immagine</h2>
  </div>
   

*/

.pkCssBannerBkg {
	background-image: url("/pagefiles/images/se_info.jpg");
	background-position: center center;
	background-size: cover;
	height: 25em;
	position: relative;
	background-repeat: no-repeat;
}

	/* header di default allineato top,center*/
	.pkCssBannerBkg header {
		text-align: center;
		position: absolute;
		width: 100%;
		background: #212121;
		background: rgba(27, 27, 27, 0.75);
		color: #fff;
		padding: 1.5em;
		/*text-shadow: 0px 1px 0px #AAA; */ 
	}

		/* header bottom,center*/
		.pkCssBannerBkg header.bottom {
			text-align: center;
			bottom: 0;
			left: 0;
			padding: 1.5em 0;
		}
		
		/* header top,left*/
		.pkCssBannerBkg header.sx {
			text-align: left;
			width: auto;
			margin: 1.5em 0;
		}

		/* header top,right*/
		.pkCssBannerBkg header.dx {
			text-align: right;
			right: 0;
			width: auto;
			margin: 1.5em 0;
		}
			.pkCssBannerBkg header h2 {
				display: inline-block;
				margin: 0;
				font-size: 2.0em;
				vertical-align: middle;
			}

				.pkCssBannerBkg header h2 em {
					opacity: 0.75;
				}
				
				.pkCssBannerBkg header h2 a {
					border-bottom-color: rgba(255, 255, 255, 0.5);
				}

					.pkCssBannerBkg header h2 a:hover {
						border-bottom-color: transparent;
						border-bottom: none;
					}
				
			.pkCssBannerBkg header .button {
				vertical-align: middle;
				margin-left: 1em;
			}
			
	        .pkCssBannerBkg header p{
	                position: relative;
	                padding: 1em 0 0 0;
	                margin: 0;
	                top: -1em;
	                font-size: 1.5em;
	                letter-spacing: -0.025em;
	        }			

.myBanner {
	width: 100%; height : 15em; position : relative;
	overflow: hidden;
	height: 15em;
	position: relative;
}

.myBanner img {
	position: absolute;
	min-width: 100%;
	margin-top: -25%;
}

/* 
  Questa classe serve a fare in modo che un <a> occupi tutta la intera div
  in cui è contenuto. In pratica il click è accettatu su tutta la div.
  Esempio
  	<div>
  		<a href="/index.php" class="divAsLink">il testo si puo' anche omettere</a>
	</div>
	
  Utilizzato principalmente con div di classe pkCssBannerBkg per creare una immagine
  messa sullo sfondo ma cliccabile
  	<div class="pkCssBannerBkg" style="background-image: url('/pagefiles/images/se_visione.jpg'); height: 7em;">
  		<a href="/index.php" class="divAsLink"></a>
  	</div>
  
*/
.divAsLink {
	display: block;
	height: 100%;
}

/* Show messages from system */

.mkInfo,
.mkError,
.mkWarning,
.mkDebug {
    margin: 1em 0px;
    padding: 0.5em 0.5em 0.5em 50px;
    font-style: italic;
    vertical-align: middle;
    min-height: 56px;
    overflow: auto;
    border-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    background-repeat: no-repeat;
    background-position: 0.5em 0.5em;
    display: block;
    width: 100%;
}
    .mkInfo {
        border-color: #0000cc;
        background-color:#ebe8ff;
        background-image:url('/my/img/dialog-information.png');
        /*width:50%;*/
    }
    .mkWarning {
        border-color: #00cc00; 
        background-color:#ebffe8;
        background-image:url('/my/img/dialog-warning.png');
    }
    .mkError {
        border-color: #cc0000; 
        background-color:#ffebe8;
        background-image:url('/my/img/dialog-error.png');
    }
    .mkDebug {
        border-color: #cc0000; 
        background-color:#ffebe8;
        background-image:url('/my/img/dialog-warning.png');
    }    
 

/* Form */
.inline-form {
    display: inline;
}
    /* elementi definiti di della classe inline-form */
    input.inline-form,
    select.inline-form,
    textarea.inline-form,
    button.inline-form,
    label.inline-form
    {
        display: inline;
        width: auto;
    }
    /* elementi in un contenitore di tipo inline-form */
    .inline-form input,
    .inline-form select,
    .inline-form textarea,
    .inline-form button,
    .inline-form label
    {
        display: inline;
        width: auto;
    }
    


/* IDs - Elementi della pagina */

#theLangBtn {
    /*position:absolute;*/
    float:right;
    display:block;
    clear:both;
    /*
    background-image:url('/my/img/lang_bkg.png');
    background-repeat:no-repeat;
    height:30px;
    font-size:14px;
    font-family:"Trebuchet MS", "Luxi sans", sans-serif;
    height:90px;
    */
    background-color:#F0F8FF;
    
    border: solid 1px;
    border-radius: 0px 0px 0px 10px;
    border-top:none;
    border-right:none;
    
    width:auto;/*180px;*/    
    right:0px;
    top:0px;
    padding:5px;
    font-size: 0.8em;
    text-align:center;
    vertical-align:bottom;
    
}
	#theLangBtn input
	{
		font-size: 0.9em;
		border-radius:5px;
	}

#theSidebar
{
	font-size: 0.9em;
}
	.menu-title {
		background-color:#37c0fb;
		border-radius: 0.5em;
		padding: 0.5em;
	}
	.menu-items h3{
		font-size: 1em;
		margin-top: 1em;
	}
#theAbstract {
	font-style: italic;
	font-family: "Georgia","Geneva" ,"Times New Roman",Serif
        /*background-color: #F0F8FF;*/
	}
#theMeta4Admin{
	font-style: italic;
	background-color: rgba(250, 240, 255, 1);
	
}
/* DISCLAIMER */
#theDisclaimer {
    background: #e89980;
    color: #f9e5df;
    padding: 0.5em;
    text-align: left;
    font-style: italic; 
}
    #theDisclaimer a {
        color: inherit;
    }
    #theDisclaimer .button {
        box-shadow: none;
        background: #fff;
        color: #e89980;
    }

/* THE FATHERS */
#theSummary{
	font-size:0.75em;
	margin: -1em 0px 2em;
	/*background-color: #BBB;*/
	color: #474747;
	/*color: #fff;*/
	}
	#theSummary ul{
		margin: 0px 0px;
	}	
	#theSummary ul.menu li{
		border-left: none;
	}	

    #theSummary a, #theSummary > li:hover > a {
		/*color: #fff;*/
		color: #474747;
    }	
/* THE BROTHERS */
#theBrothers {
    border-radius: 0.5em;
    box-shadow: 2px 2px 0 0 #e5e5e5;
    margin: 0 0 2em 0;
    padding: 2em;
    background:#f8f8f8;    
}

/* THE VOTING */
#theVoting {
  clear: both;
  margin: 10px 0 10px auto;
  padding: 10px;
  border: 1px solid;
  border-color: #333;
  border-radius: 0.5em;
}

/* THE TAG CLOUD */
#theTagCloud {
    padding:1em;
    border:1px solid #A8A8C3;
    background-color:white;
    width:auto;
    border-radius:0.5em;
}

#footer {
        background-color: #2E2E2E;
        color: #F0FFFF;
        text-shadow: 0px 1px 0px #000;
        color: #CCC;
        
}
	#footer input[type="text"],
	#footer input[type="password"],
	#footer input[type="email"], 
	#footer textarea {
	color :#2E2E2E;
	}

/*------------------------------------------------------------------------------
C L A S S I   C H E    R I C H I E D O N O    UN    C L E A R   B O T H
------------------------------------------------------------------------------*/
    .mkInfo:after,
    .mkError:after,
    .mkWarning:after,
    .mkDebug:after, 
    #theTagCloud:after,
    #theBrothers:after,
    #theVoting:after,
    #theDisclaimer:after,
    #theSummary:after {
        content: '';
        display: block;
        clear: both;
    }