A.yellow315:link {
	FONT-SIZE: 12px; COLOR: #ffff00; TEXT-DECORATION: none
}
A.yellow315:visited {
	FONT-SIZE: 12px; COLOR: #ffff00; TEXT-DECORATION: none
}
A.yellow315:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.p12:link {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.p12:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.p12:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.pl:link {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.pl:visited {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.pl:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.ph:link {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.ph:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.ph:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.p14:link {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: underline
}
A.p14:visited {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: underline
}
A.p14:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.pn14:link {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.pn14:visited {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.pn14:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: underline
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "§ºÊ^_GB2312"
}
LI {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a10:link {
	FONT-SIZE: 10.5pt
}
A.a10:visited {
	FONT-SIZE: 10.5pt
}
A.a10:hover {
	FONT-SIZE: 10.5pt
}
.fontglow {
	FILTER: Glow(Color=000000, Strength=1); WIDTH: 100%
}
A.fontglow:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.fontglow:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.fontglow:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.shadow:link {
	FILTER: DropShadow(Color=red,OffX=1,OffY=1,positive=1); COLOR: #000000; TEXT-DECORATION: none
}
A.shadow:visited {
	FILTER: DropShadow(Color=red,OffX=1,OffY=1,positive=1):DropShadow(Color=ff0000,OffX=1,OffY=1,positive=1):DropShadow(Color=red,OffX=1,OffY=1,positive=1); COLOR: #000000; TEXT-DECORATION: none
}
A.shadow:hover {
	FILTER: DropShadow(Color=red,OffX=1,OffY=1,positive=1); COLOR: #ff0000; TEXT-DECORATION: underline
}
A.topdaohang:link {
	FONT-SIZE: 12px; COLOR: #81b4f3; TEXT-DECORATION: none
}
A.topdaohang:visited {
	FONT-SIZE: 12px; COLOR: #81b4f3; TEXT-DECORATION: none
}
A.topdaohang:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.menu_top:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.menu_top:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.menu_top:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.noline:link {
	TEXT-DECORATION: none
}
A.noline:visited {
	TEXT-DECORATION: none
}
A.noline:hover {
	TEXT-DECORATION: none
}
A.end:link {
	FONT-SIZE: 12px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.end:visited {
	FONT-SIZE: 12px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.end:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.List01:link {
	FONT-SIZE: 12px; COLOR: #003399; TEXT-DECORATION: none
}
A.List01:visited {
	FONT-SIZE: 12px; COLOR: #003399; TEXT-DECORATION: none
}
A.List01:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.border01:link {
	FONT-WEIGHT: 500; FONT-SIZE: 12px; FILTER: Glow(Color=#ffffff, Strength=1); FLOAT: left; COLOR: black; LINE-HEIGHT: 15.5pt; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
A.border01:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 12px; FILTER: Glow(Color=#ffffff, Strength=1); FLOAT: left; COLOR: black; LINE-HEIGHT: 15.5pt; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
A.border01:hover {
	FONT-WEIGHT: 500; FONT-SIZE: 12px; FILTER: Glow(Color=#ffffff, Strength=1); FLOAT: left; COLOR: red; LINE-HEIGHT: 15.5pt; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
A.border02:link {
	FONT-WEIGHT: 500; FONT-SIZE: 12px; FILTER: Glow(Color=#000000, Strength=1); FLOAT: left; COLOR: white; LINE-HEIGHT: 15.5pt; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
A.border02:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 12px; FILTER: Glow(Color=#000000, Strength=1); FLOAT: left; COLOR: white; LINE-HEIGHT: 15.5pt; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
A.border02:hover {
	FONT-WEIGHT: 500; FONT-SIZE: 12px; FILTER: Glow(Color=#000000, Strength=1); FLOAT: left; COLOR: yellow; LINE-HEIGHT: 15.5pt; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
A:link {
	COLOR: #010000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #010000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.menu14:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.menu14:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.menu14:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu6:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu6:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu6:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline
}
.150 {
	LINE-HEIGHT: 150%
}
.120 {
	LINE-HEIGHT: 120%
}
.130 {
	LINE-HEIGHT: 135%
}
.140 {
	LINE-HEIGHT: 148%
}
.f12 {
	FONT-SIZE: 12pt; FONT-FAMILY: §ºÊ^_GB2312
}
.f10 {
	FONT-SIZE: 10.5pt; FONT-FAMILY: §ºÊ^_GB2312
}
.c01 {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
.font {
	FILTER: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=2); COLOR: #ffffff
}
.white_border {
	FONT-WEIGHT: 500; FONT-SIZE: 9pt; FILTER: Glow(Color=#000000, Strength=1); FLOAT: left; COLOR: white; LINE-HEIGHT: 15.5pt; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.black_border {
	FONT-WEIGHT: 500; FONT-SIZE: 9pt; FILTER: Glow(Color=#ffffff, Strength=1); FLOAT: left; COLOR: black; LINE-HEIGHT: 15.5pt; FONT-FAMILY: "§ºÊ^"; LETTER-SPACING: 2pt; TEXT-DECORATION: none
}
.blue {
	FONT-SIZE: 12px; COLOR: #0000ff
}
.p14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.hei18 {
	LINE-HEIGHT: 18px
}
.14shad {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FILTER: DropShadow(Color=ffffff, OffX=1, OffY=1, Positive=2); COLOR: #000000
}
.12shad {
	FONT-WEIGHT: bold; FILTER: DropShadow(Color=ffffff, OffX=1, OffY=1, Positive=2); COLOR: #000000
}
.2shad {
	FONT-WEIGHT: normal; FILTER: DropShadow(Color=FFDB8C, OffX=1, OffY=1, Positive=2)
}
.t18 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #cc0000
}
.adspan {
	DISPLAY: none
}
