BODY {
	FONT-SIZE: 12px; BACKGROUND: url(../images/newi6_02.gif) #fff repeat-x; MARGIN: 0px; WORD-BREAK: break-all; FONT-FAMILY: "§ºÊ^"; TEXT-ALIGN: center; WORD-WRAP: break-word
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
TEXTAREA {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TR {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
BR {
	FONT-SIZE: 12px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.white {
	COLOR: #fff
}
A.white:link {
	COLOR: #fff
}
A.white:visited {
	COLOR: #fff
}
.black {
	COLOR: #333
}
A.black:link {
	COLOR: #333
}
A.black:visited {
	COLOR: #333
}
.red {
	COLOR: #c00
}
A.red:link {
	COLOR: #c00
}
A.red:visited {
	COLOR: #c00
}
.blue {
	COLOR: #06f
}
A.blue:link {
	COLOR: #06f
}
A.blue:visited {
	COLOR: #06f
}
.yellow {
	COLOR: #ff0
}
A.yellow:link {
	COLOR: #ff0
}
A.yellow:visited {
	COLOR: #ff0
}
.orange {
	COLOR: #f60
}
A.orange:link {
	COLOR: #f60
}
A.orange:visited {
	COLOR: #f60
}
.green {
	COLOR: #036
}
A.green:link {
	COLOR: #036
}
A.green:visited {
	COLOR: #036
}
.f12px {
	FONT-SIZE: 12px
}
.f14px {
	FONT-SIZE: 14px
}
.blank4 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 4px
}
.blank5 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 5px
}
.blank7 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 7px
}
.blank8 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; HEIGHT: 8px
}
.blankW4 {
	CLEAR: both; BACKGROUND: #fff; OVERFLOW: hidden; HEIGHT: 4px
}
.blankW5 {
	CLEAR: both; BACKGROUND: #fff; OVERFLOW: hidden; HEIGHT: 5px
}
.top12 {
	CLEAR: both; PADDING-TOP: 12px
}
.top8 {
	CLEAR: both; PADDING-TOP: 8px
}
.top81 {
	CLEAR: both; PADDING-BOTTOM: 8px
}
.top4 {
	CLEAR: both; PADDING-TOP: 4px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 1px
}
#top01 {
	MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 59px
}
#top01 .img1 {
	FLOAT: left
}
#top01 .nw690 {
	FLOAT: left; WIDTH: 690px; COLOR: #363535; LINE-HEIGHT: 21px; PADDING-TOP: 12px
}
#top01 .nw690 A {
	COLOR: #363535
}
#top01 .nw180 {
	FLOAT: right; WIDTH: 180px
}
#top01 .h32 {
	HEIGHT: 32px
}
#top01 .h32 A {
	COLOR: #1b5481
}
#top01 .h32 .li1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../images/newi_17.gif) no-repeat 0px 11px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
#top01 .h32 A.li2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../images/newi_21.gif) no-repeat 0px 11px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 7px; PADDING-TOP: 12px
}
#top01 .h32 A.li3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../images/newi_25.gif) no-repeat 0px 11px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 7px; PADDING-TOP: 12px
}
#top01 FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 180px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#top01 .but {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/newi_24.gif) no-repeat; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 41px; COLOR: #10344c; PADDING-TOP: 3px; LETTER-SPACING: 2px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
#top01 .inp {
	BORDER-RIGHT: #91aed6 0px solid; BORDER-TOP: #91aed6 1px solid; FLOAT: left; BORDER-LEFT: #91aed6 1px solid; WIDTH: 130px; BORDER-BOTTOM: #91aed6 1px solid; HEIGHT: 16px
}
.top02 {
	BACKGROUND: url(../images/newi6_06.gif) no-repeat; MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 29px
}
.dqwz {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; FILTER: dropshadow(color=#ffffff, offx=1, offy=1, positive=1); PADDING-BOTTOM: 0px; COLOR: #1b5481; PADDING-TOP: 7px; HEIGHT: 12px
}
.dqwz A {
	COLOR: #1b5481
}
.w_rim {
	MIN-HEIGHT: 200px; MARGIN: 0px auto; WIDTH: 980px; PADDING-TOP: 8px; HEIGHT: auto
}
.l1 {
	FLOAT: left; WIDTH: 670px
}
.r1 {
	FLOAT: right; WIDTH: 300px
}
.w_c1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f2f8ff; PADDING-BOTTOM: 0px; WIDTH: 668px; PADDING-TOP: 0px
}
.w_t1 {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; BACKGROUND: url(../images/new_07.gif) repeat-x 50% bottom; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 638px; PADDING-TOP: 0px
}
.w_c2 {
	MIN-HEIGHT: 15px; MARGIN: 0px auto; WIDTH: 638px; HEIGHT: auto
}
.l2 {
	PADDING-RIGHT: 8px; FLOAT: left; WIDTH: 427px; COLOR: #333
}
.l2 .red {
	FONT-WEIGHT: bold; COLOR: #c00
}
.l2 B {
	FONT-WEIGHT: normal; COLOR: #005aff
}
.l2 B A {
	COLOR: #005aff
}
.r2 {
	FLOAT: right; WIDTH: 203px; COLOR: #333
}
.r2 A {
	COLOR: #333
}
.l2 A.red {
	COLOR: #c00
}
.f16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000
}
.f16 A {
	COLOR: #000
}
.f14 {
	FONT-SIZE: 14px; COLOR: #333
}
.f14 A {
	COLOR: #333
}
.f14 B {
	FONT-WEIGHT: bold; COLOR: #f00
}
.f14 B A {
	COLOR: #f00
}
.r2 DIV {
	FLOAT: left; PADDING-TOP: 4px
}
.r2 .bl {
	FONT-WEIGHT: normal; COLOR: #005aff
}
.r2 .bl A {
	COLOR: #005aff
}
.pl {
	PADDING-RIGHT: 8px; BORDER-TOP: #cadff8 1px solid; PADDING-LEFT: 13px; FONT-WEIGHT: bold; BACKGROUND: #ddecfe; PADDING-BOTTOM: 0px; WIDTH: 647px; COLOR: #333; PADDING-TOP: 7px; BORDER-BOTTOM: #cadff8 1px solid; HEIGHT: 18px
}
.pl A {
	FONT-WEIGHT: normal; COLOR: #003cff
}
.pl B {
	FONT-WEIGHT: normal; COLOR: #0a4782
}
.pl B.red {
	FONT-WEIGHT: bold; COLOR: #eb0101
}
.pl SPAN {
	FLOAT: right
}
A.sel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(../images/xl.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 125px; COLOR: #333; PADDING-TOP: 4px; HEIGHT: 16px
}
A.sel:hover {
	TEXT-DECORATION: none
}
A.sel1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(../images/xl1.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 125px; COLOR: #333; PADDING-TOP: 4px; HEIGHT: 16px
}
A.sel1:hover {
	TEXT-DECORATION: none
}
.l1 P {
	FONT-SIZE: 14px; MARGIN: 0px auto; WIDTH: 638px; COLOR: #333; TEXT-INDENT: 24px; LINE-HEIGHT: 21px; PADDING-TOP: 15px
}
.l1 P A {
	COLOR: #333
}
.l1 P.c {
	TEXT-ALIGN: center
}
.l1 P IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; DISPLAY: block; MARGIN: 0px auto 8px; BORDER-LEFT: #000 1px solid; WIDTH: 450px; BORDER-BOTTOM: #000 1px solid
}
.l1 P A IMG {
	BORDER-RIGHT: #005bfe 1px solid; BORDER-TOP: #005bfe 1px solid; BORDER-LEFT: #005bfe 1px solid; BORDER-BOTTOM: #005bfe 1px solid
}
.r {
	TEXT-ALIGN: right
}
.w_c1 TABLE {
	BORDER-RIGHT: #becee6 1px solid; BORDER-TOP: #becee6 1px solid; MARGIN: 0px auto; BORDER-LEFT: #becee6 1px solid; WIDTH: 643px; BORDER-BOTTOM: #becee6 1px solid
}
.w_c1 TABLE TH {
	BORDER-RIGHT: #becee6 1px solid; BACKGROUND: #f6fbff; COLOR: #0a4782; BORDER-BOTTOM: #becee6 1px solid; HEIGHT: 23px; TEXT-ALIGN: center
}
.w_c1 TABLE .bor0 {
	BORDER-RIGHT-WIDTH: 0px
}
.w_c1 TABLE TD {
	BORDER-RIGHT: #becee6 1px solid; COLOR: #333; HEIGHT: 25px; TEXT-ALIGN: center
}
.w_c1 TABLE A {
	COLOR: #06c
}
.w_c1 TABLE .ll {
	PADDING-LEFT: 10px; TEXT-ALIGN: left
}
.bai {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.form {
	MIN-HEIGHT: 102px; BACKGROUND: url(../images/new_69.gif) repeat-y 485px 0px; MARGIN: 8px auto 0px; WIDTH: 645px; HEIGHT: auto
}
.form TEXTAREA {
	BORDER-RIGHT: #1c5180 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #1c5180 1px solid; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #1c5180 1px solid; WIDTH: 467px; COLOR: #666; PADDING-TOP: 6px; BORDER-BOTTOM: #1c5180 1px solid; HEIGHT: 93px
}
.inp1 {
	FLOAT: right; WIDTH: 150px; COLOR: #333
}
.inp1 A {
	COLOR: #06c
}
.inp2 {
	BORDER-RIGHT: #1c5180 1px solid; BORDER-TOP: #1c5180 1px solid; BORDER-LEFT: #1c5180 1px solid; WIDTH: 95px; BORDER-BOTTOM: #1c5180 1px solid; HEIGHT: 18px
}
.inp1 DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.but1 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(http://pinglun.it168.com/space_pinglun/images/new_80.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 70px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.li {
	MIN-HEIGHT: 102px; BACKGROUND: url(../images/new_69.gif) repeat-y 316px 0px; MARGIN: 8px auto 0px; WIDTH: 645px; HEIGHT: auto
}
.li LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; BACKGROUND: url(../images/new_91.gif) no-repeat 8px 12px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 47%; COLOR: #06c; PADDING-TOP: 8px
}
.li LI A {
	COLOR: #06c
}
.tj {
	BORDER-RIGHT: #ffdb84 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #ffdb84 1px solid; PADDING-LEFT: 9px; MIN-HEIGHT: 63px; BACKGROUND: url(../images/new1_03.gif) repeat-y; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffdb84 1px solid; WIDTH: 280px; PADDING-TOP: 8px; BORDER-BOTTOM: #ffdb84 1px solid; HEIGHT: auto
}
.l3 {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 23px; COLOR: #333
}
.r3 {
	FLOAT: right; WIDTH: 252px; COLOR: #333; LINE-HEIGHT: 21px
}
.r3 A {
	COLOR: #039
}
.p2 {
	BORDER-RIGHT: #cadff1 1px solid; BORDER-TOP: #cadff1 1px solid; PADDING-BOTTOM: 4px; BORDER-LEFT: #cadff1 1px solid; BORDER-BOTTOM: #cadff1 1px solid
}
.p2t {
	PADDING-RIGHT: 8px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; BACKGROUND: url(../images/new_37.gif) repeat-x; PADDING-BOTTOM: 0px; COLOR: #039; PADDING-TOP: 9px; BORDER-BOTTOM: #cadff1 1px solid; HEIGHT: 17px
}
.p2t A {
	FONT-WEIGHT: normal; FLOAT: right; COLOR: #333
}
.l4 {
	WIDTH: 148px
}
.w80 {
	MARGIN: 0px auto; WIDTH: 80px; PADDING-TOP: 8px
}
.w80 IMG {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
.p2 UL {
	PADDING-TOP: 8px
}
.p2 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 0px; COLOR: #023199; PADDING-TOP: 0px; HEIGHT: 19px
}
.p2 LI A {
	COLOR: #023199
}
.p2 .li01 {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/new_14.gif) no-repeat 7px 1px
}
.p2 .li02 {
	BACKGROUND: url(../images/new_17.gif) no-repeat 7px 1px
}
.p2 .li03 {
	BACKGROUND: url(../images/new_19.gif) no-repeat 7px 1px
}
.p2 .li04 {
	BACKGROUND: url(../images/new_21.gif) no-repeat 7px 1px
}
.p2 .li05 {
	BACKGROUND: url(../images/new_23.gif) no-repeat 7px 1px
}
.p2 .li06 {
	BACKGROUND: url(../images/new_25.gif) no-repeat 7px 1px
}
.p2 .li07 {
	BACKGROUND: url(../images/new_27.gif) no-repeat 7px 1px
}
.p2 .li08 {
	BACKGROUND: url(../images/new_29.gif) no-repeat 7px 1px
}
.p2 .li09 {
	BACKGROUND: url(../images/new_31.gif) no-repeat 7px 1px
}
.p2 .li10 {
	BACKGROUND: url(../images/new_33.gif) no-repeat 7px 1px
}
.p2 .li001 {
	BACKGROUND: url(../images/new_61.gif) no-repeat 7px 1px
}
.p2 .li002 {
	BACKGROUND: url(../images/new_64.gif) no-repeat 7px 1px
}
.p2 .li003 {
	BACKGROUND: url(../images/new_66.gif) no-repeat 7px 1px
}
.p2 .li004 {
	BACKGROUND: url(../images/new_72.gif) no-repeat 7px 1px
}
.p2 .li005 {
	BACKGROUND: url(../images/new_74.gif) no-repeat 7px 1px
}
.p2 .li006 {
	BACKGROUND: url(../images/new_76.gif) no-repeat 7px 1px
}
.p2 .li007 {
	BACKGROUND: url(../images/new_78.gif) no-repeat 7px 1px
}
.p2 .li008 {
	BACKGROUND: url(../images/new_83.gif) no-repeat 7px 1px
}
.p2 .li009 {
	BACKGROUND: url(../images/new_86.gif) no-repeat 7px 1px
}
.p2 .li010 {
	BACKGROUND: url(../images/new_88.gif) no-repeat 7px 1px
}
.w_c3 {
	BACKGROUND: url(../images/new_69.gif) repeat-y 145px 0px; MARGIN: 0px auto; WIDTH: 290px; PADDING-TOP: 4px
}
.p3 {
	WIDTH: 141px
}
.p3t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 0px; WIDTH: 135px; COLOR: #039; PADDING-TOP: 5px; HEIGHT: 14px
}
.p3t A {
	COLOR: #039
}
.w_c4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; WIDTH: 134px; PADDING-TOP: 6px; HEIGHT: 104px
}
.l5 {
	FLOAT: left; WIDTH: 85px; COLOR: #333; TEXT-ALIGN: center
}
.l5 A {
	COLOR: #333
}
.l5 B {
	FONT-WEIGHT: normal; COLOR: #c00
}
.l5 IMG {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; DISPLAY: block; MARGIN-BOTTOM: 7px; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
.r5 {
	FLOAT: right; WIDTH: 40px
}
.r5 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.r5 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(../images/new_41.gif) no-repeat 0px 1px; COLOR: #014ee9; HEIGHT: 19px
}
.r5 LI A {
	COLOR: #014ee9
}
.w_c5 {
	CLEAR: both; BACKGROUND: url(../images/new_45.gif) #f3f9ff repeat-x; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 290px
}
.w_c5 UL {
	PADDING-TOP: 4px
}
.w_c5 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: url(../images/new_91.gif) no-repeat 4px 8px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 46%; COLOR: #06c; PADDING-TOP: 4px; HEIGHT: 12px
}
.w_c5 LI A {
	COLOR: #06c
}
.p5 {
	FONT-SIZE: 0px; BACKGROUND: url(../images/new_49.gif) no-repeat; MARGIN: 0px auto; WIDTH: 280px; HEIGHT: 1px
}
.p5c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/new_51.gif) repeat-y; PADDING-BOTTOM: 1px; MARGIN: 0px auto; WIDTH: 280px; PADDING-TOP: 3px
}
.l6 {
	BORDER-RIGHT: #ffcc6f 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffcc6f 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffcc6f 1px solid; WIDTH: 17px; COLOR: #000; LINE-HEIGHT: 18px; PADDING-TOP: 3px; BORDER-BOTTOM: #ffcc6f 1px solid; TEXT-ALIGN: center
}
.r6 {
	FLOAT: right; WIDTH: 249px; COLOR: #000; LINE-HEIGHT: 21px
}
.r6 A {
	COLOR: #000
}
.r6 B {
	FONT-WEIGHT: normal; COLOR: #fe0000
}
.r6 B A {
	COLOR: #fe0000
}
.l1i {
	MARGIN: 0px auto; WIDTH: 276px
}
.l1i LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(../../space_pinglun/images/new_91.gif) no-repeat 0px 8px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 4px; HEIGHT: 18px; TEXT-ALIGN: right
}
.l1i LI A {
	FLOAT: left; COLOR: #06c
}
.pp {
	POSITION: absolute
}
.p {
	BORDER-RIGHT: #7e9cb8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7e9cb8 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; LEFT: 415px; PADDING-BOTTOM: 3px; BORDER-LEFT: #7e9cb8 1px solid; WIDTH: 229px; PADDING-TOP: 3px; BORDER-BOTTOM: #7e9cb8 1px solid; POSITION: relative; TOP: 266px
}
.p A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 19px; PADDING-BOTTOM: 0px; MARGIN: 3px auto 0px; WIDTH: 206px; COLOR: #333; PADDING-TOP: 6px; HEIGHT: 17px
}
.p A SPAN {
	COLOR: #00349a
}
.p A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/new2_03.gif) no-repeat; TEXT-DECORATION: none
}
.p A.hov1 {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/new2_03.gif) no-repeat
}
.p1 {
	BORDER-RIGHT: #7e9cb8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7e9cb8 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; LEFT: 415px; PADDING-BOTTOM: 3px; BORDER-LEFT: #7e9cb8 1px solid; WIDTH: 229px; PADDING-TOP: 3px; BORDER-BOTTOM: #7e9cb8 1px solid; POSITION: relative; TOP: 805px
}
.p1 A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 19px; PADDING-BOTTOM: 0px; MARGIN: 3px auto 0px; WIDTH: 206px; COLOR: #333; PADDING-TOP: 6px; HEIGHT: 17px
}
.p1 A SPAN {
	COLOR: #00349a
}
.p1 A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/new2_03.gif) no-repeat; TEXT-DECORATION: none
}
.p1 A.hov1 {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/new2_03.gif) no-repeat
}
.btm {
	CLEAR: both; BORDER-TOP: #cbcbcb 1px solid; MARGIN: 0px auto; WIDTH: 980px; PADDING-TOP: 5px; HEIGHT: 47px; TEXT-ALIGN: right
}
.btm A.border1 {
	BORDER-LEFT: #999 1px solid
}
.btmlink LI A:link {
	COLOR: #1757b1
}
.btmlink LI A:hover {
	COLOR: #ff5028
}
.btmlink LI A:visited {
	COLOR: #1757b1
}
UL.btmlink {
	PADDING-LEFT: 10px; FLOAT: left; MARGIN: 0px; COLOR: #dedce5; PADDING-TOP: 0px; TEXT-ALIGN: left
}
UL.btmlink LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
LI.copytxt {
	COLOR: #666; FONT-FAMILY: arial
}
