HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #585757; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 1003px; PADDING-TOP: 0px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.fontclear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 1px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.space {
	PADDING-TOP: 10px; TEXT-ALIGN: center
}
.span {
	PADDING-RIGHT: 40px; FONT-SIZE: 12px; COLOR: #333333
}
.span1 {
	PADDING-RIGHT: 20px; FONT-SIZE: 12px
}
HR {
	BORDER-BOTTOM: #6f6f70 1px dotted; HEIGHT: 1px
}
.hr1 {
	BORDER-BOTTOM: #dcdcdc 1px dotted; HEIGHT: 1px
}
.spacehalf1 {
	PADDING-RIGHT: 3px; FLOAT: left; OVERFLOW: hidden; WIDTH: 34%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.spacehalf2 {
	PADDING-LEFT: 3px; FLOAT: right; OVERFLOW: hidden; WIDTH: 62%; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.fontsize {
	FONT-WEIGHT: bold; COLOR: red
}
.fontsize1 {
	FONT-WEIGHT: bold; COLOR: #001d72
}
.fontsize2 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #ff7f00; FONT-FAMILY: "§ºÊ^", "¶ÂÊ^"
}
.fontsize3 {
	COLOR: #004bd4; LINE-HEIGHT: 18px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.fontsize4 {
	FONT-SIZE: 10.5pt; COLOR: #333333; LINE-HEIGHT: 24px; FONT-FAMILY: "§ºÊ^", "¶ÂÊ^"; TEXT-ALIGN: left
}
#topmenubox {
	PADDING-LEFT: 1px; BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent04.gif) repeat-x 50% bottom; PADDING-TOP: 8px; HEIGHT: 22px; TEXT-ALIGN: center
}
.smallmenubox {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent29.gif); FLOAT: left; MARGIN-LEFT: 1px; WIDTH: 71px; HEIGHT: 21px; TEXT-ALIGN: center
}
.smallmenubox2 {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent31.gif); FLOAT: left; MARGIN-LEFT: 1px; WIDTH: 42px; PADDING-TOP: 1px; HEIGHT: 20px; TEXT-ALIGN: center
}
.smallmenubox3 {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent30.gif); FLOAT: left; MARGIN-LEFT: 1px; WIDTH: 49px; PADDING-TOP: 1px; HEIGHT: 20px; TEXT-ALIGN: center
}
.smallmenubox4 {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent32.gif); FLOAT: left; MARGIN-LEFT: 1px; WIDTH: 62px; PADDING-TOP: 1px; HEIGHT: 20px; TEXT-ALIGN: center
}
.contentbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 9px; MARGIN: 0px auto; PADDING-TOP: 9px; HEIGHT: 90px
}
#search {
	FLOAT: left; MARGIN: 0px 11px
}
INPUT#searchzz {
	FONT-SIZE: 12px; WIDTH: 76px; FONT-FAMILY: "§ºÊ^"
}
INPUT#search_btn {
	FONT-SIZE: 12px; WIDTH: 60px; FONT-FAMILY: "§ºÊ^"
}
.rightarea {
	BORDER-RIGHT: #cc4509 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cc4509 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fcffe8; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #cc4509 1px solid; WIDTH: 95px; PADDING-TOP: 3px; BORDER-BOTTOM: #cc4509 1px solid
}
.rightarea_right {
	BORDER-RIGHT: #cc4509 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cc4509 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fcffe8; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #cc4509 1px solid; WIDTH: 30px; PADDING-TOP: 3px; BORDER-BOTTOM: #cc4509 1px solid
}
#currentposition {
	PADDING-RIGHT: 4px; BORDER-TOP: #e1dfdf 1px dashed; PADDING-LEFT: 12px; BACKGROUND: #e1dfdf; PADDING-BOTTOM: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #e1dfdf 1px dashed; HEIGHT: 19px; TEXT-ALIGN: left
}
#contentarea {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent37.gif); PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 1003px; PADDING-TOP: 0px
}
#contentleft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 745px; PADDING-TOP: 0px
}
#contentright1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 576px; PADDING-TOP: 16px
}
#contentleft1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 155px; PADDING-TOP: 0px
}
#contentright {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 240px; PADDING-TOP: 0px
}
#leftbg {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent06.gif); WIDTH: 155px; COLOR: #ffffff; TEXT-ALIGN: left
}
#lefttopbg {
	BACKGROUND: #ffffff; WIDTH: 155px; HEIGHT: 50px
}
.pagebox {
	PADDING-LEFT: 6px; MARGIN: 0px; COLOR: #ff7f00; TEXT-ALIGN: left
}
.pagebox UL {
	MARGIN: 0px 4px 2px 10px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left; WORD-WRAP: break-word
}
.pagebox LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 4px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://www.yesky.com/TLimages/newcontent/y_newcontent07.gif); PADDING-BOTTOM: 3px; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px dotted; BACKGROUND-REPEAT: no-repeat; WORD-WRAP: break-word
}
.pagebox A:link {
	COLOR: #ffffff
}
.pagebox A:visited {
	COLOR: #ffffff
}
.pagebox A:active {
	COLOR: #ffffff
}
.pagebox A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.context {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent08.gif); PADDING-BOTTOM: 0px; MARGIN: 10px 0px 12px 20px; WIDTH: 110px; PADDING-TOP: 5px; HEIGHT: 25px; TEXT-ALIGN: center
}
.keyword {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent09.gif); WIDTH: 155px; PADDING-TOP: 6px; HEIGHT: 19px; TEXT-ALIGN: center
}
#keywordbg {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent33.gif); PADDING-BOTTOM: 5px; WIDTH: 145px; PADDING-TOP: 5px
}
#keywordbg UL {
	FONT-WEIGHT: bold; MARGIN: 2px 0px 2px 10px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
#keywordbg LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://www.yesky.com/TLimages/newcontent/y_newcontent10.gif); PADDING-BOTTOM: 2px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
#keywordbg A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#keywordbg A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#keywordbg A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#keywordbg A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
.channel {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#adtext {
	BORDER-RIGHT: #585757 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #585757 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: #585757 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #585757 1px solid; TEXT-ALIGN: left
}
.jingxiaoshang {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; BACKGROUND: #ffffff; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 1px solid; LINE-HEIGHT: 24px; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 40px
}
.jingxiaoshangname {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; BACKGROUND: #ebebeb; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 4px
}
.jingxiao {
	FONT-FAMILY: "§ºÊ^", "¶ÂÊ^"; flolat: left
}
.jingxiao A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.jingxiao A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.jingxiao A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.jingxiao A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.productbox {
	BORDER-RIGHT: #606060 1px solid; BORDER-TOP: #606060 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #606060 1px solid; BORDER-BOTTOM: #606060 1px solid; TEXT-ALIGN: left
}
.productbox1 {
	BORDER-RIGHT: #606060 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #606060 1px solid; BORDER-BOTTOM: #606060 1px solid; TEXT-ALIGN: left
}
.productsmallbox {
	FLOAT: left; WIDTH: 19%; MARGIN-RIGHT: 4px; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.productpic {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; COLOR: #3366cc; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.productleft {
	PADDING-LEFT: 14px; TEXT-ALIGN: center
}
.productleft1 {
	PADDING-LEFT: 30px
}
#adendtext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.photobg {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent36.gif); HEIGHT: 28px; TEXT-ALIGN: left
}
.photobg1 {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent40.gif); HEIGHT: 26px; TEXT-ALIGN: left
}
.phototitle {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent17.gif); WIDTH: 107px; PADDING-TOP: 10px; HEIGHT: 18px; TEXT-ALIGN: center
}
.photobox {
	BORDER-RIGHT: #6ab2e4 1px solid; BORDER-LEFT: #6ab2e4 1px solid; BORDER-BOTTOM: #6ab2e4 1px solid
}
.photocolorblock {
	FONT-SIZE: 1px; BACKGROUND: #d8ecfa; HEIGHT: 8px
}
.photosmallbox {
	FLOAT: left; MARGIN: 8px 0px 8px 26px; WIDTH: 17%; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.newarticlebox {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 6px; WIDTH: 92%; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.newarticlebox UL {
	MARGIN: 2px 0px 2px 10px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.newarticlebox LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://www.yesky.com/TLimages/newcontent/y_newcontent41.gif); PADDING-BOTTOM: 2px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.newarticleleft {
	FLOAT: left; WIDTH: 70%; TEXT-ALIGN: left
}
.newarticleright {
	FLOAT: right; WIDTH: 20%; COLOR: #999999; TEXT-ALIGN: right
}
.newarticle1 {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent16.gif); FLOAT: left; WIDTH: 81px; PADDING-TOP: 8px; HEIGHT: 18px; TEXT-ALIGN: center
}
.newarticle2 {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent15.gif); FLOAT: left; WIDTH: 81px; PADDING-TOP: 8px; HEIGHT: 18px; TEXT-ALIGN: center
}
.tableborder {
	BORDER-RIGHT: #606060 1px solid; BORDER-TOP: #606060 1px solid; BORDER-LEFT: #606060 1px solid; BORDER-BOTTOM: #606060 1px solid
}
.tableborder2 {
	BORDER-RIGHT: #606060 1px solid
}
.tableborder1 TD {
	BORDER-LEFT: #606060 1px solid; BORDER-BOTTOM: #606060 1px solid
}
.pipwidth {
	PADDING-RIGHT: 4px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 240px; HEIGHT: 200px
}
.guanggao {
	FLOAT: left; PADDING-TOP: 0px
}
DIV#textpage {
	PADDING-LEFT: 20px; FONT-SIZE: 12px; FLOAT: left; MARGIN-BOTTOM: 8px; WIDTH: 97%; TEXT-ALIGN: left
}
DIV#textpage UL {
	MARGIN: 0px 4px 2px 10px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
DIV#textpage LI {
	LIST-STYLE: disc url(http://www.yesky.com/TLimages/newcontent/y_newcontent42.gif) inside
}
DIV#textpage A:link {
	FONT-SIZE: 9pt; COLOR: #ff7f00; TEXT-DECORATION: none
}
DIV#textpage A:visited {
	FONT-SIZE: 9pt; COLOR: #ff7f00; TEXT-DECORATION: none
}
DIV#textpage A:active {
	FONT-SIZE: 9pt; COLOR: #ff7f00; TEXT-DECORATION: underline
}
DIV#textpage A:hover {
	FONT-SIZE: 9pt; COLOR: #ff7f00; TEXT-DECORATION: underline
}
.page {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #e7e7e7; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A.page {
	COLOR: #ff7f00; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A.page:link {
	COLOR: #ff7f00; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A.page:visited {
	COLOR: #ff7f00; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A.page:hover {
	BACKGROUND: #0000cc; COLOR: #fff; FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
#bottombg {
	BACKGROUND: url(http://www.yesky.com/TLimages/newcontent/y_newcontent22.gif); COLOR: #ffffff; PADDING-TOP: 8px; HEIGHT: 25px; TEXT-ALIGN: center
}
#bottommenubg {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; BACKGROUND: #868688; PADDING-BOTTOM: 8px; COLOR: #b3b3b3; PADDING-TOP: 8px; TEXT-ALIGN: left
}
#bottomcopybg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #585757; PADDING-BOTTOM: 8px; COLOR: #ffffff; PADDING-TOP: 8px; TEXT-ALIGN: center
}
A.white:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.white:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.white:active {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.white:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.whiteb:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.whiteb:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.whiteb:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.whiteb:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.headgreen:link {
	FONT-SIZE: 9px; COLOR: #065b06; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.headgreen:visited {
	FONT-SIZE: 9px; COLOR: #065b06; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.headgreen:active {
	FONT-SIZE: 9px; COLOR: #065b06; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.headgreen:hover {
	FONT-SIZE: 9px; COLOR: #065b06; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.headblue:link {
	FONT-SIZE: 9px; COLOR: #0b114c; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.headblue:visited {
	FONT-SIZE: 9px; COLOR: #0b114c; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.headblue:active {
	FONT-SIZE: 9px; COLOR: #0b114c; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.headblue:hover {
	FONT-SIZE: 9px; COLOR: #0b114c; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.blue:link {
	FONT-SIZE: 12px; COLOR: #2b5299; LINE-HEIGHT: 21px; TEXT-DECORATION: none
}
A.blue:visited {
	FONT-SIZE: 12px; COLOR: #2b5299; LINE-HEIGHT: 21px; TEXT-DECORATION: none
}
A.blue:active {
	FONT-SIZE: 12px; COLOR: #2b5299; LINE-HEIGHT: 21px; TEXT-DECORATION: underline
}
A.blue:hover {
	FONT-SIZE: 12px; COLOR: #2b5299; LINE-HEIGHT: 21px; TEXT-DECORATION: underline
}
A.blue1:link {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 21px; TEXT-DECORATION: none
}
A.blue1:visited {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 21px; TEXT-DECORATION: none
}
A.blue1:active {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 21px; TEXT-DECORATION: underline
}
A.blue1:hover {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 21px; TEXT-DECORATION: underline
}
A.red:link {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.red:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.red:active {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.red:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.red1:link {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.red1:visited {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.red1:active {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.red1:hover {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.black:link {
	FONT-SIZE: 10.5pt; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.black:visited {
	FONT-SIZE: 10.5pt; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.black:active {
	FONT-SIZE: 10.5pt; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.black:hover {
	FONT-SIZE: 10.5pt; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.keyword:link {
	FONT-SIZE: 10.5pt; BACKGROUND: #ffffff; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.keyword:visited {
	FONT-SIZE: 10.5pt; BACKGROUND: #ffffff; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.keyword:active {
	FONT-SIZE: 10.5pt; BACKGROUND: #ffffff; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.keyword:hover {
	FONT-SIZE: 10.5pt; BACKGROUND: #ffffff; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
#menu {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; Z-INDEX: 5; LEFT: 90%; PADDING-BOTTOM: 2px; FONT: 12px verdana,arial,helvetica; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; BORDER-BOTTOM-STYLE: none
}
#menu_left {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; Z-INDEX: 5; LEFT: 1%; PADDING-BOTTOM: 2px; FONT: 12px verdana,arial,helvetica; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; BORDER-BOTTOM-STYLE: none
}
