BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px/1.8em Verdana, Arial, Tahoma, Sans-Serif; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV {
	MARGIN: 0px auto
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	FONT-SIZE: 12px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 1px! important
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
#theads {
	BACKGROUND: url(img/c1.gif) #eff4fa repeat-x 50% bottom; MARGIN-LEFT: 5px; WIDTH: 995px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.tc4 {
	FLOAT: left; BACKGROUND-IMAGE: url(img/c4.gif); PADDING-BOTTOM: 0px; WIDTH: 69px; PADDING-TOP: 1px; HEIGHT: 20px
}
.tc3 {
	FLOAT: left; BACKGROUND-IMAGE: url(img/c3.gif); WIDTH: 50px; PADDING-TOP: 1px; HEIGHT: 20px
}
.tc2 {
	FLOAT: left; BACKGROUND-IMAGE: url(img/c2.gif); WIDTH: 42px; PADDING-TOP: 1px; HEIGHT: 20px
}
#theads A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#theads A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#theads A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#theads A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#logobody {
	MARGIN-LEFT: 5px; WIDTH: 995px; HEIGHT: 72px; BACKGROUND-COLOR: #ffffff
}
.logo {
	FLOAT: left; WIDTH: 78px; HEIGHT: 72px
}
.tzt {
	FLOAT: left; WIDTH: 275px; HEIGHT: 72px
}
.tss {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 388px; PADDING-TOP: 16px; HEIGHT: 40px; TEXT-ALIGN: left
}
.tljq {
	BORDER-RIGHT: #f69a41 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #f69a41 1px solid; MARGIN-TOP: 7px; PADDING-LEFT: 7px; FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM: 7px; BORDER-LEFT: #f69a41 1px solid; WIDTH: 305px; LINE-HEIGHT: 22px; PADDING-TOP: 7px; BORDER-BOTTOM: #f69a41 1px solid; HEIGHT: 40px; TEXT-ALIGN: left
}
.tljq A:link {
	COLOR: #555555; TEXT-DECORATION: none
}
.tljq A:visited {
	COLOR: #555555; TEXT-DECORATION: none
}
.tljq A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.tljq A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.tlogodown {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 5px; WIDTH: 990px; PADDING-TOP: 8px; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: left
}
.tlogodown A:link {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.tlogodown A:visited {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.tlogodown A:active {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.tlogodown A:hover {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.nrbody {
	BACKGROUND: url(img/c5.gif) repeat-y right 50%; MARGIN-LEFT: 5px; WIDTH: 995px
}
.nrleft {
	FLOAT: left; WIDTH: 748px
}
.nrright {
	FLOAT: right; WIDTH: 240px
}
.nrlefthead {
	BACKGROUND-IMAGE: url(img/a1.gif); WIDTH: 100%; PADDING-TOP: 4px; HEIGHT: 28px
}
.nrlefthead A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ef6d04; TEXT-DECORATION: none
}
.nrlefthead A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ef6d04; TEXT-DECORATION: none
}
.nrlefthead A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ef6d04; TEXT-DECORATION: none
}
.nrlefthead A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ef6d04; TEXT-DECORATION: none
}
.nrwz {
	PADDING-LEFT: 5px; WIDTH: 743px; HEIGHT: 20px; TEXT-ALIGN: left
}
.nrwz1 {
	PADDING-LEFT: 5px; WIDTH: 743px; PADDING-TOP: 4px; HEIGHT: 28px; TEXT-ALIGN: left
}
.nrwlist {
	WIDTH: 748px; PADDING-TOP: 4px; HEIGHT: 400px; TEXT-ALIGN: left
}
.nrwlist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; LIST-STYLE-POSITION: outside; FLOAT: left; PADDING-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 140px; PADDING-TOP: 5px; BORDER-BOTTOM: #dadada 1px solid; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; TEXT-OVERFLOW: clip
}
.nrwlist A:link {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.nrwlist A:visited {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.nrwlist A:active {
	COLOR: red; TEXT-DECORATION: none
}
.nrwlist A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.xtsbody {
	BORDER-RIGHT: #e6f9ec 1px solid; BORDER-TOP: #6fa02b 1px solid; MARGIN-TOP: 20px; BORDER-LEFT: #e6f9ec 1px solid; WIDTH: 746px; BORDER-BOTTOM: #e6f9ec 1px solid
}
.xtshead {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-TOP: 8px; HEIGHT: 23px; BACKGROUND-COLOR: #e6f9ec; TEXT-ALIGN: left
}
.xtsnr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 726px; PADDING-TOP: 10px; BACKGROUND-COLOR: #f9fffb; TEXT-ALIGN: left
}
.plbody {
	MARGIN-TOP: 15px; WIDTH: 748px; BACKGROUND-COLOR: #ebebe8; TEXT-ALIGN: left
}
.plhead {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; WIDTH: 738px; PADDING-TOP: 6px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #e5e5e5
}
.plbody1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 728px; PADDING-TOP: 10px
}
.plbrs {
	WIDTH: 100%
}
.plbrs1 {
	WIDTH: 100%
}
.ans {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #ffffff 1px solid; BACKGROUND: #d9d9d9; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 22px
}
.syk {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 17px
}
.syk1 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 90px
}
.plslist {
	WIDTH: 748px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.plshead {
	PADDING-LEFT: 5px; WIDTH: 743px; PADDING-TOP: 4px; HEIGHT: 22px; BACKGROUND-COLOR: #ddf2b8
}
.plsbody {
	TABLE-LAYOUT: fixed; PADDING-RIGHT: 0px; PADDING-LEFT: 14px; FONT-SIZE: 14px; BACKGROUND: url(img/c6.gif) repeat-x 50% bottom; PADDING-BOTTOM: 10px; WIDTH: 734px; COLOR: #444444; WORD-BREAK: break-all; PADDING-TOP: 11px; WORD-WRAP: break-word
}
.plsgn {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; WIDTH: 740px; COLOR: #5c5c5c; PADDING-TOP: 3px; HEIGHT: 20px
}
.plsgn A:link {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.plsgn A:visited {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.plsgn A:active {
	COLOR: red; TEXT-DECORATION: none
}
.plsgn A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.plsgnleft {
	FLOAT: left; HEIGHT: 30px
}
.plsgnright {
	FLOAT: right; HEIGHT: 30px
}
.plsdown {
	PADDING-RIGHT: 15px; WIDTH: 733px; PADDING-TOP: 4px; HEIGHT: 22px; BACKGROUND-COLOR: #ddf2b8; TEXT-ALIGN: right
}
.plsdown A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.plsdown A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.plsdown A:active {
	COLOR: red; TEXT-DECORATION: none
}
.plsdown A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.zlhead {
	WIDTH: 748px; PADDING-TOP: 7px; HEIGHT: 24px; BACKGROUND-COLOR: #ddf2b8; TEXT-ALIGN: center
}
.zlbr {
	BACKGROUND: url(img/c6.gif) repeat-x 50% bottom; PADDING-BOTTOM: 6px; WIDTH: 748px; COLOR: #5c5c5c; PADDING-TOP: 6px; HEIGHT: 20px
}
.zl1 {
	PADDING-LEFT: 5px; FLOAT: left; WIDTH: 40px
}
.zl2 {
	PADDING-LEFT: 5px; FONT-SIZE: 13px; FLOAT: left; OVERFLOW: hidden; WIDTH: 385px; COLOR: red; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.zl2 A:link {
	FONT-SIZE: 13px; COLOR: #222222; TEXT-DECORATION: none
}
.zl2 A:visited {
	FONT-SIZE: 13px; COLOR: #222222; TEXT-DECORATION: none
}
.zl2 A:active {
	FONT-SIZE: 13px; COLOR: #0048ff; TEXT-DECORATION: none
}
.zl2 A:hover {
	FONT-SIZE: 13px; COLOR: #0048ff; TEXT-DECORATION: none
}
.zl3 {
	PADDING-LEFT: 5px; FLOAT: left; OVERFLOW: hidden; WIDTH: 120px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: clip
}
.zl5 {
	PADDING-LEFT: 5px; FLOAT: left; OVERFLOW: hidden; WIDTH: 80px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: clip
}
.zl4 {
	PADDING-LEFT: 5px; FLOAT: left; WIDTH: 40px; TEXT-ALIGN: center
}
.zl4 A:link {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.zl4 A:visited {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.zl4 A:active {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.zl4 A:hover {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
.nrrrt {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 5px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #f7fbfe
}
.nrrighttitle {
	PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/img/zt1.gif); PADDING-TOP: 3px; HEIGHT: 22px; TEXT-ALIGN: left
}
.nrightbody {
	MARGIN-TOP: 8px; PADDING-BOTTOM: 8px; TEXT-ALIGN: left
}
.nrightbody LI {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 5px; OVERFLOW: hidden; WIDTH: 224px; MARGIN-RIGHT: 4px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; TEXT-OVERFLOW: clip
}
.nrightbody A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.nrightbody A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.nrightbody A:active {
	COLOR: red; TEXT-DECORATION: underline
}
.nrightbody A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.nrightbody1 {
	MARGIN-TOP: 8px; PADDING-BOTTOM: 8px; WIDTH: 224px; TEXT-ALIGN: left
}
.nrightbody1 LI {
	LIST-STYLE-POSITION: outside; OVERFLOW: hidden; WIDTH: 224px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; TEXT-OVERFLOW: clip
}
.nrightbody1 A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.nrightbody1 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.nrightbody1 A:active {
	COLOR: red; TEXT-DECORATION: underline
}
.nrightbody1 A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
