TD {
	FONT-SIZE: 10pt
}
.refer {
	MARGIN: 15px 2px 2px 5px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.box0 {
	FONT-SIZE: 12px; WIDTH: 776px; TEXT-ALIGN: center
}
.box1 {
	FONT-SIZE: 12px; BACKGROUND: #f7f7f7; WIDTH: 776px; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 20px; TEXT-ALIGN: left
}
.box2 {
	FONT-SIZE: 12px; BACKGROUND: #f7f7f7; WIDTH: 776px; PADDING-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: left
}
.box3 {
	FONT-SIZE: 12px; BACKGROUND: #ff6600; WIDTH: 776px; PADDING-TOP: 3px; HEIGHT: 20px; TEXT-ALIGN: center
}
DIV {
	MARGIN: 0px auto
}
A.black-s:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.black-s:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.black-s:active {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.black-s:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.white-s:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.white-s:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.white-s:active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.white-s:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.line-red {
	BACKGROUND: #ff6600; WIDTH: 776px; HEIGHT: 3px
}
.line-green {
	BACKGROUND: #83d360; FLOAT: left; WIDTH: 953px; HEIGHT: 3px
}
.floorbox-01 {
	WIDTH: 953px; PADDING-TOP: 6px; HEIGHT: 28px; TEXT-ALIGN: center
}
.floorbox-02 {
	WIDTH: 520px; HEIGHT: 35px; TEXT-ALIGN: center
}
.floorbox-02-right {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 480px; COLOR: #314150; PADDING-TOP: 6px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: center
}
.floorbox-02-left {
	FLOAT: left; WIDTH: 40px; TEXT-ALIGN: left
}
