BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.hidden {
	DISPLAY: none
}
DIV {
	MARGIN: 0px auto
}
.img {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	FONT-SIZE: 12px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 1px! important
}
.clear1 {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 2px! important
}
.clear2 {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 4px! important
}
.color1 {
	COLOR: #ffff00
}
.color2 {
	COLOR: #ff0000
}
.color3 {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.space {
	MARGIN: 0px 2px; TEXT-ALIGN: left
}
.space1 {
	MARGIN: 0px 6px; TEXT-ALIGN: left
}
.space2 {
	MARGIN: 6px 0px 0px 6px; TEXT-ALIGN: center
}
.space3 {
	FLOAT: right; MARGIN: 0px 12px 0px 0px; TEXT-ALIGN: center
}
.font1 {
	FONT-WEIGHT: bold
}
.hr1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../yeskyimages/notepad/notepad12.gif) repeat-x; PADDING-BOTTOM: 0px; WIDTH: 99%; LINE-HEIGHT: 1px; PADDING-TOP: 0px
}
.box {
	BACKGROUND: #fff; WIDTH: 776px; TEXT-ALIGN: center
}
.box-left {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 282px; TEXT-ALIGN: left
}
.box-middle {
	PADDING-RIGHT: 6px; MARGIN-TOP: 2px; PADDING-LEFT: 6px; FLOAT: left; WIDTH: 324px; TEXT-ALIGN: center
}
.box-right {
	MARGIN-TOP: 2px; BACKGROUND: #ffffff; FLOAT: right; WIDTH: 158px; TEXT-ALIGN: left
}
.box-left1 {
	BORDER-RIGHT: #fe6601 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 6px; BACKGROUND: #f5f3f3; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #fe6601 1px solid; WIDTH: 271px; PADDING-TOP: 3px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.box-left2 {
	BORDER-RIGHT: #fe6601 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 6px; BACKGROUND: #ffffff; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #fe6601 1px solid; WIDTH: 271px; COLOR: #949494; PADDING-TOP: 3px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.box-left3 {
	WIDTH: 268px
}
.box-middle1 {
	BORDER-RIGHT: #fe6601 1px solid; BORDER-TOP: #fe6601 1px solid; FLOAT: left; BORDER-LEFT: #fe6601 1px solid; WIDTH: 322px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: center
}
.box-middle2 {
	BORDER-RIGHT: #52b518 1px solid; FLOAT: left; BORDER-LEFT: #52b518 1px solid; WIDTH: 322px; BORDER-BOTTOM: #52b518 1px solid; TEXT-ALIGN: center
}
.box-right1 {
	BORDER-RIGHT: #fe6601 1px solid; BORDER-TOP: #fe6601 1px solid; BACKGROUND: #fff9f3; FLOAT: right; BORDER-LEFT: #fe6601 1px solid; WIDTH: 156px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: center
}
.box-right2 {
	BORDER-RIGHT: #fe6601 1px solid; BACKGROUND: #fff9f3; FLOAT: right; BORDER-LEFT: #fe6601 1px solid; WIDTH: 156px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: center
}
.box-right3 {
	BORDER-RIGHT: #fe6601 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fff9f3; FLOAT: right; PADDING-BOTTOM: 0px; BORDER-LEFT: #fe6601 1px solid; WIDTH: 148px; PADDING-TOP: 6px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: center
}
.box-middle1-se {
	BORDER-RIGHT: #606060 1px solid; BORDER-TOP: #606060 1px solid; FLOAT: left; BORDER-LEFT: #606060 1px solid; WIDTH: 322px; BORDER-BOTTOM: #606060 1px solid; TEXT-ALIGN: center
}
.smallpointul {
	MARGIN: 2px 0px 2px 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.smallpointli {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 7px; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(../yeskyimages/notepad/small_li.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
.bigpointul {
	MARGIN: 2px 0px 2px 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.bigpointli {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 7px; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(../yeskyimages/notepad/big_li.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
.bigbluepointul {
	MARGIN: 2px 0px 2px 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.bigbluepointli {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 7px; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(../yeskyimages/soft/soft12.gif); PADDING-BOTTOM: 0px; COLOR: #d80000; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
.nopointul {
	MARGIN: 2px 0px 2px 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.nopointli {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 7px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; COLOR: #d80000; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
.greypointul {
	MARGIN: 2px 0px 2px 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.greypointli {
	BACKGROUND-POSITION: left 7px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(../yeskyimages/index/index-title25.gif); PADDING-BOTTOM: 0px; COLOR: #d80000; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
.zhucontent {
	FLOAT: left; BACKGROUND-IMAGE: url(../yeskyimages/index/index-title01.gif); PADDING-BOTTOM: 3px; WIDTH: 100%; PADDING-TOP: 3px; HEIGHT: 24px; TEXT-ALIGN: center
}
.fumenu {
	BORDER-RIGHT: #eebeab 1px solid; BORDER-TOP: #eebeab 1px solid; BORDER-LEFT: #eebeab 1px solid; WIDTH: 774px; BORDER-BOTTOM: #eebeab 1px solid; TEXT-ALIGN: center
}
.fumenu1 {
	BORDER-RIGHT: #eebeab 1px solid; FLOAT: left; WIDTH: 154px; TEXT-ALIGN: center
}
.fumenu2 {
	FLOAT: left; WIDTH: 154px; TEXT-ALIGN: center
}
.fumenucontent1 {
	BACKGROUND: #f8e5dd; FLOAT: left; WIDTH: 100%; PADDING-TOP: 2px; HEIGHT: 18px; TEXT-ALIGN: center
}
.fumenucontent2 {
	BACKGROUND: #fef1ec; FLOAT: left; WIDTH: 100%; PADDING-TOP: 2px; HEIGHT: 18px; TEXT-ALIGN: center
}
.fumenucontent3 {
	BACKGROUND: #ffffff; FLOAT: left; WIDTH: 100%; PADDING-TOP: 2px; HEIGHT: 18px; TEXT-ALIGN: center
}
.topad {
	MARGIN-TOP: 3px; BACKGROUND: #f0f0f0; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 6px; WIDTH: 776px; PADDING-TOP: 6px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: center
}
.advertisement {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 6px; WIDTH: 776px; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.xmlbg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 2px; WIDTH: 776px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.area1middle {
	BACKGROUND-IMAGE: url(../yeskyimages/index/index-title03.gif); WIDTH: 100%; HEIGHT: 13px; TEXT-ALIGN: center
}
.rpphleft {
	PADDING-LEFT: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../yeskyimages/index/index-title04.gif); WIDTH: 270px; PADDING-TOP: 2px; HEIGHT: 22px; TEXT-ALIGN: left
}
.zxzx {
	BORDER-RIGHT: #52b518 1px solid; BORDER-TOP: #52b518 1px solid; PADDING-LEFT: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../yeskyimages/index/index-title05.gif); BORDER-LEFT: #52b518 1px solid; WIDTH: 310px; HEIGHT: 21px; TEXT-ALIGN: left
}
.zxzxcontent {
	BACKGROUND: #f5f3f3; FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
.zxzxcontent1 {
	FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
.zxzxcontent2 {
	BACKGROUND: #f6fce7; FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
.sqmenu {
	PADDING-RIGHT: 6px; BORDER-TOP: #f04b0e 1px solid; PADDING-LEFT: 10px; BACKGROUND: #efefef; PADDING-BOTTOM: 0px; WIDTH: 760px; COLOR: #2d353c; PADDING-TOP: 4px; HEIGHT: 23px; TEXT-ALIGN: center
}
.sqcontent {
	BORDER-RIGHT: #fe6601 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 6px; BACKGROUND: #ff9d50; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #fe6601 1px solid; WIDTH: 271px; PADDING-TOP: 0px; HEIGHT: 18px; TEXT-ALIGN: left
}
.sqcontent1 {
	BORDER-RIGHT: #fe6601 1px solid; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 6px; BACKGROUND: #ff9d50; FLOAT: left; BORDER-LEFT: #fe6601 1px solid; WIDTH: 233px; HEIGHT: 18px; TEXT-ALIGN: left
}
.sqbg {
	BORDER-RIGHT: #fe6601 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 6px; FLOAT: left; BACKGROUND-IMAGE: url(../yeskyimages/index/index-title08.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #fe6601 1px solid; WIDTH: 271px; PADDING-TOP: 3px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.sqbg1 {
	BORDER-RIGHT: #fe6601 1px solid; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 6px; FLOAT: left; BACKGROUND-IMAGE: url(../yeskyimages/index/index-title08.gif); BORDER-LEFT: #fe6601 1px solid; WIDTH: 233px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.sqmiddle {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-LEFT: 6px; WIDTH: 241px; TEXT-ALIGN: left
}
.sqright {
	MARGIN-TOP: 2px; FLOAT: right; MARGIN-LEFT: 6px; WIDTH: 241px; TEXT-ALIGN: left
}
.digest {
	FLOAT: left; WIDTH: 150px; TEXT-ALIGN: left
}
.space4 {
	MARGIN-TOP: 6px; FLOAT: left; WIDTH: 70px; TEXT-ALIGN: center
}
.sq-middle2 {
	BORDER-RIGHT: #ff7c05 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ff7c05 1px solid; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #ff7c05 1px solid; WIDTH: 310px; PADDING-TOP: 0px; BORDER-BOTTOM: #ff7c05 1px solid; TEXT-ALIGN: center
}
.sq-content {
	BORDER-RIGHT: #fe6601 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 6px; BACKGROUND: #ffe4cb; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #fe6601 1px solid; WIDTH: 271px; PADDING-TOP: 0px; HEIGHT: 18px; TEXT-ALIGN: left
}
.morepic1 {
	FLOAT: left; WIDTH: 90px; TEXT-ALIGN: center
}
.smmenu {
	PADDING-RIGHT: 6px; BORDER-TOP: #0687a4 1px solid; PADDING-LEFT: 10px; BACKGROUND: #efefef; PADDING-BOTTOM: 0px; WIDTH: 760px; COLOR: #2d353c; PADDING-TOP: 4px; HEIGHT: 23px; TEXT-ALIGN: center
}
.smmiddle2 {
	BORDER-RIGHT: #0687a4 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #0687a4 1px solid; PADDING-LEFT: 6px; BACKGROUND: #f4ffff; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #0687a4 1px solid; WIDTH: 310px; PADDING-TOP: 0px; BORDER-BOTTOM: #0687a4 1px solid; TEXT-ALIGN: center
}
.smleft {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #ecffff; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 270px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.smleft1 {
	BORDER-RIGHT: #0687a4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #0687a4 1px solid; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #0687a4 1px solid; WIDTH: 271px; PADDING-TOP: 3px; BORDER-BOTTOM: #0687a4 1px solid; TEXT-ALIGN: left
}
.bjbleft {
	BORDER-RIGHT: #0687a4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #0687a4 1px solid; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #0687a4 1px solid; WIDTH: 271px; PADDING-TOP: 3px; BORDER-BOTTOM: #0687a4 1px solid; TEXT-ALIGN: left
}
.bjbleft1 {
	BORDER-RIGHT: #0687a4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #0687a4 1px solid; PADDING-LEFT: 6px; BACKGROUND: #b5e5e5; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #0687a4 1px solid; WIDTH: 271px; PADDING-TOP: 3px; HEIGHT: 17px; TEXT-ALIGN: left
}
.smleft2 {
	BORDER-RIGHT: #0687a4 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0687a4 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #0687a4 1px solid; WIDTH: 280px; PADDING-TOP: 0px; BORDER-BOTTOM: #0687a4 1px solid; TEXT-ALIGN: left
}
.bjbleft2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 6px; BACKGROUND: #b5e5e5; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 271px; PADDING-TOP: 3px; BORDER-BOTTOM: #0687a4 1px solid; HEIGHT: 24px; TEXT-ALIGN: left
}
.morepic2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 128px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.morepictitle {
	FLOAT: left; MARGIN: 0px 0px 0px 6px; WIDTH: 72px; TEXT-ALIGN: left
}
.rjmenu {
	PADDING-RIGHT: 6px; BORDER-TOP: #808000 1px solid; PADDING-LEFT: 10px; BACKGROUND: #efefef; PADDING-BOTTOM: 0px; WIDTH: 760px; PADDING-TOP: 4px; HEIGHT: 23px; TEXT-ALIGN: center
}
.rjmiddle2 {
	BORDER-RIGHT: #808000 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #808000 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fdfff5; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #808000 1px solid; WIDTH: 310px; PADDING-TOP: 0px; BORDER-BOTTOM: #808000 1px solid; TEXT-ALIGN: center
}
.rjleft1 {
	BORDER-RIGHT: #808000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #808000 1px solid; PADDING-LEFT: 6px; BACKGROUND: #f2ffc0; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #808000 1px solid; WIDTH: 271px; PADDING-TOP: 3px; HEIGHT: 20px; TEXT-ALIGN: left
}
.rjleft {
	BORDER-RIGHT: #808000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #808000 1px solid; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #808000 1px solid; WIDTH: 271px; PADDING-TOP: 3px; BORDER-BOTTOM: #808000 1px solid; TEXT-ALIGN: left
}
.yxleft {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #f2ffc0; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 270px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.esdleft {
	BORDER-RIGHT: #fe6601 1px solid; BORDER-TOP: #fe6601 1px solid; BACKGROUND: #f5f3f3; FLOAT: left; BORDER-LEFT: #fe6601 1px solid; WIDTH: 280px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.esdpic {
	BORDER-RIGHT: #c0c0c0 3px solid; BORDER-TOP: #c0c0c0 3px solid; FLOAT: left; MARGIN: 3px 2px; BORDER-LEFT: #c0c0c0 3px solid; WIDTH: 90px; BORDER-BOTTOM: #c0c0c0 3px solid; TEXT-ALIGN: center
}
.xzboxleft {
	BORDER-RIGHT: #fe6601 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fff9f3; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #fe6601 1px solid; WIDTH: 185px; MARGIN-RIGHT: 2px; PADDING-TOP: 3px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.xzboxright {
	BORDER-RIGHT: #fe6601 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fe6601 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fff9f3; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #fe6601 1px solid; WIDTH: 183px; PADDING-TOP: 3px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.tjdtleft {
	BORDER-RIGHT: #fe6601 1px solid; BORDER-TOP: #fe6601 1px solid; BACKGROUND: #fff9f3; FLOAT: left; BORDER-LEFT: #fe6601 1px solid; WIDTH: 252px; MARGIN-RIGHT: 7px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.tjdtright {
	BORDER-RIGHT: #fe6601 1px solid; BORDER-TOP: #fe6601 1px solid; BACKGROUND: #fff9f3; FLOAT: right; BORDER-LEFT: #fe6601 1px solid; WIDTH: 252px; BORDER-BOTTOM: #fe6601 1px solid; TEXT-ALIGN: left
}
.tjdtmen {
	PADDING-LEFT: 4%; FLOAT: left; BACKGROUND-IMAGE: url(../yeskyimages/index/index-title22.gif); WIDTH: 96%; HEIGHT: 17px; TEXT-ALIGN: left
}
.line-red {
	BACKGROUND: #ff6600; WIDTH: 776px; HEIGHT: 3px
}
.floorbox-01 {
	WIDTH: 776px; PADDING-TOP: 6px; HEIGHT: 28px; TEXT-ALIGN: center
}
.floorbox-02 {
	WIDTH: 520px; HEIGHT: 35px
}
.floorbox-02-right {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 480px; COLOR: #314150; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-ALIGN: left
}
.floorbox-02-left {
	FLOAT: left; WIDTH: 40px; TEXT-ALIGN: left
}
A:link {
	FONT-SIZE: 12px; COLOR: #5c5c5c; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #5c5c5c; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 12px; COLOR: #5c5c5c; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #5c5c5c; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.red:link {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.red:visited {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.red:active {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.red:hover {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.black:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.black:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.black:active {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.black:hover {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.white:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.white:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.white:active {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.white:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.grey:link {
	FONT-SIZE: 12px; COLOR: #5c5c5c; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.grey:visited {
	FONT-SIZE: 12px; COLOR: #5c5c5c; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.grey:active {
	FONT-SIZE: 12px; COLOR: #5c5c5c; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.grey:hover {
	FONT-SIZE: 12px; COLOR: #5c5c5c; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.red-1:link {
	FONT-SIZE: 12px; COLOR: #ff4400; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.red-1:visited {
	FONT-SIZE: 12px; COLOR: #ff4400; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.red-1:active {
	FONT-SIZE: 12px; COLOR: #ff4400; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.red-1:hover {
	FONT-SIZE: 12px; COLOR: #ff4400; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.green:link {
	FONT-SIZE: 12px; COLOR: #0a8281; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.green:visited {
	FONT-SIZE: 12px; COLOR: #0a8281; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.green:active {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
A.green:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
A.blue:link {
	FONT-SIZE: 12px; COLOR: #036de3; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.blue:visited {
	FONT-SIZE: 12px; COLOR: #036de3; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.blue:active {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
A.blue:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
A.blue1:link {
	FONT-SIZE: 12px; COLOR: #2d353c; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.blue1:visited {
	FONT-SIZE: 12px; COLOR: #2d353c; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.blue1:active {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
A.blue1:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
A.red-b:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.red-b:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.red-b:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.red-b:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.yellow-b:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffb100; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.yellow-b:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffb100; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.yellow-b:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.yellow-b:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.yellow:link {
	FONT-SIZE: 12px; COLOR: #ffb100; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.yellow:visited {
	FONT-SIZE: 12px; COLOR: #ffb100; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.yellow:active {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.yellow:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.black1:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.black1:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.black1:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.black1:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.white1:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.white1:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.white1:active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.white1:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
.headclear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 1px! important
}
.fontsize {
	FONT-SIZE: 9px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
#header {
	BACKGROUND: #fff; WIDTH: 776px; TEXT-ALIGN: center
}
#logo {
	FLOAT: left; WIDTH: 116px
}
#middlead {
	FLOAT: left; MARGIN: 6px; WIDTH: 500px; TEXT-ALIGN: center
}
#rightmenu {
	MARGIN-TOP: 8px; FLOAT: right; WIDTH: 148px; TEXT-ALIGN: center
}
.rightmenucontent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 138px; COLOR: #065b06; PADDING-TOP: 2px; HEIGHT: 18px; TEXT-ALIGN: center
}
.rightarea {
	BORDER-RIGHT: #cc4509 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cc4509 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fcffe8; PADDING-BOTTOM: 3px; BORDER-LEFT: #cc4509 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #cc4509 1px solid
}
A.headblack-s:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.headblack-s:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.headblack-s:active {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.headblack-s:hover {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.headred:link {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.headred:visited {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.headred:active {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.headred:hover {
	FONT-SIZE: 12px; COLOR: #ff7f00; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.headgreen:link {
	FONT-SIZE: 9px; COLOR: #065b06; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.headgreen:visited {
	FONT-SIZE: 9px; COLOR: #065b06; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.headgreen:active {
	FONT-SIZE: 9px; COLOR: #065b06; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.headgreen:hover {
	FONT-SIZE: 9px; COLOR: #065b06; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.headblue:link {
	FONT-SIZE: 9px; COLOR: #0b114c; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.headblue:visited {
	FONT-SIZE: 9px; COLOR: #0b114c; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.headblue:active {
	FONT-SIZE: 9px; COLOR: #0b114c; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.headblue:hover {
	FONT-SIZE: 9px; COLOR: #0b114c; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.headblack:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.headblack:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.headblack:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.headblack:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.headenglish:link {
	FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.headenglish:visited {
	FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
A.headenglish:active {
	FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
A.headenglish:hover {
	FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: underline
}
DIV#ityj {
	BORDER-RIGHT: #497ab4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #e8f3fd; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #07346e; PADDING-TOP: 1px; HEIGHT: 19px
}
DIV#eqy {
	BORDER-RIGHT: #309045 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #e8fdef; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #309045; PADDING-TOP: 1px; HEIGHT: 19px
}
DIV#eqy1 {
	PADDING-RIGHT: 3px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #e8fdef; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #309045; PADDING-TOP: 1px; HEIGHT: 19px
}
DIV#itzj {
	BORDER-RIGHT: #0b697a 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: #ebfafd; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #0b697a; PADDING-TOP: 1px; HEIGHT: 19px
}
DIV#xfdh {
	BORDER-RIGHT: #f04400 1px solid; PADDING-RIGHT: 4px; FONT-WEIGHT: bold; BACKGROUND: #ffeee1; FLOAT: left; COLOR: #f04400; PADDING-TOP: 2px; BORDER-BOTTOM: #a9abab 1px solid; HEIGHT: 18px
}
DIV#itjs {
	BORDER-RIGHT: #0051c0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #e8f3fd; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #0051c0; PADDING-TOP: 1px; BORDER-BOTTOM: #a9abab 1px solid; HEIGHT: 18px
}
DIV#szsh {
	BORDER-RIGHT: #d70418 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: #ffeee1; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #d70418; PADDING-TOP: 2px; BORDER-BOTTOM: #a9abab 1px solid; HEIGHT: 17px
}
.headbg1 {
	PADDING-RIGHT: 3px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.headbg3 {
	PADDING-RIGHT: 1px; BORDER-TOP: #a9abab 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #a9abab 1px solid
}
.headbg2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; BORDER-BOTTOM: #a9abab 1px solid
}
.navmenu {
	BACKGROUND-IMAGE: url(http://www.yesky.com/TLimages/yeskyimages/index/index-nav04.gif); WIDTH: 776px; COLOR: #2e2e2e; PADDING-TOP: 1px; HEIGHT: 21px
}
.pinlunbox {
	BORDER-RIGHT: #ffcc00 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ffcc00 1px solid; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #ffcc00 1px solid; WIDTH: 99%; PADDING-TOP: 6px; BORDER-BOTTOM: #ffcc00 1px solid; TEXT-ALIGN: left
}
.pinlunguan1 {
	FLOAT: left; WIDTH: 47%; TEXT-ALIGN: left
}
.pinlunguan2 {
	FLOAT: right; WIDTH: 100%; TEXT-ALIGN: left
}
#menu {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; Z-INDEX: 5; LEFT: 90%; PADDING-BOTTOM: 2px; FONT: 12px verdana,arial,helvetica; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; BORDER-BOTTOM-STYLE: none
}
#menu_left {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; Z-INDEX: 5; LEFT: 1%; PADDING-BOTTOM: 2px; FONT: 12px verdana,arial,helvetica; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; BORDER-BOTTOM-STYLE: none
}
