#tools_inews {
	CLEAR: left; BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(tools_background.gif); PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana; BACKGROUND-COLOR: #cccccc
}
#additems_inews {
	CLEAR: left; BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(additems_background.gif); PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: verdana; BACKGROUND-COLOR: #fff4d5
}
#additems_inews A {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #333; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: underline
}
#additems_inews A:hover {
	COLOR: #333; TEXT-DECORATION: none
}
.dotrule {
	PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 7px; BORDER-RIGHT-WIDTH: 0px
}
