TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
.menu UL LI A.hide {
	DISPLAY: none
}
.menu UL LI A.hide:visited {
	DISPLAY: none
}
.menu UL LI A:hover UL LI A.hide {
	DISPLAY: none
}
.menu UL LI A.hide2 {
	DISPLAY: none
}
.menu UL LI A.hide2:visited {
	DISPLAY: none
}
.menu UL LI A:hover UL LI A.hide2 {
	DISPLAY: none
}
.menu UL LI A:hover {
	BACKGROUND: url(http://www.codeguru.com/img/nav_white.gif) #999999 no-repeat right center; COLOR: #003366; TEXT-INDENT: 5px; BORDER-BOTTOM: #333333 1px solid; WHITE-SPACE: nowrap
}
.menu UL LI A:hover UL {
	DISPLAY: block; LEFT: 165px; WIDTH: 165px; POSITION: absolute; TOP: 0px
}
.menu UL LI A:hover UL LI A.sub {
	BACKGROUND: #727453; COLOR: #ffffff; TEXT-INDENT: 5px
}
.menu UL LI A:hover UL LI A.sub2 {
	BACKGROUND: #727453 no-repeat right center; COLOR: #ffffff; TEXT-INDENT: 5px
}
.menu UL LI A:hover UL LI A {
	DISPLAY: block; BACKGROUND: #003366; WIDTH: 165px; COLOR: #fff
}
.menu UL LI A:hover UL LI A UL {
	VISIBILITY: hidden
}
.menu UL LI A:hover UL LI A:hover {
	BACKGROUND: #003366; COLOR: #ffffff
}
.menu UL LI A:hover UL LI A:hover UL {
	LEFT: 165px; VISIBILITY: visible; COLOR: #ffffff; POSITION: absolute; TOP: 0px
}
.menu UL LI A:hover UL LI A:hover UL LI A {
	DISPLAY: block; BACKGROUND: #727453; WIDTH: 165px; COLOR: #ffffff; TEXT-INDENT: 5px
}
.menu UL LI A:hover UL LI A:hover UL LI A:hover {
	BACKGROUND: #003366; COLOR: #fff
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
.menu2 UL LI A.hide {
	DISPLAY: none
}
.menu2 UL LI A.hide:visited {
	DISPLAY: none
}
.menu2 UL LI A:hover UL LI A.hide {
	DISPLAY: none
}
.menu2 UL LI A.hide2 {
	DISPLAY: none
}
.menu2 UL LI A.hide2:visited {
	DISPLAY: none
}
.menu2 UL LI A:hover UL LI A.hide2 {
	DISPLAY: none
}
.menu2 UL LI A:hover {
	BACKGROUND: #999999; COLOR: #003366; TEXT-INDENT: 5px; BORDER-BOTTOM: #333333 1px solid; WHITE-SPACE: nowrap
}
.menu2 UL LI A:hover UL {
	DISPLAY: block; LEFT: 165px; WIDTH: 165px; POSITION: absolute; TOP: 0px
}
.menu2 UL LI A:hover UL LI A.sub {
	BACKGROUND: #727453; COLOR: #ffffff; TEXT-INDENT: 5px
}
.menu2 UL LI A:hover UL LI A.sub2 {
	BACKGROUND: #727453 no-repeat right center; COLOR: #ffffff; TEXT-INDENT: 5px
}
.menu2 UL LI A:hover UL LI A {
	DISPLAY: block; BACKGROUND: #003366; WIDTH: 165px; COLOR: #fff
}
.menu2 UL LI A:hover UL LI A UL {
	VISIBILITY: hidden
}
.menu2 UL LI A:hover UL LI A:hover {
	BACKGROUND: #003366; COLOR: #ffffff
}
.menu2 UL LI A:hover UL LI A:hover UL {
	LEFT: 165px; VISIBILITY: visible; COLOR: #ffffff; POSITION: absolute; TOP: 0px
}
.menu2 UL LI A:hover UL LI A:hover UL LI A {
	DISPLAY: block; BACKGROUND: #727453; WIDTH: 165px; COLOR: #ffffff; TEXT-INDENT: 5px
}
.menu2 UL LI A:hover UL LI A:hover UL LI A:hover {
	BACKGROUND: #003366; COLOR: #fff
}
