.menu {
	FONT-SIZE: 11px; WIDTH: 165px; TEXT-INDENT: 5px; FONT-FAMILY: helvetica, arial, geneva, sans-serif; TEXT-ALIGN: left
}
.menu UL LI A {
	BACKGROUND-POSITION: right center; DISPLAY: block; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(http://www.codeguru.com/img/nav_white.gif); WIDTH: 165px; COLOR: #ffffff; LINE-HEIGHT: 19px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-REPEAT: no-repeat; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu UL LI A:visited {
	BACKGROUND-POSITION: right center; DISPLAY: block; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(http://www.codeguru.com/img/nav_white.gif); WIDTH: 165px; COLOR: #ffffff; LINE-HEIGHT: 19px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-REPEAT: no-repeat; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu UL LI {
	FLOAT: left; MARGIN-RIGHT: 1px; POSITION: relative
}
.menu UL LI UL {
	DISPLAY: none
}
.menu UL LI:hover A {
	BACKGROUND-POSITION: right center; DISPLAY: block; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(http://www.codeguru.com/img/nav_white.gif); WIDTH: 165px; COLOR: #003366; LINE-HEIGHT: 19px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-REPEAT: no-repeat; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu UL LI:hover UL {
	DISPLAY: block; LEFT: 165px; WIDTH: 165px; POSITION: absolute; TOP: 0px
}
.menu UL LI:hover UL LI A.hide {
	BACKGROUND: #727453; COLOR: #ffffff
}
.menu UL LI:hover UL LI:hover A.hide {
	WIDTH: 165px
}
.menu UL LI:hover UL LI A.hide2 {
	BACKGROUND: #727453; COLOR: #ffffff
}
.menu UL LI:hover UL LI:hover A.hide2 {
	BACKGROUND: #003366; WIDTH: 165px; COLOR: #ffffff
}
.menu UL LI:hover UL LI UL {
	DISPLAY: none
}
.menu UL LI:hover UL LI A {
	DISPLAY: block; BACKGROUND: #003366; WIDTH: 165px; COLOR: #ffffff
}
.menu UL LI:hover UL LI A:hover {
	BACKGROUND: #003366; COLOR: #ffffff
}
.menu UL LI:hover UL LI:hover UL {
	DISPLAY: block; BACKGROUND: #003366; COLOR: #ffffff
}
.menu UL LI:hover UL LI:hover UL LI A {
	DISPLAY: block; BACKGROUND: #727453; WIDTH: 165px; COLOR: #ffffff
}
.menu UL LI:hover UL LI:hover UL LI A:hover {
	BACKGROUND: #003366; COLOR: #fff
}
.menu2 {
	FONT-SIZE: 11px; WIDTH: 165px; TEXT-INDENT: 5px; FONT-FAMILY: helvetica, arial, geneva, sans-serif; TEXT-ALIGN: left
}
.menu2 UL LI A {
	DISPLAY: block; FONT-SIZE: 11px; WIDTH: 165px; COLOR: #ffffff; LINE-HEIGHT: 19px; BORDER-BOTTOM: #333333 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu2 UL LI A:visited {
	DISPLAY: block; FONT-SIZE: 11px; WIDTH: 165px; COLOR: #ffffff; LINE-HEIGHT: 19px; BORDER-BOTTOM: #333333 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu2 UL LI {
	FLOAT: left; MARGIN-RIGHT: 1px; POSITION: relative
}
.menu2 UL LI UL {
	DISPLAY: none
}
.menu2 UL LI:hover A {
	DISPLAY: block; FONT-SIZE: 11px; WIDTH: 165px; COLOR: #003366; LINE-HEIGHT: 19px; BORDER-BOTTOM: #333333 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu2 UL LI:hover UL {
	DISPLAY: block; LEFT: 165px; WIDTH: 165px; POSITION: absolute; TOP: 0px
}
.menu2 UL LI:hover UL LI A.hide {
	BACKGROUND: #727453; COLOR: #ffffff
}
.menu2 UL LI:hover UL LI:hover A.hide {
	WIDTH: 165px
}
.menu2 UL LI:hover UL LI A.hide2 {
	BACKGROUND: #727453; COLOR: #ffffff
}
.menu2 UL LI:hover UL LI:hover A.hide2 {
	BACKGROUND: #003366; WIDTH: 165px; COLOR: #ffffff
}
.menu2 UL LI:hover UL LI UL {
	DISPLAY: none
}
.menu2 UL LI:hover UL LI A {
	DISPLAY: block; BACKGROUND: #003366; WIDTH: 165px; COLOR: #ffffff
}
.menu2 UL LI:hover UL LI A:hover {
	BACKGROUND: #003366; COLOR: #ffffff
}
.menu2 UL LI:hover UL LI:hover UL {
	DISPLAY: block; BACKGROUND: #003366; COLOR: #ffffff
}
.menu2 UL LI:hover UL LI:hover UL LI A {
	DISPLAY: block; BACKGROUND: #727453; WIDTH: 165px; COLOR: #ffffff
}
.menu2 UL LI:hover UL LI:hover UL LI A:hover {
	BACKGROUND: #003366; COLOR: #fff
}
