.tagline {
	FONT: bold 9pt Tahoma; COLOR: #ffffff
}
A.menulink:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 7pt/12pt Tahoma; COLOR: #000000; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
A.menulink:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 7pt/12pt Tahoma; COLOR: #000000; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
A.menulink:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 7pt/12pt Tahoma; COLOR: blue; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; TEXT-DECORATION: underline
}
#ewheader {
	FONT-SIZE: 8px; BACKGROUND: #ffffff; FLOAT: left; MARGIN-BOTTOM: 1px; WIDTH: 100%; LINE-HEIGHT: normal; FONT-FAMILY: arial,verdana
}
#ewheader UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#ewheader A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: url(/icom_includes/earthweb/headers/img/norm_left.gif) no-repeat left top; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
#ewheader A:hover {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: url(/icom_includes/earthweb/headers/img/norm_left.gif) no-repeat left top; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
#ewheader LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/icom_includes/earthweb/headers/img/norm_right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#cgheader {
	FONT-SIZE: 8px; BACKGROUND: #ffffff; FLOAT: left; MARGIN-BOTTOM: 1px; WIDTH: 100%; LINE-HEIGHT: normal; FONT-FAMILY: arial,verdana
}
#cgheader UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cgheader A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: url(/icom_includes/earthweb/headers/img/norm_left_cg.gif) no-repeat left top; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
#cgheader A:hover {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: url(/icom_includes/earthweb/headers/img/norm_left_cg.gif) no-repeat left top; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
#cgheader LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/icom_includes/earthweb/headers/img/norm_right_cg.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.au {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
