.sectionhead {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #666666; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: none
}
.subsectionhead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #666666; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bodycopy {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.mainheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.mainheadline:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.mainheadline:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.mainheadline:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #797b58; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.smheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.smheadline:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.smheadline:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.smheadline:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.columnhead {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.columnhead:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.columnhead:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.columnhead:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #797b58; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.moreinfo {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.moreinfo:link {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.moreinfo:visited {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.moreinfo:hover {
	FONT-SIZE: 8pt; COLOR: #cccc66; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
TD {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
PRE {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 7pt; BORDER-TOP: #999 1px solid; PADDING-LEFT: 7pt; PADDING-BOTTOM: 7pt; FONT: 9pt Courier New, Courier, mono; BORDER-LEFT: #999 1px solid; PADDING-TOP: 7pt; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #eee
}
.code {
	COLOR: #990000
}
.codeKeyword {
	COLOR: blue
}
.codeComment {
	COLOR: green
}
.codeHighlight {
	BACKGROUND-COLOR: #ffff00
}
.codeFileName {
	FONT-WEIGHT: bold
}
.containerhead {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #003366; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: none
}
#leftnavi A {
	BORDER-TOP: #cccccc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 7pt; PADDING-BOTTOM: 5px; LINE-HEIGHT: 11px; PADDING-TOP: 5px; BORDER-BOTTOM: #303030 1px solid; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #999999
}
#leftnavi A:link {
	FONT-WEIGHT: bold; COLOR: #eee; TEXT-DECORATION: none
}
#leftnavi A:visited {
	FONT-WEIGHT: bold; COLOR: #eee; TEXT-DECORATION: none
}
#leftnavi A:hover {
	COLOR: #ffff99; BACKGROUND-COLOR: #333333; TEXT-DECORATION: none
}
#leftnavi A:active {
	COLOR: #ffff99; BACKGROUND-COLOR: #333333; TEXT-DECORATION: none
}
#leftnavi_on A {
	BORDER-RIGHT: #666 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: #666 2px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 7pt; PADDING-BOTTOM: 3px; BORDER-LEFT: #666 2px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #666 2px solid; FONT-FAMILY: verdana,arial,helvetica; BACKGROUND-COLOR: #2953a4; TEXT-DECORATION: none
}
