body {
font-family: "Verdana";
font-size: 10pt;
color: black;
background-color: lightgray;
text-align: center;
/*margin: .5em auto .5em auto;*/
padding: 0;
}

a {
font-family: "Palatino Linotype", "Palatino", "Times New Roman",
             "Microsoft JhengHei", "微軟正黑體", "Apple LiSung Light";
font-size: 14pt;
}
a, a:link, a:visited, a:active, a:hover {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: darkred;}

.c {
display: inline-block;
text-align: center;
vertical-align: top;
padding: 0;
margin: 0;
margin-bottom: 3em;
}

.b {
display: block;
text-align: left;
vertical-align: top;
width: 23em;
min-width: 23em;
max-width: 23em;
overflow: hidden;
margin-bottom: .5em;
margin-left: .5em;
margin-right: .5em;
padding: 0;
}

.t {
font-size: 14pt;
display: block;
text-align: center;
vertical-align: middle;
line-height: 1em;
height: auto;
margin: 0;
padding: .5em 0 .5em 0;
}

.l {
display: block;
text-align: left;
line-height: 2em;
background-color: #CCCCCC;
border: 1px solid gray;
border-radius: 64px / 4px;
height: auto;
margin: 0;
padding: .5em 1em .5em 1em;
}

input {
font-family: "Consolas";
font-size: 16pt;
background-color: transparent;
border: none;
padding: 0;
width: 100%;
}