.blank9 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 9px
}
.blank6 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 6px
}
.blankW9 {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 9px
}
.blank15 {
	FONT-SIZE: 1px; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 15px
}
.lineBlue {
	CLEAR: both; BORDER-TOP: #043e66 1px solid; FONT-SIZE: 1px; BACKGROUND: #688ba3; MARGIN: 0px auto; WIDTH: 748px; HEIGHT: 5px
}
.lineB {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #000; OVERFLOW: hidden; HEIGHT: 1px
}
.lineH {
	FONT-SIZE: 1px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 750px; HEIGHT: 1px
}
.area {
	MARGIN: 0px auto; WIDTH: 750px
}
.areanoad {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px auto; BORDER-LEFT: #000 1px solid; WIDTH: 748px; BORDER-BOTTOM: #000 1px solid
}
.areanoad .col1 {
	WIDTH: 748px
}
.arcNav {
	MARGIN: 0px auto; WIDTH: 750px
}
.arcNav .logo {
	FLOAT: left; OVERFLOW: hidden; HEIGHT: 46px
}
.arcNav .text {
	BACKGROUND: url(http://tech.163.com/newimg/nav2_bg1.gif); FLOAT: right; MARGIN: 13px 0px 0px; OVERFLOW: hidden; WIDTH: 626px; HEIGHT: 33px
}
.arcNav .text .title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.arcNav .text .search {
	FLOAT: right
}
.arcNav .text .s2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.arcNav .text .s3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.arcNav .text .s3 INPUT {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; WIDTH: 100px; BORDER-BOTTOM: #000 1px solid
}
.arcNav .text .s4 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.arcNav .text .s4 INPUT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(http://tech.163.com/newimg/input_bg1.gif); BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 51px; PADDING-TOP: 2px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.arcNav .text .s5 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.arcNav .menu {
	CLEAR: both; BORDER-TOP: #1f3a87 4px solid; BACKGROUND: #f6f6f6; WIDTH: 750px
}
.arcNav .menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 8px
}
.arcNav .menu LI {
	FONT-SIZE: 13px; LIST-STYLE-TYPE: none
}
.arcNav A:visited {
	COLOR: #000
}
.arcNav A:hover {
	COLOR: #bc2931
}
.arcNav A:active {
	COLOR: #bc2931
}
.arcTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-TOP: 10px
}
.arcTitle H1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 24px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.arcTitle .text {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.arcTitle .text INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 65px; PADDING-TOP: 2px
}
#main {
	BORDER-TOP: #b2b2b2 1px solid; BACKGROUND: #f9fcfe; MARGIN: 0px auto; WIDTH: 748px; BORDER-BOTTOM: #b2b2b2 1px solid
}
#text {
	FONT-SIZE: 14px; MARGIN: 12px; WORD-BREAK: break-all; LINE-HEIGHT: 160%; TEXT-ALIGN: left; WORD-WRAP: break-word
}
#text H2 {
	FONT-SIZE: 14px
}
#text P {
	
}
#text A {
	TEXT-DECORATION: underline
}
#text .icon {
	MARGIN: 4px 0px 0px
}
#text IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
#text .icon {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 3px 0px 0px; BORDER-RIGHT-WIDTH: 0px
}
#text CODE {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 95%; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
.page {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 25px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 12px
}
.aboutArc {
	MARGIN: 0px auto; WIDTH: 730px
}
.aboutArc .title {
	
}
.aboutArc .title H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(http://tech.163.com/newimg/arc_i2.gif) no-repeat 3px 6px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.aboutArc .content {
	
}
.aboutArc .content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.aboutArc .content LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-SIZE: 14px; BACKGROUND: url(http://tech.163.com/newimg/arc_i3.gif) no-repeat 3px 8px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.aboutArc .content LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #1f3a87; PADDING-TOP: 0px
}
.commendTitle {
	BACKGROUND: #3362b4; MARGIN: 0px auto; WIDTH: 99.6%; HEIGHT: 23px
}
.commendTitle H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(http://cimg2.163.com/tech/newimg/endpage_i5.gif) no-repeat 13px 8px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 7px
}
.commendTitle .s {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 7px
}
.endHotReview {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 99.3%
}
.endHotReview .content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f8fcff; PADDING-BOTTOM: 8px; MARGIN: 0px auto; WIDTH: 99.3%; PADDING-TOP: 12px; TEXT-ALIGN: left
}
.endHotReview A {
	COLOR: #2f3291
}
.endHotReview A:hover {
	COLOR: #bc2931
}
.endHotReview .endName {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #777; PADDING-TOP: 0px
}
.endHotReview .function {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.endHotReview .review {
	CLEAR: both; TABLE-LAYOUT: fixed; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WORD-BREAK: break-all; LINE-HEIGHT: 150%; PADDING-TOP: 5px; WORD-WRAP: break-word
}
.endHotReview .review TABLE {
	TABLE-LAYOUT: fixed
}
.endHotReview .review TD {
	OVERFLOW: hidden; TEXT-OVERFLOW: ellipsis
}
.endHotReview .endHr {
	FONT-SIZE: 1px; BACKGROUND: url(http://cimg2.163.com/tech/newimg/endpage_bg5.gif) repeat-x; MARGIN: 8px 0px 13px; HEIGHT: 1px
}
.endHotReview .statement {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 6px; COLOR: #bc2931; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.endDeliver {
	CLEAR: both; BACKGROUND: #e7e7e7; MARGIN: 0px auto; WIDTH: 99.3%
}
.endDeliver .title {
	CLEAR: both; BORDER-TOP: #b2b2b2 1px solid; BACKGROUND: #f9fcfe; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 33px
}
.endDeliver .title H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #1f3a87; PADDING-TOP: 10px
}
.endDeliver .title .login {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.endDeliver .title .login .s1 {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 55px; BORDER-BOTTOM: #b2b2b2 1px solid
}
.endDeliver .title .login .s2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; HEIGHT: 22px
}
.endDeliver .title .num {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.endDeliver .content {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.endDeliver .content .textArea {
	FLOAT: left; WIDTH: 80%; TEXT-ALIGN: right
}
.endDeliver .content .textArea TEXTAREA {
	WIDTH: 90%; HEIGHT: 130px
}
.endDeliver .content .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 20%; LINE-HEIGHT: 160%; PADDING-TOP: 60px
}
.endDeliver .content .text .s1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 60px; PADDING-TOP: 2px; HEIGHT: 22px
}
.endReview {
	BORDER-TOP: #b2b2b2 1px solid; MARGIN: 5px auto; WIDTH: 99.5%
}
.inputReview {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 59.5%; PADDING-TOP: 0px
}
.inputReview .total {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #f6f6f6; FLOAT: left; WIDTH: 100%; HEIGHT: 28px; TEXT-ALIGN: left
}
.inputReview .total .s {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.inputReview .inPut {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 94%; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.inputReview .inPut .s1 {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 19px; TEXT-ALIGN: center
}
.inputReview .inPut .s2 {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; WIDTH: 35px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 17px
}
.inputReview .inputText {
	
}
.inputReview TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90%; PADDING-TOP: 0px; HEIGHT: 139px
}
.topReview {
	FLOAT: right; WIDTH: 40%
}
.topReview .title {
	BACKGROUND: url(http://tech.163.com/newimg/arc_bg3.gif); MARGIN: 0px auto; WIDTH: 92%; HEIGHT: 14px; TEXT-ALIGN: left
}
.topReview .title H2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #bc2931; PADDING-TOP: 0px
}
.topReview .title .more {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; BACKGROUND: url(http://tech.163.com/newimg/arc_i4.gif) #fff no-repeat 1px 3px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 14px
}
.topReview OL {
	FLOAT: left; WIDTH: 100%
}
.topReview LI {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; LIST-STYLE-POSITION: inside! important; PADDING-BOTTOM: 2px; LINE-HEIGHT: 150%; PADDING-TOP: 3px; LIST-STYLE-TYPE: decimal; TEXT-ALIGN: left
}
.topReview LI SPAN {
	COLOR: #1f3a87
}
.topReview LI SPAN A {
	COLOR: #1f3a87
}
.topReview LI SPAN A:hover {
	COLOR: #bc2931
}
.endReview2 {
	BORDER-TOP: #b2b2b2 1px solid; MARGIN: 5px auto; WIDTH: 100%
}
.inputReview2 {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #e7e7e7; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 59%; PADDING-TOP: 0px
}
.inputReview2 .title {
	CLEAR: both; BORDER-RIGHT: #fff 2px solid; BORDER-TOP: #fff 2px solid; BACKGROUND: #3362b4; BORDER-LEFT: #fff 2px solid; COLOR: #fff; BORDER-BOTTOM: #fff 2px solid; HEIGHT: 24px
}
.inputReview2 .title H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 5px
}
.inputReview2 .title H3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.inputReview2 .title H3 A {
	COLOR: #fff
}
.inputReview .title H3 A:visited {
	COLOR: #fff
}
.inputReview2 .title H3 A:hover {
	COLOR: #ff0
}
.inputReview2 .inPut {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 88%; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.inputReview2 .inPut .s1 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 2px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 19px; TEXT-ALIGN: center
}
.inputReview2 .inPut .s2 {
	BORDER-RIGHT: #1f3a87 1px solid; BORDER-TOP: #1f3a87 1px solid; BORDER-LEFT: #1f3a87 1px solid; WIDTH: 40px; BORDER-BOTTOM: #1f3a87 1px solid; HEIGHT: 13px
}
.inputReview2 .inputText {
	
}
.inputReview2 TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90%; PADDING-TOP: 0px; HEIGHT: 139px
}
.topReview2 {
	BORDER-RIGHT: #b2b2b2 1px solid; FLOAT: right; WIDTH: 40%
}
.topReview2 .title {
	CLEAR: both; BORDER-RIGHT: #fff 2px solid; BORDER-TOP: #fff 2px solid; BACKGROUND: #3362b4; BORDER-LEFT: #fff 2px solid; BORDER-BOTTOM: #fff 2px solid; HEIGHT: 24px
}
.topReview2 .title H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 6px
}
.topReview2 .title SPAN {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.topReview2 .title SPAN A {
	COLOR: #fff
}
.topReview .title SPAN A:visited {
	COLOR: #fff
}
.topReview2 .title SPAN A:hover {
	COLOR: #ff0
}
.topReview2 OL {
	FLOAT: left; WIDTH: 100%
}
.topReview2 LI {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; LIST-STYLE-POSITION: inside! important; PADDING-BOTTOM: 2px; LINE-HEIGHT: 150%; PADDING-TOP: 3px; LIST-STYLE-TYPE: decimal; TEXT-ALIGN: left
}
.topReview2 LI SPAN {
	COLOR: #666
}
.topReview2 LI SPAN A {
	COLOR: #bc2931
}
.topReview2 LI SPAN A:hover {
	COLOR: #000
}
.direct {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #5b819b 3px solid; BACKGROUND: #e5ebef; MARGIN: 0px auto; BORDER-LEFT: #000 1px solid; WIDTH: 748px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 30px
}
.direct .s1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; BACKGROUND: url(http://tech.163.com/newimg/arc_i4.gif) no-repeat 1px 11px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 8px
}
.direct .s2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.nesting {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; MARGIN: 0px auto; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 748px; BORDER-BOTTOM: #b2b2b2 1px solid
}
